Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add JAVE_HOME var
  docker/colony-cdapp-dev-env-base
Due: none

refactor: move python version to base docker image
  docker/colony-cdapp-dev-env-amplify
  docker/colony-cdapp-dev-env-base
Due: none

feat: move codegen outside docker container
  docker/colony-cdapp-dev-env-amplify
  docker/files/amplify/run.sh.base
  scripts/dev.sh
Due: none

feat: codegen now watches schema and files
  codegen.js
Due: none

fix: stop codegen running too quickly
  scripts/dev.sh
Due: none

refactor: remove unused docker volume
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none

feat: use new dev script
  scripts/dev.sh
Due: none

feat: less messy codegen startup messages
  codegen.js
Due: none

feat: pause codegen until amplify container is up
  codegen.js
Due: none

feat: add example query using @searchable
  src/graphql/queries/actions.graphql
Due: prettier --write --ignore-unknown

feat: update dev script to match new package scripts
  package.json
  scripts/dev.sh
Due: none

fix: update orchestration all file
  docker/colony-cdapp-dev-env-orchestration-all.yaml
Due: none

fix: remove incorrect link to schema
  codegen.js
Due: none

fix: add closing curly bracket
  src/graphql/queries/actions.graphql
Due: prettier --write --ignore-unknown

chore: remove unneeded square brackets
  codegen.js
Due: none

chore: commit generated after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added connectWallet to layout
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/redux/sagas/motions/paymentMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Move connectWallet to shared layout
  src/components/frame/Extensions/layouts/SharedLayout.tsx
  src/components/v5/frame/PageLayout/PageLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: ui issues with action type dropdown menu
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix after CR
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: paddings in SearchSelect component
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove unnecesary walletAddress
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

add missing lowercase call
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: tooltip icon size
  src/components/shared/Icon/Icon.tsx
  src/components/v5/shared/IconWithTooltip/IconWithTooltip.tsx
  src/components/v5/shared/IconWithTooltip/types.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: storybook for IconWithTooltip
  src/stories/shared/IconWithTooltip.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Show reputation decay in user hub
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/index.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/utils.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Show next reputation update time in user hub
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/utils.ts
  src/graphql/generated.ts
  src/graphql/queries/miningCycle.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Safe addresses being imported despite safes disabled locally
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove duplicated util: nonNullable
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/utils/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix rebase conflicts
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Change reputation decay fallback value
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Divy up Colony routes and other routes again
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/SharedLayout.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper.tsx
  src/context/PageHeadingContext/PageHeadingContext.tsx
  src/context/PageHeadingContext/hooks.ts
  src/context/PageHeadingContext/index.ts
  src/context/index.ts
  src/hooks/index.ts
  src/routes/ColonyMembersRoute.tsx
  src/routes/ColonyRoute.tsx
  src/routes/MainRoute.tsx
  src/routes/RootRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Rename SharedLayout to MainLayout as it is not shared
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/routes/MainRoute.tsx
  src/routes/RootRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Factor out PropTypes
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/types.ts
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/index.ts
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: members dropdown menu issues
  src/components/v5/common/Fields/InputBase/InputBase.tsx
  src/components/v5/common/Fields/InputBase/hooks.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.tsx
  src/components/v5/shared/SearchSelect/partials/SearchInput/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: placeholder color
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added ColonyActionMetadata model to ColonyAction
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated action and motion sagas with customActionTitle
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
  src/components/common/Dialogs/CreatePaymentDialog/helpers.ts
  src/components/common/Dialogs/ManageWhitelistDialog/helpers.ts
  src/graphql/generated.ts
  src/graphql/mutations/actions.graphql
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editColony.ts
  src/redux/sagas/actions/editDomain.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/actions/manageExistingSafes.ts
  src/redux/sagas/actions/managePermissions.ts
  src/redux/sagas/actions/manageReputation.ts
  src/redux/sagas/actions/manageVerifiedRecipients.ts
  src/redux/sagas/actions/mintTokens.ts
  src/redux/sagas/actions/moveFunds.ts
  src/redux/sagas/actions/payment.ts
  src/redux/sagas/actions/unlockToken.ts
  src/redux/sagas/actions/versionUpgrade.ts
  src/redux/sagas/motions/createEditDomainMotion.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
  src/redux/sagas/motions/manageReputationMotion.ts
  src/redux/sagas/motions/moveFundsMotion.ts
  src/redux/sagas/motions/paymentMotion.ts
  src/redux/sagas/motions/rootMotion.ts
  src/redux/sagas/utils/createActionMetadata.ts
  src/redux/sagas/utils/index.ts
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added customActionTitle placeholder to action payloads
  src/components/common/Dialogs/AddExistingSafeDialog/helpers.ts
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
  src/components/common/Dialogs/CreateDomainDialog/helpers.ts
  src/components/common/Dialogs/EditColonyDetailsDialog/helpers.ts
  src/components/common/Dialogs/EditDomainDialog/helpers.ts
  src/components/common/Dialogs/MintTokenDialog/helpers.ts
  src/components/common/Dialogs/NetworkContractUpgradeDialog/helpers.ts
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
  src/components/common/Dialogs/RecoveryModeDialog/helpers.ts
  src/components/common/Dialogs/RemoveSafeDialog/helpers.ts
  src/components/common/Dialogs/TokenManagementDialog/helpers.ts
  src/components/common/Dialogs/TransferFundsDialog/helpers.ts
  src/components/common/Dialogs/UnlockTokenDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated safe control feature with new title prop
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
