Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Add missing lambda deps
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
Due: none

Add lambda deps again
  amplify/backend/function/bridgeXYZMutation/src/package-lock.json
  amplify/backend/function/bridgeXYZMutation/src/package.json
Due: none

Feat: Implement manage tokens saga
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/utils.tsx
  src/graphql/generated.ts
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/actions/index.ts
  src/redux/sagas/actions/manageTokens.ts
  src/redux/sagas/utils/metadataDelta.ts
  src/redux/types/actions/colonyActions.ts
  src/types/transactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Update block-ingestor handler
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Feat: Removed manage tokens from editColony saga
  src/redux/sagas/actions/editColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Implement manage tokens completed action screen
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/ApprovedTokens.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/ManageTokens.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/TokenRow.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/index.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove haveTokensChanged
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManageTokensDescription.tsx
  src/constants/actionsFilters.ts
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Run codegen after rebase and update block_ingestor_hash
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Improving type safety
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/CompletedAction/partials/ManageTokens/ApprovedTokens.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/TokenRow.tsx
  src/components/v5/common/CompletedAction/partials/ManageTokens/types.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove instances of tokenAddresses from editColony action and related helpers
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/sagas/utils/updateColonyTokens.ts
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Move motionType to avoid note confusion
  src/components/v5/common/CompletedAction/CompletedAction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Implement manage tokens root motion
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/utils.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/redux/sagas/utils/metadataDelta.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove modifiedTokenAddresses from pendingColonyMetadata
  .storybook/data/colonyContext.ts
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/redux/sagas/motions/editColonyMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Change existing to unaffected
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/CompletedAction/partials/ManageTokens/ApprovedTokens.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Make ApprovedTokenChanges required
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/CompletedAction/partials/ManageTokens/ApprovedTokens.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Run codegen after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Update manage token motion action message descriptors
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Futher haveTokensChanged tidy up
  src/redux/sagas/utils/metadataChangelog.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: introduce `validated` to the `Token` model
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Add: create data script can now create validated tokens
  scripts/create-data.js
Due: none

fix: update block-ingestor hash after rebase
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Change env in lambdas
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

Lamdba env updates
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/src/index.js
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
Due: none

Use uuid as idempotency key
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/createExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  amplify/backend/function/bridgeXYZMutation/src/package-lock.json
  amplify/backend/function/bridgeXYZMutation/src/package.json
  amplify/backend/function/bridgeXYZQuery/src/handlers/getFees.js
  amplify/backend/function/bridgeXYZQuery/src/handlers/getLiquidations.js
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
Due: none

fix: add lambda layers
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
Due: none

Always attempt to decrypt parameter store params
  amplify/backend/function/colonycdappSSMAccess/lib/nodejs/getParams.js
Due: none

kycLinks: extract customer_id from tos link
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
Due: none

fix: remove timeout when sidebar is closed
  src/components/v5/shared/UserInfoPopover/partials/UserNotVerified.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix rebase conflicts
  src/redux/sagas/motions/expenditures/cancelStreamingPaymentsMotion.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Edit streams using permissions
  src/components/v5/tmpDebug/TmpAdvancedPayments.tsx
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
  src/graphql/generated.ts
  src/graphql/mutations/expenditures.graphql
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/editStreamingPayment.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update block-ingestor hash and adjust start timestamp
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove unnecessary use of useExtensionData hook
  src/components/v5/tmpDebug/TmpAdvancedPayments.tsx
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Align after rebase
  src/graphql/fragments/expenditures.graphql
  src/redux/sagas/expenditures/editStreamingPayment.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update block-ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: Rebase realign and block_ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/fragments/expenditures.graphql
Due: prettier --write --ignore-unknown

Feat: Update editStreamingPayments saga after contract update
  docker/colony-cdapp-dev-env-auth-proxy
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
  src/redux/sagas/expenditures/editStreamingPayment.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Properly handle end conditions and update endTime appropriately
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/sagas/expenditures/editStreamingPayment.ts
  src/redux/sagas/utils/getEndTimeByEndCondition.ts
  src/redux/sagas/utils/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add start time to temporary UI
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/tmpDebug/TmpStreamingPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown
