Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: user navigation item divider
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony button logic
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/hooks/useCanInteractWithColony.ts
  src/hooks/useColonySubscription.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/metatransactions.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add generated
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: only call getGasPrices if full wallet
  src/redux/sagas/setupUserContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony btn / three dots alignment
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.css
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/hooks/useColonySubscription.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: connectWallet in AppContext
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: import ganache private keys only if in dev
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sync wallet ui with metamask
  src/context/AppContext.tsx
  src/redux/sagas/setupWalletContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: use recipientAddress if no user
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: profile is not required
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: make user name not required
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/common/Members/filterMembers.ts
  src/components/shared/SingleUserPicker/utils.ts
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Remove test action buttons
  src/components/common/ColonyActions/ColonyActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony btn logic
  src/hooks/useCanInteractWithColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: user types
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/components/shared/UserInfoPopover/UserInfo.tsx
  src/components/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/shared/UserMention/UserMention.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed max button validation on token action popover
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

WIP: Test Schema Re-deployment
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove: `ChainMetadata` testing value
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Fix: use Id.RootDomain instead of ROOT_DOMAIN_ID
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

fix: clean typecheck
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated block explorer link getting function
  src/constants/index.ts
  src/utils/external/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add `IngestorStats` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: missing border around active colony
  src/components/frame/SubscribedColoniesList/SubscribedColoniesList.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: add token to metamask
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/types/rpcMethods.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: waitForTxResult to return result
  src/redux/sagas/colony/index.ts
  src/redux/sagas/transactions/createTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in ColonyFundingMenu
  src/components/common/ColonyFunding/ColonyFunding.tsx
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/components/common/Dialogs/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: UnclaimedTransfers heading present when length is 0
  src/components/common/UnclaimedTransfers/UnclaimedTransfers.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Implemented native token status logic
  amplify/backend/function/createUniqueColony/src/index.js
  src/components/common/Dialogs/ManageFundsDialog/ManageFundsDialog.tsx
  src/components/common/Dialogs/UnlockTokenDialog/UnlockTokenForm.tsx
  src/components/common/Dialogs/UnlockTokenDialog/helpers.ts
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: Debug env variables
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: web3-onboard config to account for production
  src/context/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/users/index.ts
  src/redux/sagas/wallet/index.ts
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: token choice misalignment
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/TokenManagementDialogForm.css
Due: prettier --write --ignore-unknown, stylelint --fix

Updated ColonyDomainDescription's color logic
  src/components/common/ColonyHome/ColonyDomainDescription/ColonyDomainDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move isSupportedColonyVersion to context
  src/components/common/Extensions/ExtensionActionButton/ExtensionActionButton.tsx
  src/components/common/Extensions/ExtensionUpgradeButton/ExtensionUpgradeButton.tsx
  src/constants/extensions.ts
  src/context/ColonyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: manageFundsLink arrow hover
  src/components/common/ColonyTotalFunds/ManageFundsLink/ManageFundsLink.css
  src/images/icons/arrow-right.svg
Due: prettier --write --ignore-unknown, stylelint --fix

Remove env variables logging
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: Select token balance on ColonyHome
  src/components/common/ColonyTotalFunds/SelectedToken/ColonyTotalFundsPopover.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/SelectedToken.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Change from an empty domain description not showing in action details page
  src/components/common/ColonyActions/helpers/getDomainMetadataChanges.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable unclaimed transfer item once claimed
  src/components/common/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update user object post colony creation
  src/components/common/CreateColonyWizard/StepConfirmTransactions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Move dotenv-webpack plugin to dev webpack configuration
  webpack.base.js
  webpack.dev.js
Due: none

fix: add 'is production' webpack plugin
  webpack.dev.js
  webpack.prod.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
