Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Manage reputation multi-sig
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/ActionSidebar/partials/forms/ManageReputationForm/utils.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/ManageReputation/ManageReputation.tsx
  src/i18n/en-actions.ts
  src/redux/sagas/motions/manageReputationMotion.ts
  src/redux/types/actions/motion.ts
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Use getMotionPayload util
  src/components/v5/common/ActionSidebar/partials/forms/ManageReputationForm/utils.ts
  src/redux/sagas/actions/manageReputation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add action translation strings
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManagePermissionsDescription.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/i18n/en-actions.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Refactor manage permissions motion
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: getPermissionsNeededForAction should use createdIn, not team
  src/components/v5/common/ActionSidebar/hooks/permissions/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove unnecessary eslint comment, updated annotateTransaction method name
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Updage block-ingestor
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: add update bank details prefilled values
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/validation.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/useBankDetailsFields.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Scale path for multi sig svg icon
  src/components/icons/ExtensionMultiSigIcon.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Refresh multi-sig extension after enabled permissions
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/PermissionsNeededBanner.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/hooks.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Style to match designs
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserInfoPopover/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update style for user and token popovers
  src/components/shared/TokenInfo/TokenInfo.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
  src/graphql/fragments/contributors.graphql
  src/graphql/generated.ts
  src/hooks/members/types.ts
  src/hooks/members/useContributorBreakdown.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Style for member card
  src/components/shared/Extensions/Tooltip/Tooltip.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/ModalBase.module.css
  src/components/v5/shared/Modal/ModalBase.tsx
  src/components/v5/shared/Modal/types.ts
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserInfoPopover/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Style changes for UserInfo components
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: remove import from main.css in ModalBase.module.css
  src/components/v5/shared/Modal/ModalBase.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

Fix: Style changes
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/shared/Modal/Modal.module.css
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/ModalBase.tsx
  src/components/v5/shared/Modal/types.ts
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Style changes for UserInfo component
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add min width and w-full to UserInfo team item
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: More styling changes for User and Token Popovers
  src/components/frame/v5/pages/BalancePage/partials/TokenCell/TokenCell.tsx
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
  src/components/shared/TokenInfo/TokenInfo.tsx
  src/components/v5/common/NativeTokenPill/NativeTokenPill.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.module.css
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Remove unused props from PillsBase component
  src/components/v5/common/Pills/PillsBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Style changes for TokenInfo
  src/components/shared/TokenInfo/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update modal overflow y from scroll to auto
  src/components/v5/shared/Modal/Modal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Style changes
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add negative margin right to modal only if content overflows
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
  src/hooks/useResize.ts
  src/utils/css/addClassToElement.ts
  src/utils/css/isElementOverflowingContainerY.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: rework voting to be done with only roles the user is holding
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/MultiSigWidget.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/RemoveVoteButton/RemoveVoteButton.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/VoteButton/VoteButton.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/utils.tsx
  src/components/v5/common/CompletedAction/partials/MultiSigMeatballMenu/MultiSigMeatballMenu.tsx
  src/redux/sagas/motions/paymentMotion.ts
  src/redux/sagas/multiSig/voteOnMultiSig.ts
  src/redux/sagas/transactions/createTransaction.ts
  src/redux/types/actions/motion.ts
  src/redux/types/actions/multiSig.ts
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: allow voting with multiple roles, modify signees UI to reflect the changes
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/MultiSigWidget.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/partials/ApprovalStep/ApprovalStep.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/partials/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/types.ts
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/RemoveVoteButton/RemoveVoteButton.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/Signees/Signees.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/Signees/partials/RoleApprovalTooltip/RoleApprovalTooltip.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/VoteButton/VoteButton.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/MultiSigMeatballMenu/MultiSigMeatballMenu.tsx
  src/constants/actions.ts
  src/i18n/en-actions.ts
  src/redux/sagas/motions/paymentMotion.ts
  src/redux/sagas/multiSig/voteOnMultiSig.ts
  src/redux/sagas/transactions/createTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: realign after code review, fix creation of vot rep simple payment motion
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/partials/ApprovalStep/ApprovalStep.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/utils.ts
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/Signees/partials/RoleApprovalTooltip/RoleApprovalTooltip.tsx
  src/components/v5/common/CompletedAction/partials/SimplePayment/SimplePayment.tsx
  src/i18n/en-actions.ts
  src/redux/sagas/motions/paymentMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update multi sig icon path to scale to the used size
  src/components/icons/ExtensionMultiSigIcon.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: revert workflow to standard deployments
  .github/workflows/build-deploy.yaml
Due: none

cicd: revert amplify cicd to master based deployment
  .github/workflows/amplify.yaml
Due: none

cicd: update gh workflow to arbitrum envs
  .github/workflows/build-deploy.yaml
Due: none

fix: flashing pending button
  src/context/UserTransactionContext/UserTransactionContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: header visibility when modal is open
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/TokensModal/TokensModal.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/routes/ColonyRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed header on tablet, from other modals
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder ui fixes
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/PaymentBuilderDescription.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/ClaimStatusBadge/ClaimStatusBadge.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/StepperButton.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment button loading
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed modal copy
  src/i18n/en.json
Due: none

fix: changed batch error logic
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/FileUploadModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: pending button ui, release modal box
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/shared/Button/ActionButton.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown
