Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: `updateContributorsWithReputation` verbose logging
  amplify/backend/function/updateContributorsWithReputation/src/index.js
Due: none

Remove: `updateContributorsWithReputation` unused logic
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Add: `updateContributorsWithReputation` lambda util
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Chore: update block ingestor docker image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: useGetColoniesMembersCoun to fetch members
  src/components/frame/LandingPage/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert: reintroduce `decimals` dependency
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Add: `updateContributorsWithReputation` logging fn util
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

test: improve avatar uploader test suit
  playwright/e2e/manage-account-avatar.spec.ts
  playwright/e2e/manage-account-profile.spec.ts
  playwright/fixtures/images/avatar.gif
  playwright/fixtures/images/small-avatar-200x200.png
  playwright/fixtures/images/valid-avatar-300x300 (1).jpg
  playwright/fixtures/images/valid-avatar-300x300.jpg
  playwright/fixtures/images/valid-avatar-300x300.png
  playwright/fixtures/images/valid-avatar-300x300.svg
Due: none

Refactor: Update block ingestor docker config
  docker/colony-cdapp-dev-env-block-ingestor
  docker/files/block-ingestor/run.sh.base
Due: none

Rebase and package fixes
  package-lock.json
  package.json
Due: none

fix: add overview info and change copy for advanced payment review
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: display overview for staking
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: display stake amount only for staked actions and payment creator for both
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: show correct role on completed action
  src/components/v5/common/CompletedAction/partials/SetUserRoles/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: user overview info
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: change variable name for hasUserVoted
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: change description for user who not stake but voted
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: change status text for passed and completed action
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: user who voted but not staked can claim
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: filters
  src/components/frame/v5/pages/StreamingPaymentsPage/partials/StreamingPaymentsTable/FiltersContext/StreamingFiltersContextProvider.tsx
  src/components/frame/v5/pages/StreamingPaymentsPage/partials/StreamingPaymentsTable/partials/ActiveFiltersList/hooks.ts
  src/components/frame/v5/pages/StreamingPaymentsPage/partials/StreamingPaymentsTable/utils.ts
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update colony-js to it's lastest `next` release
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-network
  package-lock.json
  package.json
Due: none

Remove: `updateContributorsWithReputation` colony-js usage
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Fix reputation of All Other item
  src/components/v5/frame/ColonyHome/partials/ReputationChart/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Change variable name
  src/components/v5/frame/ColonyHome/partials/ReputationChart/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added reputation method to release
  src/components/v5/common/ActionSidebar/hooks/useGetColonyAction.ts
  src/components/v5/common/CompletedAction/partials/CompletedExpenditureContent/CompletedExpenditureContent.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/FinalizePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/utils.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingRequests/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/hooks.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestsBox/RequestsBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestsBox/RequestsBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestsBox/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

PR Changes
  src/components/v5/common/ActionSidebar/partials/ActionSidebarWidgetLoadingSkeleton/ActionSidebarWidgetLoadingSkeleton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Handle colony create retry
  src/components/common/Onboarding/wizardSteps/CreateColony/StepConfirmTransactions.tsx
  src/components/common/Onboarding/wizardSteps/CreateColony/StepFinishCreate.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/colony/colonyFinishCreate.ts
  src/redux/sagas/colony/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/types/actions/colony.ts
  src/types/transactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove retry mechanism
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.styles.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/index.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/hooks.tsx
  src/state/transactionState.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: gracefully handle coingecko url error
  src/utils/currency/location.ts
  src/utils/currency/tokenHistoricalPriceByName.ts
  src/utils/currency/tokenPriceByAddress.ts
  src/utils/currency/tokenPriceByName.ts
  src/utils/currency/tokenPriceDataByName.ts
  src/utils/currency/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: show the correct motion state
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update: `@web3-onboard` to latest release
  package-lock.json
  package.json
  src/redux/sagas/wallet/onboard.ts
  src/styles/main.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: `AppContextProvider` types after @web3-onboard updates
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: multi-chain stats and refactoring
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-network
  docker/colony-cdapp-dev-env-orchestration.yaml
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: introduce `dynamic` wallet framework
  package-lock.json
  package.json
  src/Entry.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/context/AppContext/AppContextProvider.tsx
  src/images/icons/hardhat.svg
  src/redux/sagas/setupUserContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add proxy colonies query and display list in UI
  amplify/backend/api/colonycdapp/schema/proxyColonies.graphql
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/proxyColonies.graphql
  src/graphql/generated.ts
  src/graphql/queries/proxyColonies.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: add transactions table and modal
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/AddTransactionModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/ArbitraryTransactionsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/ArbitraryTransactionsTable.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: create basic form validation
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/hooks.ts
  src/i18n/en.json
  src/redux/actionTypes.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: create simple Arbitrary Txs motion
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
  src/components/v5/common/ActionSidebar/hooks/useSidebarActionForm.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/ActionSidebarDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ArbitraryTxsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/index.ts
  src/constants/actions.ts
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: align select and textarea to the design
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/AccountDetailsInputs.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/BankDetailsForm.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/ContactDetailsForm.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/CountrySelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/SubdivisionSelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/PersonalDetailsForm/PersonalDetailsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/AddTransactionModal.tsx
  src/components/v5/common/Fields/InputBase/FormInput.tsx
  src/components/v5/common/Fields/Select/FormSelect.tsx
  src/components/v5/common/Fields/TextareaBase/FormTextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/TextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: implement transaction validation and throw data to the saga
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/AccountDetailsInputs.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/BankDetailsForm.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/CountrySelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/SubdivisionSelect.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/AddTransactionModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/ArbitraryTransactionsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/ArbitraryTransactionsTable.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/types.ts
  src/components/v5/common/Fields/Select/FormSelect.tsx
  src/redux/sagas/actions/arbitrationTxs.ts
  src/redux/sagas/actions/index.ts
  src/redux/types/actions/arbitrary.ts
  src/redux/types/actions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
