Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: move isSupportedColonyVersion to context
  src/components/common/Extensions/ExtensionActionButton/ExtensionActionButton.tsx
  src/components/common/Extensions/ExtensionUpgradeButton/ExtensionUpgradeButton.tsx
  src/constants/extensions.ts
  src/context/ColonyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add `IngestorStats` model
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in ColonyFundingMenu
  src/components/common/ColonyFunding/ColonyFunding.tsx
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/components/common/Dialogs/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: clean typecheck
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed max button validation on token action popover
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Move dotenv-webpack plugin to dev webpack configuration
  webpack.base.js
  webpack.dev.js
Due: none

Remove env variables logging
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable unclaimed transfer item once claimed
  src/components/common/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update user object post colony creation
  src/components/common/CreateColonyWizard/StepConfirmTransactions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add token to metamask
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/types/rpcMethods.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated ColonyDomainDescription's color logic
  src/components/common/ColonyHome/ColonyDomainDescription/ColonyDomainDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add 'is production' webpack plugin
  webpack.dev.js
  webpack.prod.js
Due: none

refactor: waitForTxResult to return result
  src/redux/sagas/colony/index.ts
  src/redux/sagas/transactions/createTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: manageFundsLink arrow hover
  src/components/common/ColonyTotalFunds/ManageFundsLink/ManageFundsLink.css
  src/images/icons/arrow-right.svg
Due: prettier --write --ignore-unknown, stylelint --fix

Updated block explorer link getting function
  src/constants/index.ts
  src/utils/external/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: web3-onboard config to account for production
  src/context/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/users/index.ts
  src/redux/sagas/wallet/index.ts
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: use Id.RootDomain instead of ROOT_DOMAIN_ID
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

fix: token choice misalignment
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/TokenManagementDialogForm.css
Due: prettier --write --ignore-unknown, stylelint --fix

Cleanup: Remove test action buttons
  src/components/common/ColonyActions/ColonyActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Dockerfile variables order
  Dockerfile
Due: none

Fixed getUserRolesForDomain logic for inherited and domain permissions
  src/transformers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove: `ChainMetadata` testing value
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

WIP: Test Schema Re-deployment
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Change from an empty domain description not showing in action details page
  src/components/common/ColonyActions/helpers/getDomainMetadataChanges.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed colony friendly name on mint token event list
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: Select token balance on ColonyHome
  src/components/common/ColonyTotalFunds/SelectedToken/ColonyTotalFundsPopover.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/SelectedToken.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: missing border around active colony
  src/components/frame/SubscribedColoniesList/SubscribedColoniesList.css
Due: prettier --write --ignore-unknown, stylelint --fix

TEMP: Debug env variables
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: type check
  src/components/common/Dialogs/ManageWhitelistDialog/WhitelistedAddresses/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: UnclaimedTransfers heading present when length is 0
  src/components/common/UnclaimedTransfers/UnclaimedTransfers.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: explicity set the input value for website
  src/components/common/UserProfileEdit/UserMainSettings.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: add filter for notNull
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: poll token balance after submitting token activation form
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/components/frame/TokenActivation/TokensTab/TokensTab.tsx
  src/components/frame/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Bump block ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Refactor: pass address to useravatar
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Improved alignment of PermissionsLabel component
  src/components/shared/PermissionsLabel/PermissionsLabel.css
Due: prettier --write --ignore-unknown, stylelint --fix

Updated permissions message spacing on some dialogs
  src/components/common/Dialogs/CreateDomainDialog/CreateDomainDialogForm.tsx
  src/components/common/Dialogs/EditDomainDialog/EditDomainDialogForm.tsx
  src/components/common/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
  src/components/common/Dialogs/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/TokenManagementDialogForm.tsx
  src/components/common/Dialogs/TransferFundsDialog/TransferFundsDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed user selector in smite/award reputation
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/components/common/Dialogs/CreatePaymentDialog/helpers.ts
  src/components/common/Dialogs/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Disabled recovery mode menu item
  src/components/common/Dialogs/AdvancedDialog/AdvancedDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added amount transformation to TokenAmountInput
  src/components/common/Dialogs/TokenAmountInput/TokenAmountInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
