Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Updated create domain action payload structure
  src/components/common/Dialogs/CreateDomainDialog/helpers.ts
  src/graphql/generated.ts
  src/redux/sagas/actions/createDomain.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add @index to extension hash field
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updates to sync
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageEvent/ActionDetailsPageEvent.tsx
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/EventData.css
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/MotionDetailsPageEvent/MotionDetailsPageEvent.tsx
  src/components/common/ColonyActions/CountDownTimer/CountDownTimer copy 2.css
  src/components/common/ColonyActions/CountDownTimer/CountDownTimer.css
  src/components/common/ColonyActions/CountDownTimer/CountDownTimer.css.d.ts
  src/components/common/ColonyActions/CountDownTimer/CountDownTimer.tsx
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
  src/components/common/ColonyActions/CountDownTimer/index.ts
  src/utils/avatars.ts
  src/utils/urls.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Updates to sync
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

Updates to sync
  src/redux/sagas/utils/getNetworkClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed tab navigation and cleaned code
  .storybook/main.css
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.module.css
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css
  src/components/common/Extensions/MainNavigation/partials/Nav/Nav.tsx
  src/components/common/Extensions/MainNavigation/partials/NavMobile/NavMobile.tsx
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SubNavigation/SubNavigation.tsx
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.module.css
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.tsx
  src/components/common/Extensions/UserHub/UserHub.module.css
  src/components/common/Extensions/UserHub/partials/EmptyContent.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/types.ts
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/MemberReputation/MemberReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopoverOption/WalletPopoverOption.tsx
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.module.css
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/partials/HeadingIcon.tsx
  src/components/shared/Extensions/Modal/Modal.tsx
  src/components/shared/Extensions/Select/Select.module.css
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

added missing text to button in nav
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/TitledContent/TitledContent.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/MemberReputation/MemberReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/Token/Token.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/shared/Extensions/UserAvatarPopover/UserAvatarPopover.tsx
  src/stories/common/UserNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

created reusable component navigation tools
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/NavigationTools/NavigationTools.tsx
  src/components/common/Extensions/NavigationTools/index.ts
  src/components/common/Extensions/NavigationTools/types.ts
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update error message display conditional on staking slider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated logic for required stake message
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

handle other trigger transaction cases
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionDetails.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionList.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionStatus.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix ts errors
  src/stories/common/TransactionsTab.stories.tsx
  src/stories/common/UserNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: set minimum stake percentage to 1%
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: user menu, header, user info fixes
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/UserNavigation/partials/Token/Token.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.module.css
  src/components/frame/Extensions/Header/Header.tsx
  src/components/shared/Extensions/UserAvatar/UserAvatar.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: removed usemenu height
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix wallet context errors
  .eslintrc.js
  codegen.js
  src/context/ColonyContext.tsx
  src/i18n/en.json
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/extensions/extensionEnable.ts
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/transactions/createTransaction.ts
  src/redux/sagas/users/index.ts
  src/redux/types/actions/colony.ts
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/motion.ts
  src/transformers/index.ts
  src/utils/arrays/index.ts
  src/utils/colonyActions.ts
  src/utils/domains.ts
  src/utils/reputation.ts
Due: eslint --fix, prettier --write --ignore-unknown

commented help and account label name
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: colony name wrapping
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed text color, added aria-label
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: font class
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: condition
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed imports - clean code
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DecideDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/ManageDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionItem.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
  src/components/shared/Extensions/Button/Button.module.css
  src/components/shared/Extensions/Fields/RadioList/RadioList.tsx
  src/stories/common/ExtensionStatusBadge.stories.ts
  src/stories/common/ImageCarousel.stories.tsx
  src/stories/common/MainNavigation.stories.tsx
  src/stories/common/Navigation.stories.tsx
  src/stories/common/NotificationBanner.stories.tsx
  src/stories/common/PageTitle.stories.tsx
  src/stories/common/ReputationTab.stories.tsx
  src/stories/common/SpecialHourInput.stories.tsx
  src/stories/common/SpecialPercentageInput.stories.tsx
  src/stories/common/SpecificSidePanel.stories.ts
  src/stories/common/StakesTab.stories.tsx
  src/stories/common/SupportingDocuments.stories.ts
  src/stories/common/TransactionsTab.stories.tsx
  src/stories/common/UserHub.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
  src/stories/shared/Accordion.stories.tsx
  src/stories/shared/FormError.stories.tsx
  src/stories/shared/Toast.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

ui/15399758 cancel transaction logic
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/CancelTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/hooks.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix imports
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/CancelTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed buttons in submenu and user nav
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/shared/Extensions/Button/Button.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed user info popover content and reputation tab styles
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/components/common/Extensions/UserHub/UserHub.module.css
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/UserHubMobile.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.module.css
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/ExtensionDetails.tsx
  src/components/shared/Extensions/Avatar/Avatar.module.css
  src/components/shared/Extensions/Modal/Modal.tsx
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/components/shared/Icon/Icon.module.css
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

handle missing colonies state
  src/components/frame/Extensions/Header/Header.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: disable local ganache client logic for initial qa
  src/redux/sagas/utils/getNetworkClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

add lambda config
  .eslintignore
  .graphqlconfig.yml
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/createUniqueColony/createUniqueColony-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/setCurrentVersion/setCurrentVersion-cloudformation-template.json
  amplify/backend/function/updateExtensionByColonyAndHash/updateExtensionByColonyAndHash-cloudformation-template.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

TEMP: remove dev-only setup scripts
  package-lock.json
  package.json
Due: none

Update: colony roles and actions queries
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: permissions action message descriptors
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: determine if codegen is relevant to production
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: change lambda env variable for chain network name to gnosis
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
Due: none

build: add dockerfile
  Dockerfile
Due: none
