Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Feat: Add `ExpenditureMetadata` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Display expenditure domain on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Create expenditure metadata in createExpenditure saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/graphql/generated.ts
  src/graphql/mutations/expenditures.graphql
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add `fundExpenditure` saga
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add action button to fund expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add `fetchExpenditureBalances` lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/fetchExpenditureBalances/amplify.state
  amplify/backend/function/fetchExpenditureBalances/custom-policies.json
  amplify/backend/function/fetchExpenditureBalances/fetchExpenditureBalances-cloudformation-template.json
  amplify/backend/function/fetchExpenditureBalances/function-parameters.json
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Converting expenditure amount to wei
  src/components/common/Expenditures/ExpenditureActionButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Return required amount as part of expenditure balance
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Disable eslint for lambdas
  amplify/backend/.eslintrc.js
Due: none

Feat: Return balance for each token used in an expenditure
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
Due: none

Await `setEnvVariables` in fetchExpenditureBalances lambda
  amplify/backend/function/fetchExpenditureBalances/src/index.js
Due: none

add: index to nativeFundingPotId
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove expenditure recipient from the form
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Cleanup: createExpenditure saga
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Use a smaller fragment in GetColonyExpenditures query
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Refactor createExpenditure saga to support multiple slots
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/index.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Payload passed to createExpenditure saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Only show fund expenditure button if the expenditure is locked and not funded
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/index.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add loading states for expenditures queries
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Accept string as IconButton text prop
  src/components/shared/Button/IconButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Comments and imports
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Display expenditure balances on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/index.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Display slot ID on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Allow adding multiple recipients in expenditure form
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Display whether the expenditure is fully funded
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: Extract `groupExpenditureSlotsByTokenAddresses` util function
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Editing expenditure recipients
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Only show edit expenditure button in draft status
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Expenditure details page styling
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

Add ExpenditureSlot GraphQL fragment
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Cancelling editing expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Switching to editing expenditure mode
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: ExpenditureForm to allow editing
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: Switch ExpenditureForm to ActionForm
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: expenditure sagas channels
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/fundExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: createExpenditure saga to use `setExpenditureValues` contract function
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Funding expenditure with multiple token addresses
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/i18n/en.json
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add editExpenditure i18n messages
  src/i18n/en.json
Due: none

Update token addresses in editExpenditure saga
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
  src/redux/sagas/expenditures/editExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Code formatting
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown
