Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fix: update methods correctly on tab change
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added team, member select
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebarRow/ActionSidebarRow.tsx
  src/components/v5/common/ActionsContent/ActionsContent.module.css
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/hooks.ts
  src/components/v5/common/ActionsContent/index.ts
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/index.ts
  src/components/v5/common/ActionsContent/partials/AmountField/types.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/ActionsContent/partials/TeamsSelect/hooks.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/index.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/types.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionsContent/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/index.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/types.ts
  src/components/v5/common/ActionsContent/types.ts
  src/components/v5/common/Pills/TeamBadge/TeamBadge.tsx
  src/components/v5/common/Pills/TeamBadge/hooks.ts
  src/components/v5/common/Pills/TeamBadge/index.ts
  src/components/v5/common/Pills/types.ts
  src/components/v5/common/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/v5/common/SubNavigation/partials/LinkItem/LinkItem.module.css
  src/components/v5/common/SubNavigation/partials/LinkItem/LinkItem.tsx
  src/components/v5/common/SubNavigation/partials/LinkItem/types.ts
  src/components/v5/common/TeamReputationSummary/utils.ts
  src/components/v5/shared/MembersSelect/hooks.ts
  src/components/v5/shared/SearchSelect/SearchSelect.module.css
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/types.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/user-focus.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: added actions
  src/components/v5/common/SubNavigation/partials/DropdownContent/DecideDropdown.tsx
  src/components/v5/common/SubNavigation/partials/DropdownContent/ManageDropdown.tsx
  src/constants/actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Await `setEnvVariables` in fetchExpenditureBalances lambda
  amplify/backend/function/fetchExpenditureBalances/src/index.js
Due: none

chore: block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Refactor createExpenditure saga to support multiple slots
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/index.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Display slot ID on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Payload passed to createExpenditure saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Allow adding multiple recipients in expenditure form
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Attempt at creating a docker container to test safe transaction
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/colony-cdapp-dev-env-safe
  docker/files/safe/run.sh.base
  package.json
Due: none

Fix: Accept string as IconButton text prop
  src/components/shared/Button/IconButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Remove expenditure recipient from the form
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Cleanup: Comments and imports
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: createExpenditure saga
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

remove: duplicate schema
  schema.graphql
Due: none

fix: merge schema error
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

update types
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/TableFiltering/types.ts
  src/context/FilterContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix ts error
  src/components/v5/common/TableFiltering/TableFiltering.tsx
Due: eslint --fix, prettier --write --ignore-unknown

diplay teams filter options from API & refactoring
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
  src/hooks/useTeams.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add missing i18n messages for expenditure finalization
  src/i18n/en.json
Due: none

Cleanup: Expenditure details page styling
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

Feat: Funding expenditure with multiple token addresses
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/i18n/en.json
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Use a smaller fragment in GetColonyExpenditures query
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Only show fund expenditure button if the expenditure is locked and not funded
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/index.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Display whether the expenditure is fully funded
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Display expenditure balances on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/index.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Add loading states for expenditures queries
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Code formatting
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureBalances/ExpenditureBalances.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: expenditure sagas channels
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/fundExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add safe image to top level docker build
  package.json
Due: none

feat: move run.sh to bottom of file
  docker/colony-cdapp-dev-env-safe
Due: none

feat: install safe contral dependencies in image
  docker/colony-cdapp-dev-env-safe
Due: none

refactor: remove links directive as it is obsolete
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none

feat: non erroring version of safe run.sh
  docker/files/safe/run.sh.base
Due: none

Refactor: ExpenditureForm to allow editing
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Switching to editing expenditure mode
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/ExpenditureSlots.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureSlots/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added amount and decision field, form
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/hooks.ts
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.module.css
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/hooks.ts
  src/components/v5/common/ActionsContent/partials/AmountField/types.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/DecisionField.tsx
  src/components/v5/common/ActionsContent/partials/DecisionField/consts.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/index.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/types.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/ActionsContent/partials/TeamsSelect/hooks.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/types.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionsContent/partials/UserSelect/types.ts
  src/components/v5/common/ActionsContent/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/types.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/house-line.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: types
  src/components/v5/common/ActionsContent/partials/UserSelect/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: amount field
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

improvements
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/common/TableFiltering/TableFiltering.tsx
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
  src/context/FilterContext.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown
