Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

sort data by balance
  src/components/frame/v5/pages/BalancePage/BalancePage.tsx
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/TableHead.tsx
  src/components/frame/v5/pages/BalancePage/partials/TableItem.tsx
  src/components/frame/v5/pages/BalancePage/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix display name
  src/components/frame/v5/pages/BalancePage/BalancePage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix display names
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
  src/components/v5/common/Pills/TokenTypeBadge/TokenTypeBadge.tsx
Due: eslint --fix, prettier --write --ignore-unknown

udpate table accordintg to project22 designs
  src/components/frame/v5/pages/BalancePage/BalancePage.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/TableHead.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix error
  src/components/frame/v5/pages/BalancePage/partials/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

add type
  src/components/frame/v5/pages/BalancePage/partials/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: input validation, message container
  src/components/v5/common/Fields/InputBase/FormattedInput.tsx
  src/components/v5/common/Fields/InputBase/types.ts
  src/components/v5/shared/Modal/partials/TokensModal/TokensModal.tsx
  src/components/v5/shared/Modal/partials/TokensModal/hooks.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: added custom prefix to formattedinput
  src/components/v5/common/Fields/InputBase/FormattedInput.tsx
  src/components/v5/common/Fields/InputBase/types.ts
  src/components/v5/shared/Modal/partials/TokensModal/TokensModal.tsx
  src/components/v5/shared/Modal/partials/TokensModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

handling add transfer funds action
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/TransferFunds.tsx
  src/components/frame/v5/pages/BalancePage/partials/TransferFundsForm.tsx
  src/components/frame/v5/pages/BalancePage/partials/consts.ts
  src/components/frame/v5/pages/BalancePage/partials/hooks.ts
  src/components/frame/v5/pages/BalancePage/types.ts
  src/components/shared/Avatar/Avatar.tsx
  src/components/v5/shared/Avatar/types.ts
  src/components/v5/shared/TokensSelect/TokensSelect.tsx
  src/components/v5/shared/TokensSelect/hooks.ts
  src/components/v5/shared/TokensSelect/index.ts
  src/components/v5/shared/TokensSelect/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

chore: move comment
  src/workers/firebase-messaging-sw.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: array values can not be null
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: query name should be consistent with schema
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: notifications and profile are connected
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: enum members should be uppercase
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

copy colony address
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

update token select component
  src/components/v5/shared/TokensSelect/TokensSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove unused functionality with formating
  src/components/v5/shared/TokensSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add private flag to colony model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add PrivateBeta model to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add getPrivateBetaInviteCode
  src/graphql/generated.ts
  src/graphql/queries/colony.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: add createPrivateBetaInviteCode mutation
  amplify/backend/function/createPrivateBetaInvite/src/graphql.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/utils.js
Due: none

feat: add createPrivateBetaInvite lambda
  amplify/backend/backend-config.json
  amplify/backend/function/createPrivateBetaInvite/amplify.state
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/custom-policies.json
  amplify/backend/function/createPrivateBetaInvite/function-parameters.json
  amplify/backend/function/createPrivateBetaInvite/src/event.json
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
Due: none

feat: install node fetch
  amplify/backend/function/createPrivateBetaInvite/src/package-lock.json
  amplify/backend/function/createPrivateBetaInvite/src/package.json
Due: none

feat: add ColonyMemberInvite to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add shareable to colony invite model
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createPrivateBetaInvite/src/graphql.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
Due: none

feat: add lambda url to cloudformation
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
Due: none

feat: generate colony invite code on creation
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: make the ID a required field
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Introduce very simple new layout with sidebar
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/frame/Extensions/layouts/ColonyHeader.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/MainSidebar.tsx
  src/components/frame/Extensions/layouts/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Colony creation wizard to new design
  src/components/common/CreateColonyWizard/ConfirmTransactions.css.d.ts
  src/components/common/CreateColonyWizard/CreateColonyCardRow.css.d.ts
  src/components/common/CreateColonyWizard/StepColonyName.css.d.ts
  src/components/common/CreateColonyWizard/StepConfirmAllInput.css.d.ts
  src/components/common/CreateColonyWizard/StepConfirmTransactions.css.d.ts
  src/components/common/CreateColonyWizard/StepCreateToken.css.d.ts
  src/components/common/CreateColonyWizard/StepSelectToken.css.d.ts
  src/components/common/CreateColonyWizard/StepTokenChoice.css.d.ts
  src/components/common/CreateColonyWizard/shared.css.d.ts
  src/components/frame/v5/pages/CreateColonyPage/CreateColonyPage.tsx
  src/components/frame/v5/pages/CreateColonyPage/index.ts
  src/components/shared/Wizard/withWizard.tsx
  src/components/v5/common/CreateColonyWizard/ConfirmTransactions.css
  src/components/v5/common/CreateColonyWizard/ConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.css
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
  src/components/v5/common/CreateColonyWizard/StepColonyName.css
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.css
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.css
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.css
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepSelectToken.css
  src/components/v5/common/CreateColonyWizard/StepSelectToken.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.css
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/components/v5/common/CreateColonyWizard/index.ts
  src/components/v5/common/CreateColonyWizard/shared.css
  src/components/v5/common/CreateColonyWizard/shared.tsx
  src/components/v5/common/CreateColonyWizard/validation.ts
  src/components/v5/common/Navigation/types.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Move Headers into layouts
  src/components/frame/Extensions/Header/index.ts
  src/components/frame/Extensions/Header/types.ts
  src/components/frame/Extensions/layouts/ColonyHeader.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/components/frame/WizardTemplateColony/WizardTemplateColony.tsx
Due: eslint --fix, prettier --write --ignore-unknown

update: blockscout gas api
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

add motion to every actions
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EnterRecoveryModeForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/MintTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: extn permissions banner showing while deprecated
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionTopRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove action form
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/TransferFunds.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add: seed-db mutation scripts
  scripts/seedDb/mutate-colony-version.js
  scripts/seedDb/mutate-profile.js
Due: none

remove unnused component
  src/components/shared/Avatar/Avatar.tsx
  src/components/v5/shared/Avatar/types.ts
  src/components/v5/shared/CopyWallet/CopyWallet.tsx
  src/components/v5/shared/TokensSelect/TokensSelect.tsx
  src/components/v5/shared/TokensSelect/hooks.ts
  src/components/v5/shared/TokensSelect/index.ts
  src/components/v5/shared/TokensSelect/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

do not allow selecting a value if it is not wallet
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: eth <> wei conversion in expenditures sagas
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/AdvancedPaymentForm.tsx
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/StreamingPaymentForm.tsx
  src/components/common/Expenditures/ExpenditureForm/EditExpenditure/EditExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
  src/components/common/Expenditures/StakedExpenditure/CancelStakedExpenditureButton/CancelStakedExpenditureDialog/CancelStakedExpenditureDialog.tsx
  src/redux/sagas/utils/expenditures.ts
  src/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown
