Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: lint errors
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/ActionSidebar/partials/TokenSelect/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/TokensTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/partials/SocialLinksTable/SocialLinksTable.tsx
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix skeleton loader overlapping
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: re-add --yes parameter to create-data script
  scripts/create-data.js
Due: none

fix: polyfill missing fetch for lambdas
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/qaSSMtest/src/utils.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Fix: Increase z-index for UserPopover
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
  src/components/v5/shared/UserPopover/UserPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Added clear functionality to members filter search input
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.module.css
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Increase create-data query max retries
  scripts/create-data.js
Due: none

refactor: user submenu from config to JSX
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/MenuList/MenuList.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/MenuListItem/MenuListItem.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/index.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Contact/Contact.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Developers/Developers.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Legal/Legal.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Submenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: user submenu items to enum
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: exports of UserSubmenu blocks to our standard
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/MenuList/MenuList.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/MenuListItem/MenuListItem.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move MenuList and MenuListItem to partials instead of blocks
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/blocks/index.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Contact/Contact.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Developers/Developers.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Legal/Legal.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuList/MenuList.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuList/index.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuListItem/MenuListItem.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuListItem/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: reimplement Currency submenu
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Currency/Currency.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update Readme.md
  Readme.md
Due: none

Feat: Added copy colony address button to dashboard
  src/components/common/ColonyHome/hooks/useDashboardHeader.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: display of active currency, list to 2 columns
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Currency/Currency.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuList/MenuList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

resize upload colony avatar icon
  src/components/v5/common/ActionSidebar/partials/ColonyDetailsFields/partials/ColonyAvatarField/ColonyAvatarField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add hover state to balance page token names
  src/components/frame/v5/pages/BalancePage/partials/TokenAvatar/TokenAvatar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Chromatic workflow, add issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/workflows/chromatic.yml
Due: none

Fix: Improve copy to clipboard function naming
  src/components/common/ColonyHome/hooks/useDashboardHeader.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Improve clipboard copied state naming
  src/components/common/ColonyHome/hooks/useDashboardHeader.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Correct shared to share typo
  src/components/common/ColonyHome/hooks/useDashboardHeader.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add flag to skip waiting for build
  .github/workflows/chromatic.yml
Due: none

Cleanup: Remove UserAvatarContent component
  src/components/v5/shared/UserPopover/partials/UserAvatarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add coingecko attribution
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/CoinGeckoAttribution.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Currency/Currency.tsx
  src/i18n/en.json
  src/utils/currency/config.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: improve key-adding for complex messages
  src/utils/intl.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add loading state to useActionsCount
  src/components/common/ColonyHome/partials/Members/Members.tsx
  src/components/common/ColonyHome/partials/Objective/Objective.tsx
  src/components/common/ColonyHome/partials/TotalActions/TotalActions.tsx
  src/components/common/ColonyHome/types.ts
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
  src/hooks/useActionsCount.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Display actions count for the currently selected domain
  src/components/common/ColonyHome/partials/TotalActions/TotalActions.tsx
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/hooks/index.ts
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Simplify useGetSelectedDomainFilter
  src/hooks/useGetSelectedDomainFilter.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Change actions count loader to skeleton
  src/components/common/ColonyHome/partials/TotalActions/TotalActions.tsx
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Move useGetSelectedDomain filter into own file
  src/components/common/ColonyActionsTable/hooks.tsx
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/ColonyHome/partials/TotalActions/TotalActions.tsx
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/hooks/index.ts
  src/hooks/members/useMemberFilters.ts
  src/hooks/useGetSelectedDomainFilter.tsx
  src/hooks/useTeamsBreadcrumbs.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: add useActionsCount hook
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
  src/hooks/index.ts
  src/hooks/useActionsCount.ts
  src/hooks/useActivityFeed/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add missing token pop over to incoming funds page
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add active state to token title on funds page
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Modify eslintrc to allow `__typename` variable name
  .eslintrc.js
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
  src/components/shared/FriendlyName/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Set correct height for total actions loading skeleton
  src/components/common/ColonyHome/partials/TotalActions/TotalActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated action sidebar forms to treat domain ids as numbers instead of strings
  src/components/common/Dialogs/TransferFundsDialog/helpers.ts
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/EnterRecoveryModeForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/consts.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/MintTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/hooks.ts
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/types.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/hooks/useTeamsOptions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Linting issues
  src/context/ipfs/ipfsnode/IPFSNode.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: get user data from user select options fallback
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Hide about page link
  src/components/frame/Extensions/layouts/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
