Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: add extra size to avatar
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add: active installs to schema
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  src/components/frame/Extensions/pages/partials/ActiveInstalls.tsx
  src/graphql/generated.ts
  src/graphql/queries/extensions.graphql
  src/hooks/useActiveInstalls.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: block ingestor
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: page layout base
  amplify/backend/backend-config.json
  src/components/common/Extensions/UserHubButton/UserHubButton.tsx
  src/components/common/Extensions/UserHubButton/types.ts
  src/components/frame/Extensions/layouts/ColonyHeader.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/MainSidebar.tsx
  src/components/frame/Extensions/layouts/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarSecondLevel/NavigationSidebarSecondLevel.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarSecondLevel/types.ts
  src/components/v5/shared/Button/ButtonContent.tsx
  src/components/v5/shared/Button/ButtonLink.tsx
  src/components/v5/shared/Button/types.ts
  src/components/v5/shared/ColonyAvatar/ColonyAvatar.tsx
  src/components/v5/shared/ColonyAvatar/types.ts
  src/components/v5/shared/Link/Link.tsx
  src/components/v5/shared/Link/types.ts
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
  src/components/v5/shared/UserAvatar/types.ts
  src/i18n/en.json
  src/routes/MainRoute.tsx
  src/stories/frame/PageLayout.stories.tsx
  src/stories/shared/ColonyAvatar.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added base validation for all actions, added error message for title
  src/components/v5/common/ActionSidebar/consts.tsx
  src/components/v5/common/ActionSidebar/hooks/useNotificationBanner.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/EnterRecoveryModeForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/consts.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/MintTokenForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/consts.ts
  src/components/v5/common/Fields/TextareaBase/FormTextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/TextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/hooks.ts
  src/components/v5/common/Fields/TextareaBase/index.ts
  src/components/v5/shared/StatusText/StatusText.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: SharedLayout
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/SharedLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/components/v5/frame/NavigationSidebar/NavigationSidebarContent.tsx
  src/components/v5/frame/NavigationSidebar/types.ts
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/PageHeader.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/types.ts
  src/routes/MainRoute.tsx
  src/stories/frame/PageLayout.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Batch Colony creation transactions
  src/i18n/en.json
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add missing useEffect dependencies
  src/components/v5/common/CreateColonyWizard/TokenSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: filter with nested options
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added scroll to modal
  src/components/v5/shared/Modal/Modal.module.css
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/ModalBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

REmove paddings when full on mobile is set
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/partials/PermissionsModal/PermissionsModal.tsx
  src/components/v5/shared/Modal/ModalBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update icon library
  package.json
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/shared/RichText/partials/Menu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: navigation sidebar story
  src/stories/frame/NavigationSidebar.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add colony objective to the schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/colony.graphql
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add objective updating to motions
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add colony objective updating to action
  src/redux/sagas/actions/editColony.ts
  src/redux/sagas/utils/metadataChangelog.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added article and percent icons
  src/images/icons.json
  src/images/icons/article.svg
  src/images/icons/percent.svg
Due: none

feat: integrate colony objective into UI
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/common/ObjectiveBox/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add manage colony details side bar UI
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionDescriptionMetadata.tsx
  src/components/v5/common/ActionSidebar/hooks/useSidebarActionForm.ts
  src/components/v5/common/ActionSidebar/partials/ColonyObjectiveFields/ColonyObjectiveFields.tsx
  src/components/v5/common/ActionSidebar/partials/ColonyObjectiveFields/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/ManageColonyObjectivesForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/utils.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

refactor: update imports
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: useIntl for validation messages
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/ManageColonyObjectivesForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: match indentation
  src/i18n/en.json
Due: none

chore: commit generated
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase error
  src/redux/sagas/actions/manageExistingSafes.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: better naming of colony progress
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/ManageColonyObjectivesForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/hooks.ts
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: add initial values to colony objective
  src/components/v5/common/ActionSidebar/partials/ColonyObjectiveFields/ColonyObjectiveFields.tsx
  src/components/v5/common/Fields/InputBase/FormInputBase.tsx
  src/components/v5/common/Fields/InputBase/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove reliance on user in avatar uploader
  src/components/v5/common/AvatarUploader/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use tokenName as blockies seed
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: rename var
  src/components/frame/Extensions/pages/partials/ActiveInstalls.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: ButtonLink title
  src/components/v5/shared/Button/ButtonLink.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix searching team by user name
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

revert change
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

revert changes
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: expand gitignore for generated resolvers
  .gitignore
  amplify/backend/api/colonycdapp/resolvers/README.md
Due: none

feat: add test @searchable directive
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

feat: setup docker so amplify can run opensearch
  docker/colony-cdapp-dev-env-amplify
Due: none

feat: update healthcheck to wait for opensearch
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none
