Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Update ingestor image hash
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

Fix: regression around setting claim delays for staged payments
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
  src/redux/sagas/utils/expendituresMulticall.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: release multiple expenditures stages using multicall
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/expenditures/releaseExpenditureStages.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: Remove now obsolete `ColonyStake` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Temp: modify testing UI to allow releasing stages as owner
  src/components/v5/payments/TmpAdvancedPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: releasing multiple payment stages via motion
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/motions/expenditures/index.ts
  src/redux/sagas/motions/expenditures/releaseExpenditureStagesMotion.ts
  src/redux/sagas/motions/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: releaseExpenditureStagesMotion calls order, removed unused params
  src/redux/sagas/motions/expenditures/releaseExpenditureStagesMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: change motion's expenditure slot ids to array
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Hide temp advanced payments ui
  src/components/v5/frame/ColonyHome/ColonyHome.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: finalize BalanceTab renaming
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.styles.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/TotalReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: add `expenditureSlotIds` field to colony action
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: bug with saving expenditure metadata for staged payments
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Use constant for max uint256 value
  src/redux/sagas/utils/expendituresMulticall.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: add action type for releasing staged payment
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/hooks/useActivityFeed/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: add missing i18n messages
  src/i18n/en.json
Due: none

chore: update network hash, colony-js version
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  docker/colony-cdapp-dev-env-network
  package-lock.json
  package.json
Due: none

Fix: Get proofs for correct permissions when releasing staged payments
  src/redux/sagas/expenditures/releaseExpenditureStages.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update network hash
  docker/colony-cdapp-dev-env-network
Due: none

fix: show loader until expenditure status is updated
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed header on tablet, from other modals
  src/components/v5/shared/Modal/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed modal copy
  src/i18n/en.json
Due: none

fix: payment button loading
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: pending button ui, release modal box
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/shared/Button/ActionButton.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder ui fixes
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/PaymentBuilderDescription.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/ClaimStatusBadge/ClaimStatusBadge.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/StepperButton.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder ui fixes
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/FileUploadModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: card width, description
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: delay validation
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: header visibility when modal is open
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/TokensModal/TokensModal.tsx
  src/components/v5/shared/Modal/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/routes/ColonyRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed batch error logic
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/FileUploadModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: added funding motion
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/RequestBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/RequestBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: disable loading state
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: create staked expenditure
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/CreateStakedExpenditureModal.tsx
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/types.ts
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/utils.ts
  src/components/v5/common/ActionSidebar/partials/DecisionMethodField/DecisionMethodField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/ActionWithPermissionsInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithStakingInfo/ActionWithStakingInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithStakingInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizeByPaymentCreatorInfo/FinalizeByPaymentCreatorInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizeByPaymentCreatorInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/types.ts
  src/components/v5/common/CompletedAction/partials/rows/DecisionMethod.tsx
  src/components/v5/shared/Button/Button.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/hooks/useEnoughTokensForStaking.ts
  src/hooks/useExpenditureStaking.ts
  src/i18n/en.json
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/types/actions.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: remove hover when one item
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/RequestBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/RequestBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sort funding motions
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: fix post-rebase conflicts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: timer
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed unused types, renamed translation
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown
