Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Fix: Permissions validation
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Permissions/reputation validation when decision method selected beforehand
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Validate permissions for correct domain depending on the action type
  src/components/v5/common/ActionSidebar/consts.tsx
  src/components/v5/common/ActionSidebar/hooks/index.ts
  src/components/v5/common/ActionSidebar/hooks/usePermissionsValidation.ts
  src/components/v5/common/ActionSidebar/hooks/useReputationValidation.ts
  src/components/v5/common/ActionSidebar/hooks/useUserHasPermissions.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Invalidate action form when reputation query is loading
  src/components/v5/common/ActionSidebar/hooks/usePermissionsValidation.ts
  src/components/v5/common/ActionSidebar/hooks/useReputationValidation.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/SidebarBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Circular dependency in ActionSidebar
  src/components/v5/common/ActionSidebar/consts.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: text styling of link
  src/components/common/Onboarding/WizardSidebar/WizardSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: hover state of token selector in create colony
  src/components/common/Onboarding/wizardSteps/CreateColony/StepTokenChoice.tsx
  src/components/v5/shared/MenuContainer/MenuContainer.tsx
  src/components/v5/shared/MenuContainer/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: wrong type for error message breaking uploader
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: unhandled file upload error
  src/components/shared/AvatarUploader/helpers.ts
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: lint error
  src/hooks/members/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Removed USER_ID and USER_GROUP_ID, moved userchange to bottom of the Dockerfile
  docker/colony-cdapp-dev-env-amplify
  package.json
Due: none

feat: rework 404 page
  src/components/frame/FourOFour/FourOFour.css
  src/components/frame/FourOFour/FourOFour.css.d.ts
  src/components/frame/FourOFour/FourOFour.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: profile link and disable create colony for beta
  src/components/frame/FourOFour/FourOFour.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Disabled create a colony button on the navigation bar
  src/components/frame/Extensions/layouts/ColonySidebar.tsx
  src/components/frame/Extensions/layouts/MainSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added no colonies state to navigation bar
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/v5/common/EmptyContent/EmptyContent.module.css
  src/components/v5/common/EmptyContent/EmptyContent.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

change space-between to justify-between
  src/components/frame/LandingPage/LandingPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: edit exisitng team action
  amplify/backend/backend-config.json
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TeamsSelect/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/EditTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/hooks.ts
  src/hooks/index.ts
  src/hooks/useTeams.ts
  src/hooks/useTeamsOptions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Hide invite members button initially
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disabling action fields and buttons while its in pending mode
  src/components/shared/Fields/Form/Form.tsx
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/ColonyDetailsFields/partials/ColonyAvatarField/ColonyAvatarField.tsx
  src/components/v5/common/ActionSidebar/partials/DescriptionField/DescriptionField.tsx
  src/components/v5/common/ActionSidebar/partials/DescriptionRow/DescriptionRow.tsx
  src/components/v5/common/ActionSidebar/partials/TeamColourField/TeamColourField.tsx
  src/components/v5/common/ActionSidebar/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TokenSelect/TokenSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TokensTable/TokensTable.tsx
  src/components/v5/common/ActionSidebar/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/CreateNewTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/EditTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/hooks.ts
  src/components/v5/common/Fields/CardSelect/FormCardSelect.tsx
  src/components/v5/common/Fields/InputBase/FormInputBase.tsx
  src/components/v5/common/Fields/TextareaBase/FormTextareaBase.tsx
  src/context/AdditionalFormOptionsContext/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sue colony display name, do not truncate description
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add common native token pill component
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ColonyDashboardHeader/ColonyDashboardHeader.tsx
  src/components/v5/common/NativeTokenPill/NativeTokenPill.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: height of token pill, move icon 1px up
  src/components/v5/common/ColonyDashboardHeader/ColonyDashboardHeader.tsx
  src/components/v5/common/NativeTokenPill/NativeTokenPill.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Hide invite section of Colony Created Modal if user has no invites
  src/components/common/InvitationBlock/InvitationBlock.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/v5/common/Modals/ColonyCreatedModal/ColonyCreatedModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: filter members by team
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/frame/v5/pages/MembersPage/utils.ts
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
  src/context/MemberContext.tsx
  src/hooks/members/useColonyContributors.ts
  src/hooks/members/useMemberFilters.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix Google Tag Manager Id during build
  Dockerfile
Due: none

cicd: disable amplify auto deploy
  .github/workflows/amplify.yaml
Due: none

cicd: disable cdapp auto cicd
  .github/workflows/build-deploy.yaml
Due: none

fix: extension missing permission banner logic
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/SidebarBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: properly disable escalationPeriod param
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ParamDetailsTab.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/consts.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Remove `aboutDescription` prop from UserPopover
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/MemberAvatar/MemberAvatar.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionDescriptionMetadata.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/UserPopover/UserPopover.tsx
  src/components/v5/shared/UserPopover/partials/UserAvatarContent.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserPopover/types.ts
  src/stories/common/MemberCard.stories.tsx
  src/stories/common/MemberCardList.stories.tsx
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Split user and wallet address props of UserAvatar
  src/components/common/Extensions/UserHubButton/UserHubButton.tsx
  src/components/common/Extensions/UserNavigation/partials/HeaderAvatar/HeaderAvatar.tsx
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
  src/components/v5/shared/UserAvatar/types.ts
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Show User Popover in staking info section
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/hooks.tsx
  src/components/v5/shared/UserInfoSectionList/partials/UserInfoList/UserInfoList.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `createUniqueColony` lambda to be more complete
  amplify/backend/function/createUniqueColony/src/graphql.js
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueColony/src/package-lock.json
  amplify/backend/function/createUniqueColony/src/package.json
  amplify/backend/function/createUniqueColony/src/utils.js
Due: none

Update: lambda functions colony-js version
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getReputationForTopDomains/src/package-lock.json
  amplify/backend/function/getReputationForTopDomains/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Refactor: get signer from current wallet
  src/auth/index.ts
  src/redux/sagas/messages/index.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/extendedInfuraProvider.ts
  src/redux/sagas/utils/extendedJsonRpcProvider.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/redux/sagas/wallet/RetryProvider.ts
  src/redux/sagas/wallet/ganacheModule.ts
  src/redux/sagas/wallet/index.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: colony create wizard loading state and redirection
  src/components/common/Onboarding/wizardSteps/CreateColony/ConfirmTransactions.tsx
  src/components/common/Onboarding/wizardSteps/CreateColony/StepConfirmAllInput.tsx
  src/components/common/Onboarding/wizardSteps/CreateColony/StepConfirmTransactions.tsx
  src/redux/types/actions/colony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: new lambda `createColonyEtherealMetadata`
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/createColonyEtherealMetadata/amplify.state
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/custom-policies.json
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
  amplify/backend/function/createColonyEtherealMetadata/src/graphql.js
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
  amplify/backend/function/createColonyEtherealMetadata/src/package-lock.json
  amplify/backend/function/createColonyEtherealMetadata/src/package.json
  amplify/backend/function/createColonyEtherealMetadata/src/utils.js
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
  src/graphql/mutations/colony.graphql
  src/graphql/mutations/domain.graphql
  src/graphql/mutations/token.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `colonyCreate` to factor in new logic/lambdas
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: auth proxy and ingestor to most recent commits
  docker/colony-cdapp-dev-env-auth-proxy
  docker/colony-cdapp-dev-env-block-ingestor
Due: none
