Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: RetryProvider to extend dynamic transport
  src/redux/sagas/wallet/RetryProvider.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: various type complaints brought on by dynamic
  src/Entry.tsx
  src/context/AppContext/AppContextProvider.tsx
  src/redux/sagas/wallet/onboard.ts
  src/types/wallet.ts
  src/utils/hoc/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: somewhat propert solution for Dynamic modals closing action sidebar
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
  src/context/ActionSidebarContext/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert "Fix: Do not close action sidebar when clicking within dynamic wallet modal"
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `estimateGasCost` tx options update logic
  src/redux/sagas/transactions/estimateGasCost.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Open empty action sidebar on back navigation
  src/components/common/ColonyActionsTable/hooks/useGetMenuProps.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
  src/hooks/useLocationKeyChange.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: `AppContextProvider` handle wallet out of sync
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: `AppContextProvider` handle wallet address change
  src/context/AppContext/AppContextProvider.tsx
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/transactions/estimateGasCost.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: `AppContextProvider` handle wallet connect/sign cancel
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `Entry` use hook for dark move state
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: minor dynamic wallet styles overrides
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

Remove: onboard wallet saga leftover comments
  src/redux/sagas/users/index.ts
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: refactor titles for empty abis, add filter by arbitrary transactions
  src/components/common/ColonyActionsTable/partials/ActionsTableFilters/partials/filters/ActionTypeFilters/consts.ts
  src/constants/actionsFilters.ts
  src/utils/arbitraryTxs.ts
Due: eslint --fix, prettier --write --ignore-unknown

Change: enable Dynamic wallet usage tracking
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: dynamic wallet modal light mode tag bg override
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fixes after rebase
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove unused messages
  src/components/v5/common/Modals/InviteMembersModal/InviteMemberModal.tsx
  src/components/v5/common/Modals/InviteMembersModal/partials/ModalContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: move action title transformation into useMapColonyActionToExpectedFormat hook
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: implement arbitrary redo action
  src/components/v5/common/ActionSidebar/consts.ts
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/ArbitraryTransaction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: refactor decoding arbitrary to make it work
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ArbitraryTxsDescription.tsx
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/ArbitraryTransaction.tsx
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/hooks.ts
  src/components/v5/common/CompletedAction/partials/ArbitraryTransactionsTable/ArbitraryTransactionsTable.tsx
  src/components/v5/common/CompletedAction/partials/ArbitraryTransactionsTable/hooks.tsx
  src/utils/arbitraryTxs.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: implement redo arbitrary for activity table
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/hooks.ts
  src/utils/arbitraryTxs.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: cover arbitrary redo noABI and noDecoded cases
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/DynamicInputs.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/useGenerateABI.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: prefer dvh over vh
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/TokenSelect/partials/TokenSearchSelect/TokenSearchSelect.tsx
  src/components/v5/frame/ColonyHome/partials/TotalInOutBalance/partials/BarChartLoadingLayers.tsx
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/components/v5/shared/Navigation/ColonySwitcher/partials/MobileJoinedColonies/MobileJoinedColonies.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/ColonyPageSidebar/colonyPageSidebar.styles.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/UserInfoPopover/partials/DomainPermissionList/DomainPermissionList.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown

fix: lookup action roles from the params and simplify related code
  src/components/common/ColonyActionsTable/hooks/useBuildRedoEnabledActionsMap.ts
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/utils.ts
  src/constants/permissions.ts
  src/utils/colonyActions.ts
  src/utils/colonyRoles.ts
Due: eslint --fix, prettier --write --ignore-unknown

First pass at dev environment for proxy colonies
  docker/colony-cdapp-dev-env-network
  docker/colony-cdapp-dev-env-network-remote
  docker/colony-cdapp-dev-env-network-wormhole-relayer
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/files/network-remote/run.sh.base
  docker/files/network-wormhole-relayer/run.sh.base
  docker/files/network/run.sh.base
  package.json
Due: none

Spy shouldn't wait for txs in dev environment
  docker/colony-cdapp-dev-env-network
  docker/files/network-wormhole-relayer/run.sh.base
Due: none

Give hardhat:cmd ability to execute on other chains
  scripts/hardhat-cmd.js
Due: none

Add and expose WormholeScan mock API
  docker/colony-cdapp-dev-env-network
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none

feat: use wagmi/cli to generate type-safe abis
  .eslintignore
  .gitignore
  docker/colony-cdapp-dev-env-orchestration.yaml
  package-lock.json
  package.json
  wagmi.config.ts
Due: none

fix: nix dev shell
  flake.nix
Due: none

wip: create proxy colony UI
  amplify/backend/api/colonycdapp/schema/proxyColonies.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  package.json
  src/components/v5/frame/ColonyHome/ColonyHome.tsx
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/constants.ts
  src/constants/proxyColonies.ts
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/redux/actionTypes.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/sagas/proxyColonies/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/types/actions/index.ts
  src/redux/types/actions/proxyColonies.ts
  src/types/proxyColonies.ts
  src/types/transactions.ts
  wagmi.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add method to get a CustomContract in ColonyManager
  .gitignore
  docker/colony-cdapp-dev-env-orchestration.yaml
  package-lock.json
  src/constants/abis.ts
  src/context/ColonyManager.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Update block ingestor docker config
  docker/colony-cdapp-dev-env-block-ingestor
  docker/files/block-ingestor/run.sh.base
Due: none

Fix: multi-chain stats and refactoring
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update proxy block ingestor docker config
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/proxy-block-ingestor/env.base
  docker/files/proxy-block-ingestor/run.sh.base
Due: none

Feat: Add proxy block ingestor docker config
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/proxy-block-ingestor/env.base
  docker/files/proxy-block-ingestor/run.sh.base
  package.json
Due: none

Feat: Add proxy colonies query and display list in UI
  amplify/backend/api/colonycdapp/schema/proxyColonies.graphql
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/proxyColonies.graphql
  src/graphql/generated.ts
  src/graphql/queries/proxyColonies.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add multichain info to action
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/cacheDomainBalance/src/package-lock.json
  amplify/backend/function/cacheDomainBalance/src/package.json
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/block-ingestor/env.base
  docker/files/proxy-block-ingestor/env.base
  package-lock.json
  package.json
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Get colony creation event
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
