Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

add: notMaybe type guard
  src/utils/arrays/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

move: validation to separate file
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: useGetColonyMembers hook
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: ManageReputationDialogForm to handle motion
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: types in useDialogActionPermissions
  src/hooks/useColonyHasReputation.ts
  src/hooks/useDialogActionPermissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: filtered domain id should be a number
  src/components/common/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
Due: eslint --fix, prettier --write --ignore-unknown

wire: motion domain selector
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: creating a motion in a subdomain
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/validation.ts
  src/redux/sagas/motions/manageReputationMotion.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: show penalty as positive number
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/shared/DetailsWidget/ReputationChangeDetail/ReputationChangeDetail.tsx
  src/utils/reputation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: set Decimal exp pos to 78
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: 0 rep should disable form
  src/hooks/useColonyHasReputation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: selector star icon specificity
  src/components/shared/MemberReputation/MemberReputation.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: disabled max btn when input disabled
  src/components/shared/Fields/Input/HookForm/FormattedInputComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable form if no rep in subdomain
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: simplify award/smite rep validation
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use motion domain id
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update to use member type
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: don't refetch motionState if no motionData
  src/hooks/useGetColonyAction.ts
Due: eslint --fix, prettier --write --ignore-unknown

move: motion helpers to motion folders
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/ClaimMotionStakes.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/TotalStakeRadios.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/useTotalStakeRadios.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingInput.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingSlider.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/useStakingWidgetUpdate.ts
  src/components/common/ColonyActions/ActionDetailsPage/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/useGetColonyAction.ts
  src/components/common/ColonyActions/CountDownTimer/CountDownTimer.tsx
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
  src/hooks/helpers/index.ts
  src/hooks/helpers/motionHookHelpers.ts
  src/hooks/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: id should take user address
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: add support for motion reveal system messages
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/MotionDetailsPageEvent/MotionEventData.tsx
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/itemStyles.css
  src/components/common/ColonyActions/helpers/itemStyles.css.d.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: update fetchMotionState for motion messages
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
Due: none

Refactor: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Refactor: add reveal and passed tags
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: update lambda function for motions
  amplify/backend/function/fetchMotionState/src/graphql.js
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
Due: none

Refactor: fix casing of voteResultsWidget
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: add missing awaits
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
Due: none

Refactor: add flags to motionData
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchMotionState/src/graphql.js
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

Refactor: cleanup if logic
  amplify/backend/function/fetchMotionState/src/index.js
Due: none

Refactor: remove await
  amplify/backend/function/fetchMotionState/src/index.js
Due: none

Refactor: move motion reveal system messages to lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchMotionState/src/graphql.js
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

Refactor: destructure in params
  amplify/backend/function/fetchMotionState/src/utils.js
Due: none

Refactor: gate on motionData
  amplify/backend/function/fetchMotionState/src/index.js
Due: none

Refactor: add motionStateHistory
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchMotionState/src/graphql.js
  amplify/backend/function/fetchMotionState/src/index.js
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

Fix: correctly update motionStateHistory
  amplify/backend/function/fetchMotionState/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
Due: none

Refactor: cleanup
  amplify/backend/function/fetchMotionState/src/utils.js
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: return MotionState.Null
  amplify/backend/function/fetchMotionState/src/index.js
Due: none

Updated useUserReputation hook types
  src/hooks/useUserReputation.ts
Due: eslint --fix, prettier --write --ignore-unknown
