Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fixed colours in extension status badge
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/shared/Icon/Icon.module.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed margins in sub nav mobile item and hover in nav link
  src/components/v5/common/Navigation/partials/NavItem/NavItem.tsx
  src/components/v5/common/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix after CR
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/v5/common/Pills/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/common/Pills/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix ts error
  src/stories/common/PillsBase.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

update type
  src/components/shared/Extensions/Fields/RadioList/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: NODE_ENV env var to block ingestor dockerfile
  docker/files/block-ingestor/env.base
Due: none

fix ts
  src/components/v5/common/Pills/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/v5/common/Pills/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix type
  src/components/shared/Extensions/Fields/RadioList/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

moved user status pills to seaparate component
  src/components/v5/common/Pills/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/v5/common/Pills/PillsBase.module.css
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
  src/components/v5/common/Pills/UserStatus/index.ts
  src/components/v5/common/Pills/types.ts
  src/stories/common/UserStatus.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

added missing square bracket
  src/components/v5/common/Pills/PillsBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

removed default mode from User Status
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add stakes to user model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add staked tokens to getUserTokenBalance lambda
  amplify/backend/function/getUserTokenBalance/src/graphql.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

update: calls to getUserTokenBalance
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useEnoughTokensForStaking.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingSlider.ts
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

refactor: access userTokenBalance data via context
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingInput.ts
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
  src/components/frame/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
  src/components/frame/TokenActivation/TokenActivationPopover.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/components/frame/TokenActivation/TokensTab/TokensTab.tsx
  src/components/frame/UserTokenActivationButton/UserTokenActivationButton.tsx
  src/context/ColonyContext.tsx
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: create context for UserTokenBalance
  src/context/UserTokenBalanceContext.tsx
  src/context/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: update staked tokens after claiming
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
  src/components/frame/TokenActivation/StakesTab/ClaimAllButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update polling strategy
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingInput.ts
  src/components/frame/TokenActivation/StakesTab/ClaimAllButton.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added menu entries in UAC for Safe Control feature
  package-lock.json
  src/components/common/Dialogs/AdvancedDialog/AdvancedDialog.tsx
  src/components/common/Dialogs/ManageSafeDialog/ManageSafeDialog.tsx
  src/components/common/Dialogs/ManageSafeDialog/index.ts
  src/components/common/Dialogs/index.ts
  src/components/common/NewActionButton/wizardConfig.ts
  src/images/icons.json
  src/images/icons/joystick.svg
  src/images/icons/plus-heavy.svg
  src/images/icons/safe-logo.svg
  src/images/icons/trash-can.svg
Due: eslint --fix, prettier --write --ignore-unknown

cicd: fix amplify script and enable deployment notifications
  .github/workflows/amplify.yaml
Due: none

Added safe instructions external link
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use motion domain not from domain to calculate rep
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add rootHash to rep calc in voting widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Rebase on master
  .github/workflows/amplify.yaml
  .github/workflows/build-deploy-dev.yaml
  .github/workflows/scripts/amplify_script.sh
  docker/files/block-ingestor/env.base
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css.d.ts
  src/components/common/ColonyActions/ColonyActions.css
  src/components/common/ColonyActions/ColonyActions.css.d.ts
  src/components/common/ColonyExtensions/ExtensionCard/ExtensionCard.tsx
  src/components/common/ColonyFundingBanner/ColonyFundingBanner.css
  src/components/common/ColonyFundingBanner/ColonyFundingBanner.css.d.ts
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.css
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.css.d.ts
  src/components/common/ColonyHome/ColonyHomeLayout.css
  src/components/common/ColonyHome/ColonyHomeLayout.css.d.ts
  src/components/common/ColonyHome/ColonyTitle/ColonyAddress.css
  src/components/common/ColonyHome/ColonyTitle/ColonyAddress.css.d.ts
  src/components/common/ColonyHome/ColonyTitle/ColonyTitle.css
  src/components/common/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/components/common/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
  src/components/common/Extensions/ExtensionActionButton/ExtensionActionButton.tsx
  src/components/common/Extensions/ExtensionActionButton/ExtensionEnableButton.tsx
  src/components/common/Extensions/ExtensionActionButton/ExtensionInstallButton.tsx
  src/components/common/Extensions/ExtensionDetails/ExtensionDetails.tsx
  src/components/common/Extensions/ExtensionDetails/ExtensionDetailsAside.tsx
  src/components/common/Extensions/ExtensionDetails/index.ts
  src/components/common/Extensions/ExtensionUpgradeButton/ExtensionUpgradeButton.tsx
  src/components/shared/ExternalLink/ExternalLink.css.d.ts
  src/components/shared/NavLink/NavLink.css.d.ts
  src/constants/externalUrls.ts
  src/hooks/useExtensionsData.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: Decimal error if reputationPercent undefined
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

fix: ensure slider has correct value at 100
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix onboard updates
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updates after `master` rebase
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/ActionButton.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/hooks.ts
  src/constants/extensions.ts
  src/i18n/en.json
  src/types/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add change to main Icon
  src/components/shared/Icon/Icon.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Sync extesnion constants
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Correct extensions list padding
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Extensions list page padding
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: user name in action message
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/shared/FriendlyName/FriendlyName.tsx
  src/components/shared/FriendlyName/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Implemented Add Safe step 1 dialog
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.css
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/SetupSafeCallout/SetupSafeCallout.css
  src/components/common/Dialogs/AddExistingSafeDialog/SetupSafeCallout/SetupSafeCallout.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/SetupSafeCallout/SetupSafeCallout.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SetupSafeCallout/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/helpers.ts
  src/components/common/Dialogs/AddExistingSafeDialog/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
  src/components/common/Dialogs/index.ts
  src/components/common/NewActionButton/wizardConfig.ts
  src/components/shared/NetworkFee/NetworkFee.css
  src/constants/index.ts
  src/redux/actionTypes.ts
  src/styles/shared/fields.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed permission message of safe control menu entry
  src/components/common/Dialogs/AdvancedDialog/AdvancedDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown
