Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add missing lambda deps
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
Due: none

feat: add static dev usdc network deployment
  docker/colony-cdapp-dev-env-network
Due: none

Chain id is int
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

chore: update colonyNetwork hackathon hash
  docker/colony-cdapp-dev-env-network
Due: none

Lambda layers config
  amplify/backend/backend-config.json
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
Due: none

fix: use correct decimals in fiat withdrawal
  docker/colony-cdapp-dev-env-network
  src/redux/sagas/users/index.ts
  src/types/transactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: remove values for posthog
  .env.local
Due: none

Add get drains handler
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/graphql.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/createExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  amplify/backend/function/bridgeXYZQuery/src/graphql.js
  amplify/backend/function/bridgeXYZQuery/src/handlers/getLiquidations.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  docker/colony-cdapp-dev-env-mocking
  src/components/frame/FourOFour/FourOFour.tsx
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix: change steps order, move personal details and terms tab to KYC modal
  src/components/frame/v5/pages/UserCryptoToFiatPage/CryptoToFiatPage.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/hooks.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/AutomaticDeposits.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/PersonalDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: validation bug, console errors, add iban and bic validation
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/constants.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/validation.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FormInput.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FormSelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/PersonalDetailsForm/index.tsx
  src/components/v5/common/Fields/Select/Select.tsx
  src/components/v5/common/Fields/Select/SelectBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: local USDC to env
  .env.example
  .env.local
  src/constants/index.ts
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Lamdba env updates
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/src/index.js
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
Due: none

kycLinks: extract customer_id from tos link
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
Due: none

Finish updating drain types
  docker/colony-cdapp-dev-env-mocking
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix checkKyc bridge handler
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Update lambda roles
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
Due: none

Add lambda deps again
  amplify/backend/function/bridgeXYZMutation/src/package-lock.json
  amplify/backend/function/bridgeXYZMutation/src/package.json
Due: none

Extend CreateBankAccount mutation to support US accounts
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix undefined array access in check KYC handler
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

Check KYC handler creating liquidation address
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  src/components/frame/v5/pages/UserCryptoToFiatPage/CryptoToFiatPage.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescriptionComponent/BankDetailsDescriptionComponent.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Try: fix lambdas layers
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
Due: none

fix: update address form, show subdivisions based on country selected
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/CountrySelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Revert changes to createColonyEtherealMetadata
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
Due: none

Delete .env.local from repository
  .env.local
Due: none

remove old mutations
  src/components/frame/FourOFour/FourOFour.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Set enabled state to feature flag isEnabled in useFeatureFlag
  src/context/FeatureFlagsContext/useFeatureFlag.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add lambda layers to xyz and ethereal lambdas
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
Due: none

Add .env.local file to gitignore
  .gitignore
Due: none

Remove hardcoded environment name from bridge lambdas
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
Due: none

Fix: Add loading state for feature flags
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/frame/FourOFour/FourOFour.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/CryptoToFiatPage.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/constants.ts
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/context/FeatureFlagsContext/FeatureFlagsContext.ts
  src/context/FeatureFlagsContext/useFeatureFlag.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: submitting bank details form for US
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/RowItem.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/types.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: split bank details into 2 tabs for USD
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/AccountDetailsInputs.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/validation.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Stepper/index.tsx
  src/utils/countries.ts
Due: eslint --fix, prettier --write --ignore-unknown

kycLinks: Check if provided email has not been used before
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/graphql.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrate Persona in an iframe
  package-lock.json
  package.json
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

TMP: Debug replacing payment address with liquidation address
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Temp: fix typecheck errors related to hardcoding usdc address
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/sagas/motions/paymentMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert "Temp: fix typecheck errors related to hardcoding usdc address"
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/sagas/motions/paymentMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: 2661 add learn more link and refactor badges
  src/components/frame/v5/pages/UserCryptoToFiatPage/constants.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/AutomaticDeposits.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/RowItem.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/types.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
  src/components/v5/common/Pills/CryptoToFiatBadge.tsx/CryptoToFiatBadge.tsx
  src/components/v5/common/Pills/CryptoToFiatBadge.tsx/consts.ts
  src/components/v5/common/Pills/CryptoToFiatBadge.tsx/index.ts
  src/components/v5/common/Pills/CryptoToFiatBadge.tsx/types.ts
  src/constants/externalUrls.ts
  src/hooks/useExtensionsData.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

TMP: Hardcode USDC address for arbitrum
  src/redux/sagas/actions/payment.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: refactor bank details form
  src/components/frame/v5/pages/UserCryptoToFiatPage/constants.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/AccountDetailsInputs.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/constants.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsForm/validation.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/useBankDetailsFields.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/CountrySelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/SubdivisionSelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/validation.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FormSelect.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/v5/common/Fields/Select/Select.module.css
  src/utils/countries.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
