Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Sync FormattedInputComponent with hook-form value
  src/components/shared/Fields/Input/FormattedInputComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Advanced Payments 2 merge conflicts
  src/constants/extensions.ts
  src/redux/sagas/motions/expenditures/cancelStakedExpenditureMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Schema syntax
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Fix: createStreamingPayment saga to wait for transaction created and call initiateTransaction
  src/redux/sagas/expenditures/createStreamingPayment.ts
Due: eslint --fix, prettier --write --ignore-unknown

Upgrade colony-js in updateContributorsWithReputation lambda
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Feat: Store streaming payment end condition and limit amount
  src/components/common/Dialogs/TokenAmountInput/TokenAmountInput.tsx
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/StreamingPaymentForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields/StreamingPaymentFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/types.ts
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add StreamingPaymentMetadata model
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/StreamingPaymentForm.tsx
  src/components/common/Expenditures/ExpenditureForm/types.ts
  src/graphql/generated.ts
  src/graphql/mutations/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: bad import
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields/StreamingPaymentFormFields.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add documentation to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Cleanup: old TODO comment
  src/redux/sagas/expenditures/claimExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix some issue
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/hooks/useUserByAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: seed-db script
  scripts/seedDb/seed-db.js
Due: none

add: walletAddress fallback to CardWithBios
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add: tx as search param on motion creation
  src/redux/sagas/motions/createDecisionMotion.ts
  src/redux/sagas/motions/createEditDomainMotion.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
  src/redux/sagas/motions/manageReputationMotion.ts
  src/redux/sagas/motions/moveFundsMotion.ts
  src/redux/sagas/motions/paymentMotion.ts
  src/redux/sagas/motions/rootMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: actions sagas to use setter and search params
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editColony.ts
  src/redux/sagas/actions/editDomain.ts
  src/redux/sagas/actions/managePermissions.ts
  src/redux/sagas/actions/manageReputation.ts
  src/redux/sagas/actions/manageVerifiedRecipients.ts
  src/redux/sagas/actions/mintTokens.ts
  src/redux/sagas/actions/moveFunds.ts
  src/redux/sagas/actions/payment.ts
  src/redux/sagas/actions/unlockToken.ts
  src/redux/sagas/actions/versionUpgrade.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: setter and search params to expenditure sagas
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/sagas/motions/expenditures/cancelStakedExpenditureMotion.ts
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
  src/redux/types/actions/expenditures.ts
  src/redux/types/actions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: motion simple payment base
  src/Entry.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/WizardTemplateColony/WizardTemplateColony.css
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/hooks/useGetColonyAction.ts
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/PopularActions.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/hooks.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/OutcomeStep/OutcomeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/OutcomeStep/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/StakingStep/StakingStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/StakingStep/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/StakingStep/types.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/index.ts
  src/components/v5/common/ActionSidebar/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: action sidebar without action controls when motion is enabled
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: MotionSimplePayment displayName and comment clean up
  src/components/v5/common/ActionSidebar/hooks/useGetColonyAction.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: steps display names
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/OutcomeStep/OutcomeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/StakingStep/StakingStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/VotingStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/types.ts
  src/components/v5/shared/MembersSelect/hooks.ts
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/types.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/components/v5/shared/UserAvatarPopover/partials/UserAvatarContent.tsx
  src/hooks/useUserByAddress.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

add on demand env workflow
  .github/workflows/on-demand-env.yaml
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

Basic edit locked expenditure button
  src/components/common/Expenditures/EditLockedExpenditure/EditLockedExpenditureButton.tsx
  src/components/common/Expenditures/EditLockedExpenditure/index.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix after CR
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Removed shouldCloseCallback from useToggle options
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/context/ActionSidebarContext.tsx
  src/hooks/useToggle/index.ts
  src/hooks/useToggle/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Changed color class from red to negative
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipentsField/AdvancedPaymentRecipentsField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added motion voting flow ui parts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/partials/TextWithValue/TextWithValue.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/partials/TextWithValue/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/partials/TextWithValue/types.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/types.ts
  src/components/v5/common/Fields/RadioButtons/ButtonRadioButtons/FormButtonRadioButtons.tsx
  src/components/v5/common/Fields/RadioButtons/ButtonRadioButtons/types.ts
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
  src/components/v5/shared/ProgressBar/types.ts
  src/components/v5/shared/StatusText/StatusText.tsx
  src/components/v5/shared/StatusText/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed button color
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/VotingStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  package.json
  src/components/v5/shared/RichText/RichText.tsx
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

bump: block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

create form
  src/components/v5/common/ActionSidebar/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/BatchPaymentsTable.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/index.ts
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/BatchPaymentForm/BatchPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/BatchPaymentForm/index.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

change table title
  src/components/v5/common/ActionSidebar/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/BatchPaymentsTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add todos and hide form
  src/components/v5/common/ActionSidebar/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/BatchPaymentsTable.tsx
  src/components/v5/common/ActionSidebar/partials/BatchPaymentsTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: added default value to color field
  src/components/v5/common/ActionSidebar/partials/TeamColourField/TeamColourField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
