Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: background for selected calendar day
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: constantly set createdIn value to root domain
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: conditionally show agreements based on the domain filter
  src/components/frame/v5/pages/AgreementsPage/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: prevent app crash during colony creation
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Rename supportedChainsAction to supportedChainsActionFeature for consistency
  src/context/FeatureFlagsContext/FeatureFlagsContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: Manage Colony - Mint token motion
  playwright/e2e/manage-colony-funds.spec.ts
  playwright/models/manage-colony-funds.ts
Due: none

Fix: Action list index when ManageSupportedChains is disabled
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Re-enable deployed proxy colony
  src/components/v5/common/ActionSidebar/hooks/useFilterChainSelectField.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/hooks.ts
  src/hooks/proxyColonies/useDeployedChainIds.ts
  src/redux/actionTypes.ts
  src/redux/sagas/proxyColonies/enableProxyColony.ts
  src/redux/sagas/proxyColonies/index.ts
  src/redux/sagas/utils/metadataDelta.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
Due: none

feat: create proxy colony motion
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/ManageSupportedChainsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/hooks.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/constants/actions.ts
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/redux/actionTypes.ts
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/proxyColonies/createProxyColony.ts
  src/redux/sagas/motions/proxyColonies/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: display streaming navigation item conditionally
  src/components/v5/shared/Navigation/Sidebar/sidebars/ColonyPageSidebar/partials/SidebarRoutesSection.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/ColonyPageSidebar/partials/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Align MembersCard permissions badge with UserPopover permissions badge
  src/components/frame/v5/pages/MembersPage/partials/MembersTabContent/MembersTabContent.tsx
  src/components/frame/v5/pages/MembersPage/types.ts
  src/components/frame/v5/pages/MembersPage/utils.ts
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/common/MemberCard/types.ts
  src/components/v5/shared/UserInfoPopover/partials/PermissionTooltip/PermissionTooltip.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: MemberCard stories
  src/stories/common/MemberCard.stories.tsx
  src/stories/common/MemberCardList.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: `updateContributorsWithReputation` lambda util
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Remove: `updateContributorsWithReputation` unused logic
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Refactor: `updateContributorsWithReputation` lambda
  amplify/backend/function/updateContributorsWithReputation/src/graphql.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Add: `updateContributorsWithReputation` verbose logging
  amplify/backend/function/updateContributorsWithReputation/src/index.js
Due: none

Revert: reintroduce `decimals` dependency
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
Due: none

Add: `updateContributorsWithReputation` logging fn util
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Chore: update colony-js to it's lastest `next` release
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
  docker/colony-cdapp-dev-env-network
  package-lock.json
  package.json
Due: none

Refactor: `updateContributorsWithReputation` fetch utils
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Remove: `updateContributorsWithReputation` colony-js usage
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

Chore: docker block ingestor to latest release hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: Long recipient names should not be cut off
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add payment creator for user who is payer or custom
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/FinalizePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add creator permissions for specific roles
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/FinalizePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix extension management loading states
  src/components/frame/Extensions/pages/ExtensionDetailsPage/context/ExtensionDetailsPageContext.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/context/ExtensionDetailsPageContextProvider.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsHeader/InstallButton.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsHeader/ReenableButton.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsHeader/SubmitButton.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsHeader/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/DeprecateButton.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionSettings/ExtensionSettingsForm.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionSettings/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update: increased all lambdas timeouts
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/createUserNotificationsData/createUserNotificationsData-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchMotionState/fetchMotionState-cloudformation-template.json
  amplify/backend/function/fetchMotionTimeoutPeriods/fetchMotionTimeoutPeriods-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/fetchVoterRewards/fetchVoterRewards-cloudformation-template.json
  amplify/backend/function/getSafeTransactionStatus/getSafeTransactionStatus-cloudformation-template.json
  amplify/backend/function/getUserNotificationsHMAC/getUserNotificationsHMAC-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/initializeUser/initializeUser-cloudformation-template.json
  amplify/backend/function/qaSSMtest/qaSSMtest-cloudformation-template.json
  amplify/backend/function/updateContributorsWithReputation/updateContributorsWithReputation-cloudformation-template.json
  amplify/backend/function/validateUserInvite/validateUserInvite-cloudformation-template.json
Due: none

Fix: `updateContributorsWithReputation` `toString` fallbaks
  amplify/backend/function/updateContributorsWithReputation/src/index.js
Due: none

fix: use correct message ID for multisig extension description
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump network and ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Chore: Bump dependencies, disable version checks for colony-js
  amplify/backend/function/cacheDomainBalance/src/package-lock.json
  amplify/backend/function/cacheDomainBalance/src/package.json
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchDomainBalance/src/services/networkBalance.js
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  package-lock.json
  package.json
  src/redux/sagas/utils/getNetworkClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: nix dev shell
  flake.nix
Due: none

Fix: App crashing if preferredCurrency not in localStorage
  src/context/CurrencyContext/CurrencyContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add permissions for payer and for custom arbitration
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizePaymentModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add back button to action sidebar
  src/components/common/ColonyActionsTable/hooks/useGetMenuProps.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/hooks/useGetActionGroup.ts
  src/components/v5/common/ActionSidebar/utils.ts
  src/context/ActionSidebarContext/ActionSidebarContext.ts
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add finalization action info to multisig and motions, and add a reference to the action an action finalized
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-network
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: if split payment uses split by reputation, filter out if reputation in that team is 0
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/SplitPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/partials/SplitPaymentRecipientsField/SplitPaymentRecipientsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/partials/SplitPaymentRecipientsField/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Search select component and usage
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
  src/components/v5/common/ActionSidebar/hooks/useFilterChainSelectField.ts
  src/components/v5/common/ActionSidebar/hooks/useFilterCreatedInField.ts
  src/components/v5/common/ActionSidebar/partials/ChainSelect/ChainSelect.tsx
  src/components/v5/common/ActionSidebar/partials/ChainSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/NonVerifiedMembersSelect/NonVerifiedMembersSelect.tsx
  src/components/v5/common/ActionSidebar/partials/NonVerifiedMembersSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/TeamColorField/TeamColorField.tsx
  src/components/v5/common/ActionSidebar/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TeamsSelect/types.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/types.ts
  src/components/v5/common/ActionSidebar/partials/VerifiedMembersSelect/VerifiedMembersSelect.tsx
  src/components/v5/common/ActionSidebar/partials/VerifiedMembersSelect/hooks.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/partials/AccordionWrapper/AccordionWrapper.tsx
  src/components/v5/shared/SearchSelect/partials/CheckboxSearchItem/CheckboxSearchItem.tsx
  src/components/v5/shared/SearchSelect/partials/CheckboxSearchItem/types.ts
  src/components/v5/shared/SearchSelect/partials/OptionRenderer/IconOptionRenderer.tsx
  src/components/v5/shared/SearchSelect/partials/OptionRenderer/TeamOptionRenderer.tsx
  src/components/v5/shared/SearchSelect/partials/OptionRenderer/TokenOptionRenderer.tsx
  src/components/v5/shared/SearchSelect/partials/OptionRenderer/UserOptionRenderer.tsx
  src/components/v5/shared/SearchSelect/partials/OptionRenderer/WithBadgesOptionRenderer.tsx
  src/components/v5/shared/SearchSelect/partials/SearchGroup/SearchGroup.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/types.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/components/v5/shared/SearchSelect/utils.ts
  src/hooks/useTeamsOptions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
