Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fix: update github workflow and on demand scripts with new network container variables and on demand logic
  .github/workflows/on-demand-env.yaml
  .github/workflows/scripts/on-demand-env-script.sh
  docker/colony-cdapp-dev-env-orchestration-on-demand.yaml
  scripts/aws-to-local-dynamodb.js
Due: none

fix: add more logic to control variables in on demand env
  .github/workflows/on-demand-env.yaml
  .github/workflows/scripts/on-demand-env-script.sh
  docker/colony-cdapp-dev-env-orchestration-on-demand.yaml
  scripts/aws-to-local-dynamodb.js
Due: none

Fix: disable MultiSigPageSetup form inputs and hide button if user doesn't have ColonyRole.Root role
  src/components/common/Extensions/Fields/InputGroup/InputGroup.tsx
  src/components/common/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/frame/Extensions/pages/MultiSigPage/MultiSigPageSetup.tsx
  src/components/frame/Extensions/pages/MultiSigPage/hooks.ts
  src/components/v5/common/Fields/Select/Select.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

test env var resolution
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

export aws region var
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

remove commnted code
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

add nvm version to install
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

feat: added redo action to adv payments
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/SimplePaymentDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/utils.tsx
  src/components/v5/common/CompletedAction/partials/CompletedExpenditureContent/CompletedExpenditureContent.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/SplitPayment/SplitPayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Show correct stake status for expenditure related motions
  src/components/common/Extensions/UserHub/partials/StakesTab/helpers.ts
  src/graphql/fragments/stake.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: selected color, underline
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PermissionsBox/PermissionsBox.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: enforce transparent background for the tabs
  src/components/shared/Extensions/Tabs/Tabs.tsx
  src/styles/variables.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: completed manage permission actions permission table for motions
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use or logic when performing createdAt query
  src/components/common/ColonyActionsTable/FiltersContext/FiltersContextProvider.tsx
  src/components/common/ColonyActionsTable/hooks/useActionsTableData.ts
  src/components/common/ColonyActionsTable/utils.ts
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable predefined ranges if custom date is applied and vice versa
  src/components/common/ColonyActionsTable/hooks/useActionsTableData.ts
  src/components/common/ColonyActionsTable/partials/ActionsTableFilters/partials/filters/DateFilters/DateFilters.tsx
  src/components/v5/common/Fields/datepickers/RangeDatepicker/partials/DatepickerCustomRangeInput/DatepickerCustomRangeInput.tsx
  src/components/v5/common/Fields/datepickers/RangeDatepicker/partials/DatepickerCustomRangeInput/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: prevent filename from overflowing
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add temp fix to get vars assigned so frontend starts
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

Refactor: Delete bridgeXYZQuery lambda
  amplify/backend/api/colonycdapp/schema/bridge.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/bridgeXYZMutation/src/handlers/getDrainsHistory.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/getFees.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/amplify.state
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/custom-policies.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/src/event.json
  amplify/backend/function/bridgeXYZQuery/src/graphql.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
  amplify/backend/function/bridgeXYZQuery/src/utils.js
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Update liquidation address when updating bank details
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

Feat: Improve validation when updating US accounts
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
Due: none

Feat: Add bridgeGetUserLiquidationAddress query
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/getUserLiquidationAddress.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Liquidation address swapping
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Improve liquidation address existance check, return it from checkKyc handler
  amplify/backend/api/colonycdapp/schema/bridge.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  src/components/frame/v5/pages/UserCryptoToFiatPage/context/CryptoToFiatContext.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/context/CryptoToFiatContextProvider.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/AutomaticDeposits.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/BankDetailsDescription.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/index.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescriptionComponent/index.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
  src/graphql/fragments/bridgeXYZ.graphql
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Create liquidation address when updating account if currency changed
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

Fix: checkKyc handler import path
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

Feat: Refetch kyc status query after creating or updating bank account
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/useBankDetailsFields.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Move liquidation address creation from update bank account to check kyc handler
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
Due: none

Feat: Better logging in bridge lambda
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
Due: none

Chore: Add comments regarding liquidation addresses
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/components/v5/common/CompletedAction/partials/SimplePayment/SimplePayment.tsx
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Replace liquidation address with relevant user in advanced payments completed action view
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/RecipientField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Remove unused field from action metadata model
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add chain ID to liquidation address query
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  src/graphql/generated.ts
  src/graphql/queries/liquidationAddress.graphql
  src/hooks/useUserByAddress.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/metatransactions.ts
  src/utils/chainId.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Remove unused query
  src/graphql/generated.ts
  src/graphql/queries/liquidationAddress.graphql
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: make the tokens list scrollable
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add decimals to the reputation calculation
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update nested table styles in the incoming funds table
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update UserHub styles, show all stakes in user hub, fix statuses
  src/components/common/ColonyActionsTable/utils.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/consts.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/helpers.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/useStakesByFilterType.ts
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks/useRemoveTxParamOnClose.ts
  src/components/v5/common/Pills/UserStakeStatusBadge/UserStakeStatusBadge.tsx
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/graphql/queries/extensions.graphql
  src/graphql/queries/stake.graphql
  src/hooks/useJoinedColoniesWithExtensions.ts
  src/hooks/useNetworkMotionStatesAllColonies.ts
  src/types/userStake.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: make 'Claim all stakes' worked for stakes from all colonies
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/ClaimAllButton.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/useStakesByFilterType.ts
  src/graphql/generated.ts
  src/graphql/queries/extensions.graphql
  src/hooks/useJoinedColoniesWithExtensions.ts
  src/redux/sagas/motions/claimAllMotionRewards.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: move types for MotionId and VotingReputationObject, small refactoring for checking url
  src/components/common/Extensions/UserHub/partials/StakesTab/helpers.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/ClaimAllButton.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/hooks/useNetworkMotionStates.ts
  src/hooks/useNetworkMotionStatesAllColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: update motion key to databaseMotionId format
  src/components/common/Extensions/UserHub/partials/StakesTab/helpers.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/useStakesByFilterType.ts
  src/hooks/useNetworkMotionStatesAllColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown
