Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

refactor: update split payment recipients
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/partials/SplitPaymentRecipientsField/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove obsolete lambda functions
  amplify/backend/backend-config.json
  amplify/backend/function/getMembersForColony/amplify.state
  amplify/backend/function/getMembersForColony/custom-policies.json
  amplify/backend/function/getMembersForColony/function-parameters.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getMembersForColony/src/graphql.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getMembersForColony/src/package-lock.json
  amplify/backend/function/getMembersForColony/src/package.json
  amplify/backend/function/getMembersForColony/src/reputation.js
  amplify/backend/function/getMembersForColony/src/utils.js
  amplify/backend/function/getTotalMemberCount/amplify.state
  amplify/backend/function/getTotalMemberCount/custom-policies.json
  amplify/backend/function/getTotalMemberCount/function-parameters.json
  amplify/backend/function/getTotalMemberCount/getTotalMemberCount-cloudformation-template.json
  amplify/backend/function/getTotalMemberCount/src/index.js
  amplify/backend/function/getTotalMemberCount/src/package-lock.json
  amplify/backend/function/getTotalMemberCount/src/package.json
  amplify/backend/function/getTotalMemberCount/src/utils.js
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: simplify colony member counts
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/frame/Extensions/layouts/partials/DashboardContent/DashboardContent.tsx
  src/context/MemberContext.tsx
  src/graphql/queries/contributors.graphql
  src/hooks/members/useAllMembers.ts
  src/hooks/members/useColonyContributors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove overeager refactor of colony
  src/components/frame/Extensions/layouts/ColonySidebar.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove unnecessary notNull checks
  src/context/MemberContext.tsx
  src/hooks/members/useAllMembers.ts
  src/hooks/members/useColonyContributors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: type error make sure array is not undefined
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  src/components/frame/v5/pages/MembersPage/AllMembersPage.tsx
  src/components/frame/v5/pages/MembersPage/ContributorsPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/context/MemberContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use existant code for user in colony check
  src/components/frame/v5/pages/MembersPage/partials/MembersTabContent/MembersTabContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: members select to match contributor
  src/components/v5/shared/MembersSelect/MembersSelect.tsx
  src/components/v5/shared/MembersSelect/partials/CustomOption/CustomOption.tsx
  src/components/v5/shared/MembersSelect/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: remove obsolete followers page
  src/components/frame/v5/pages/ColonyUsersPage/ColonyUsersPage.tsx
  src/components/frame/v5/pages/ColonyUsersPage/index.ts
  src/components/frame/v5/pages/ColonyUsersPage/types.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  src/hooks/members/useAllMembers.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove multiple context wrappers
  src/context/ColonyContext/ColonyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: paging members
  src/components/frame/v5/pages/MembersPage/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: join and leave buttons
  src/components/common/ColonyHome/hooks.ts
  src/components/v5/shared/Button/JoinButton/JoinButton.tsx
  src/context/ColonyContext/ColonyContext.tsx
  src/hooks/useCanInteractWithColony.ts
  src/hooks/useColonySubscription.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: organise member context values
  src/context/MemberContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add user colonies to app context
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: create data amplify error
  scripts/create-data.js
Due: none

fix: never creating new contributor
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

fix: separate sorted count from total count
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/hooks/members/useAllMembers.ts
  src/hooks/members/useColonyContributors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  src/components/common/ColonyHome/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Reafactor: `useMembersContext` return values
  src/components/common/ColonyHome/hooks.ts
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/partials/SplitPaymentRecipientsField/hooks.tsx
  src/components/v5/shared/MembersSelect/MembersSelect.tsx
  src/context/MemberContext.tsx
  src/hooks/members/useAllMembers.ts
  src/hooks/members/useColonyContributors.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `useUserSelect` return wallet address
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: colony switcher hooks pass in correct data
  src/components/frame/Extensions/layouts/ColonySidebar.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `AllMembersPage` clear search/filters on unmount
  src/components/frame/v5/pages/MembersPage/AllMembersPage.tsx
  src/components/v5/common/MembersList/MembersList.tsx
  src/context/FilterContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: members route after rebase
  src/components/frame/v5/pages/MembersPage/AllMembersPage.tsx
  src/routes/ColonyMembersRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: add prod approval for amplify
  .github/workflows/amplify.yaml
Due: none

feat: add leave colony confirmation modal
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/ColonyHome/hooks.ts
  src/components/v5/common/ColonyDashboardHeader/ColonyDashboardHeader.tsx
  src/components/v5/common/ColonyDashboardHeader/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use padded warning icon
  src/images/icons/warning-circle.svg
Due: none

feat: style loader accordingly
  src/components/v5/common/PageLoader/PageLoader.css
  src/components/v5/common/PageLoader/PageLoader.stories.tsx
  src/components/v5/common/PageLoader/PageLoader.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add basic SVG page loader circle
  src/components/v5/common/PageLoader/PageLoader.css
  src/components/v5/common/PageLoader/PageLoader.stories.tsx
  src/components/v5/common/PageLoader/PageLoader.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: use new loader in LoadingTemplate
  src/components/frame/LoadingTemplate/LoadingTemplate.tsx
  src/components/v5/common/PageLoader/PageLoader.tsx
  src/components/v5/common/PageLoader/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use PageLoader instead of Spinner for remaining pages
  src/components/frame/v5/pages/ColonyPreviewPage/ColonyPreviewPage.tsx
  src/components/frame/v5/pages/OnboardingPage/OnboardingPage.tsx
  src/components/v5/shared/Spinner/Spinner.tsx
  src/components/v5/shared/Spinner/index.ts
  src/components/v5/shared/Spinner/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: loading page bg to white, letter spacing
  src/components/frame/LoadingTemplate/LoadingTemplate.css
  src/components/v5/common/PageLoader/PageLoader.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: move styles to tailwind, use enum for loading state
  src/components/frame/LoadingTemplate/LoadingTemplate.tsx
  src/components/v5/common/PageLoader/PageLoader.css
  src/components/v5/common/PageLoader/PageLoader.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: External urls
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Beamer for updates and bug reporting
  src/Entry.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/consts.ts
  src/context/AnalyticsContext.tsx
  src/hooks/useBeamer.ts
  src/routes/RouteTracker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor analytics, style fixes, language fixes
  globals.d.ts
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/consts.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/types.ts
  src/components/common/Extensions/UserHubButton/UserHubButton.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/types.ts
  src/components/v5/common/Modals/ManageMemberModal/consts.ts
  src/components/v5/common/Modals/ManageMemberModal/types.ts
  src/context/AnalyticsContext.tsx
  src/i18n/en.json
  src/routes/UserRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Update objective description
  src/i18n/en.json
Due: none
