Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add edit to payment builder action
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/MultiSigWidget.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/types.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/EditModeModal/EditModeModal.tsx
  src/components/v5/common/CompletedAction/partials/EditModeModal/consts.ts
  src/components/v5/common/CompletedAction/partials/EditModeModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/ExitEditModeModal/ExitEditModeModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/EditStep/EditStep.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/EditStep/partials/EditRequests/EditRequestItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/EditStep/partials/EditRequests/EditRequests.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/EditStep/partials/EditRequests/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/EditContent/EditContent.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/EditContent/partials/RecipientAvatar/RecipientAvatar.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/EditContent/partials/TokenField/TokenField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/EditContent/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/utils.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/utils.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilderEdit/PaymentBuilderEdit.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilderEdit/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilderEdit/partials/Errors/Errors.tsx
  src/components/v5/common/Table/Table.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/types.ts
  src/context/ActionSidebarContext/ActionSidebarContext.ts
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/i18n/en.json
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `updateContributorsWithReputation` fetch utils
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
Due: none

fix: mobile layout
  src/components/common/ColonyActionsTable/partials/ActionsTableFilters/ActionsTableFilters.tsx
  src/components/frame/Extensions/pages/PermissionsPage/partials/PermissionsPageContent.tsx
  src/components/frame/Extensions/pages/PermissionsPage/partials/PermissionsPageFilter.tsx
  src/components/frame/v5/pages/AgreementsPage/AgreementsPage.tsx
  src/components/frame/v5/pages/AgreementsPage/partials/AgreementsPageFilters/AgreementsPageFilters.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/Filters/BalanceFilters/BalanceFilters.tsx
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
  src/components/frame/v5/pages/FundsPage/partials/Filter/types.ts
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/FundsTable.tsx
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/TeamsPage/partials/TeamsPageFilter/TeamsPageFilter.tsx
  src/components/v5/common/Filter/Filter.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix types
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
  src/components/frame/v5/pages/FundsPage/partials/Filter/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Actions with metadata not completing correctly
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editColony.ts
  src/redux/sagas/actions/editDomain.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: nix dev shell
  flake.nix
Due: none

Fix: Simple payments when redoing an advanced payment
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: handle arbitrary transactions on block-ingestor side
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/files/block-ingestor/env.base
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/JsonAbiInput.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/ArbitraryTransactionsTable.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/ArbitraryTransaction.tsx
  src/components/v5/common/CompletedAction/partials/ArbitraryTransaction/index.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/redux/sagas/arbitraryTxs/arbitraryTx.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rename method args title to 'name' field
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/DynamicInputs.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/CellDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove any from arbitraryTxSaga
  src/redux/sagas/arbitraryTxs/arbitraryTx.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove payload from arbitrary transaction success action
  src/redux/sagas/arbitraryTxs/arbitraryTx.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: fix failing manage account test case
  playwright/e2e/manage-account-avatar.spec.ts
  playwright/e2e/manage-account-profile.spec.ts
  playwright/fixtures/images/valid-avatar-300x300 (1).jpg
Due: none

Fix: Amount should use toFixed when equal split
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/partials/SplitPaymentRecipientsField/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: close agreement draft gracefully
  src/components/frame/v5/pages/AgreementsPage/partials/DraftCard/DraftCard.tsx
  src/components/shared/Fields/Form/ActionForm.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionFormBaseHook.ts
  src/components/v5/common/ActionSidebar/hooks/useCloseSidebarClick.ts
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/hooks.ts
  src/components/v5/common/ActionSidebar/types.ts
  src/hooks/useDraftAgreement.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add multichain info to action
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: simple payment e2e tests
  playwright/e2e/simple-payment.spec.ts
  playwright/utils/simple-payment.ts
  src/components/common/LoadingSkeleton/LoadingSkeleton.tsx
  src/components/shared/Fields/Form/ActionForm.tsx
  src/components/shared/Fields/Form/Form.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/partials/TokenList.tsx
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/shared/MenuContainer/MenuContainer.tsx
  src/components/v5/shared/MenuContainer/types.ts
  src/components/v5/shared/Navigation/Sidebar/sidebars/ColonyPageSidebar/ColonyPageSidebar.tsx
  src/components/v5/shared/NotificationBanner/NotificationBanner.tsx
  src/components/v5/shared/NotificationBanner/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/UserInfoPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: move dashboard loading in simple-payment test to shared setup
  playwright/e2e/simple-payment.spec.ts
  playwright/utils/simple-payment.ts
Due: none

fix: updated required fields in graphql schema, add filter function back, add encodedFunction to the database
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/DynamicInputs.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/consts.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/redux/sagas/arbitraryTxs/arbitraryTx.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: remove commented code
  playwright/e2e/simple-payment.spec.ts
  playwright/utils/simple-payment.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Clear expected expenditure type to prevent infinite loading
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix warnings to clean up PR files changed section
  src/components/v5/frame/ColonyHome/partials/DashboardHeader/partials/ColonyLinks/useMuteColonyItem.tsx
  src/context/MemberContext/MemberContextProvider.tsx
  src/hooks/useOnElementScroll.tsx
  src/hooks/useTokenLockStates.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: M placeholder issue with unformatNumeral
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageReputationForm/partials/ManageReputationTable/ManageReputationTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Tabs right arrow showing over loader
  src/components/shared/Extensions/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: 'edit details' form to render a correct inputs and values
  src/components/shared/Fields/Form/Form.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add feature flag and handle dark mode
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/consts.ts
  src/components/frame/Extensions/themes/utils.ts
  src/context/FeatureFlagsContext/FeatureFlagsContextProvider.tsx
  src/context/FeatureFlagsContext/types.ts
  src/styles/main.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Update block ingestor hash and add MULTI_CHAIN_BRIDGE_ENDPOINT var
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/block-ingestor/env.base
  docker/files/proxy-block-ingestor/env.base
Due: none

fix: change release step info
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/ActionWithPermissionsInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

test: add simple-payment model and more tests
  playwright/e2e/simple-payment.spec.ts
  playwright/models/simple-payment.ts
  playwright/utils/common.ts
  playwright/utils/graphqlHelpers.ts
  playwright/utils/simple-payment.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: do not clear existing changes to form
  src/components/common/ColonyActionsTable/hooks/useBuildRedoEnabledActionsMap.ts
  src/components/shared/Fields/Form/Form.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: display claimed pill for users who staked or woted and change copy for opposed action
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: auto claim, stepper
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/StakingStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/CancelModal/CancelModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/CancelRequests/CancelRequestItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/Pills/PenaliseBadge/PenaliseBadge.tsx
  src/components/v5/common/Pills/PenaliseBadge/types.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: change text for active streaming, handle size for tablet and change font weight for boxes
  src/components/frame/v5/pages/StreamingPaymentsPage/partials/StatsCards/StatsCards.tsx
  src/components/v5/common/WidgetBox/WidgetBox.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Split payment redo amount
  src/components/v5/common/CompletedAction/partials/SplitPayment/SplitPayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: calculate active streaming for active streaming payments
  src/components/shared/StreamingPayments/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: aumatically propagate user permissions info
  src/components/common/ColonyActionsTable/hooks/useBuildRedoEnabledActionsMap.ts
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/utils.ts
  src/context/AppContext/AppContextProvider.tsx
  src/context/MemberContext/MemberContextProvider.tsx
  src/graphql/generated.ts
  src/graphql/queries/contributors.graphql
  src/utils/objects/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Upgrade colony packages version
  amplify/backend/function/cacheDomainBalance/src/package-lock.json
  amplify/backend/function/cacheDomainBalance/src/package.json
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  package-lock.json
  package.json
Due: none

Chore: Update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
