Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: update amplify lambda runtime to nodejs 20
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createUniqueColony/createUniqueColony-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchExpenditureBalances/fetchExpenditureBalances-cloudformation-template.json
  amplify/backend/function/fetchMotionState/fetchMotionState-cloudformation-template.json
  amplify/backend/function/fetchMotionTimeoutPeriods/fetchMotionTimeoutPeriods-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/fetchVoterRewards/fetchVoterRewards-cloudformation-template.json
  amplify/backend/function/getSafeTransactionStatus/getSafeTransactionStatus-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/qaSSMtest/qaSSMtest-cloudformation-template.json
  amplify/backend/function/setCurrentVersion/setCurrentVersion-cloudformation-template.json
  amplify/backend/function/updateContributorsWithReputation/updateContributorsWithReputation-cloudformation-template.json
  amplify/backend/function/validateUserInvite/validateUserInvite-cloudformation-template.json
Due: none

refactor: moved existing table to TableOld
  src/components/common/ColonyActionsTable/hooks.tsx
  src/components/frame/v5/pages/BalancePage/BalancePage.tsx
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/useTokenBalances.ts
  src/components/frame/v5/pages/BalancePage/partials/TokenAvatar/TokenAvatar.tsx
  src/components/frame/v5/pages/BalancePage/partials/TokenAvatar/types.ts
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/partials/PermissionsTable/PermissionsTable.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/partials/PermissionsTable/hooks.tsx
  src/components/v5/common/Table/Table.module.css
  src/components/v5/common/Table/Table.tsx
  src/components/v5/common/TableOld/TableOld.tsx
  src/components/v5/common/TableOld/index.ts
  src/components/v5/common/TableOld/types.ts
  src/components/v5/common/TableOld/utils.tsx
  src/components/v5/common/TableWithActionsHeader/TableWithActionsHeader.tsx
  src/components/v5/common/TableWithActionsHeader/types.ts
  src/components/v5/common/TableWithMeatballMenu/TableWithMeatballMenu.tsx
  src/components/v5/common/TableWithMeatballMenu/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add back header, deposit button and empty content
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add reusable useTableSort hook, implement it in balance
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/consts.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/partials/TokenMeatballMenu.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/types.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/useTokenBalances.ts
  src/components/frame/v5/pages/BalancePage/types.ts
  src/components/v5/common/Table/Table.module.css
  src/components/v5/shared/MeatBallMenu/MeatBallMenu.tsx
  src/hooks/useTableSort.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: table borders for last row
  src/components/v5/common/Table/Table.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

Fix: Hide currency switcher when wallet disconnected
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Allow currency switching when wallet is disconnected
  src/context/CurrencyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix token blockies not showing consistently
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: cancel button color, nav 3rd lvl, amount sizes
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/TransferFundsForm.tsx
  src/components/v5/frame/NavigationSidebar/NavigationSidebar.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarContext/NavigationSidebarContext.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarContext/types.ts
  src/components/v5/frame/NavigationSidebar/types.ts
  src/components/v5/shared/Modal/Modal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: lint
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarContext/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: input outline, hide pagination
  src/components/v5/common/Fields/InputBase/InputBase.tsx
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove focus on filter open
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: dont display loading for recipient if we already have the data
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManagePermissionsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/RecipientUser.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/SimplePaymentDescription.tsx
  src/hooks/useUserByAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use spinner for sidebar metadata loading
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/RecipientUser.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Move colors out of extend to only allow styleguide colors
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/stories/common/UserNavigation.stories.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: replace wrong colors with correct ones
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/CancelTransaction.tsx
  src/components/shared/FeedbackButton/FeedbackButton.tsx
  src/components/v5/common/Fields/RadioButtons/ButtonRadioButtons/ButtonRadioButtons.tsx
  src/components/v5/common/Fields/RadioButtons/TileRadioButtons/TileRadioButtons.tsx
  src/components/v5/common/Fields/Select/Select.module.css
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.module.css
  src/components/v5/frame/NavigationSidebar/NavigationSidebar.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/stories/shared/MenuWithSections.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: use FormattedMessage instead of formatText, useUserByAddress returns previous value back
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/CreateDecisionDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/CreateNewDomainDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/EditColonyDetailsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/EditDomainDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/EnterRecoveryModeDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManageColonyObjectiveDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManagePermissionsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManageTokensDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/MintTokensDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/RecipientUser.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/SimplePaymentDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/TransferFundsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/UnlockTokenDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/UpgradeColonyDescription.tsx
  src/hooks/useUserByAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: widget font color and gap
  src/components/frame/v5/pages/ActivityPage/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: correct activity feed share link
  src/components/common/ColonyActionsTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

delete: remove more unused components
  src/components/frame/ColonyBackText/ColonyBackText.tsx
  src/components/frame/ColonyBackText/index.ts
  src/components/shared/ColonyGrid/ColonyGrid.css
  src/components/shared/ColonyGrid/ColonyGrid.css.d.ts
  src/components/shared/ColonyGrid/ColonyGrid.tsx
  src/components/shared/ColonyGrid/ColonyGridItem.css
  src/components/shared/ColonyGrid/ColonyGridItem.css.d.ts
  src/components/shared/ColonyGrid/ColonyGridItem.tsx
  src/components/shared/ColonyGrid/index.ts
  src/components/shared/ColorTag/ColorTag.css
  src/components/shared/ColorTag/ColorTag.css.d.ts
  src/components/shared/ColorTag/ColorTag.tsx
  src/components/shared/ColorTag/index.ts
  src/components/shared/ConfusableWarning/ConfusableWarning.css
  src/components/shared/ConfusableWarning/ConfusableWarning.css.d.ts
  src/components/shared/ConfusableWarning/ConfusableWarning.tsx
  src/components/shared/ConfusableWarning/index.ts
  src/components/shared/EthUsd/EthUsd.tsx
  src/components/shared/EthUsd/index.ts
  src/components/shared/NetworkFee/NetworkFee.css
  src/components/shared/NetworkFee/NetworkFee.css.d.ts
  src/components/shared/NetworkFee/NetworkFee.tsx
  src/components/shared/NetworkFee/index.ts
  src/components/shared/OmniPicker/OmniPicker.css
  src/components/shared/OmniPicker/OmniPicker.css.d.ts
  src/components/shared/OmniPicker/OmniPicker.tsx
  src/components/shared/OmniPicker/OmniPickerContent.css
  src/components/shared/OmniPicker/OmniPickerContent.css.d.ts
  src/components/shared/OmniPicker/OmniPickerContent.tsx
  src/components/shared/OmniPicker/OmniPickerItem.tsx
  src/components/shared/OmniPicker/OmniPickerItemEmpty.css
  src/components/shared/OmniPicker/OmniPickerItemEmpty.css.d.ts
  src/components/shared/OmniPicker/OmniPickerItemEmpty.tsx
  src/components/shared/OmniPicker/index.ts
  src/components/shared/OmniPicker/types.ts
  src/components/shared/OmniPicker/withOmniPicker.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: Rename ~cache to ~apollo, move everything apollo related
  src/apollo/apolloClient.ts
  src/apollo/cache/colony/balances.ts
  src/apollo/cache/colony/index.ts
  src/apollo/cache/colony/tokens.ts
  src/apollo/cache/expenditure.ts
  src/apollo/cache/index.ts
  src/apollo/index.ts
  src/context/index.ts
  src/utils/queries.ts
  tsconfig.base.json
  webpack.base.js
Due: eslint --fix, prettier --write --ignore-unknown

Make `sortExternalLinks` function not mutate the original array
  src/components/v5/frame/ColonyHome/partials/DashboardHeader/partials/ColonyLinks/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add custom removeTypenameLink
  src/apollo/apolloClient.ts
  src/apollo/removeTypenameLink.ts
  src/redux/sagas/utils/metadataChangelog.ts
  src/utils/lodash.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Remove `ExtensionsContext`
  src/context/ExtensionsContext.tsx
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Pin `@apollo/client` package version at 3.7.14
  package.json
Due: none

Fix: Improve Colony upgrade action sidebar when on latest version
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/SidebarBanner.tsx
  src/components/v5/common/ActionSidebar/partials/ColonyVersionField/ColonyVersionField.tsx
  src/components/v5/common/ActionSidebar/partials/hooks.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Upgrade now button now opens action sidebar from advanced settings page
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update colony version widget story
  src/stories/shared/ColonyVersionWidget.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update advanced settings page to correct order
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.tsx
  src/components/v5/shared/ColonyVersionWidget/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Refactor useSubmitButtonDisabled hook to use switch
  src/components/v5/common/ActionSidebar/partials/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove unnecessary version fallback for ColonyVersionWidget
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix user dropdown blockies
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/UserAvatar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Reword VersionUpgrade and VersionUpgradeMotion ColonyActionTypes
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add CompletedAction screen for UpgradeColonyVersion motion
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/UpgradeColonyVersion/UpgradeColonyVersion.tsx
  src/components/v5/common/CompletedAction/partials/rows/ActionType.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Description alignment issue
  src/components/v5/common/CompletedAction/partials/rows/Description.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add default enumValue to networkMotionStateEnum
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
