Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: `getGasPrices` ensure at least 3.5 gwei on Gnosis
  src/redux/sagas/utils/getGasPrices.ts
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: disable ganache wallet for initial QA build
  src/redux/sagas/wallet/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `setCurrentVersion` list correct deps
  amplify/backend/function/setCurrentVersion/src/package.json
Due: none

Fix: update rpc endpoint url for http
  amplify/backend/function/.eslintrc.js
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
Due: none

Fix: `setCurrentVersion` package json file
  amplify/backend/function/setCurrentVersion/src/package-lock.json
  amplify/backend/function/setCurrentVersion/src/package.json
Due: none

TEMP: manually set metamask wallet network
  src/redux/sagas/wallet/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: `ColonyRole` model
  src/graphql/fragments/actions.graphql
  src/graphql/fragments/colony.graphql
  src/graphql/fragments/user.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: `getColonyRoleSetTitleValues` colony actions util
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: pass in env vars to apollo client
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: Dockerfile for graphql URL env variable
  Dockerfile
Due: none

Fix: All Lambda functions with proper ENV variables
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getReputationForTopDomains/src/index.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/setCurrentVersion/src/index.js
  amplify/backend/function/updateExtensionByColonyAndHash/src/index.js
Due: none

Fix: `fetchColonyNativeFundsClaim` lambda unused deps
  amplify/backend/function/fetchColonyNativeFundsClaim/src/package-lock.json
  amplify/backend/function/fetchColonyNativeFundsClaim/src/package.json
Due: none

Fix: app context fetch user with checksummed address
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: add env variable to function names
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: user navigation item divider
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: connectWallet in AppContext
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: make user name not required
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/common/Members/filterMembers.ts
  src/components/shared/SingleUserPicker/utils.ts
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove loading state when switching user from colony grid in profile
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: basic wallet type check
  src/redux/sagas/messages/index.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: dev network check
  src/constants/index.ts
  src/redux/sagas/wallet/ganacheModule.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: connect wallet mobile styles
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.css
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.css.d.ts
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: import ganache private keys only if in dev
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: only call getGasPrices if full wallet
  src/redux/sagas/setupUserContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: use recipientAddress if no user
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sign out button styles
  src/components/shared/DropdownMenu/DropdownMenu.css
Due: prettier --write --ignore-unknown, stylelint --fix

Update: most lambda functions `colonyJS` version to latest
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/getMembersForColony/src/package-lock.json
  amplify/backend/function/getMembersForColony/src/package.json
  amplify/backend/function/getReputationForTopDomains/src/package-lock.json
  amplify/backend/function/getReputationForTopDomains/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
Due: none

chore: add generated
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sync wallet ui with metamask
  src/context/AppContext.tsx
  src/redux/sagas/setupWalletContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony button logic
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/hooks/useCanInteractWithColony.ts
  src/hooks/useColonySubscription.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/metatransactions.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony btn / three dots alignment
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.css
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/hooks/useColonySubscription.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: outdated gitbook links
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: awful change to `createUniqueColony` to set chain
  amplify/backend/function/createUniqueColony/src/index.js
Due: none

Fix: subscribed colonies flicker
  src/components/frame/LandingPage/LandingPage.tsx
  src/utils/autoLogin.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: user types
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/components/shared/UserInfoPopover/UserInfo.tsx
  src/components/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/shared/UserMention/UserMention.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: wallet setup
  .env.example
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.tsx
  src/constants/externalUrls.ts
  src/constants/index.ts
  src/context/AppContext.tsx
  src/context/index.ts
  src/hooks/useCanInteractWithColony.ts
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/setupWalletContext.ts
  src/redux/sagas/users/index.ts
  src/redux/sagas/wallet/index.ts
  src/redux/sagas/wallet/onboard.ts
  src/types/definitions/index.d.ts
  src/types/wallet.ts
  src/utils/autoLogin.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: join colony btn logic
  src/hooks/useCanInteractWithColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: ensure local connected wallet address is checksummed
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: hardcoded chainMetadata
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  scripts/temp-create-data.js
  src/graphql/fragments/colony.graphql
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: profile is not required
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Implemented native token status logic
  amplify/backend/function/createUniqueColony/src/index.js
  src/components/common/Dialogs/ManageFundsDialog/ManageFundsDialog.tsx
  src/components/common/Dialogs/UnlockTokenDialog/UnlockTokenForm.tsx
  src/components/common/Dialogs/UnlockTokenDialog/helpers.ts
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
