Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: change color of checkboxes to blue when checked
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: cr feedback
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove left padding for "member" header
  src/components/frame/v5/pages/VerifiedPage/partials/VerifiedTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add SearchActions query
  src/graphql/generated.ts
  src/graphql/queries/actions.graphql
Due: eslint --fix, prettier --write --ignore-unknown

useActivityFeed: filtering by action type and motion state
  src/cache/index.ts
  src/components/common/ColonyActions/ColonyActions.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/useStakesByFilterType.ts
  src/hooks/index.ts
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/index.ts
  src/hooks/useActivityFeed/useActivityFeed.ts
  src/hooks/useNetworkMotionStates.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: Mobile conditional, clean up sidepanel logic
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/frame/NavigationSidebar/NavigationSidebar.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/types.ts
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/types.ts
  src/stories/frame/PageLayout.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: Create action menu item, fix icon
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/types.ts
  src/components/v5/shared/ColonyAvatar/ColonyAvatar.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Move condition, remove redundant types
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/types.ts
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/types.ts
  src/stories/frame/PageLayout.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: add log streaming to cw for on demand env
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

cicd: update aws cw agent
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

Fix: Icon sizes, increase padding, fix alignment
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/images/icons/bank.svg
  src/images/icons/dashboard.svg
  src/images/icons/file-plus.svg
  src/images/icons/gear-six.svg
  src/images/icons/handshake.svg
  src/images/icons/layout.svg
  src/images/icons/user.svg
Due: eslint --fix, prettier --write --ignore-unknown

Rebase: Update hook, cleanup redundancy
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: add initial discord notification with link to cw logs
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

cicd: fix cw agent install
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

cicd: fix discord notification message
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

Basic activity feed pagination
  src/components/common/ColonyActions/ColonyActions.css
  src/components/common/ColonyActions/ColonyActions.css.d.ts
  src/components/common/ColonyActions/ColonyActions.tsx
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/useActivityFeed.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Sorting activity feed by date
  src/components/common/ColonyActions/ActionsListHeading.tsx
  src/components/common/ColonyActions/ColonyActions.tsx
  src/components/shared/SortControls/SortControls.tsx
  src/components/shared/SortControls/sortControlsConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor action type filters to use query filters
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/types.ts
  src/hooks/useActivityFeed/useActivityFeed.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add date filtering to activity feed
  src/components/common/ColonyActions/ColonyActions.tsx
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

colony switcher redesign
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/types.ts
  src/components/frame/Extensions/layouts/partials/ColonySwitcherItem/ColonySwitcherItem.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherList/ColonySwitcherList.tsx
  src/components/v5/frame/NavigationSidebar/NavigationSidebar.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: add horizontal line to verified members table
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add: facebook to social links modal
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/partials/SocialLinksTable/partials/SocialLinkModal/consts.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Temp: introduce old colony route
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix error when there is no colony contex
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: wrap fetchMore transactions in useEffect
  src/components/common/Extensions/UserNavigation/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: extensions page and extension details page adjustments
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarButton/NavigationSidebarButton.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/types.ts
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarSecondLevel/NavigationSidebarSecondLevel.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarThirdLevel/NavigationSidebarThirdLevel.tsx
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/routes/ColonySettingsRoute.tsx
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added widget boxes stories
  .storybook/main.js
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResults.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResultsItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterAvatars.tsx
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/ColonyHome/consts.ts
  src/components/common/ColonyHome/hooks.ts
  src/components/common/ColonyHome/types.ts
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/components/shared/EthUsd/EthUsd.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/OutcomeStep/OutcomeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/OutcomeStep/partials/VoteStatuses/types.ts
  src/components/v5/common/WidgetBox/WidgetBox.tsx
  src/components/v5/common/WidgetBox/index.ts
  src/components/v5/common/WidgetBox/types.ts
  src/components/v5/common/WidgetBoxList/WidgetBoxList.tsx
  src/components/v5/common/WidgetBoxList/index.ts
  src/components/v5/common/WidgetBoxList/types.ts
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
  src/components/v5/shared/UserAvatars/UserAvatars.tsx
  src/components/v5/shared/UserAvatars/types.ts
  src/hooks/useGetColonyMembers.ts
  src/hooks/useUserAvatars/index.ts
  src/hooks/useUserAvatars/types.ts
  src/i18n/en.json
  src/stories/common/WidgetBox.stories.tsx
  src/stories/common/WidgetBoxList.stories.tsx
  src/stories/shared/UserAvatars.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: fetch all transactions initiated by the user
  src/components/common/Extensions/UserNavigation/hooks.ts
  src/graphql/generated.ts
  src/graphql/queries/transactions.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: only display TXs in UserHub trasactions list
  src/components/common/Extensions/UserNavigation/hooks.ts
  src/redux/sagas/transactions/transactionsToDb.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: verified members table - show all users
  src/hooks/members/useAllMembers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: forwarding the disabled status for radio buttons
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/StakingStep.tsx
  src/components/v5/common/Fields/RadioButtons/ButtonRadioButtons/ButtonRadioButtons.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Filter activity feed by decision method
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/useActivityFeed/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add custom VTL resolver for searchActions query
  .gitignore
  amplify/backend/api/colonycdapp/resolvers/Query.searchColonyActions.req.vtl
Due: none

useActivityFeed pagination improvements
  src/hooks/useActivityFeed/types.ts
  src/hooks/useActivityFeed/useActivityFeed.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add demo decision method filter
  src/components/common/ColonyActions/ColonyActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

useActivityFeed: handling loading when filtering by motion state
  src/hooks/useActivityFeed/useActivityFeed.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
