Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix types
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/TableWithBurgerMenu/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix type
  src/components/v5/common/ActionsContent/partials/TransactionTable/hooks.tsx
  src/components/v5/common/TableWithBurgerMenu/tableActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

generate getVerifiedMembers schema
  schema.graphql
  src/graphql/generated.ts
  src/graphql/queries/contributors.graphql
Due: eslint --fix, prettier --write --ignore-unknown

ui table base
  src/components/v5/common/Table/Table.tsx
  src/components/v5/common/Table/index.ts
  src/components/v5/common/Table/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

table actions
  src/components/v5/common/TableWithMeatballMenu/TableWithMeatballMenu.tsx
  src/components/v5/common/TableWithMeatballMenu/index.ts
  src/components/v5/common/TableWithMeatballMenu/types.ts
  src/components/v5/common/TableWithMeatballMenu/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add transaction table
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/hooks.ts
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/types.ts
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/hooks.ts
  src/components/v5/common/ActionsContent/partials/TransactionTable/hooks.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/types.ts
  src/components/v5/common/Table/Table.tsx
  src/components/v5/common/Table/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

remove unused component
  src/components/v5/common/ActionsContent/partials/TransactionItem/TransactionItem.module.css
  src/components/v5/common/ActionsContent/partials/TransactionItem/TransactionItem.tsx
  src/components/v5/common/ActionsContent/partials/TransactionItem/index.ts
  src/components/v5/common/ActionsContent/partials/TransactionItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add missing card style
  src/components/v5/common/TableWithMeatballMenu/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

revert translaction
  src/i18n/en.json
Due: none

feat: separated file uploader
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/v5/common/ActionsContent/partials/ColonyDetailsFields/ColonyDetailsFields.tsx
  src/components/v5/common/ActionsContent/partials/ColonyDetailsFields/partials/ChangeColonyLogo.tsx
  src/components/v5/common/ActionsContent/partials/ColonyDetailsFields/partials/types.ts
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/FileUpload.tsx
  src/components/v5/common/AvatarUploader/types.ts
  src/i18n/en.json
  src/stories/common/FileUpload.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: styles, removed css module, moved logic to hook
  src/components/v5/common/ActionsContent/partials/ColonyDetailsFields/partials/ChangeColonyLogo.tsx
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
  src/components/v5/common/AvatarUploader/partials/ProgressContent.tsx
  src/components/v5/common/AvatarUploader/types.ts
  src/components/v5/common/AvatarUploader/utils.tsx
  src/stories/common/FileUpload.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: redo hook
  src/components/v5/common/AvatarUploader/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

use new verified members hook
  src/components/v5/common/ActionsContent/partials/UserSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed line, translation
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Field array implementation
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/hooks.ts
  src/components/v5/common/ActionsContent/partials/AmountField/types.ts
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/hooks.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Expenditures UI skeleton
  src/components/common/Expenditures/ExpendituresPage.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/types/actions/expenditures.ts
  src/redux/types/actions/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Set recipient and payout in createExpenditure saga
  src/i18n/en.json
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Basic expenditure creation form
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpendituresList.tsx
  src/components/common/Expenditures/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage.tsx
  src/components/common/Expenditures/index.ts
  src/redux/types/actions/expenditures.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add temp codegen schema file to gitignore
  .gitignore
  codegen.js
Due: none

Feat: `GetColonyExpenditures` query
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Colony <> Expenditures models relation
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Apollo cache warnings due to missing id field on `getColony` queries
  src/graphql/queries/colony.graphql
  src/graphql/queries/expenditures.graphql
Due: prettier --write --ignore-unknown

Feat: Redirect to expenditure details page from createExpenditure saga
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/index.ts
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/Expenditures.tsx
  src/components/common/Expenditures/ExpendituresList.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
  src/components/common/Expenditures/ExpendituresPage/index.ts
  src/components/common/Expenditures/index.ts
  src/graphql/generated.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add database ID related utils
  src/redux/sagas/motions/createEditDomainMotion.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/utils/databaseId.ts
  src/utils/domains.ts
Due: eslint --fix, prettier --write --ignore-unknown

Extract Expenditure GraphQL fragment
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Get expenditure data in expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/Expenditures.tsx
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editDomain.ts
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add `nativeId` field to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: updateColonyTokens saga
  src/redux/sagas/utils/updateColonyTokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Expenditures link to colony navigation
  src/components/common/ColonyHome/ColonyNavigation/colonyNavigationConfig.ts
  src/components/common/Expenditures/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add `nativeFundingPotId` field to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Finalizing expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/finalizeExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Convert expenditure amount to wei before passing to saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Cleanup: Expenditures page
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: Show all transactions of createExpenditure saga
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Locking expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/expenditures/lockExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: i18n expenditure messages
  src/i18n/en.json
Due: none

Feat: Display recipients on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: Replace deprecated methods in createExpenditure saga
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
