Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: use motion domain not from domain to calculate rep
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove: unnecessary dispatch
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use motion domain for actions list meta
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/ColonyActions/ActionsListItem/ActionsListItemMeta.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: update staked tokens after claiming
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
  src/components/frame/TokenActivation/StakesTab/ClaimAllButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: ensure slider has correct value at 100
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: update polling strategy
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingInput.ts
  src/components/frame/TokenActivation/StakesTab/ClaimAllButton.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: add rootHash to rep calc in voting widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: transfer action text
  src/i18n/en-events.ts
Due: eslint --fix, prettier --write --ignore-unknown

update appsync url for prod
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

fix: Decimal error if reputationPercent undefined
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

update functions and ssm
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/function/createUniqueColony/createUniqueColony-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchMotionState/fetchMotionState-cloudformation-template.json
  amplify/backend/function/fetchMotionTimeoutPeriods/fetchMotionTimeoutPeriods-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/fetchVoterRewards/fetchVoterRewards-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/qaSSMtest/qaSSMtest-cloudformation-template.json
  amplify/backend/function/setCurrentVersion/setCurrentVersion-cloudformation-template.json
  amplify/backend/function/updateExtensionByColonyAndHash/updateExtensionByColonyAndHash-cloudformation-template.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

Port RemoveSafeDialog
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.css
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.css.d.ts
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/common/Dialogs/RemoveSafeDialog/index.ts
  src/components/common/Dialogs/index.ts
  src/constants/index.ts
  src/redux/actionTypes.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add RemoveSafeDialog to config
  src/components/common/NewActionButton/wizardConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add pink checkbox variant
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.css
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.css.d.ts
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add hardcoded safes to dialog
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed content padding
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/TabContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed page layout padding
  src/components/frame/Extensions/layouts/PageLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added contributors and followers pages, reusable components and utils
  src/components/frame/v5/Header/Header.tsx
  src/components/frame/v5/Header/hooks.ts
  src/components/frame/v5/Header/index.ts
  src/components/frame/v5/Header/types.ts
  src/components/frame/v5/pages/ContributorsPage/ContributorsPage.tsx
  src/components/frame/v5/pages/ContributorsPage/hooks.ts
  src/components/frame/v5/pages/FollowersPage/FollowersPage.tsx
  src/components/frame/v5/pages/FollowersPage/hooks.ts
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/common/MembersList/types.ts
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/i18n/en.json
  src/routes/Routes.tsx
  src/utils/members.ts
Due: eslint --fix, prettier --write --ignore-unknown

moved logic to hooks
  src/components/common/Extensions/ImageCarousel/ImageCarousel.tsx
  src/components/common/Extensions/ImageCarousel/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: Fix typo
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: add first annotations to the GraphQL amplify schema
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

docs: Complete amplify schema annotations
  .editorconfig
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed supporting documents padding
  src/components/common/Extensions/SupportingDocuments/SupportingDocuments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: added spinner to member pages
  src/components/frame/v5/pages/ContributorsPage/ContributorsPage.tsx
  src/components/frame/v5/pages/FollowersPage/FollowersPage.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Parse safe object when passing to Checkbox
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix additional border on checkbox
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: merged two pages into one
  src/components/frame/v5/pages/ColonyUsersPage/ColonyUsersPage.tsx
  src/components/frame/v5/pages/ColonyUsersPage/hooks.ts
  src/components/frame/v5/pages/ColonyUsersPage/index.ts
  src/components/frame/v5/pages/ColonyUsersPage/types.ts
  src/components/frame/v5/pages/ContributorsPage/ContributorsPage.tsx
  src/components/frame/v5/pages/ContributorsPage/index.ts
  src/components/frame/v5/pages/FollowersPage/hooks.ts
  src/components/frame/v5/pages/FollowersPage/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: added translation
  src/i18n/en.json
Due: none

prepare mobile filter component
  src/components/shared/Extensions/Accordion/Accordion.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionItem.tsx
  src/components/shared/Extensions/Accordion/types.ts
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/Accordion.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/Filter/FilterButton.tsx
  src/components/v5/shared/Filter/types.ts
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix ts errors
  src/components/v5/common/Filter/consts.ts
  src/stories/shared/FilterButton.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

moved search above filter options
  src/components/v5/common/Filter/Filter.tsx
Due: eslint --fix, prettier --write --ignore-unknown

update title in nested options
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/Accordion.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/components/v5/common/Filter/partials/ContributorTypeOptions.tsx
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/Modal/Modal.module.css
  src/components/v5/shared/SubNavigationItem/partials/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
