Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: multi-chain stats and refactoring
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: nix dev shell
  flake.nix
Due: none

Refactor: Update block ingestor docker config
  docker/colony-cdapp-dev-env-block-ingestor
  docker/files/block-ingestor/run.sh.base
Due: none

feat: use wagmi/cli to generate type-safe abis
  .eslintignore
  .gitignore
  docker/colony-cdapp-dev-env-orchestration.yaml
  package-lock.json
  package.json
  wagmi.config.ts
Due: none

feat: add method to get a CustomContract in ColonyManager
  .gitignore
  docker/colony-cdapp-dev-env-orchestration.yaml
  package-lock.json
  src/constants/abis.ts
  src/context/ColonyManager.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add proxy block ingestor docker config
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/proxy-block-ingestor/env.base
  docker/files/proxy-block-ingestor/run.sh.base
  package.json
Due: none

Fix: Update proxy block ingestor docker config
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-orchestration.yaml
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/proxy-block-ingestor/env.base
  docker/files/proxy-block-ingestor/run.sh.base
Due: none

Feat: Add multichain info to action
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/cacheDomainBalance/src/package-lock.json
  amplify/backend/function/cacheDomainBalance/src/package.json
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package.json
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/block-ingestor/env.base
  docker/files/proxy-block-ingestor/env.base
  package-lock.json
  package.json
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

build: hashes and package-lock shennanigans after rebase
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/updateContributorsWithReputation/src/package-lock.json
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-network
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  package-lock.json
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Get colony creation event
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add proxy colonies query and display list in UI
  amplify/backend/api/colonycdapp/schema/proxyColonies.graphql
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/proxyColonies.graphql
  src/graphql/generated.ts
  src/graphql/queries/proxyColonies.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: use the colony creation salt instead of calling the network to get the salt
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/v5/frame/ColonyHome/partials/TmpProxyColonyDeploy/TmpProxyColonyDeploy.tsx
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: e2e tests for mint token and fund transfer features
  playwright/e2e/manage-colony-funds.spec.ts
  playwright/e2e/simple-payment.spec.ts
  playwright/e2e/staged-payment.spec.ts
  playwright/models/extensions.ts
  playwright/models/manage-colony-funds.ts
  playwright/models/staged-payment.ts
  playwright/setup/index.ts
  playwright/utils/common.ts
Due: none

fix: rebase fix
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
  src/components/v5/common/ActionSidebar/partials/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

test: e2e tests for staged payment motion
  playwright/e2e/simple-payment.spec.ts
  playwright/e2e/staged-payment.spec.ts
  playwright/models/extensions.ts
  playwright/models/staged-payment.ts
  playwright/setup/index.ts
  playwright/utils/common.ts
Due: none

fix: get installed extension info from hook
  src/components/common/Extensions/ExtensionItem/hooks.ts
  src/components/frame/v5/pages/StreamingPaymentsPage/StreamingPaymentsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Display persisted draft agreement
  src/components/frame/v5/pages/AgreementsPage/AgreementsPage.tsx
  src/components/v5/common/ActionSidebar/partials/SaveDraftButton/SaveDraftButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: do not needlessly show the Change Vote button
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/v5/pages/ActivityPage/ActivityPage.tsx
  src/components/frame/v5/pages/AgreementsPage/partials/AgreementCard/AgreementCard.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks/useGetActionFormData.ts
  src/components/v5/common/ActionSidebar/hooks/useGetColonyAction.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionProvider/MotionProvider.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionProvider/hooks.ts
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionProvider/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/hooks.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/helpers.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/types.ts
  src/components/v5/common/ActionSidebar/partials/Motions/types.ts
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/MultiSigSidebar.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/ManageReputation/ManageReputation.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
  src/components/v5/common/CompletedAction/types.ts
  src/components/v5/frame/ColonyHome/ColonyHome.tsx
  src/context/ActionContext/ActionContext.ts
  src/context/ActionContext/ActionContextProvider.tsx
  src/graphql/generated.ts
  src/graphql/queries/motions.graphql
  src/graphql/queries/multiSig.graphql
  src/routes/ColonyRoute.tsx
  src/utils/actions.ts
  src/utils/web3/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
Due: none

feat: streaming payments extension page
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: date picker select year and custom time style
  src/components/v5/common/ActionSidebar/partials/TimeRow/TimeRow.tsx
  src/components/v5/common/ActionSidebar/partials/TimeRow/partials/TimeRowField/TimeRowField.tsx
  src/styles/main.css
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: background for selected calendar day
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: rebase
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

build: keep the abis in the repo
  .gitignore
  src/constants/abis.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: keep colony action table motion states up-to-date
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/hooks.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/context/GlobalTriggersContext/GlobalTriggersContext.ts
  src/context/GlobalTriggersContext/GlobalTriggersContextProvider.tsx
  src/graphql/generated.ts
  src/graphql/queries/actions.graphql
  src/hooks/useActivityFeed/useActivityFeed.ts
  src/routes/RootRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `estimateGasCost` tx options update logic
  src/redux/sagas/transactions/estimateGasCost.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `getGasPrices` account for `maxPriorityFeePerGas`
  src/redux/sagas/utils/getGasPrices.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: currency utils `tokenPrice` debug logging
  src/utils/currency/tokenPriceByAddress.ts
  src/utils/currency/tokenPriceByName.ts
  src/utils/currency/tokenPriceDataByName.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Updating usernav contact links
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Contact/Contact.tsx
  src/components/v5/common/FourOFourMessage/FourOFourMessage.tsx
  src/constants/externalUrls.ts
  src/context/AnalyticsContext/AnalyticsContextProvider.tsx
  src/context/FeaturebaseContext/FeaturebaseContext.ts
  src/context/FeaturebaseContext/FeaturebaseContextProvider.tsx
  src/hooks/useBeamer.ts
  src/hooks/useFeaturebase.ts
  src/routes/RootRoute.tsx
  src/typedefs/global.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add initializeFeaturebase function
  src/context/FeaturebaseContext/FeaturebaseContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: minimise scope and rename triggers context
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/hooks.ts
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/context/GlobalTriggersContext/ColonyTriggersContext.ts
  src/context/GlobalTriggersContext/ColonyTriggersContextProvider.tsx
  src/context/GlobalTriggersContext/GlobalTriggersContextProvider.tsx
  src/hooks/useActivityFeed/useActivityFeed.ts
  src/routes/ColonyRoute.tsx
  src/routes/RootRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Upgrade colony sdk and update createProxyColony overrides
  package-lock.json
  package.json
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Get colony creation event
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip: create proxy colony UI
  amplify/backend/api/colonycdapp/schema/proxyColonies.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use the colony creation salt instead of calling the network to get the salt
  src/graphql/generated.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add multichain info to action
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
