Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Added missing lambda config for getSafeTransactionStatus
  amplify/backend/backend-config.json
  amplify/backend/function/getSafeTransactionStatus/function-parameters.json
  amplify/backend/function/getSafeTransactionStatus/getSafeTransactionStatus-cloudformation-template.json
Due: none

Bump block-ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added reveal flow ui parts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/RevealInformationItem/RevealInformationItem.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/RevealInformationItem/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/RevealInformationItem/types.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/RevealInformationList.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/types.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/types.ts
  src/components/v5/shared/CardWithSections/CardWithSections.tsx
  src/components/v5/shared/CardWithSections/types.ts
  src/components/v5/shared/CardWithStatusText/CardWithStatusText.tsx
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/eye-closed.svg
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed localstorage item name, added motionBadge component to partials, added translations
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/consts.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/partials/MotionBadge/MotionBadge.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/partials/MotionBadge/consts.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/partials/MotionBadge/index.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/partials/MotionBadge/types.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/VotingStep/utils.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved ref to hook
  src/components/v5/common/Fields/TextareaBase/TextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Moved classname
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

motion finalize base
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/types.ts
  src/components/v5/shared/Button/PendingButton.tsx
  src/components/v5/shared/Button/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: added max prop to progressbar, moved logic to hooks, added reveal list
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/RevealStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/hooks.ts
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/partials/RevealInformationList.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/types.ts
  src/components/v5/common/AvatarUploader/partials/ProgressContent.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
  src/components/v5/shared/ProgressBar/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: types
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/RevealStep/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: types
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

display data in claim state
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/MotionSimplePayment.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed getNativeTokenByChainId funct crashing when network is Binance
  src/utils/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added conditional for force toggle in the streaming payment form
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/StreamingPaymentForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added force toggle to placeholder UI of streaming payments
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditure/StreamingPaymentForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields/StreamingPaymentFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed batch id being used instead of meta id in motion sagas
  src/redux/sagas/motions/expenditures/cancelStakedExpenditureMotion.ts
  src/redux/sagas/motions/expenditures/createStreamingPaymentMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump block ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Bump block-ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: 15567450 fields validation
  src/components/v5/common/ActionFormRow/ActionFormRow.tsx
  src/components/v5/common/ActionSidebar/partials/DefaultField/DefaultField.tsx
  src/images/icons/arrow-down-right.svg
Due: eslint --fix, prettier --write --ignore-unknown

fix: check caches is defined
  lib/pinata/PinataCache.ts
Due: none

fix: throw if cache not initialized
  lib/pinata/PinataCache.ts
Due: none

fix style
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

change tag to div and add correct stype
  src/components/v5/common/ActionSidebar/partials/motions/MotionSimplePayment/steps/FinalizeStep/FinalizeStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix styles
  src/components/v5/common/ActionFormRow/ActionFormRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

change token font when selected
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

hide transaction table title
  src/components/v5/common/ActionSidebar/partials/TransactionTable/TransactionTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chage color when value is selected
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes in rich text component
  src/components/v5/shared/RichText/RichText.tsx
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

update the content animation
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/partials/DescriptionField/DescriptionField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix styles
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.module.css
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add env vars necessary for notifications
  .env.example
Due: none

feat: add notifications service worker
  package.json
  src/workers/firebase-messaging-sw.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add webworker to tsconfig
  tsconfig.base.json
Due: none

feat: add on click to webworker
  src/workers/firebase-messaging-sw.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: tidy console logs
  src/workers/firebase-messaging-sw.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add notifications and its settings to profile
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

feat: add notification model to schema
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

feat: add notification settings model to schema
  amplify/backend/api/colonycdapp/schema.graphql
Due: none
