Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Avoid passing event to action sidebar toggle
  src/components/common/Extensions/ColonyNavigation/ColonyNavigation.tsx
  src/components/common/Extensions/ColonyNavigation/partials/SubMenu/SubMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: fix https endpoints, add custom env duration and discord notification
  .github/workflows/on-demand-env.yaml
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

cicd: fix discord id format
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

feat: add create colony url helper script
  scripts/create-colony-url.js
Due: none

Add: amplify local config post install script
  package.json
  scripts/generate-amplify-local-config.sh
Due: none

cicd: enable auto deploy from master branch
  .github/workflows/build-deploy.yaml
Due: none

cicd: add paths to ignore for auto build
  .github/workflows/build-deploy.yaml
Due: none

feat: change tooltip translations
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/AdvancedPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/BatchPaymentForm/BatchPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/CreateNewTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/EditTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/SplitPaymentForm.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

refactor: pr feedback
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/AdvancedPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/BatchPaymentForm/BatchPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/ManagePermissionsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/SplitPaymentForm.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

refactor: pr feedback
  src/i18n/en.json
Due: none

Added sidebar animations, added padding and border radius for ActionSidebar
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: page header
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/common/Fields/CardSelect/types.ts
  src/components/v5/frame/NavigationSidebar/NavigationSidebarContent.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarMainMenu/NavigationSidebarMainMenu.tsx
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/PageHeader.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/index.ts
  src/components/v5/frame/PageLayout/partials/PageHeader/types.ts
  src/components/v5/frame/PageLayout/partials/PageHeading/PageHeading.tsx
  src/components/v5/frame/PageLayout/partials/PageHeading/index.ts
  src/components/v5/frame/PageLayout/partials/PageHeading/types.ts
  src/components/v5/frame/PageLayout/types.ts
  src/components/v5/shared/Breadcrumbs/Breadcrumbs.tsx
  src/components/v5/shared/Breadcrumbs/index.ts
  src/components/v5/shared/Breadcrumbs/types.ts
  src/stories/frame/NavigationSidebar.stories.tsx
  src/stories/frame/PageHeader.stories.tsx
  src/stories/frame/PageLayout.stories.tsx
  src/stories/shared/Breadcrumbs.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Moved animation to a separate file
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/consts.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: mobile view
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: pr feedback
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/context/FilterContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Adjust input width on mount with default value
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: reworked filters
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
  src/components/frame/v5/pages/FundsPage/partials/Filter/index.ts
  src/components/frame/v5/pages/FundsPage/partials/Filter/types.ts
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/FundsTable.tsx
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/hooks.tsx
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/v5/common/Table/Table.tsx
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/shield-check.svg
Due: eslint --fix, prettier --write --ignore-unknown

Added key validation types
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
  src/components/frame/v5/pages/FundsPage/partials/Filter/types.ts
  src/types/utilities.ts
Due: eslint --fix, prettier --write --ignore-unknown

Change created in order, fix default colours
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/CreateDecisionForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/CreateNewTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/EditColonyDetailsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/EditTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/ManagePermissionsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/MintTokenForm/MintTokenForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/TransferFundsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/UnlockTokenForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/UpgradeColonyForm.tsx
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/shared/RichText/RichText.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add space in create new team
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/utils.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added regex comments
  src/components/v5/common/ActionSidebar/partials/AmountField/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix for linting
  src/components/v5/common/ActionSidebar/partials/AmountField/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Adjust getPermissionProofs for new sagas
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editDomain.ts
  src/redux/sagas/actions/managePermissions.ts
  src/redux/sagas/actions/manageReputation.ts
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/extensions/extensionEnable.ts
  src/redux/sagas/motions/claimAllMotionRewards.ts
  src/redux/sagas/motions/claimMotionRewards.ts
  src/redux/sagas/motions/escalateMotion.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/motions/stakeMotion.ts
  src/redux/sagas/utils/proofs.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: dont shift layout on input error
  src/components/v5/common/Fields/Input/Input.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add solid black variant to button
  src/components/v5/shared/Button/Button.module.css
  src/components/v5/shared/Button/Button.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add labels to input component
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add create colony name text
  src/i18n/en.json
Due: none

chore: remove obsolete css
  src/components/v5/common/CreateColonyWizard/StepColonyName.css
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.css
Due: prettier --write --ignore-unknown, stylelint --fix

feat: use wizard values when navigating
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update Button create colony button
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: dont shift layout on input pills
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/partials/InputPills.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add select token text
  src/i18n/en.json
Due: none

feat: add description css class
  src/styles/main.global.css
Due: prettier --write --ignore-unknown, stylelint --fix

feat: remove token branching logic
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
