Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: correctly show Safe transaction title
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/i18n/en-actions.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add root domain to safe items
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase renaming
  src/graphql/fragments/actions.graphql
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: members list key
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  src/components/v5/common/MembersList/MembersList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

wire: members popover data
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Members/MembersList/MembersListItem.tsx
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/CardWithBios/types.ts
  src/components/v5/shared/UserAvatar/types.ts
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserAvatarPopover/partials/consts.ts
  src/components/v5/shared/UserAvatarPopover/types.ts
  src/context/FilterContext.tsx
  src/graphql/fragments/contributors.graphql
  src/graphql/generated.ts
  src/graphql/queries/contributors.graphql
  src/hooks/index.ts
  src/hooks/members/types.ts
  src/hooks/members/useContributorBreakdown.ts
  src/i18n/en.json
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

update: types
  scripts/seed-contributors.js
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.tsx
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
  src/components/v5/common/Pills/types.ts
  src/components/v5/shared/TitleLabel/TitleLabel.tsx
  src/components/v5/shared/TitleLabel/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: all userAvatarPopover components to user Contributor
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/hooks.ts
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/frame/v5/pages/VerifiedPage/hooks.ts
  src/components/frame/v5/pages/VerifiedPage/partials/Table/Table.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/Table/hooks.ts
  src/components/frame/v5/pages/VerifiedPage/partials/Table/types.ts
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/types.ts
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/UserAvatar/types.ts
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/graphql/generated.ts
  src/graphql/queries/contributors.graphql
  src/hooks/members/useContributorBreakdown.ts
  src/hooks/useColonySubscription.ts
  src/redux/sagas/actions/manageVerifiedRecipients.ts
  src/stories/shared/CardWithBios.stories.tsx
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add missing i18n messages for cancelling expenditure
  src/i18n/en.json
Due: none

Feat: Add claim delay field to Expenditure Form
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
  src/components/common/Expenditures/ExpenditureForm/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Update expenditure claim delay in editExpenditure saga
  src/redux/sagas/expenditures/editExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Set expenditure claim delay in createExpenditure saga
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: ui bugs
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
  src/components/common/Extensions/UserNavigation/partials/Token/Token.module.css
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/v5/common/Pills/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/v5/shared/Button/Button.tsx
  src/components/v5/shared/Button/types.ts
  src/components/v5/shared/Modal/Modal.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: assume fromDomain is correctly populated
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix recipient value and tiptap container height
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionsContent/partials/UserSelect/hooks.ts
  src/components/v5/shared/RichText/RichText.tsx
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add claimExpenditure saga
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/claimExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: claimExpenditure saga success action
  src/redux/sagas/expenditures/claimExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: missing i18n messages
  src/i18n/en.json
Due: none

fix issue with duplicated index
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/v5/common/ActionsContent/partials/TransactionItem/TransactionItem.tsx
  src/components/v5/common/ActionsContent/partials/TransactionItem/types.ts
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/hooks.ts
  src/components/v5/common/ActionsContent/partials/TransactionTable/types.ts
  src/components/v5/common/ActionsContent/partials/UserSelect/hooks.ts
  src/components/v5/shared/RichText/hooks.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

update max annotation number
  src/components/v5/shared/RichText/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

add scrollbar to action sidebar
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add condition
  src/components/v5/shared/RichText/RichText.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add `finalizedAt` field to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Define AWSTimestamp in codegen.js config
  codegen.js
Due: none

fix: spinner's loading state
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/IncorporationPage/IncorporationPage.tsx
  src/components/frame/Extensions/pages/IntegrationsPage/IntegrationsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/frame/Extensions/pages/PermissionsPage/PermissionsPage.tsx
  src/components/frame/Extensions/pages/ReputationPage/ReputationPage.tsx
  src/components/frame/v5/pages/ColonyUsersPage/ColonyUsersPage.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/UserPreferencesPage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/v5/shared/Spinner/Spinner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

wire: total number to member page
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/frame/v5/pages/VerifiedPage/hooks.ts
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/shared/Spinner/types.ts
  src/context/MemberContext.tsx
  src/graphql/generated.ts
  src/hooks/members/useAllMembers.ts
  src/utils/members.ts
Due: eslint --fix, prettier --write --ignore-unknown

edit: seed contributor file to take args
  scripts/seed-contributors.js
Due: none

fix: cloud formation template on getTotalMemberCount lambda
  amplify/backend/function/getTotalMemberCount/getTotalMemberCount-cloudformation-template.json
Due: none

fix: remove redundant lambda layer config
  amplify/backend/function/getTotalMemberCount/function-parameters.json
  amplify/backend/function/getTotalMemberCount/getTotalMemberCount-cloudformation-template.json
Due: none

Link parameters lambda layer to fetchExpenditureBalances
  amplify/backend/function/fetchExpenditureBalances/fetchExpenditureBalances-cloudformation-template.json
  amplify/backend/function/fetchExpenditureBalances/function-parameters.json
Due: none

Added makeArbitrarytransactions motion icon
  src/components/shared/DetailsWidget/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Ported over initiateSafeTransactionMotion saga
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
  src/redux/actionTypes.ts
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated motion components and logic with ControlSafeDialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump block-ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Updated getDevZodiacBridgeAddress
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: how we determined contributor/member
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/getTotalMemberCount/src/utils.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/utils.js
  src/components/common/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/components/common/Dialogs/ManageWhitelistDialog/helpers.ts
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/frame/v5/pages/VerifiedPage/hooks.ts
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
  src/graphql/fragments/contributors.graphql
  src/graphql/generated.ts
  src/hooks/members/useAllMembers.ts
  src/hooks/members/useColonyContributors.ts
  src/hooks/members/useMemberFilters.ts
  src/hooks/members/utils.ts
  src/hooks/useColonySubscription.ts
  src/redux/sagas/actions/manageVerifiedRecipients.ts
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/types/actions/colonyActions.ts
  src/utils/lodash.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove redirect to /404 from expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: ExpenditureClaimButton component
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/ExpenditureClaimButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/index.ts
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
