Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: enable disable proxy colony via reputation
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/ManageSupportedChainsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/hooks.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/redux/actionTypes.ts
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/proxyColonies/enableDisableProxyColony.ts
  src/redux/sagas/motions/proxyColonies/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add finalization action info to multisig and motions, and add a reference to the action an action finalized
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Re-enable deployed proxy colony
  src/components/v5/common/ActionSidebar/hooks/useFilterChainSelectField.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/hooks.ts
  src/hooks/proxyColonies/useDeployedChainIds.ts
  src/redux/actionTypes.ts
  src/redux/sagas/proxyColonies/enableProxyColony.ts
  src/redux/sagas/proxyColonies/index.ts
  src/redux/sagas/utils/metadataDelta.ts
  src/redux/types/actions/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Changes for TokenSearchSelect after review
  src/components/v5/common/ActionSidebar/partials/TokenSelect/partials/TokenSearchSelect/TokenSearchSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TokenSelect/partials/TokenSearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Move targetChainId up to the top level of colonyAction
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/v5/common/CompletedAction/partials/ManageSupportedChain/ManageSupportedChain.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add getMultiSigMotionParams util
  docker/colony-cdapp-dev-env-block-ingestor
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  src/components/v5/common/ActionSidebar/utils.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/redux/sagas/motions/proxyColonies/createProxyColony.ts
  src/redux/sagas/motions/proxyColonies/enableDisableProxyColony.ts
  src/redux/sagas/proxyColonies/createProxyColony.ts
  src/redux/sagas/proxyColonies/disableProxyColony.ts
  src/redux/sagas/proxyColonies/enableProxyColony.ts
  src/redux/sagas/utils/getMultiSigMotionParams.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add support for enabling and disable proxy colonies via multi-sig
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/ManageSupportedChainsForm/ManageSupportedChainsForm.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/redux/sagas/motions/proxyColonies/enableDisableProxyColony.ts
  src/redux/types/actions/motion.ts
  src/utils/multiSig/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Codegen after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Remove unused var from docker and unused supported chains
  docker/colony-cdapp-dev-env-proxy-block-ingestor
  docker/files/proxy-block-ingestor/run.sh.base
  src/constants/proxyColonies.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add rate limited notifications queue
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: refactor
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/types.ts
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/types.ts
  src/components/v5/common/Modals/InviteMembersModal/InviteMemberModal.tsx
  src/components/v5/common/Modals/InviteMembersModal/partials/ModalContent.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/PageHeader.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: manage colony tokens feature
  playwright/e2e/manage-colony-funds.spec.ts
  playwright/models/manage-colony-funds.ts
  src/components/v5/common/ActionSidebar/partials/TeamColorField/TeamColorField.tsx
  src/components/v5/common/ActionSidebar/partials/TokenSelect/TokenSelect.tsx
  src/components/v5/common/ActionSidebar/partials/TokenSelect/partials/TokenSearchSelect/TokenSearchSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update rate limiting to handle retries and reduce number of requests per interval
  docker/colony-cdapp-dev-env-block-ingestor
  src/context/Notifications/NotificationsDataContext/NotificationsDataContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Reduce ganache[0] payout, hopefully making execution consistent
  scripts/create-data.js
Due: none

Update: `@web3-onboard` to latest release
  package-lock.json
  package.json
  src/redux/sagas/wallet/onboard.ts
  src/styles/main.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: `WalletConnectedTopMenu` manage embedded wallet button
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update package log after rebase
  package-lock.json
Due: none

Add: `UserNavigation` show debug dynamic wallet controls
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `getGasPrices` dynamic transport RPC call
  src/redux/sagas/utils/getGasPrices.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: introduce `dynamic` wallet framework
  package-lock.json
  package.json
  src/Entry.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/context/AppContext/AppContextProvider.tsx
  src/images/icons/hardhat.svg
  src/redux/sagas/setupUserContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update and fix package/package lock
  package-lock.json
  package.json
Due: none

Add: dynamic env file var
  .env.example
Due: none

Fix: `AppContextProvider` types after @web3-onboard updates
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Remove: un-needed `isFullWallet` checks
  src/auth/index.ts
  src/redux/sagas/messages/index.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Dockerfile add required runtimes for the new deps
  Dockerfile
Due: none

Fix: 'estimateGasCost` after rebase
  src/redux/sagas/transactions/estimateGasCost.ts
Due: eslint --fix, prettier --write --ignore-unknown

Try: Disable Dynamic library shadow DOM
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: `Entry` initialize dynamic wallet context
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update phospor icons to match types
  package-lock.json
Due: none

Refactor: currency utils `tokenPrice` debug logging
  src/utils/currency/tokenPriceByAddress.ts
  src/utils/currency/tokenPriceByName.ts
  src/utils/currency/tokenPriceDataByName.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `estimateGasCost` tx options update logic
  src/redux/sagas/transactions/estimateGasCost.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: `Entry` introduce top level app dark mode
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: show embedded wallet controls as long as one connected
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Also do not close the sidebar when clicking on other Dynamic modals
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

WIP: refactor `AppContext` to support dynamic wallets
  src/context/AppContext/AppContextProvider.tsx
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Do not close action sidebar when clicking within dynamic wallet modal
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: enable dynamic logs on non-local environments
  src/Entry.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `AppContextProvider` handle wallet network change
  src/Entry.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Revert "Fix: Also do not close the sidebar when clicking on other Dynamic modals"
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown
