Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fix: duplicate contributor (and speed up)
  amplify/backend/function/getMembersForColony/src/graphql.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getMembersForColony/src/reputation.js
Due: none

add: roles to user model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add as contributor if user has permissions
  amplify/backend/function/getMembersForColony/src/graphql.js
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

add: permissions to watchers copy
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
  src/components/common/Members/WatchersSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: default to root domain in members query
  src/components/common/ColonyHome/ColonyMembersWidget/ColonyMembersWidget.tsx
  src/components/common/Members/Members.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Split loadingState in AddExistingSafeDialog into 2 more props
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/components/common/ColonyHome/ColonyNavigation/NavItem.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/SelectedToken.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/TokenSymbol.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe.tsx
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/AvatarDropdown/ItemContainer.tsx
  src/components/frame/RouteLayouts/HistoryNavigation.tsx
  src/components/frame/RouteLayouts/index.ts
  src/components/frame/TokenActivation/StakesTab/ClaimAllButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Moved CheckSafe to its own folder
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.css
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/helpers.ts
  src/components/common/Dialogs/AddExistingSafeDialog/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Added copy icon
  src/images/icons.json
  src/images/icons/copy.svg
Due: none

Added useClipboardCopy hook
  src/components/shared/ClipboardCopy/ClipboardCopy.tsx
  src/hooks/index.ts
  src/hooks/useClipboardCopy.ts
Due: eslint --fix, prettier --write --ignore-unknown

Ported over ConnectSafe step on Add Safe dialog
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.css
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/CopyableData/CopyableData.css
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/CopyableData/CopyableData.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/CopyableData/CopyableData.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/CopyableData/indext.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/types.ts
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Updated import in ConnectSafe
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed submit button on 2nd step being enabled initially
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

pass selected parten filter to pill component
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/TableFiltering/TableFiltering.tsx
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/i18n/en.json
  src/stories/common/TableFiltering.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

added other filters options
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

check all filter types
  src/components/v5/common/Filter/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: create constant for max display name
  src/components/common/CreateColonyWizard/validation.ts
  src/components/common/Dialogs/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: limit colony name length on creation
  src/components/common/CreateColonyWizard/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: limit colony name input on creation
  src/components/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove obsolete input validation
  src/components/common/CreateColonyWizard/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

update filter options
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

update: colony-js
  package-lock.json
  package.json
Due: none

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

handle selecting multipe checkboxes
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/Accordion.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/components/v5/common/Filter/partials/ContributorTypeOptions.tsx
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/hooks.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Port RemoveSafeDialog
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.css
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.css.d.ts
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/common/Dialogs/RemoveSafeDialog/index.ts
  src/components/common/Dialogs/index.ts
  src/components/common/NewActionButton/wizardConfig.ts
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.css
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.css.d.ts
  src/components/shared/Fields/Checkbox/HookForm/Checkbox.tsx
  src/constants/index.ts
  src/styles/main.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Use classnames
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Enable button if form is dirty
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Prettier fix
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update import
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

code improvement
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/partials/Accordion.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add helper for getting payload
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

update pills
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/TableFiltering/TableFiltering.module.css
  src/components/v5/common/TableFiltering/TableFiltering.tsx
  src/components/v5/common/TableFiltering/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

update
  src/components/v5/common/Filter/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Ported ConfirmSafe step over
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/ConfirmSafe.css
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/ConfirmSafe.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/ConfirmSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/index.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.css
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.css.d.ts
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Ported over manageExistingSafes saga
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/helpers/getColonyMetadataChanges.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/helpers.ts
  src/components/common/Dialogs/AddExistingSafeDialog/types.ts
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/i18n/en.json
  src/redux/sagas/actions/index.ts
  src/redux/sagas/actions/manageExistingSafes.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/sagas/utils/metadataChangelog.ts
  src/redux/types/actions/colonyActions.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added verified page with table
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/frame/v5/pages/VerifiedPage/hooks.ts
  src/components/frame/v5/pages/VerifiedPage/partials/Table/Table.module.css
  src/components/frame/v5/pages/VerifiedPage/partials/Table/Table.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/Table/hooks.ts
  src/components/frame/v5/pages/VerifiedPage/partials/Table/index.ts
  src/components/frame/v5/pages/VerifiedPage/partials/Table/types.ts
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.module.css
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/index.ts
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/types.ts
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/common/EmptyContent/EmptyContent.tsx
  src/components/v5/common/EmptyContent/types.ts
  src/components/v5/common/Filter/Filter.tsx
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/arrow-down.svg
  src/routes/Routes.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added verified page with table
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

temporary fix
  src/stories/common/TableFiltering.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add handleSafeChange placeholder
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

port: basic placeholder transaction type selector
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix
