Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Recreate package-lock
  Dockerfile
  package-lock.json
Due: none

fixes after rebase
  src/components/common/Extensions/ImageCarousel/hooks.ts
  src/components/common/Extensions/ImageCarousel/types.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/VerifiedTable/hooks.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/StagedPaymentStep/StagedPaymentStep.tsx
  src/components/v5/common/TokensModal/TokensModal.tsx
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after rebase
  package-lock.json
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/StagedPaymentStep/partials/MilestoneReleaseModal/MilestoneReleaseModal.tsx
  src/components/v5/shared/Modal/types.ts
  src/stories/common/UserPermissionsBadge.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes after rebase
  src/components/common/Extensions/ImageCarousel/hooks.ts
  src/components/common/Extensions/ImageCarousel/types.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/VerifiedTable/hooks.tsx
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after rebase
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fixes after rebase
  src/components/frame/Extensions/pages/Extensions/ExtensionDetailsPage/partials/ExtensionDetails/ExtensionDetails.tsx
  src/styles/main.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

revert config
  amplify/backend/backend-config.json
Due: none

Fix: Active tab background color
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: modal buttons, truncate milestone name
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/StagedPaymentStep/partials/MilestoneItem/MilestoneItem.tsx
  src/graphql/fragments/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: added staged extension page
  src/components/common/Extensions/SupportingDocuments/consts.ts
  src/components/frame/Extensions/pages/Extensions/ExtensionDetailsPage/ExtensionDetailsPageContent/consts.ts
  src/components/frame/Extensions/pages/Extensions/ExtensionDetailsPage/partials/ExtensionDetails/UninstallButton.tsx
  src/components/icons/ExtensionStagedPaymentsIcon.tsx
  src/constants/extensions.ts
  src/constants/externalUrls.ts
  src/images/assets/extensions/staged-hero.png
  src/images/assets/extensions/staged-interface.png
Due: eslint --fix, prettier --write --ignore-unknown

Fix app crashing due to bad array access
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: adjust regex for matching table names to capture full string and avoid false matches
  scripts/aws-to-local-dynamodb.js
Due: none

Fix reputation mining cycle
  docker/files/network/run.forked.sh
Due: none

feat: added cancel to staged payments
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/CancelModal/CancelModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable submit button after canceling
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/CancelModal/CancelModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add client query for getting drains history
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Return drains history for all liquidation addresses found
  amplify/backend/function/bridgeXYZQuery/src/handlers/getLiquidations.js
Due: none

WIP: Rough wiring of drains history data
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/FiatTransfersTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Try: GraphQL schema in multiple files
  amplify/backend/api/colonycdapp/schema/cryptoToFiat.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
Due: none

Feat: Improve error handling/logging in bridge lambdas
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/src/handlers/getDrainsHistory.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
Due: none

Schema updates: remove duplicated types, add separate file for bridge-related types
  amplify/backend/api/colonycdapp/schema/bridge.graphql
  amplify/backend/api/colonycdapp/schema/cryptoToFiat.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  src/graphql/fragments/bridgeXYZ.graphql
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Add error handling to getLiquidationAddresses util
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/utils.js
Due: none

Refactor: return empty array instead of throwing an error when no liquidation addresses found
  amplify/backend/function/bridgeXYZQuery/src/handlers/getDrainsHistory.js
Due: none

Fix: issue with EUR bank account creation
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/utils.js
Due: none

Feat: Complete wiring of drains history table
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/FiatTransfersTable.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/hooks.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/mockData.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/types.ts
  src/components/v5/frame/ColonyHome/partials/TokenBalance/TokenBalance.tsx
  src/constants/currency.ts
  src/utils/currency/config.ts
  src/utils/currency/location.ts
  src/utils/getFormattedAmount.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: checkKyc handler to get liquidation addresses from bridge instead of DB
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

Fix: Show correct stake status for expenditure related motions
  src/components/common/Extensions/UserHub/partials/StakesTab/helpers.ts
  src/graphql/fragments/stake.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Update liquidation address when updating bank details
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

Refactor: Delete bridgeXYZQuery lambda
  amplify/backend/api/colonycdapp/schema/bridge.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/bridgeXYZMutation/src/handlers/getDrainsHistory.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/getFees.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  amplify/backend/function/bridgeXYZQuery/amplify.state
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/custom-policies.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/src/event.json
  amplify/backend/function/bridgeXYZQuery/src/graphql.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
  amplify/backend/function/bridgeXYZQuery/src/utils.js
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Improve liquidation address existance check, return it from checkKyc handler
  amplify/backend/api/colonycdapp/schema/bridge.graphql
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  src/components/frame/v5/pages/UserCryptoToFiatPage/context/CryptoToFiatContext.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/context/CryptoToFiatContextProvider.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/AutomaticDeposits.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/AutomaticDeposits/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/BankDetailsDescription.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescription/index.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/partials/BankDetailsDescriptionComponent/index.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/types.ts
  src/graphql/fragments/bridgeXYZ.graphql
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Create liquidation address when updating account if currency changed
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

Feat: Improve validation when updating US accounts
  amplify/backend/function/bridgeXYZMutation/src/handlers/updateExternalAccount.js
Due: none

Fix: Liquidation address swapping
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add bridgeGetUserLiquidationAddress query
  amplify/backend/api/colonycdapp/schema/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/getUserLiquidationAddress.js
  amplify/backend/function/bridgeXYZMutation/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: checkKyc handler import path
  amplify/backend/function/bridgeXYZMutation/src/index.js
Due: none

fix: use proper styling for tx paging end msg
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: actually clear Apollo cache on logout
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update colonyjs version to snapshot, update commit hash
  package-lock.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
