Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Fix: Overlapping timeframe keys
  amplify/backend/function/fetchDomainBalance/src/services/actions.js
  amplify/backend/function/fetchDomainBalance/src/utils.js
  src/components/v5/frame/ColonyHome/partials/TotalInOutBalance/utils.ts
  src/context/TotalInOutBalanceChartContext/TotalInOutBalanceChartContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Notifications do not load when switching wallets
  docker/colony-cdapp-dev-env-auth-proxy
Due: none

Chore: update auth proxy docker commit hash
  docker/colony-cdapp-dev-env-auth-proxy
Due: none

Chore: update generated and block-ingestor hash post-rebase
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Add streaming payment extension config post-rebase
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: dismiss the lingering tooltips
  src/components/v5/frame/ColonyHome/partials/DashboardHeader/partials/ColonyLinks/ColonyLinks.tsx
  src/components/v5/frame/ColonyHome/partials/DashboardHeader/partials/ColonyLinks/helpers.ts
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/hooks/useCopyToClipboard.ts
  src/hooks/useOnElementScroll.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: do not clear the entire form values
  src/components/shared/Fields/Form/Form.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionFormProps.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use wagmi/cli to generate type-safe abis
  .eslintignore
  .gitignore
  docker/colony-cdapp-dev-env-orchestration.yaml
  package-lock.json
  package.json
  wagmi.config.ts
Due: none

fix: update colony sdk to fix types
  package-lock.json
  package.json
Due: none

Schema update: Add creatorAddress to StreamingPayment, make it @searchable
  amplify/backend/backend-config.json
Due: none

feat: streaming payments extension page
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsSidePanel/UninstallButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: datepicker with time
  src/components/v5/common/ActionSidebar/partials/TimeRow/TimeRow.tsx
  src/components/v5/common/ActionSidebar/partials/TimeRow/consts.ts
  src/components/v5/common/ActionSidebar/partials/TimeRow/partials/TimeRowField/TimeRowField.tsx
  src/components/v5/common/ActionSidebar/partials/TimeRow/partials/TimeRowField/consts.ts
  src/components/v5/common/ActionSidebar/partials/TimeRow/partials/TimeRowField/types.ts
  src/components/v5/common/ActionSidebar/partials/TimeRow/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/common/Fields/CardSelect/types.ts
  src/components/v5/common/Fields/InputBase/InputBase.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/DatepickerWithTime.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerCustomHeader/DatepickerCustomHeader.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerCustomHeader/types.ts
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerCustomInput/DatepickerCustomInput.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerCustomTimeInput/DatepickerCustomTimeInput.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerCustomTimeInput/types.ts
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/DatepickerTimePicker.module.css
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/DatepickerTimePicker.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/types.ts
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/types.ts
  src/components/v5/common/Fields/datepickers/common/Datepicker.module.css
  src/components/v5/common/Fields/datepickers/common/consts.ts
  src/i18n/en.json
  src/stories/common/DatepickerWithTime.stories.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: streaming payment form
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyActionsTable/partials/ActionDescription/ActionDescription.tsx
  src/components/common/ColonyActionsTable/partials/ActionsTableFilters/partials/filters/ActionTypeFilters/consts.ts
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
  src/components/common/Extensions/SpecialInput/SpecialInputBase.tsx
  src/components/common/Extensions/SpecialInput/types.ts
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/common/ActionSidebar/hooks/permissions/helpers.ts
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
  src/components/v5/common/ActionSidebar/hooks/useSidebarActionForm.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/ActionSidebarDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/StreamingPaymentDescription.tsx
  src/components/v5/common/ActionSidebar/partials/AmountPerPeriodRow/AmountPerPeriodRow.tsx
  src/components/v5/common/ActionSidebar/partials/AmountPerPeriodRow/consts.ts
  src/components/v5/common/ActionSidebar/partials/AmountPerPeriodRow/partials/AmountPerPeriodRowField/AmountPerPeriodRowField.tsx
  src/components/v5/common/ActionSidebar/partials/AmountPerPeriodRow/partials/AmountPerPeriodRowField/types.ts
  src/components/v5/common/ActionSidebar/partials/AmountPerPeriodRow/types.ts
  src/components/v5/common/ActionSidebar/partials/TimeRow/TimeRow.tsx
  src/components/v5/common/ActionSidebar/partials/TimeRow/consts.ts
  src/components/v5/common/ActionSidebar/partials/TimeRow/partials/TimeRowField/TimeRowField.tsx
  src/components/v5/common/ActionSidebar/partials/TimeRow/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/StreamingPaymentForm/StreamingPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/StreamingPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/StreamingPaymentForm/utils.ts
  src/components/v5/common/ActionSidebar/partials/hooks.ts
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/DatepickerWithTime.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/DatepickerTimePicker.module.css
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/DatepickerTimePicker.tsx
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/partials/DatepickerTimePicker/types.ts
  src/components/v5/common/Fields/datepickers/DatepickerWithTime/utils.ts
  src/components/v5/shared/ActionTypeNotification/ActionTypeNotification.tsx
  src/constants/actions.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/utils/validation/amountGreaterThanValidation.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: C2F address adjustment in createStreamingPayment saga
  src/redux/sagas/expenditures/createStreamingPayment.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Set action title when creating streaming payment
  src/redux/sagas/expenditures/createStreamingPayment.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: user hub updated with streams
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.styles.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/AvailableToClaimCounter/AvailableToClaimCounter.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/AvailableToClaimCounter/types.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/BalanceInfoRow/BalanceInfoRow.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/BalanceInfoRow/types.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/StreamsInfoRow/StreamsInfoRow.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/StreamsInfoRow/hooks.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/StreamsInfoRow/types.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/StreamsInfoRow/utils.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/types.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/types.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/utils.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation/types.ts
  src/components/common/Extensions/UserHub/partials/UserHubInfoSection/UserHubInfoSection.tsx
  src/components/common/Extensions/UserHub/partials/UserHubInfoSection/types.ts
  src/components/shared/Extensions/Tooltip/Tooltip.styles.ts
  src/components/v5/common/ActionSidebar/hooks/useGetStreamingPaymentData.ts
  src/components/v5/common/CompletedAction/partials/StreamingPayment/partials/AvailableToClaimCounter/AvailableToClaimCounter.tsx
  src/components/v5/common/CompletedAction/partials/StreamingPayment/partials/AvailableToClaimCounter/types.ts
  src/components/v5/common/CompletedAction/partials/StreamingPayment/partials/StreamingPaymentWidget/StreamingPaymentWidget.tsx
  src/components/v5/shared/Button/TextButton.tsx
  src/components/v5/shared/Button/types.ts
  src/components/v5/shared/NotificationBanner/NotificationBanner.tsx
  src/components/v5/shared/NotificationBanner/types.ts
  src/graphql/generated.ts
  src/graphql/queries/streamingPayments.graphql
  src/types/streamingPayments.ts
  src/utils/streamingPayments.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: post-rebase fixes
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/v5/common/ActionSidebar/partials/forms/StreamingPaymentForm/StreamingPaymentForm.tsx
  src/components/v5/common/CompletedAction/partials/StreamingPayment/StreamingPayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add streaming payments subpage
  src/components/frame/Extensions/layouts/consts.ts
  src/components/frame/v5/pages/StreamingPaymentsPage/StreamingPaymentsPage.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes after rebase
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.styles.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/utils.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/types.ts
  src/components/v5/common/CompletedAction/partials/StreamingPayment/StreamingPayment.tsx
  src/components/v5/common/CompletedAction/partials/rows/Amount.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after rebase
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/BalanceInfoRow/BalanceInfoRow.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/BalanceInfoRow/types.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/utils.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation/TotalReputation.tsx
  src/components/v5/common/CompletedAction/partials/StreamingPayment/partials/CreatedWithPermissionsInfo/CreatedWithPermissionsInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Fixes for fetchDomainBalance lambda edge cases
  amplify/backend/function/fetchDomainBalance/src/config/networkConfig.js
  amplify/backend/function/fetchDomainBalance/src/index.js
  amplify/backend/function/fetchDomainBalance/src/services/actions.js
  amplify/backend/function/fetchDomainBalance/src/utils.js
Due: none

fix: textarea height issue
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/AddTransactionModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Remove: `chromatic` build action
  .github/workflows/chromatic.yml
Due: none

fix: do not allow joined colonies to move on sidebar scroll
  src/components/v5/shared/Navigation/ColonySwitcher/partials/JoinedColoniesPopover/JoinedColoniesPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: streaming payment redo
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/CompletedAction/partials/StreamingPayment/StreamingPayment.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update expenditure staking logic
  src/components/shared/Fields/Form/ActionForm.tsx
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/PaymentBuilderForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/SplitPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/StagedPaymentForm/StagedPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/StagedPaymentForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: mount the modal but conditionally make it visible
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove nextFetch policy to prevent app from calling useGetFullColonyByNameQuery again
  src/routes/ColonyRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

build: remove usage of react-spring
  src/components/v5/frame/ColonyHome/partials/TotalInOutBalance/partials/ChartCustomBarLabel.tsx
  src/components/v5/frame/ColonyHome/partials/TotalInOutBalance/partials/ChartCustomXAxisStep.tsx
  src/components/v5/frame/ColonyHome/partials/TotalInOutBalance/partials/ChartCustomYAxisStep.tsx
  vite.config.mts
Due: eslint --fix, prettier --write --ignore-unknown

fix: throttle the scroll event and fix copied URL tooltip
  src/components/v5/frame/ColonyHome/partials/DashboardHeader/partials/ColonyLinks/ColonyLinks.tsx
  src/hooks/useOnElementScroll.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: do not clear user changed values on rerender
  src/components/shared/Fields/Form/Form.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add logic to conditionally render an action's redo option
  src/components/common/ColonyActionsTable/ColonyActionsTable.tsx
  src/components/common/ColonyActionsTable/RecentActivityTable.tsx
  src/components/common/ColonyActionsTable/hooks/useActionsTableProps.tsx
  src/components/common/ColonyActionsTable/hooks/useBuildRedoEnabledActionsMap.ts
  src/components/common/ColonyActionsTable/hooks/useGetMenuProps.tsx
  src/components/common/ColonyActionsTable/hooks/useHandleRedoAction.ts
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: bring back action table item redo functionality
  src/components/common/ColonyActionsTable/ColonyActionsTable.tsx
  src/components/common/ColonyActionsTable/RecentActivityTable.tsx
  src/components/common/ColonyActionsTable/hooks/useRedoAction.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add missing redo handler for reputation actions
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManageReputationDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageReputationForm/partials/ManageReputationTable/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManageReputationForm/utils.ts
  src/components/v5/common/CompletedAction/partials/ManageReputation/ManageReputation.tsx
  src/utils/numbers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use new id
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/components/v5/common/ActionSidebar/partials/forms/StreamingPaymentForm/hooks.ts
  src/components/v5/common/CompletedAction/partials/StreamingPayment/StreamingPayment.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Advanced payments crashing due to unsafe array access
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: add e2e tests for final step of create colony flow
  playwright/e2e/create-colony.spec.ts
  playwright/utils/create-colony.ts
Due: none

Fix: Split payment should not send multiple notifications
  amplify/backend/api/colonycdapp/schema/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown
