Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: move codegen outside docker container
  docker/colony-cdapp-dev-env-amplify
  docker/files/amplify/run.sh.base
  scripts/dev.sh
Due: none

feat: expand gitignore for generated resolvers
  .gitignore
  amplify/backend/api/colonycdapp/resolvers/README.md
Due: none

fix: stop codegen running too quickly
  scripts/dev.sh
Due: none

feat: update healthcheck to wait for opensearch
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none

remove unnecesary walletAddress
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove duplicated util: nonNullable
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/utils/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Show next reputation update time in user hub
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/utils.ts
  src/graphql/generated.ts
  src/graphql/queries/miningCycle.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix searching team by user name
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

revert changes
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: pause codegen until amplify container is up
  codegen.js
Due: none

fix after CR
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: codegen now watches schema and files
  codegen.js
Due: none

feat: use new dev script
  scripts/dev.sh
Due: none

refactor: remove unused docker volume
  docker/colony-cdapp-dev-env-orchestration.yaml
Due: none

Change reputation decay fallback value
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation/PendingReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: less messy codegen startup messages
  codegen.js
Due: none

feat: add test @searchable directive
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Fix rebase conflicts
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add missing lowercase call
  src/components/v5/shared/SearchSelect/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add JAVE_HOME var
  docker/colony-cdapp-dev-env-base
Due: none

feat: setup docker so amplify can run opensearch
  docker/colony-cdapp-dev-env-amplify
Due: none

refactor: move python version to base docker image
  docker/colony-cdapp-dev-env-amplify
  docker/colony-cdapp-dev-env-base
Due: none

Clean up branch and add comments in the wizard sidebar components
  src/components/frame/v5/pages/CreateUserPage/index.ts
  src/context/WizardContext.tsx
  src/routes/Routes.tsx
  src/routes/WizardRoute/WizardRoute.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebar.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarItem.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarItemFlowLine.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarSubItem.tsx
  src/routes/WizardRoute/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated graphql generated file after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added ColonyCreationFlow context to handle step display
  src/components/v5/common/CreateUserForm/validation.ts
  src/routes/Routes.tsx
  src/routes/UserRegistrationRoute/CreateYourColonyLayout.tsx
  src/routes/UserRegistrationRoute/CreateYourColonySidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add closing curly bracket
  src/graphql/queries/actions.graphql
Due: prettier --write --ignore-unknown

Added colony creation steps to create your colony sidebar
  src/components/shared/Icon/Icon.tsx
  src/routes/UserRegistrationRoute/CreateYourColonySidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove incorrect link to schema
  codegen.js
Due: none

Fixed errors left by rebase
  src/components/v5/common/Fields/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unneeded square brackets
  codegen.js
Due: none

Readded reverted change from rebase to username label
  src/i18n/en.json
Due: none

Added validation to CreateUserForm
  src/components/v5/common/CreateUserForm/CreateUserForm.tsx
  src/components/v5/common/CreateUserForm/index.ts
  src/components/v5/common/CreateUserForm/validation.ts
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/partials/CharacterNumbers.tsx
  src/components/v5/common/Fields/Input/partials/InputPills.tsx
  src/components/v5/common/Fields/Input/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Factor out PropTypes
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/ColonySwitcherContent.tsx
  src/components/frame/Extensions/layouts/partials/ColonySwitcherContent/types.ts
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/index.ts
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated safe control feature with new title prop
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Reuse main layout for user registration flow
  src/components/frame/v5/pages/CreateUserPage/CreateUserPage.tsx
  src/components/shared/Wizard/withWizard.tsx
  src/context/WizardContext.tsx
  src/routes/WizardRoute/WizardLayout.tsx
  src/routes/WizardRoute/WizardRoute.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarItem.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarItemFlowLine.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarSubItem.tsx
  src/routes/WizardRoute/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: commit generated after rebase
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Made colony icon on wizard sidebar a link to landing page
  src/routes/WizardRoute/WizardSidebar/WizardSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Renamed components of create user flow to wizard
  src/components/frame/v5/pages/CreateUserPage/CreateUserPage.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/routes/Routes.tsx
  src/routes/UserRegistrationRoute/UserRegistrationRoute.tsx
  src/routes/UserRegistrationRoute/index.ts
  src/routes/WizardRoute/WizardLayout.tsx
  src/routes/WizardRoute/WizardRoute.tsx
  src/routes/WizardRoute/WizardSidebar.tsx
  src/routes/WizardRoute/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added dynamic items and subitems for wizard sidebar
  src/routes/WizardRoute/WizardLayout.tsx
  src/routes/WizardRoute/WizardSidebar.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebar.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarItem.tsx
  src/routes/WizardRoute/WizardSidebar/WizardSidebarSubItem.tsx
  src/routes/WizardRoute/WizardSidebar/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Connected colony creation flow display with the flow itself
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/routes/UserRegistrationRoute/CreateYourColonySidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown
