Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: enable everything in `PermissionsManagementForm`
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `managePermissions` action saga
  src/redux/sagas/actions/managePermissions.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: change lambda env variable for chain network name to gnosis
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
Due: none

Fix: add env variable to function names
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Fix: app context fetch user with checksummed address
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: remove dev-only setup scripts
  package-lock.json
  package.json
Due: none

build: add dockerfile
  Dockerfile
Due: none

Fix: `fetchColonyNativeFundsClaim` lambda unused deps
  amplify/backend/function/fetchColonyNativeFundsClaim/src/package-lock.json
  amplify/backend/function/fetchColonyNativeFundsClaim/src/package.json
Due: none

TEMP: determine if codegen is relevant to production
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `colonyMotions` broken transformers import
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: pass in env vars to apollo client
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: update rpc endpoint url for http
  amplify/backend/function/.eslintrc.js
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
Due: none

Refactor: `useCanRoleBeSet` permissions helper
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
  src/redux/transformers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Move: `transformers` out of the redux module
  src/components/common/ColonyHome/ColonyUpgrade/ColonyUpgrade.tsx
  src/components/common/Dialogs/AdvancedDialog/AdvancedDialog.tsx
  src/components/common/Dialogs/ManageDomainsDialog/ManageDomainsDialog.tsx
  src/components/common/Dialogs/ManageExpenditureDialog/ManageExpenditureDialog.tsx
  src/components/common/Dialogs/ManageFundsDialog/ManageFundsDialog.tsx
  src/components/common/Dialogs/ManageReputationDialog/ManageReputationDialog.tsx
  src/components/common/Dialogs/RecoveryModeDialog/RecoveryModeDialogForm.tsx
  src/components/common/Dialogs/TransferFundsDialog/helpers.ts
  src/redux/transformers/index.ts
  src/transformers/index.ts
  tsconfig.base.json
  webpack.base.js
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: manually set metamask wallet network
  src/redux/sagas/wallet/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `managePermissions` action saga throw if role 4
  src/redux/sagas/actions/managePermissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove: `ColonyActions` development saga buttons
  src/components/common/ColonyActions/ColonyActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: another test permissions saga button
  src/components/common/ColonyActions/ColonyActions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update: Dockerfile for graphql URL env variable
  Dockerfile
Due: none

Fix: All Lambda functions with proper ENV variables
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getReputationForTopDomains/src/index.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/setCurrentVersion/src/index.js
  amplify/backend/function/updateExtensionByColonyAndHash/src/index.js
Due: none

add lambda config
  .eslintignore
  .graphqlconfig.yml
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/createUniqueColony/createUniqueColony-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getMembersForColony/src/package-lock.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/setCurrentVersion/setCurrentVersion-cloudformation-template.json
  amplify/backend/function/updateExtensionByColonyAndHash/updateExtensionByColonyAndHash-cloudformation-template.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

TEMP: disable ganache wallet for initial QA build
  src/redux/sagas/wallet/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `PermissionManagementDialog` user validation shape
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `useSelectedUserRoles` permissions helper
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `useSelectedUserRoles` permissions helper
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: dev network check
  src/constants/index.ts
  src/redux/sagas/wallet/ganacheModule.ts
Due: eslint --fix, prettier --write --ignore-unknown

TEMP: awful change to `createUniqueColony` to set chain
  amplify/backend/function/createUniqueColony/src/index.js
Due: none

fix: basic wallet type check
  src/redux/sagas/messages/index.ts
  src/redux/sagas/transactions/getMetatransactionPromise.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove loading state when switching user from colony grid in profile
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: subscribed colonies flicker
  src/components/frame/LandingPage/LandingPage.tsx
  src/utils/autoLogin.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: minor type check
  src/components/common/Dialogs/TransferFundsDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `getGasPrices` ensure at least 3.5 gwei on Gnosis
  src/redux/sagas/utils/getGasPrices.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: connect wallet mobile styles
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.css
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.css.d.ts
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: ensure local connected wallet address is checksummed
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update: most lambda functions `colonyJS` version to latest
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
  amplify/backend/function/getMembersForColony/src/package-lock.json
  amplify/backend/function/getMembersForColony/src/package.json
  amplify/backend/function/getReputationForTopDomains/src/package-lock.json
  amplify/backend/function/getReputationForTopDomains/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
Due: none

fix: hardcoded chainMetadata
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  scripts/temp-create-data.js
  src/graphql/fragments/colony.graphql
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sign out button styles
  src/components/shared/DropdownMenu/DropdownMenu.css
Due: prettier --write --ignore-unknown, stylelint --fix

Fix: `setCurrentVersion` package json file
  amplify/backend/function/setCurrentVersion/src/package-lock.json
  amplify/backend/function/setCurrentVersion/src/package.json
Due: none

Refactor: wallet setup
  .env.example
  src/components/frame/RouteLayouts/UserNavigation/Wallet/Wallet.tsx
  src/constants/externalUrls.ts
  src/constants/index.ts
  src/context/AppContext.tsx
  src/context/index.ts
  src/hooks/useCanInteractWithColony.ts
  src/redux/sagas/colony/colonyCreate.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/setupWalletContext.ts
  src/redux/sagas/users/index.ts
  src/redux/sagas/wallet/index.ts
  src/redux/sagas/wallet/onboard.ts
  src/types/definitions/index.d.ts
  src/types/wallet.ts
  src/utils/autoLogin.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: outdated gitbook links
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
