Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Added NON_RESETTABLE_FIELDS const to make resets more dynamic
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Currency item width
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Currency/Currency.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuListItem/MenuListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added release modal
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/index.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/index.ts
  src/components/v5/common/Fields/Select/partials/DropdownIndicator/DropdownIndicator.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added select option disable
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: connected finalize function
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: added icon, logic change
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: moved logic to paymentbuilder
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: funding overview box
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed portal elements z-index
  src/components/frame/v5/pages/BalancePage/partials/TokenAvatar/TokenAvatar.tsx
  src/components/frame/v5/pages/FundsPage/partials/TokenTable/TokenTable.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/TeamColorField/TeamColorField.tsx
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/common/NativeTokenPill/NativeTokenPill.tsx
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/Stepper/partials/StepperTooltip/StepperTooltip.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder table tablet layout
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/CompletedAction/partials/rows/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/Table/Table.tsx
  src/components/v5/common/Table/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed outcome pill colors
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/StepperButton.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed paddings to margins
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: SimpleMemberCard doesn't fetch member anymore
  src/components/frame/Extensions/pages/PermissionsPage/partials/PermissionsPageRow.tsx
  src/components/frame/v5/pages/MembersPage/partials/MembersTabContent/MembersTabContent.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/OutcomeStep/partials/VoteStatuses/VoteStatuses.tsx
  src/components/v5/common/MemberCard/SimpleMemberCard.tsx
  src/components/v5/common/MemberCard/types.ts
  src/components/v5/shared/UserPopover/UserPopover.tsx
  src/components/v5/shared/UserPopover/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added funding modal
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/index.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/TokenItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/index.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/types.ts
  src/components/v5/common/Fields/Select/partials/DropdownIndicator/DropdownIndicator.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Schema update: Add `FINALIZE_EXPENDITURE_MOTION` colony action type
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: action types in `cancelExpenditureMotion` saga
  src/redux/sagas/motions/expenditures/cancelExpenditureMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: finalize expenditures using motions
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/motions/expenditures/finalizeExpenditureMotion.ts
  src/redux/sagas/motions/expenditures/index.ts
  src/redux/sagas/motions/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: remove unused VerifiedMembers schema definition
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: remove straggler old env file
  .env
Due: none

feat: handle lock expenditure
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks/useGetExpenditureData.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderPayoutsTotal/PaymentBuilderPayoutsTotal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderPayoutsTotal/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/hooks.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/StepDetailsBlock/StepDetailsBlock.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/StepDetailsBlock/types.ts
  src/components/v5/common/CompletedAction/partials/rows/PaymentBuilderTable/AmountField.tsx
  src/components/v5/common/CompletedAction/partials/rows/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/rows/PaymentBuilderTable/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update amplify stack with qapolytest env
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

fix: rename xdai descriptions and endpoints with polygon
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Add: polygon (matic) network details
  src/components/icons/PolygonIcon.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: amoy testnet (matic) network information
  package-lock.json
  package.json
  src/constants/index.ts
  src/types/network.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added release modal
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/index.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: added expenditure refetch after funding
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: added refetch expenditure for release modal
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: connected modals to stepper widget
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: upgrade 3rd party storybook addons
  package-lock.json
  package.json
Due: none

Fix: MenuListItemProps type
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/MenuListItem/MenuListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: close colony menu on action button push
  src/components/frame/Extensions/layouts/ColonySidebar.tsx
  src/components/v5/frame/NavigationSidebar/partials/NavigationSidebarThirdLevel/NavigationSidebarThirdLevel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: activity feed payment builder metadata
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyActionsTable/hooks/useActionsTableProps.tsx
  src/components/common/ColonyActionsTable/hooks/useColonyActionsTableColumns.tsx
  src/components/common/ColonyActionsTable/hooks/useRenderSubComponent.tsx
  src/components/common/ColonyActionsTable/partials/ActionBadge/ActionBadge.tsx
  src/components/common/ColonyActionsTable/partials/ActionBadge/types.ts
  src/components/common/ColonyActionsTable/partials/ActionDescription/ActionDescription.tsx
  src/components/common/ColonyActionsTable/partials/ActionMobileDescription/ActionMobileDescription.tsx
  src/components/common/ColonyActionsTable/partials/ActionMobileDescription/types.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/PaymentBuilderDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ExpenditureBadge/ExpenditureBadge.tsx
  src/components/v5/common/ActionSidebar/partials/ExpenditureBadge/index.ts
  src/components/v5/common/ActionSidebar/partials/ExpenditureBadge/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/Pills/MotionStateBadge/index.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
  src/stories/common/MotionStateBadge.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: release overview content
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: release button
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: logic tweaks
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: used BigNumber
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: added address truncating to user selects
  src/components/v5/common/ActionSidebar/partials/NonVerifiedMembersSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/VerifiedMembersSelect/hooks.ts
  src/hooks/members/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown
