Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Finalizing expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/finalizeExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

claimable items
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/shared/Extensions/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added advanced settings page
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/i18n/en.json
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

clean code
  src/components/shared/Extensions/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

removed not necessary type
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: added tooltip text, changed translations
  src/components/v5/common/Modals/ManageMemberModal/ManageMemberModal.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix styles in filrer
  src/components/v5/common/Checkbox/Checkbox.module.css
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix avatar name padding
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix/15496644-showing-hiding-member-dropdown
  src/components/frame/v5/pages/MembersPage/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

ui/15535357-followers-filters
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed colony switcher
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix style
  src/components/v5/common/Checkbox/Checkbox.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

more submenu adjusted on table to the screent
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css.d.ts
  src/components/common/Extensions/MainNavigation/partials/Nav/Nav.module.css
  src/components/common/Extensions/MainNavigation/partials/Nav/Nav.tsx
  src/components/common/Extensions/MainNavigation/partials/NavMobile/NavMobile.module.css
  src/components/common/Extensions/MainNavigation/partials/NavMobile/NavMobile.tsx
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/v5/common/Checkbox/Checkbox.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

pills
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/partials/types.ts
  src/redux/constants.ts
Due: eslint --fix, prettier --write --ignore-unknown

pills
  src/components/frame/Extensions/pages/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: updated calamity banner
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
  src/components/common/Extensions/CalamityBanner/types.ts
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/Extensions/layouts/hooks.ts
  src/i18n/en.json
  src/stories/common/CalamityBanner.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed types
  src/components/frame/Extensions/pages/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

removed unused hook
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: import
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved to v5, callbacks
  src/components/common/Extensions/CalamityBanner/CalamityBanner.module.css.d.ts
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/Extensions/layouts/hooks.ts
  src/components/v5/shared/CalamityBanner/CalamityBanner.module.css
  src/components/v5/shared/CalamityBanner/CalamityBanner.tsx
  src/components/v5/shared/CalamityBanner/hooks.ts
  src/components/v5/shared/CalamityBanner/index.ts
  src/components/v5/shared/CalamityBanner/types.ts
  src/stories/common/CalamityBanner.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: displayname
  src/components/v5/shared/CalamityBanner/CalamityBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/v5/shared/CalamityBanner/CalamityBanner.module.css
  src/components/v5/shared/CalamityBanner/CalamityBanner.tsx
  src/components/v5/shared/CalamityBanner/hooks.ts
  src/components/v5/shared/CalamityBanner/partials/CalamityBannerContent.tsx
  src/components/v5/shared/CalamityBanner/partials/index.ts
  src/components/v5/shared/CalamityBanner/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: added key
  src/components/v5/shared/CalamityBanner/CalamityBanner.tsx
  src/components/v5/shared/CalamityBanner/partials/CalamityBannerContent.tsx
  src/components/v5/shared/CalamityBanner/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix:
  src/components/v5/common/MembersList/MembersList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix/update-places-with-used-checkbox-component
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/ExtensionDetails.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
  src/stories/common/Checkbox.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add useCallback
  src/components/frame/v5/pages/VerifiedPage/partials/TableItem/TableItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: added copy button, moved spinners in members list
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/shared/Button/CopyButton.module.css
  src/components/v5/shared/Button/CopyButton.tsx
  src/components/v5/shared/Button/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/v5/shared/Button/Button.module.css
  src/components/v5/shared/Button/Button.tsx
  src/components/v5/shared/Button/CopyButton.module.css
  src/components/v5/shared/Button/CopyButton.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: dark mode
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: copy hook
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/v5/shared/SubNavigationItem/hooks.ts
  src/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added new pill mode
  src/components/v5/common/Pills/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/v5/common/Pills/types.ts
  src/stories/common/ExtensionStatusBadge.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: paddings
  src/components/common/Extensions/UserHub/UserHub.tsx
Due: eslint --fix, prettier --write --ignore-unknown

mobile wallet menu items
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css.d.ts
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyDropdownMobile.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/common/Extensions/MainNavigation/MainNavigation.module.css
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/NavigationTools/NavigationTools.tsx
  src/components/common/Extensions/NavigationTools/types.ts
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/MemberReputation/MemberReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/types.ts
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/types.ts
  src/components/common/Extensions/UserNavigation/types.ts
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/Header/hooks.ts
  src/components/frame/v5/Header/Header.tsx
  src/components/v5/common/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/components/v5/shared/Button/Hamburger.module.css
  src/images/icons/arrow-down.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

removed user nav from storybook
  src/stories/common/UserNavigationMenu.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

filter members by teams
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/context/FilterContext.tsx
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
