Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Update: appsync url ssm param for arbitrum sepolia qa
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Update: arbitrum sepolia aws qa envrionment name
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

cicd: fix concurrency config to allow for concurrent deployments if on different networks
  .github/workflows/amplify.yaml
Due: none

Update: lambda params network name
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Add: update lambda ssm arbitrum sepolia rpc variable
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: update amplify cicd to trigger relevant amplify env based on network
  .github/workflows/amplify.yaml
Due: none

cicd: add dynamic image tagging based on network and update amplify ssm params
  .github/workflows/build-deploy.yaml
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

fix: update ssm params for arbitrum one prod deployment
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Remove environment names from lambda setting params code
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

Update: arbitrum one production deployment amplify name
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

fix: update custom ssm param values
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: fix concurrency group name to allow different branches at the same time
  .github/workflows/build-deploy.yaml
Due: none

fix: add pttr for dynamodb and extra clone env for custom ssm condition
  amplify/backend/api/colonycdapp/parameters.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

fix: update ssm param for new arbitrum domain
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: quickfix to deploy from branch
  .github/workflows/build-deploy.yaml
Due: none

Cleanup: Remove unused files
  src/components/shared/Duration/Duration.tsx
  src/components/shared/Duration/index.ts
  src/components/v5/frame/TwoColumns/TwoColumns.tsx
  src/components/v5/frame/TwoColumns/index.ts
  src/components/v5/frame/TwoColumns/types.ts
  src/context/appLoadingState.ts
  src/hooks/useColonyHasReputation.ts
  src/hooks/useColonyReputation.ts
  src/hooks/useCurrentSelectedToken.ts
  src/hooks/useDialogActionPermissions.ts
  src/hooks/useHover.ts
  src/hooks/useSelectedUser.ts
  src/hooks/useSortedContributors.ts
  src/hooks/useTablePaginatedActions.ts
  src/hooks/useTokenInfo.ts
  src/hooks/useTokenTotalBalance.ts
  src/hooks/useUserAvatarImageFromIPFS.ts
  src/hooks/useUserByName.ts
  src/hooks/useWindowSize.ts
  src/routes/UserRoute.tsx
  src/stories/frame/TwoColumns.stories.tsx
  src/styles/main.css
  src/types/domains.ts
  src/types/keyboard.ts
  src/utils/cleave.ts
  src/utils/dataReader.ts
  src/utils/hoc/index.ts
  src/utils/hookForm/index.ts
  src/utils/solidity.ts
  src/utils/yup/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Cleanup: Remove unused dependencies
  package-lock.json
  package.json
Due: none

fix: user hub placement
  src/components/common/Extensions/UserHubButton/UserHubButton.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/types.ts
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/types.ts
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/components/v5/frame/PageLayout/partials/PageHeader/PageHeader.tsx
  src/components/v5/frame/PageLayout/partials/PageHeading/PageHeading.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/context/ActionSidebarContext/ActionSidebarContextProvider.tsx
  src/hooks/useAddClassToElement.ts
  src/styles/main.css
  src/utils/checks/isChildOf.ts
  src/utils/elements.ts
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: claim delay field validation
  src/components/shared/Fields/Form/Form.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/ClaimDelayField/ClaimDelayField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/ClaimDelayField/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/ClaimDelayField/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/UserSelectRow.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/ClaimStatusBadge/ClaimStatusBadge.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentCounter/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
  src/components/v5/common/Fields/InputBase/InputBase.tsx
  src/components/v5/common/Fields/InputBase/hooks.ts
  src/components/v5/common/Fields/InputBase/types.ts
  src/i18n/en.json
  src/utils/elements.ts
  src/utils/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Edit colony description and colony objective using multi-sig
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/utils.tsx
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/UpgradeColonyObjective/UpgradeColonyObjective.tsx
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/types/actions/motion.ts
  src/utils/colonyActions.ts
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update BLOCK_INGESTOR_HASH
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: Add UpdateColonyObjectiveMotion for handling objective update motion
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/i18n/en-actions.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove UpdateColonyObjective case in CompletedAction motion widget sidebar
  src/components/v5/common/CompletedAction/CompletedAction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update block ingestor hash and ColonyEditMotion permissions
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update const used for colony description char limit
  scripts/create-data.js
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ActionSidebar/partials/ColonyDetailsFields/ColonyDetailsFields.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/consts.ts
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add colony edit multi-sig handling for action content sidebar
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add missing action type translations in en-actions
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update missing translations and refactor
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/i18n/en-actions.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/types/actions.ts
  src/types/transactions.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Get extended action type for UpgradeColonyObjective component
  src/components/v5/common/CompletedAction/partials/UpgradeColonyObjective/UpgradeColonyObjective.tsx
  src/components/v5/common/CompletedAction/partials/rows/ActionType.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Add fallback value to colony metadata in editColonyMotion
  src/redux/sagas/motions/editColonyMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Rename getMultiSigPayload to getMotionPayload
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/utils.tsx
  src/utils/motions.ts
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Refactor manage permissions motion to handle multi-sig
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/MultiSigWidget.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/RemoveVoteButton/RemoveVoteButton.tsx
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/VoteButton/VoteButton.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/utils.ts
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/i18n/en.json
  src/redux/sagas/motions/managePermissionsMotion.ts
  src/redux/types/actions/motion.ts
  src/utils/multiSig.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove unnecessary eslint comment, updated annotateTransaction method name
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Refactor manage permissions motion
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/v5/common/CompletedAction/partials/MintTokens/MintTokens.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/components/v5/common/CompletedAction/partials/rows/TeamFrom.tsx
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Correct ApprovalStep after rebase
  src/components/v5/common/ActionSidebar/partials/MultiSigSidebar/partials/MultiSigWidget/partials/ApprovalStep/ApprovalStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update block-ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: Updage block-ingestor
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Feat: Add action translation strings
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManagePermissionsDescription.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/i18n/en-actions.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: getPermissionsNeededForAction should use createdIn, not team
  src/components/v5/common/ActionSidebar/hooks/permissions/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
