Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: refactor
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/index.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/Extensions/UserHub/partials/NotificationsTab/partials/Notification/Action/ActionNotification.tsx
  src/components/common/Extensions/UserHub/partials/NotificationsTab/partials/Notification/Expenditure/ExpenditureNotification.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/components/v5/common/ActionSidebar/hooks/useGetActionData.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove amount format
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: removed one timeout
  playwright/utils/common.ts
Due: none

Fix: Missing permissions banner should not show when reenabling
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetailsHeader/ExtensionDetailsHeader.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionPermissionsBanner/ExtensionPermissionsBanner.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionPermissionsBanner/PermissionsEnabledBanner.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionPermissionsBanner/PermissionsNeededBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Revert "Fix: Pagination displayed further away from table rows on Safari"
  src/components/common/ColonyActionsTable/RecentActivityTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: close the user info modal after clicking the not verified cta
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Add TableRowDivider component
  src/components/v5/common/Table/Table.tsx
  src/components/v5/common/Table/partials/TableRowDivider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Make sure table has expandable rows before attempting to close them
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove loader bg color
  src/components/v5/frame/ColonyHome/partials/ReputationChart/partials/ChartLoadingLayer.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add missing account page headings
  src/components/frame/v5/pages/UserCryptoToFiatPage/CryptoToFiatPage.tsx
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/UserAccountForm/UserAccountForm.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/AccountPageSidebar/AccountPageSidebar.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: email section tablet styles update
  src/components/frame/v5/pages/UserPreferencesPage/partials/EmailSection/EmailSection.tsx
  src/components/v5/common/SettingsRow/SettingsRowContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: item row spacings update
  src/components/frame/v5/pages/UserAdvancedPage/partials/NotificationsSection/NotificationsSection.tsx
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/v5/common/SettingsRow/SettingsRowContainer.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: match account page sidebar hr styles with the colony page sidebar hr styles
  src/components/v5/shared/Navigation/Sidebar/partials/SidebarContentDivider.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/AccountPageSidebar/AccountPageSidebar.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/ColonyPageSidebar/ColonyPageSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update email CTA styles and bring back vertical spacing for the account page sidebar divider
  src/components/frame/v5/pages/UserPreferencesPage/partials/EmailSection/EmailSection.tsx
  src/components/v5/shared/Navigation/Sidebar/partials/SidebarContentDivider.tsx
  src/components/v5/shared/Navigation/Sidebar/sidebars/AccountPageSidebar/AccountPageSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: hide multi-sig error if there are still loadings
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/MultiSigMembersError/useHasEnoughMembersWithPermissions.ts
  src/hooks/multiSig/useEligibleSignees.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Editing expenditure to not change slot IDs or override recipients
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: Add comments with guidance on edit expenditure implementation
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilderEdit/PaymentBuilderEdit.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilderEdit/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: set the toast width to 390px on Desktop
  src/components/shared/Extensions/Toast/Toast.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: make the card height match figma
  src/components/v5/common/WidgetCards/WidgetCardsItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: mobile tab arrow alignment update
  src/components/shared/Extensions/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: subdomain owner should be an admin
  src/components/frame/v5/pages/MembersPage/utils.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Temporarily disable new team card
  src/components/v5/frame/ColonyHome/partials/FundsCards/FundsCards.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update team filter and related context for correctly persisting the selected domain
  src/components/v5/shared/TeamFilter/TeamFilter.tsx
  src/context/GlobalFiltersContext/ColonyFiltersContext.ts
  src/context/GlobalFiltersContext/ColonyFiltersContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Update reputation legend item to show cursor if searchParam exists
  src/components/v5/frame/ColonyHome/partials/ReputationChart/partials/LegendItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: refactor token formatting
  src/components/v5/common/CompletedAction/partials/CompletedExpenditureContent/CompletedExpenditureContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

build: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: make colony switcher the same height as sidebar
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/components/v5/shared/Navigation/ColonySwitcher/ColonySwitcher.tsx
  src/components/v5/shared/Navigation/ColonySwitcher/partials/JoinedColoniesPopover/JoinedColoniesPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: add e2e tests for 2st step of create colony flow
  playwright/e2e/create-colony.spec.ts
  playwright/utils/create-colony.ts
Due: none

Fix: Update total balances to use network balance data
  amplify/backend/function/fetchDomainBalance/src/api/graphql/operations.js
  amplify/backend/function/fetchDomainBalance/src/api/graphql/schemas.js
  amplify/backend/function/fetchDomainBalance/src/index.js
  amplify/backend/function/fetchDomainBalance/src/services/networkBalance.js
  amplify/backend/function/fetchDomainBalance/src/services/tokens.js
  amplify/backend/function/fetchDomainBalance/src/utils.js
Due: none

Fix: Update used network for coingecko mappings
  amplify/backend/function/fetchDomainBalance/src/config/coinGeckoConfig.js
Due: none

fix: prevent shifting of other copies
  src/components/v5/shared/TeamFilter/partials/TeamItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Changes after linting
  amplify/backend/function/fetchDomainBalance/src/services/networkBalance.js
Due: none

fix: add action sidebar overflow
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: set fetch policy to 'cache-and-network' to avoid stale data
  src/components/common/Extensions/UserHub/partials/NotificationsTab/partials/Notification/Notification.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: create simple Arbitrary Txs motion
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
  src/components/v5/common/ActionSidebar/hooks/useSidebarActionForm.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/ActionSidebarDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ArbitraryTxsDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/index.ts
  src/constants/actions.ts
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: add a null guard
  src/components/v5/common/CompletedAction/partials/CompletedExpenditureContent/CompletedExpenditureContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add transactions table and modal
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/ArbitraryTxsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/AddTransactionModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/AddTransactionModal/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/ArbitraryTransactionsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsField/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/ArbitraryTransactionsTable.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/partials/ArbitraryTransactionsTable/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/ArbitraryTxsForm/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Updates for the fetch domain balance lambda and block estimation
  amplify/backend/function/fetchDomainBalance/src/config/coinGeckoConfig.js
  amplify/backend/function/fetchDomainBalance/src/config/networkConfig.js
  amplify/backend/function/fetchDomainBalance/src/consts.js
  amplify/backend/function/fetchDomainBalance/src/services/exchangeRates.js
  amplify/backend/function/fetchDomainBalance/src/services/networkBalance.js
  amplify/backend/function/fetchDomainBalance/src/services/tokens.js
Due: none

Chore: Update network hash and colony js version
  amplify/backend/function/fetchDomainBalance/src/package-lock.json
  amplify/backend/function/fetchDomainBalance/src/package.json
  docker/colony-cdapp-dev-env-network
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
