Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: regenerate action fragment, connect number of members in action titles
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/v5/common/CompletedAction/partials/AddVerifiedMembers/AddVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/RemoveVerifiedMembers/RemoveVerifiedMembers.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: implement selected members table for action views
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/AddVerifiedMembers/AddVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/RemoveVerifiedMembers/RemoveVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/SelectedMembers/SelectedMembers.tsx
  src/components/v5/common/CompletedAction/partials/SelectedMembers/partials/MembersLoadingTable/MembersLoadingTable.tsx
  src/components/v5/common/CompletedAction/partials/SelectedMembers/partials/MembersLoadingTable/tableFixtures.tsx
  src/components/v5/common/CompletedAction/partials/SelectedMembers/partials/MembersTable/MembersTable.tsx
  src/components/v5/common/CompletedAction/partials/SelectedMembers/partials/MembersTable/tableFixtures.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: fallback verified members action strings, motion team is read only
  src/components/v5/common/ActionSidebar/partials/forms/ManageVerifiedMembersForm/ManageVerifiedMembersForm.tsx
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: implement basic add and remove verified members views, missing table
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/components/v5/common/CompletedAction/partials/AddVerifiedMembers/AddVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/AddVerifiedMembers/index.ts
  src/components/v5/common/CompletedAction/partials/RemoveVerifiedMembers/RemoveVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/RemoveVerifiedMembers/index.ts
  src/components/v5/common/CompletedAction/partials/rows/AddRemove.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: phosphor icons imports in verified members completed actions
  src/components/v5/common/CompletedAction/partials/AddVerifiedMembers/AddVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/RemoveVerifiedMembers/RemoveVerifiedMembers.tsx
  src/components/v5/common/CompletedAction/partials/rows/AddRemove.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: display completed action for removing verified members via motions
  src/components/v5/common/CompletedAction/CompletedAction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: action description for add/remove verified member motions
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: realign schema.graphql after merge of removing from whitelist
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: pin nix node version to 20.11.0
  flake.lock
  flake.nix
Due: none

refactor: rename and clean up css modules
  src/components/common/ColonyFunding/ColonyFunding.css
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.module.css
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakeItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesList.module.css
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesList.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Contact/Contact.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Currency/Currency.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Developers/Developers.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Legal/Legal.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/partials/Submenu.module.css
  src/components/frame/LoadingTemplate/LoadingTemplate.css
  src/components/frame/LoadingTemplate/LoadingTemplate.module.css
  src/components/frame/LoadingTemplate/LoadingTemplate.tsx
  src/components/frame/MessageCard/MessageCard.module.css
  src/components/frame/MessageCard/MessageCard.tsx
  src/components/frame/MessageCard/MessageCardStatus.module.css
  src/components/frame/MessageCard/MessageCardStatus.tsx
  src/components/shared/Card/Card.module.css
  src/components/shared/Card/Card.tsx
  src/components/shared/FriendlyName/FriendlyName.module.css
  src/components/shared/FriendlyName/FriendlyName.tsx
  src/components/shared/Heading/Heading.module.css
  src/components/shared/Heading/Heading.tsx
  src/components/shared/Numeral/Numeral.module.css
  src/components/shared/Numeral/Numeral.tsx
  src/components/shared/Popover/PopoverWrapper.module.css
  src/components/shared/Popover/PopoverWrapper.tsx
  src/components/shared/Popover/Tooltip.module.css
  src/components/shared/Popover/Tooltip.tsx
  src/components/shared/Preloaders/MiniSpinnerLoader.module.css
  src/components/shared/Preloaders/MiniSpinnerLoader.tsx
  src/components/shared/Preloaders/SpinnerLoader.module.css
  src/components/shared/Preloaders/SpinnerLoader.tsx
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.module.css
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
  src/components/v5/common/PageLoader/PageLoader.module.css
  src/components/v5/common/PageLoader/PageLoader.tsx
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.module.css
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

delete: clean up styles and disable .css.d.ts generation
  src/fonts/IBMPlexMono-Medium.woff
  src/fonts/IBMPlexMono-Medium.woff2
  src/fonts/IBMPlexMono-Regular.woff
  src/fonts/IBMPlexMono-Regular.woff2
  src/fonts/muliweb-bold.woff
  src/fonts/muliweb-bold.woff2
  src/fonts/muliweb-italic.woff
  src/fonts/muliweb-italic.woff2
  src/fonts/muliweb-light.woff
  src/fonts/muliweb-light.woff2
  src/fonts/muliweb.woff
  src/fonts/muliweb.woff2
  src/styles/fonts.css
  src/styles/layout.css
  src/styles/main.global.css
  src/styles/queries.css
  src/styles/shared/animations.css
  src/styles/shared/fields.css
  src/styles/shared/reset.css
  src/styles/shared/text.css
  src/styles/variables.css
  webpack.base.js
Due: prettier --write --ignore-unknown, stylelint --fix

refactor: clean up tsconfig, move typedefs
  .eslintrc.js
  package.json
  src/components/common/Extensions/UserHub/partials/TransactionsTab/transactionGroup.ts
  src/components/common/Onboarding/WizardSidebar/index.ts
  src/components/frame/v5/pages/VerifiedPage/partials/VerifiedTable/hooks.tsx
  src/components/v5/common/Checkbox/Checkbox.module.css
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Fields/Select/partials/CustomOption/CustomOption.tsx
  src/hooks/useTransformer.ts
  src/redux/sagas/actions/payment.ts
  src/redux/sagas/utils/getGasPrices.ts
  src/redux/sagas/utils/proofs.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/redux/sagas/wallet/RetryProvider.ts
  src/redux/sagas/wallet/ganacheModule.ts
  src/typedefs/@tanstack_react-table/index.d.ts
  src/typedefs/globals.d.ts
  src/typedefs/image-blob-reduce/index.d.ts
  src/typedefs/yup/index.d.ts
  src/types/definitions/index.d.ts
  src/types/definitions/index.ts
  src/types/index.ts
  src/utils/css/index.ts
  src/utils/external/index.ts
  src/utils/noop.ts
  src/utils/safes/contractParserValidation.ts
  src/utils/safes/getContractUsefulMethods.ts
  tsconfig.base.json
  tsconfig.dev.json
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: enforce consistent type exports
  .eslintrc.js
  src/components/shared/Avatar/index.ts
  src/components/shared/Fields/Form/index.ts
  src/components/shared/Fields/index.ts
  src/components/shared/Heading/index.ts
  src/components/shared/Popover/index.ts
  src/components/shared/Wizard/index.ts
  src/components/v5/common/Fields/Input/index.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use VITE_* environment variables instead of process.env
  .env.example
  Dockerfile
  src/Entry.tsx
  src/apollo/apolloClient.ts
  src/auth/index.ts
  src/components/common/ColonyActionsTable/hooks/useActionsTableProps.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/constants/index.ts
  src/context/AnalyticsContext/AnalyticsContext.tsx
  src/context/ipfs/ipfsWithFallbackContext.ts
  src/context/ipfs/pinata/constants.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/redux/sagas/wallet/onboard.ts
  src/routes/Routes.tsx
  src/typedefs/globals.d.ts
  src/utils/checks/canUseMetatransactions.ts
  src/utils/safes/getContractUsefulMethods.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add vite, relevant plugins and its config
  .editorconfig
  package-lock.json
  package.json
  src/components/frame/MessageCard/MessageCardStatus.module.css
  src/components/v5/frame/NavigationSidebar/NavigationSidebar.tsx
  src/components/v5/shared/SimpleSidebar/SimpleSidebar.tsx
  src/hooks/index.ts
  src/hooks/useTablet.ts
  src/images/icons/wallet.svg
  src/index.html
  src/index.ts
  src/redux/sagas/wallet/ganacheModule.ts
  src/redux/sagas/wallet/onboard.ts
  src/styles/main.css
  src/styles/queries.module.css
  src/typedefs/globals.d.ts
  tailwind.config.js
  tsconfig.json
  vite.config.mts
  webpack.dev.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

delete: some comment clean up
  src/utils/autoLogin.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: inline LandingPageRoute
  src/components/frame/LandingPage/LandingPage.tsx
  src/routes/LandingPageRoute/LandingPageRoute.tsx
  src/routes/LandingPageRoute/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: move index.html to root
  index.html
Due: none

delete: clean up legacy webpack and other dev deps
  .babelrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/components/frame/v5/pages/UserProfilePage/partials/UserAccountForm/hooks.tsx
  src/components/v5/common/Fields/datepickers/Datepicker/Datepicker.tsx
  src/components/v5/common/Fields/datepickers/RangeDatepicker/RangeDatepicker.tsx
  src/components/v5/common/Fields/datepickers/common/Datepicker.module.css
  src/hooks/useFetchActiveInstallsExtension.ts
  webpack.base.js
  webpack.dev.js
  webpack.prod.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: update Dockerfile for new node version and vite
  Dockerfile
Due: none

docs: remove references to webpack
  Readme.md
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: fix github workflows for vite
  .github/workflows/nodejs.yml
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

fix: repair storybook build
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/reactIntl.js
  package-lock.json
  package.json
Due: none

fix: vite production build
  .env.development
  .env.example
  .gitignore
  Dockerfile
  src/constants/index.ts
  src/typedefs/globals.d.ts
  vite.config.mts
Due: eslint --fix, prettier --write --ignore-unknown

fix: repair favicon
  index.html
Due: none

fix: repair dev conditions for network address
  src/redux/sagas/utils/getNetworkClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: re-add styles in storybook preview
  .storybook/preview.tsx
  .storybook/reactIntl.ts
Due: none

enable docker cache for dev workflows
  .github/workflows/build-deploy-dev.yaml
Due: none

fix: use external env variable for URL
  Dockerfile
  src/constants/index.ts
  src/typedefs/globals.d.ts
  vite.config.mts
Due: eslint --fix, prettier --write --ignore-unknown

fix: repair debug message values for GroupedTransaction
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use port 9091 for local dev server
  vite.config.mts
Due: none

fix: repair Toastify styles
  src/components/shared/Extensions/Toast/Toast.css
  src/components/shared/Extensions/Toast/Toast.module.css
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/v5/frame/PageLayout/PageLayout.tsx
  src/stories/shared/Toast.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: use the hacky way of replacing the environment variables
  Dockerfile
Due: none

fix: wallet provider initialization
  src/constants/index.ts
  src/redux/sagas/wallet/RetryProvider.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: increase ulimit for vite dev server
  package.json
Due: none

cicd: update github actions in build script
  .github/workflows/build-deploy-dev.yaml
Due: none

fix: use portable hashbang for shell scripts
  scripts/amazon-arch-flag.sh
  scripts/generate-temp-files.sh
Due: none

cicd: wait for other services to be up in on-demand
  .github/workflows/scripts/on-demand-env-script.sh
Due: none

cicd: fix production build using import-meta-env
  .env.development
  .env.example
  .env.local
  .github/workflows/chromatic.yml
  .github/workflows/nodejs.yml
  .github/workflows/scripts/on-demand-env-script.sh
  .gitignore
  Dockerfile
  Readme.md
  docker/files/frontend/nginx.conf
  docker/files/frontend/start.sh
  index.html
  package-lock.json
  package.json
  src/Entry.tsx
  src/apollo/apolloClient.ts
  src/auth/index.ts
  src/constants/index.ts
  src/context/AnalyticsContext/AnalyticsContextProvider.tsx
  src/context/ipfs/ipfsWithFallbackContext.ts
  src/context/ipfs/pinata/constants.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/sagas/utils/metatransactions.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/typedefs/globals.d.ts
  src/typedefs/import-meta-env.development.d.ts
  src/utils/checks/canUseMetatransactions.ts
  src/utils/safes/getContractUsefulMethods.ts
  vite.config.mts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
