Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

prepare base user popover
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
  src/components/v5/common/Pills/types.ts
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserAvatarPopover/types.ts
  src/i18n/en.json
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

top contributor type background
  src/components/v5/shared/Card/Card.tsx
  src/components/v5/shared/Card/types.ts
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
  src/components/v5/shared/PopoverBase/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserAvatarPopover/types.ts
  src/i18n/en.json
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

top type mobile view
  src/components/v5/shared/Card/Card.tsx
  src/components/v5/shared/Card/types.ts
  src/components/v5/shared/Modal/Modal.module.css
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/ModalBase.tsx
  src/components/v5/shared/Modal/types.ts
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
  src/components/v5/shared/PopoverBase/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

change prop name
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/types.ts
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/MembersList/MembersList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

resole conflict
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

removed helpand account from mobile, fixed anchor nesting
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.module.css
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/NavigationTools/NavigationTools.tsx
  src/components/v5/common/SubNavigation/partials/LinkItem/LinkItem.module.css
  src/components/v5/common/SubNavigation/partials/LinkItem/LinkItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: added missing teams component, fixed list styles
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/v5/common/MembersList/MembersList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed margins in user hub
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix styles
  src/components/v5/common/Fields/Switch/Switch.tsx
  src/components/v5/common/Fields/Textarea/Textarea.tsx
  src/components/v5/common/Modals/ManageMemberModal/ManageMemberModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix after CR
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  src/components/v5/shared/Card/Card.tsx
  src/components/v5/shared/Card/types.ts
  src/components/v5/shared/Modal/Modal.module.css
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix modal height
  src/components/v5/shared/Modal/Modal.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix tooltip statuses
  src/components/v5/shared/CardWithBios/partials/SubNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed in wallet
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/consts.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.module.css
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionList.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.module.css
  src/components/shared/Extensions/Tabs/Tabs.module.css
  src/components/shared/Extensions/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed icon size
  src/components/v5/common/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed icon sizes
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

breakpoint fix
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.module.css
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add nested filter options
  src/components/v5/common/Filter/consts.ts
  src/components/v5/common/Filter/partials/ContributorTypeOptions.tsx
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/partials/consts.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.module.css
  src/components/v5/shared/SubNavigationItem/SubNavigationItem.tsx
  src/components/v5/shared/SubNavigationItem/partials/Header.tsx
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
  src/i18n/en.json
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix copy
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

added type to Tab interface
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/consts.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/shared/Extensions/Tabs/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed css styled in colony dropdown
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/frame/Extensions/Header/Header.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added search input, load more button
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.module.css
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
  src/components/v5/common/Filter/partials/SearchInput/index.ts
  src/components/v5/common/Filter/partials/SearchInput/types.ts
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/common/MembersList/types.ts
  src/context/SearchContext.tsx
  src/i18n/en.json
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: moved logic to hook
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/common/MembersList/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/common/MembersList/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes in carousel
  src/components/common/Extensions/ImageCarousel/ImageCarousel.module.css
  src/components/common/Extensions/ImageCarousel/ImageCarousel.module.css.d.ts
  src/components/common/Extensions/ImageCarousel/ImageCarousel.tsx
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
  src/components/v5/common/MembersList/hooks.ts
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

cicd: add prod env to github workflow
  .github/workflows/build-deploy.yaml
Due: none

cicd: update stage dependency in github workflow
  .github/workflows/build-deploy.yaml
Due: none

cicd: fix ecr keys
  .github/workflows/build-deploy.yaml
Due: none

add logic with displaying selected option in pill
  src/components/v5/common/Checkbox/Checkbox.tsx
  src/components/v5/common/Checkbox/types.ts
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/hooks.ts
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/types.ts
  src/components/v5/common/TableFiltering/TableFiltering.tsx
  src/components/v5/common/TableFiltering/types.ts
  src/components/v5/shared/SubNavigationItem/partials/NestedOptions.tsx
  src/components/v5/shared/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add staked tokens to getUserTokenBalance lambda
  amplify/backend/function/getUserTokenBalance/src/graphql.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

refactor: access userTokenBalance data via context
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingInput.ts
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
  src/components/frame/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
  src/components/frame/TokenActivation/TokenActivationPopover.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/components/frame/TokenActivation/TokensTab/TokensTab.tsx
  src/components/frame/UserTokenActivationButton/UserTokenActivationButton.tsx
  src/context/ColonyContext.tsx
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: create context for UserTokenBalance
  src/context/UserTokenBalanceContext.tsx
  src/context/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

update: calls to getUserTokenBalance
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useEnoughTokensForStaking.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingSlider.ts
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add stakes to user model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

cicd: fix amplify script and enable deployment notifications
  .github/workflows/amplify.yaml
Due: none

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none
