Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Add Staked expenditure to useEnabledExtensions hook
  src/hooks/useEnabledExtensions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Enabling Staked Expenditure extension
  src/constants/extensions.ts
  src/context/ColonyManager.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add i18n messages for initializing Staked Expenditure
  src/i18n/en.json
Due: none

Add StakedExpenditureParams type to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/constants/extensions.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Get actual permission domain id and child skill index in createExpenditure saga
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Extension init params transformation
  src/components/common/Extensions/ExtensionSetup/ExtensionSetup.tsx
  src/components/common/Extensions/ExtensionSetup/utils.ts
  src/constants/extensions.ts
  src/context/ColonyManager.ts
  src/types/extensions.ts
  src/utils/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add nativeSkillId to Domain GraphQL fragment
  src/graphql/fragments/domain.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Split ExpenditureForm into create and edit form components
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditurePayouts/ExpenditurePayouts.tsx
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/EditExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/index.ts
  src/components/common/Expenditures/ExpenditureForm/types.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: DomainDropdown after Domain fragment change
  src/components/shared/DomainDropdown/DomainDropdown.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Make useEnoughTokensForStaking more generic hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useStakingSlider.ts
  src/hooks/index.ts
  src/hooks/useEnoughTokensForStaking.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Reclaim stake button
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/StakedExpenditure/ReclaimStakeButton/ReclaimStakeButton.tsx
  src/components/common/Expenditures/StakedExpenditure/ReclaimStakeButton/index.ts
  src/components/common/Expenditures/StakedExpenditure/StakeExpenditureDialog/StakeExpenditureDialog.module.css
  src/components/common/Expenditures/StakedExpenditure/StakeExpenditureDialog/StakeExpenditureDialog.module.css.d.ts
  src/components/common/Expenditures/StakedExpenditure/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/components/common/Expenditures/StakedExpenditure/StakeExpenditureDialog/index.ts
  src/components/common/Expenditures/StakedExpenditure/StakeExpenditureDialog/useExpenditureStaking.ts
  src/redux/actionTypes.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Expenditure domain selection UI
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
  src/components/common/Expenditures/ExpenditureForm/types.ts
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: createStakedExpenditure saga
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Expose `ethersProvider` property on wallet object
  src/redux/sagas/wallet/index.ts
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add type and hasReclaimedStake properties to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Use current block time when determining claimable payouts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/ExpenditureClaimButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Disable caching of ExpenditureSlot type
  src/cache/expenditure/index.ts
  src/cache/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Add useExpenditureStaking hook
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/components/common/Expenditures/StakeExpenditureDialog/useExpenditureStaking.ts
Due: eslint --fix, prettier --write --ignore-unknown

Show time until next expenditure claim relative to machine time
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/ExpenditureClaimButton.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureFormFields.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Save expenditure type in expenditure create sagas
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: `useCurrentBlockTime` hook
  src/hooks/index.ts
  src/hooks/useCurrentBlockTime.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: StakeExpenditureDialog passing stakeAmount to saga
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/helpers.ts
  src/components/common/Expenditures/ExpenditureForm/index.ts
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add StakeExpenditureDialog component
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/EditExpenditureForm.tsx
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.module.css
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.module.css.d.ts
  src/components/common/Expenditures/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/components/common/Expenditures/StakeExpenditureDialog/index.ts
  src/graphql/fragments/extension.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: reclaimExpenditureStake saga
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/StakedExpenditure/ReclaimStakeButton/ReclaimStakeButton.tsx
  src/i18n/en.json
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/expenditures/reclaimExpenditureStake.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Reclaiming stake after cancellation
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.module.css.d.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.module.css
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Cleanup: ReclaimStakeButton
  src/components/common/Expenditures/StakedExpenditure/ReclaimStakeButton/ReclaimStakeButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add Staged Expenditure config
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Staged Expenditure to useEnabledExtensions hook
  docker/colony-cdapp-dev-env-network
  src/hooks/useEnabledExtensions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Only claim unclaimed payouts in claimExpenditure saga
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/ExpenditureClaimButton.tsx
  src/redux/sagas/expenditures/claimExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add isClaimed field to ExpenditurePayout type
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Show expenditure claimed status on details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditurePayouts/ExpenditurePayouts.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Bump ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: wire in fund exp motion saga
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/sagas/expenditures/utils.ts
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
  src/redux/sagas/motions/expenditures/index.ts
  src/redux/sagas/motions/index.ts
  src/redux/sagas/transactions/createTransaction.ts
  src/redux/sagas/utils/errorMessages.ts
  src/redux/types/actions/expenditures.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: fund motion btn
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/shared/Button/ActionButton.tsx
  src/components/shared/DetailsWidget/types.ts
  src/hooks/useDialogActionPermissions.ts
  src/utils/checks/userHasRoles.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: gas estimation
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/FinalizeMotion/FinalizeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/FinalizeMotion/FinalizeMotion.tsx
  src/constants/index.ts
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
  src/redux/sagas/motions/finalizeMotion.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: bump block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

add: motion state and prev motions
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/useGetColonyAction.ts
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/ColonyActions/ActionsListItem/helpers.ts
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureAdvanceButton/ExpenditureAdvanceButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/graphql/queries/motions.graphql
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/sagas/expenditures/utils.ts
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
  src/redux/sagas/utils/expenditures.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Form variant for staged payments
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureDomainSelector/ExpenditureDomainSelector.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureDomainSelector/index.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: bump block ingestor
  docker/colony-cdapp-dev-env-block-ingestor
Due: none
