Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Fixed typo and reused TRANSACTION_STATUS enum where appropiate
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/hooks/useSafeTransactionStatus.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add safe transactions to db with new schema
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/motion.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use Token model in safe transaction
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/safe.graphql
  src/graphql/mutations/safe.graphql
Due: prettier --write --ignore-unknown

feat: add mutation to create standalone token
  src/graphql/mutations/token.graphql
Due: prettier --write --ignore-unknown

chore: commit generated.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated safe transaction motions with motion page and action list
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/types.ts
  src/constants/index.ts
  src/hooks/index.ts
  src/hooks/useSafeTransactionStatus.ts
  src/i18n/en-actions.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
  src/utils/safes/getTransactionStatuses.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: get all types from ~types not ~gql
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
  src/types/graphql.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use Token fragment in safe transction frag
  src/graphql/fragments/safe.graphql
Due: prettier --write --ignore-unknown

feat: make sure network is defined
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: enable safe testing rpc's
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
Due: none

fix: return token from token query wrapper
  src/utils/queries.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: if token is null use safe native chain token
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: import constants to lambda
  amplify/backend/function/fetchTokenFromChain/src/index.js
Due: none

feat: fetch tokens from db on safe api response
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: rename token fetching wrapper
  src/redux/sagas/utils/safeHelpers.ts
  src/utils/queries.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: correctly set native token for safe transactions
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: contract address when transfering native token
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: update FormSafeTransaction naming
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: safe balance validation
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add helper to get network from chain id
  src/utils/tokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: fix errors caused by new data modelling
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Value.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert "feat: save chain native token to db"
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
Due: none

fix: only create token if query fails
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/graphql/generated.ts
  src/utils/colonyActions.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unnecessary mutation
  src/graphql/generated.ts
  src/graphql/mutations/token.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: enable the concept of chains in token lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/colonycdappSSMAccess/lib/nodejs/getParams.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
Due: none

chore: commit updated generated.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: make sure checksummed address is used
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: incorrect event parsing
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: cannot require from main project
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
Due: none

feat: add bnbRpcUrl to SSM tests
  amplify/backend/function/qaSSMtest/src/index.js
Due: none

Revert "fix: correctly set native token for safe transactions"
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wrap token query for type safety
  src/redux/sagas/utils/safeHelpers.ts
  src/utils/queries.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: only add token if not native token
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: save chain native token to db
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
Due: none

Revert "feat: fetch tokens from db on safe api response"
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add native tokens to ganache and goerli
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove reference lines
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

feat: add new schema to safe motion
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: rename safe connection field
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown
