Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

add popover to component
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

added tooltip
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

create page
  src/components/frame/Extensions/Pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/Pages/LazyConsensusPage/consts.ts
  src/components/frame/Extensions/Pages/LazyConsensusPage/hooks.tsx
  src/components/frame/Extensions/Pages/LazyConsensusPage/index.ts
  src/components/frame/Extensions/Pages/LazyConsensusPage/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

hook for bage statuses
  src/hooks/useExtensionsBadgeStatus.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

update components
  src/components/common/Extensions/ExtensionItem/hooks.ts
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/DateInstalled.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/ThreeColumns/types.ts
  src/components/shared/Extensions/Accordion/Accordion.tsx
  src/components/shared/Extensions/Accordion/consts.tsx
  src/components/shared/Extensions/Accordion/hooks.ts
  src/components/shared/Extensions/Accordion/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
  src/components/shared/Extensions/Accordion/types.ts
  src/components/shared/Extensions/Fields/RadioList/RadioList.tsx
  src/components/shared/Extensions/Fields/RadioList/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

added translation to select and use relative paths in nav
  src/components/common/Extensions/Navigation/Navigation.tsx
  src/components/shared/Extensions/Select/Select.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed safari/ios radius bug
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

temporary ignore
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/Pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/hooks/useUserByNameOrAddress.ts
  src/stories/common/SpecificSidePanel.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed user hub card
  src/components/shared/Extensions/Card/Card.tsx
  src/components/shared/Extensions/Card/types.ts
  src/stories/common/UserNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

set breakpoint mobile to 850px
  src/components/common/Extensions/PageTitle/PageTitle.tsx
  src/components/common/Extensions/SubNavigation/SubNavigation.tsx
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItem.module.css
  src/components/shared/Extensions/Button/Button.module.css
  src/components/shared/Extensions/Card/Card.tsx
  src/components/shared/Extensions/ConnectingWalletButton/ConnectingWalletButton.tsx
  src/components/shared/Extensions/ExternalLink/ExternalLink.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioList.tsx
  src/styles/shared/queries.css
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixes icon weights and overflowing
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItem.module.css
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.module.css
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/ThemeSwitcher/index.ts
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/index.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/types.ts
  src/components/shared/Extensions/Avatar/Avatar.module.css
  src/components/shared/Extensions/Button/Button.module.css
  src/stories/common/UserNavigation.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
  src/stories/shared/Button.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

moved menu nav to hook
  src/components/common/Extensions/Navigation/Navigation.tsx
  src/components/shared/Extensions/Select/Select.tsx
  src/hooks/index.ts
  src/hooks/useSideNavigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix/15399697: accordion mobile
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Permissions.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/index.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/consts.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/index.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/shared/Extensions/Button/Button.tsx
  src/components/shared/Extensions/PopoverButton/PopoverButton.tsx
  src/components/shared/Extensions/PopoverButton/index.ts
  src/components/shared/Extensions/PopoverButton/types.ts
  src/components/shared/Extensions/Tabs/Tabs.tsx
  src/hooks/useHover.ts
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/common/MainNavigation.stories.tsx
  src/stories/common/ReputationTab.stories.tsx
  src/stories/common/StakesTab.stories.tsx
  src/stories/shared/PopoverButton.stories.tsx
  src/stories/shared/Tabs.stories.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add icons
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/shared/Extensions/PopoverButton/PopoverButton.tsx
  src/components/shared/Extensions/PopoverButton/types.ts
  src/images/icons/arrow-circle-up-right.svg
  src/stories/shared/PopoverButton.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

parent 0b04acd5293bfd9395c84ac0770b69b579b21acf author Katarzyna Krawczyk <katarzyna.krawczyk@pagepro.pl> 1684328764 +0200 committer Arren V <33682027+arrenv@users.noreply.github.com> 1685354755 +0200
  .storybook/main.css
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyItem.tsx
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/TitledContent/TitledContent.tsx
  src/components/common/Extensions/TitledContent/index.ts
  src/components/common/Extensions/TitledContent/types.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/MemberReputation/MemberReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/MemberReputation/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/types.ts
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/index.ts
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/types.ts
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/PopoverBase/index.ts
  src/components/shared/Extensions/PopoverBase/types.ts
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/shared/Extensions/Toast/partials/CloseButton.tsx
  src/components/shared/Extensions/UserAvatar/UserAvatar.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/images/icons/briefcase.svg
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

parent 4edce3ae520a8b1c2a93b1836ef60f5a2fa1cb70 author Katarzyna Krawczyk <katarzyna.krawczyk@pagepro.pl> 1684406632 +0200 committer Arren V <33682027+arrenv@users.noreply.github.com> 1685357253 +0200
  .storybook/main.css
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyDropdownMobile.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyItem.tsx
  src/components/common/Extensions/NotificationBanner/CopyUrl.tsx
  src/components/common/Extensions/NotificationBanner/NotificationBanner.module.css
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/index.ts
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/consts.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/index.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsHeader.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.module.css
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/index.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/frame/Extensions/MenuNavigation/MenuNavigation.tsx
  src/components/shared/Extensions/Accordion/hooks.ts
  src/components/shared/Extensions/Accordion/partials/AccordionContentItem.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionItem.tsx
  src/components/shared/Extensions/LearnMore/LearnMore.tsx
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/common/StakesTab.stories.tsx
  src/stories/common/SubNavigation/SubNavigation.stories.tsx
  src/stories/common/TransactionsTab.stories.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
  src/stories/frame/MenuNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

ui/15439879 create user hub dropdown
  src/components/common/Extensions/NotificationBanner/NotificationBanner.module.css
  src/components/common/Extensions/UserHub/UserHub.module.css
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/UserHubMobile.tsx
  src/components/common/Extensions/UserHub/consts.ts
  src/components/common/Extensions/UserHub/index.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/consts.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsHeader.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.module.css
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/common/Extensions/UserHub/types.ts
  src/components/shared/Extensions/Select/Select.module.css
  src/components/shared/Extensions/Select/Select.tsx
  src/components/shared/Extensions/Select/index.ts
  src/components/shared/Extensions/Select/types.ts
  src/stories/common/ReputationTab.stories.tsx
  src/stories/common/UserHub.stories.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/shared/Select.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added wallet popover
  src/components/common/Extensions/TitledContent/TitledContent.tsx
  src/components/common/Extensions/TitledContent/types.ts
  src/components/common/Extensions/UserNavigation/consts.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.module.css
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/index.ts
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/types.ts
  src/components/common/Extensions/UserNavigation/partials/WalletPopoverOption/WalletPopoverOption.module.css
  src/components/common/Extensions/UserNavigation/partials/WalletPopoverOption/WalletPopoverOption.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopoverOption/index.ts
  src/components/common/Extensions/UserNavigation/partials/WalletPopoverOption/types.ts
  src/components/shared/Extensions/Button/Button.module.css
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

added top variant tooltip
  src/stories/shared/Tooltip.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: icon sizes, border colors
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/UserNavigation/partials/Token/Token.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/shared/Avatar/Avatar.module.css
  src/components/shared/Avatar/Avatar.tsx
  src/components/shared/Extensions/Button/Button.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: removed hardcoded icon sizes
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updates after rebase
  src/components/common/Extensions/SubNavigation/partials/LearnMore.tsx
  src/components/shared/Fields/Input/HookForm/InputComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixes after rebase
  src/components/common/Extensions/SubNavigation/partials/types.ts
  src/components/shared/Tag/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Tag updates
  src/components/shared/Tag/Tag.tsx
  src/components/shared/Tag/enums.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added extension details page, fixed routes
  src/components/common/Extensions/ImageCarousel/ImageCarousel.types.ts
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/hooks.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/index.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/ExtensionDetails.tsx
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/hooks.tsx
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/index.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/types.ts
  src/constants/extensions.ts
  src/i18n/en.json
  src/routes/Routes.tsx
  src/types/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: types
  src/components/common/Extensions/SpecificSidePanel/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: reverted chages
  src/components/common/Extensions/SubNavigation/SubNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: reverted chages
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItemMobile.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: reverted changes
  src/components/common/Extensions/SubNavigation/SubNavigationItem/SubNavigationItemMobile.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: moved subNavigationItem to partials
  src/components/common/Extensions/SubNavigation/SubNavigation.tsx
  src/components/common/Extensions/SubNavigation/SubNavigationMobile.tsx
  src/components/common/Extensions/SubNavigation/consts.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/index.ts
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add side navigation to the layout
  .storybook/main.css
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/PageTitle/PageTitle.tsx
  src/components/frame/Extensions/Pages/Header/Header.tsx
  src/components/frame/Extensions/Pages/MainExtensionLayout.tsx
  src/components/frame/Extensions/Pages/MainExtensionPage/MainExtensionPage.tsx
  src/components/shared/Extensions/LearnMore/LearnMore.tsx
  src/components/shared/Extensions/Select/Select.module.css
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/hooks/useSideNavigation.ts
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/common/StakesTab.stories.tsx
  src/stories/shared/UserAvatar.stories.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: use Id.RootDomain instead of ROOT_DOMAIN_ID
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

changed ExtensionsStatusBadge-new to ExtensionsStatusBadge
  src/components/common/ColonyExtensions/ExtensionCard/ExtensionCard.tsx
  src/components/common/ColonyHome/ColonyExtensionsWidget/ColonyExtensionsWidget.tsx
  src/components/common/ExtensionStatusBadge/ExtensionStatusBadge.css
  src/components/common/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/common/ExtensionStatusBadge/index.ts
  src/components/common/Extensions/ExtensionDetails/tableData.tsx
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionItem/hooks.ts
  src/components/common/Extensions/ExtensionStatusBadge-new/ExtensionStatusBadge.tsx
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.module.css
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/common/Extensions/ExtensionStatusBadge/types.ts
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/MainNavigation/partials/SubMenu/types.ts
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/hooks.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/shared/Extensions/Fields/RadioList/types.ts
  src/stories/common/ExtensionStatusBadge.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

moved Link component to Extensions
  src/components/common/ColonyActions/ActionsListHeading.tsx
  src/components/common/ColonyExtensions/ExtensionCard/ExtensionCard.tsx
  src/components/common/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/components/common/ColonyTotalFunds/ManageFundsLink/ManageFundsLink.tsx
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.tsx
  src/components/common/Extensions/SupportingDocuments/LinkWrapper.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/common/UserProfile/UserColonies.tsx
  src/components/common/UserProfile/UserMeta.tsx
  src/components/frame/Extensions/TwoColumns/TwoColumns.tsx
  src/components/frame/TokenActivation/StakesTab/StakesListItem.tsx
  src/components/shared/ActivityBar/ActivityBar.tsx
  src/components/shared/Avatar/Avatar.tsx
  src/components/shared/Button/DottedAddButton.tsx
  src/components/shared/ColonyGrid/ColonyGrid.tsx
  src/components/shared/ColonyGrid/ColonyGridItem.tsx
  src/components/shared/DecisionHub/DecisionOption.tsx
  src/components/shared/Extensions/Link/Link.tsx
  src/components/shared/Extensions/Link/index.ts
  src/components/shared/Extensions/Link/types.ts
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/shared/FileUpload/UploadItem.tsx
  src/components/shared/GroupList/GroupList.tsx
  src/components/shared/Link/Link.tsx
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
  src/components/shared/UserMention/UserMention.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: sidepanel props fix
  src/components/common/Extensions/SpecificSidePanel/partials/Permissions.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/Pages/ExtensionDetailsPage/partials/ExtensionDetails/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

added routes
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/frame/Extensions/MenuNavigation/MenuNavigation.tsx
  src/components/frame/Extensions/Pages/MainExtensionLayout.tsx
  src/components/frame/Header/Header.module.css
  src/components/frame/Header/Header.tsx
  src/components/frame/Header/hooks.ts
  src/components/frame/Header/index.ts
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

update components
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/DateInstalled.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Permissions.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/Pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/Pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioList.tsx
  src/components/shared/Extensions/Fields/RadioList/types.ts
  src/components/shared/Fields/Form/ActionForm.tsx
  src/i18n/en.json
  src/stories/common/SpecialPercentageInput.stories.tsx
  src/types/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix ts error
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/frame/Extensions/Pages/LazyConsensusPage/LazyConsensusPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown
