Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

cleaned code
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/frame/Extensions/pages/partials/TopRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix ts error
  src/components/frame/Extensions/pages/partials/ActionButtons.tsx
Due: eslint --fix, prettier --write --ignore-unknown

added upgrade button
  src/components/frame/Extensions/pages/ExtensionDetailsPage/hooks.tsx
  src/components/frame/Extensions/pages/partials/ActionButtons.tsx
  src/components/frame/Extensions/pages/partials/TopRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

showing popover
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

updated LazyConsensusPage
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

changed conditional active installs
  src/components/frame/Extensions/pages/partials/ActiveInstall.tsx
Due: eslint --fix, prettier --write --ignore-unknown

removed unused conditional
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed specific side panel badges
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Bump block-ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Added manage permissions motion saga
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/managePermissionsMotion.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated details widget of permission management motion
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: changes needed to support motions
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Improved alignment of PermissionsLabel component
  src/components/shared/PermissionsLabel/PermissionsLabel.css
Due: prettier --write --ignore-unknown, stylelint --fix

Added amount transformation to TokenAmountInput
  src/components/common/Dialogs/TokenAmountInput/TokenAmountInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Hide transaction log link
  src/components/common/ColonyActions/ActionsListHeading.tsx
  src/components/shared/SortControls/SortControls.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

adjuted components and fixed layout full
  .storybook/main.css
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/common/Extensions/ExtensionStatusBadge/types.ts
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css.d.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/frame/Extensions/layouts/ExtensionsLayout.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/RouteLayouts/Default/Default.css
  src/components/shared/Extensions/NavLink/NavLink.tsx
  src/components/shared/Extensions/NavLink/types.ts
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed popover hide - added delayHide prop
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ExtensionDetails/ExtensionDetails.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/frame/Extensions/Header/hooks.ts
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/Tooltip/Tooltip.tsx
  src/components/shared/Extensions/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/common/UserNavigationMenu.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

moved ActionButton to separate component
  src/components/common/Extensions/ExtensionItem/ExtensionItem.module.css.d.ts
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/ActionButton.module.css
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/ActionButton.tsx
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/index.ts
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

moved activeInstalls to hook
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/partials/ActionButtons.tsx
  src/components/frame/Extensions/pages/partials/ActiveInstalls.tsx
  src/components/frame/Extensions/pages/partials/types.ts
  src/components/shared/Extensions/Accordion/partials/ContentTypeText.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
  src/hooks/index.ts
  src/hooks/useActiveInstalls.ts
  src/stories/common/SpecialHourInput.stories.tsx
  src/stories/common/SpecialPercentageInput.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

added missing import
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed type in special hour input
  src/stories/common/SpecialHourInput.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changes header components to match design, small fixes in components
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyDropdownMobile.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/common/Extensions/MainNavigation/MainNavigation.module.css
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css
  src/components/common/Extensions/MainNavigation/types.ts
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css.d.ts
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/frame/Extensions/Header/Header.module.css
  src/components/frame/Extensions/Header/Header.module.css.d.ts
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/Header/hooks.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/shared/Extensions/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/components/shared/Extensions/UserAvatarPopover/types.ts
  src/i18n/en.json
  src/images/icons/file-text.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: removed unused component
  src/components/frame/Extensions/MenuNavigation/MenuNavigation.tsx
  src/components/frame/Extensions/MenuNavigation/index.ts
  src/stories/common/ColonySwitcher.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed unused component
  src/stories/frame/MenuNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed condition
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated useClaimWidgetConfig to hide claim widget on motion failed with no stakes
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/ClaimMotionStakes.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated comment inside useClaimWidgetConfig
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/useClaimWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: call generated hooks using skip
  src/components/common/UserProfile/UserProfile.tsx
  src/hooks/useUserByNameOrAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: change username to userIdentifier
  src/hooks/useUserByNameOrAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/Header/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: imports
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/common/Extensions/UserNavigation/partials/UserSubmenu/UserSubmenu.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/Header/hooks.ts
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cleaned code, created TitleLabel
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/DateInstalled.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Developer.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Permissions.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/SpecificSidePanelRow.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Version.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/common/Extensions/SupportingDocuments/LinkWrapper.tsx
  src/components/common/Extensions/SupportingDocuments/SupportingDocuments.tsx
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/shared/Extensions/Modal/Modal.tsx
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/PopoverButton/PopoverButton.tsx
  src/components/shared/Extensions/TitleLabel/TitleLabel.tsx
  src/components/shared/Extensions/TitleLabel/index.ts
  src/components/shared/Extensions/TitleLabel/types.ts
  src/i18n/en.json
  src/images/icons/arrow-circle-down-right.svg
  src/images/icons/arrow-circle-up-right.svg
  src/stories/common/UserNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

handle case with displaying gruped transactions
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/partials/EmptyContent.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionDetails.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionStatus.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/common/Extensions/UserHub/types.ts
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/common/Extensions/UserNavigation/types.ts
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/GasStation/TransactionCard/GroupedTransaction.tsx
  src/components/shared/Fields/Form/ActionForm.tsx
  src/context/ExtensionsContext.tsx
  src/i18n/en.json
  src/routes/Routes.tsx
  src/types/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/UserHub/partials/EmptyContent.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionDetails.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionStatus.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/hooks.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/common/Extensions/UserHub/types.ts
  src/components/common/Extensions/UserNavigation/partials/UserReputation/UserReputation.tsx
  src/components/common/Extensions/UserNavigation/partials/WalletPopover/WalletPopover.tsx
  src/components/common/Extensions/UserNavigation/types.ts
  src/context/ExtensionsContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix after CR
  src/components/common/Extensions/UserHub/partials/EmptyContent.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

cleaned code
  .storybook/main.css
  src/components/common/Extensions/Checkbox/Checkbox.module.css
  src/components/common/Extensions/Checkbox/Checkbox.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.module.css
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/PageTitle/PageTitle.tsx
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DecideDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/ManageDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/consts.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.tsx
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/layouts/ExtensionsLayout.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/shared/Extensions/Modal/Modal.tsx
  src/components/shared/Extensions/TitleLabel/TitleLabel.tsx
  src/components/shared/Numeral/Numeral.tsx
  src/i18n/en.json
  src/stories/common/ColonySwitcher.stories.tsx
  src/stories/shared/Tooltip.stories.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
