Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Cleanup: Remove old user profile routes
  src/components/common/UserProfile/UserColonies.css
  src/components/common/UserProfile/UserColonies.css.d.ts
  src/components/common/UserProfile/UserColonies.tsx
  src/components/common/UserProfile/UserMeta.css
  src/components/common/UserProfile/UserMeta.css.d.ts
  src/components/common/UserProfile/UserMeta.tsx
  src/components/common/UserProfile/UserProfile.css
  src/components/common/UserProfile/UserProfile.css.d.ts
  src/components/common/UserProfile/UserProfile.tsx
  src/components/common/UserProfile/UserProfileSpinner.tsx
  src/components/common/UserProfile/index.ts
  src/components/common/UserProfileEdit/AdvancedSettingsRow.css
  src/components/common/UserProfileEdit/AdvancedSettingsRow.css.d.ts
  src/components/common/UserProfileEdit/AdvancedSettingsRow.tsx
  src/components/common/UserProfileEdit/CustomEndpointInput.css
  src/components/common/UserProfileEdit/CustomEndpointInput.css.d.ts
  src/components/common/UserProfileEdit/CustomEndpointInput.tsx
  src/components/common/UserProfileEdit/SaveForm.tsx
  src/components/common/UserProfileEdit/UserAdvancedSettings.css
  src/components/common/UserProfileEdit/UserAdvancedSettings.css.d.ts
  src/components/common/UserProfileEdit/UserAdvancedSettings.tsx
  src/components/common/UserProfileEdit/UserAvatarUploader.css
  src/components/common/UserProfileEdit/UserAvatarUploader.css.d.ts
  src/components/common/UserProfileEdit/UserAvatarUploader.tsx
  src/components/common/UserProfileEdit/UserInfo.tsx
  src/components/common/UserProfileEdit/UserMainSettings.css
  src/components/common/UserProfileEdit/UserMainSettings.css.d.ts
  src/components/common/UserProfileEdit/UserMainSettings.tsx
  src/components/common/UserProfileEdit/UserProfileEdit.tsx
  src/components/common/UserProfileEdit/index.ts
  src/components/frame/RouteLayouts/UserLayout/UserLayout.css
  src/components/frame/RouteLayouts/UserLayout/UserLayout.css.d.ts
  src/components/frame/RouteLayouts/UserLayout/UserLayout.tsx
  src/components/frame/RouteLayouts/UserLayout/index.ts
  src/components/frame/RouteLayouts/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/RpcForm/helpers.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/RpcForm/hooks.ts
  src/hooks/useTitle.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: team badge prop names
  src/components/v5/common/CompletedAction/partials/TransferFunds/TransferFunds.tsx
  src/components/v5/common/CompletedAction/partials/rows/CreatedIn.tsx
  src/components/v5/common/CompletedAction/partials/rows/TeamFrom.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: activity table cell height in loading state
  src/components/common/ColonyActionsTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Remove scrollbar in pending transactions list
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: `TokenModal` token activation introduce pending button
  src/components/v5/common/TokensModal/TokensModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: action sidepanel permissions copy fix
  src/i18n/en.json
Due: none

feat: update RolesTooltip component
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/shared/RolesTooltip/RolesTooltip.tsx
  src/components/v5/shared/RolesTooltip/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: `fetchTokenFromChain` fetch correct rpc param
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
Due: none

Remove: lambdas unused `sc` environment
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/setCurrentVersion/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

Fix the Title from Colony CDapp to Colony App
  src/templates/index.html
Due: none

Refactor: DonutChart tooltip positioning
  src/components/v5/shared/DonutChart/DonutChart.tsx
  src/components/v5/shared/DonutChart/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Show DonutChart tooltip only when segment is hovered
  src/components/v5/common/DonutChart/DonutChart.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Move DonutChart to shared folder
  src/components/v5/frame/ColonyHome/partials/ReputationChart/ReputationChart.tsx
  src/components/v5/frame/ColonyHome/partials/ReputationChart/utils.ts
  src/components/v5/shared/DonutChart/DonutChart.tsx
  src/components/v5/shared/DonutChart/hooks.tsx
  src/components/v5/shared/DonutChart/index.ts
  src/components/v5/shared/DonutChart/types.ts
  src/stories/common/DonutChart.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: DonutChart tooltip displaying at wrong position
  src/components/v5/common/DonutChart/DonutChart.tsx
  src/components/v5/common/DonutChart/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add transactionslistContainer id to TransactionsTab
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Username is now truncated wallet address when no profile
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Removed dividing line from hamburger when disconnected
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Remove unnecessary template literal
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Show create profile in hamburger menu when user has no profile
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `fetchMotionTimeoutPeriods` lambda block time call
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
Due: none

Remove TransactionsTab.css add tailwind css
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.css
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: add missing props definition for action select
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove sidebar description metadata getters
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateDecisionForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/CreateNewTeamForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditColonyDetailsForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/EnterRecoveryModeForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageColonyObjectivesForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/ManageTokensForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/MintTokenForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SplitPaymentForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/UnlockTokenForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/UpgradeColonyForm/utils.tsx
  src/components/v5/common/ActionSidebar/partials/forms/utils.ts
  src/components/v5/common/ActionSidebar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: create decision form description
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/ActionSidebarDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/CreateDecisionDescription/CreateDecisionDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: edit colony details form description
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/ActionSidebarDescription.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/EditColonyDetailsDescription/EditColonyDetailsDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown
