Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add handleSafeChange placeholder
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: tidy and better typing of safe picker
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
  src/components/shared/SingleUserPicker/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: clean up imports
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add css namespace
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add back all css for transaction types
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
Due: prettier --write --ignore-unknown, stylelint --fix

refactor: move safe helpers to shared utils folder
  src/components/common/Dialogs/AddExistingSafeDialog/helpers.ts
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
  src/redux/sagas/utils/index.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move shared messages and options to helpers
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/constants.ts
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use tmpIndex in form values
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add tmp index value to form
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: port over default select option fix
  src/components/shared/Fields/Select/HookForm/HookFormSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move single safe picker to control safe
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SingleSafePicker.tsx
  src/components/shared/SingleUserPicker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use schema token type in safe balance type
  src/types/safes.ts
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: export binance network
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove test data
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use new type folder structure
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: export safe types from ~types
  src/types/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move addItemButton to control safe dialog
  src/components/common/Dialogs/ControlSafeDialog/AddItemButton/AddItemButton.css
  src/components/common/Dialogs/ControlSafeDialog/AddItemButton/AddItemButton.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/AddItemButton/AddItemButton.tsx
  src/components/common/Dialogs/ControlSafeDialog/AddItemButton/index.ts
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/shared/Button/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

added eslint comment
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/consts.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContent.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContentItem.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionItem.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionNested/AccordionNestedHeader.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionNested/AccordionNestedItem.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeAccordionContent.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeAccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeText.tsx
  src/components/shared/Extensions/Accordion/types.ts
  src/components/shared/Extensions/ConnectForm/ConnectForm.tsx
  src/components/shared/Extensions/ConnectForm/index.ts
  src/components/shared/Extensions/ConnectForm/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/ConnectForm/partials/SpecialPercentageInput.tsx
  src/components/shared/Extensions/ConnectForm/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

set content type as optional
  src/components/shared/Extensions/Accordion/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

added missing conditionals in content type
  src/components/shared/Extensions/Accordion/partials/ContentTypeText.tsx
  src/components/shared/Extensions/Accordion/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

clean up imports
  src/components/shared/Extensions/Accordion/partials/AccordionNested/AccordionNestedItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

top alignment on the input in accordion
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionItem/hooks.ts
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/ActionButton.tsx
  src/components/common/Extensions/ExtensionItem/partials/ActionButton/types.ts
  src/components/frame/Extensions/pages/partials/HeadingIcon.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContent.tsx
  src/components/shared/Icon/Icon.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

updates
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved page to other file, added custom input
  src/components/frame/v5/pages/UserAdvancedPage/UserAdvancedPage.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/SettingsInputRow.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsRow/SettingsRow.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsRow/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/hooks.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/types.ts
  src/components/shared/Fields/Form/HookForm.tsx
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/consts.ts
  src/components/v5/common/Fields/Input/index.ts
  src/components/v5/common/Fields/Input/types.ts
  src/components/v5/common/Fields/hooks.ts
  src/i18n/en.json
  src/routes/Routes.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed input fields colour
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/SettingsInputRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved logic to hooks
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/SettingsInputRow.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsInputRow/hooks.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixex hover states
  src/components/common/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css.d.ts
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/hooks.ts
  src/components/frame/v5/pages/UserAdvancedPage/validation.ts
  src/components/v5/common/Fields/Input/Input.module.css
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/SettingsInputRow/SettingsInputRow.tsx
  src/components/v5/common/SettingsInputRow/hooks.ts
  src/components/v5/common/SettingsInputRow/index.ts
  src/components/v5/common/SettingsInputRow/types.ts
  src/components/v5/common/SettingsRow/SettingsRow.tsx
  src/components/v5/common/SettingsRow/index.ts
  src/components/v5/common/SettingsRow/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Ported over Linked Assets section in colony home
  src/components/common/ColonyHome/ColonyHomeLayout.tsx
  src/components/common/ColonyHome/ColonySafes/ColonySafes.css
  src/components/common/ColonyHome/ColonySafes/ColonySafes.css.d.ts
  src/components/common/ColonyHome/ColonySafes/ColonySafes.tsx
  src/components/common/ColonyHome/ColonySafes/index.ts
  src/components/shared/SafeInfoPopover/SafeInfo/SafeInfo.css
  src/components/shared/SafeInfoPopover/SafeInfo/SafeInfo.css.d.ts
  src/components/shared/SafeInfoPopover/SafeInfo/SafeInfo.tsx
  src/components/shared/SafeInfoPopover/SafeInfo/index.ts
  src/components/shared/SafeInfoPopover/SafeInfoPopover.css
  src/components/shared/SafeInfoPopover/SafeInfoPopover.css.d.ts
  src/components/shared/SafeInfoPopover/SafeInfoPopover.tsx
  src/components/shared/SafeInfoPopover/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

handle displying input pills
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved forms to separate files, typescript fixes
  src/components/frame/v5/pages/UserAdvancedPage/partials/FeesForm/FeesForm.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/FeesForm/hooks.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/FeesForm/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/RpcForm/RpcForm.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/RpcForm/hooks.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/RpcForm/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/utils.ts
  src/components/shared/Fields/Form/HookForm.tsx
  src/components/v5/common/SettingsInputRow/SettingsInputRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added action page and action list support for AddSafe actions
  amplify/backend/api/colonycdapp/schema.graphql
  package-lock.json
  package.json
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/getColonyMetadataChanges.tsx
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/shared/DetailsWidget/AddressDetail/AddressDetail.tsx
  src/components/shared/DetailsWidget/AddressDetail/index.ts
  src/components/shared/DetailsWidget/DetailsWidget.css
  src/components/shared/DetailsWidget/DetailsWidget.css.d.ts
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.css
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.css.d.ts
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.tsx
  src/components/shared/DetailsWidget/SafeDetail/index.ts
  src/components/shared/DetailsWidget/SafeValueDetail/SafeValueDetail.tsx
  src/components/shared/DetailsWidget/SafeValueDetail/index.ts
  src/components/shared/DetailsWidget/UserDetail/UserDetail.css.d.ts
  src/components/shared/DetailsWidget/UserDetail/UserDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/index.ts
  src/components/shared/DetailsWidget/types.ts
  src/graphql/fragments/actions.graphql
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/i18n/en-events.ts
  src/redux/sagas/actions/manageExistingSafes.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/redux/sagas/utils/metadataChangelog.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
  src/utils/lodash.ts
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: displayname
  src/components/v5/common/SettingsInputRow/SettingsInputRow.tsx
  src/components/v5/common/SettingsRow/SettingsRow.tsx
Due: eslint --fix, prettier --write --ignore-unknown

special input error state
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/shared/Extensions/Accordion/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix after CR
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.module.css
  src/components/v5/shared/ColonyVersionWidget/ColonyVersionWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed dynamic input error
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/stories/common/SpecialHourInput.stories.tsx
  src/stories/common/SpecialPercentageInput.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Remove InlineEdit components
  src/components/shared/Fields/InlineEdit/MultiLineEdit/MultiLineEdit.css
  src/components/shared/Fields/InlineEdit/MultiLineEdit/MultiLineEdit.css.d.ts
  src/components/shared/Fields/InlineEdit/MultiLineEdit/MultiLineEdit.tsx
  src/components/shared/Fields/InlineEdit/MultiLineEdit/index.ts
  src/components/shared/Fields/InlineEdit/SingleLineEdit/SingleLineEdit.css
  src/components/shared/Fields/InlineEdit/SingleLineEdit/SingleLineEdit.css.d.ts
  src/components/shared/Fields/InlineEdit/SingleLineEdit/SingleLineEdit.tsx
  src/components/shared/Fields/InlineEdit/SingleLineEdit/index.ts
  src/components/shared/Fields/InlineEdit/index.ts
  src/components/shared/Fields/InlineEdit/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Get rid of Formik from Extension setup component
  src/components/common/Extensions/ExtensionSetup/ExtensionSetup.tsx
  src/components/common/Extensions/ExtensionSetup/InitParamField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Remove toggle component
  src/components/shared/Fields/Toggle/Toggle.tsx
  src/components/shared/Fields/Toggle/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
