Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Update: block ingestor local dev image to latest release
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: Privacy policy link typo
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: cloudformation lambda params
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Update: docker file to expose all needed env vars
  Dockerfile
Due: none

Remove: unused wallet types ts ignores
  src/types/wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix syntax for ssm param cloudformation
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/getMembersForColony/amplify.state
Due: none

Fix: `colonyCreate` typo'd variable name
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `colonyCreate` role existance race condition
  src/context/ColonyContext/ColonyContext.tsx
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: block ingestor docker dev env to latest changes
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Update: dev env auth proxy hash to latest changes
  docker/colony-cdapp-dev-env-auth-proxy
Due: none

Update: dev env block ingestor hash to latest changes
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Bump ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: 15639549 - searching in dropdown
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

pass initial values to the function directly
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove unused files
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/v5/common/ActionSidebar/hooks/useSidebarActionForm.ts
  src/hooks/index.ts
  src/hooks/useGlobalEventHandler.ts
  src/utils/browser/dispatchGlobalEvent/consts.ts
  src/utils/browser/dispatchGlobalEvent/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

remove file
  src/utils/browser/dispatchGlobalEvent/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix reporeted issues
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/TransferFundsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix reported issues
  src/components/shared/Avatar/Avatar.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/shared/NotificationBanner/NotificationBanner.tsx
  src/components/v5/shared/NotificationBanner/types.ts
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserPopover/UserPopover.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserPopover/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed reported issues
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix styles; add missing details in popovers;
  src/components/frame/v5/pages/VerifiedPage/partials/MemberAvatar/MemberAvatar.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/shared/NotificationBanner/NotificationBanner.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
  src/components/v5/shared/UserPopoverAdditionalContent/UserPopoverAdditionalContent.tsx
  src/components/v5/shared/UserPopoverAdditionalContent/index.ts
  src/components/v5/shared/UserPopoverAdditionalContent/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed content alignment on incoming fund pages
  src/components/frame/v5/pages/ActivityPage/ActivityPage.tsx
  src/components/v5/common/TableWithActionsHeader/TableWithActionsHeader.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Focus action title when action sidebar is opened
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/Fields/TextareaBase/FormTextareaBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: ref console warning from RichText
  src/components/v5/shared/RichText/RichText.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Focus description field when expanded
  src/components/v5/common/ActionSidebar/partials/DescriptionField/DescriptionField.tsx
  src/components/v5/shared/RichText/RichText.tsx
  src/components/v5/shared/RichText/hooks.ts
  src/components/v5/shared/RichText/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Focus search input when members filters are opened
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Focus search input when funds filters are opened
  src/components/frame/v5/pages/FundsPage/partials/Filter/Filter.tsx
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.tsx
  src/components/v5/shared/SearchSelect/partials/SearchInput/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Switch all focus() calls to useLayoutEffect
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/Filter/partials/SearchInput/SearchInput.tsx
  src/components/v5/shared/RichText/RichText.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Focus first input of each colony creation wizard step
  src/components/common/Onboarding/wizardSteps/CreateColony/StepColonyNameInputs.tsx
  src/components/common/Onboarding/wizardSteps/CreateColony/StepCreateTokenInputs.tsx
  src/components/common/Onboarding/wizardSteps/CreateColony/TokenSelector.tsx
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Move focusing logic to TextareaBase component
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/Fields/TextareaBase/FormTextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/TextareaBase.tsx
  src/components/v5/common/Fields/TextareaBase/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix reported issues
  src/components/v5/shared/UserPopover/UserPopover.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `Inter` font to be self hosted
  src/fonts/Inter-Medium.woff2
  src/fonts/Inter-Regular.woff2
  src/fonts/Inter-SemiBold.woff2
  src/styles/fonts.css
  src/styles/main.global.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: the action change modal is not shown when the action is first selected and the title is changed
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionFormProps.ts
Due: eslint --fix, prettier --write --ignore-unknown

add search and token filters options
  src/components/frame/v5/pages/BalancePage/BalancePage.tsx
  src/components/frame/v5/pages/BalancePage/hooks.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/types.ts
  src/components/frame/v5/pages/FundsPage/partials/Filter/types.ts
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/FundsTable.tsx
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/hooks.tsx
  src/components/frame/v5/pages/FundsPage/partials/FundsTable/types.ts
  src/components/shared/IconTooltip/IconTooltip.tsx
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/TableWithHeaderAndMeatballMenu/TableWithHeaderAndMeatballMenu.tsx
  src/components/v5/shared/FilterButton/FilterButton.tsx
  src/components/v5/shared/FilterButton/index.ts
  src/components/v5/shared/FilterButton/types.ts
  src/components/v5/shared/Filters/Filters.tsx
  src/components/v5/shared/Filters/index.ts
  src/components/v5/shared/Filters/types.ts
  src/components/v5/shared/Filters/utils.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/folder-simple-lock.svg
  src/stories/shared/FilterButton.stories.tsx
  src/utils/lodash.ts
  src/utils/object.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: transfer funds form missing fields added
  src/components/common/Dialogs/TransferFundsDialog/helpers.ts
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/SidebarBanner.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/AdvancedPaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipentsField/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipentsField/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipientsField/AdvancedPaymentRecipientsField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipientsField/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipientsField/index.ts
  src/components/v5/common/ActionSidebar/partials/forms/AdvancedPaymentForm/partials/AdvancedPaymentRecipientsField/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/TransferFundsForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/TransferFundsForm/hooks.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/hooks/useTeamsOptions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed !!
  src/components/v5/common/ActionSidebar/ActionTypeSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

extract filtering logic into helper functions
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

cicd: enable auto deployments
  .github/workflows/amplify.yaml
  .github/workflows/build-deploy.yaml
Due: none

feat: add token info popover for native token pill
  src/components/common/ColonyHome/hooks.ts
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/v5/pages/BalancePage/partials/TokenAvatar/TokenAvatar.tsx
  src/components/v5/common/ColonyDashboardHeader/ColonyDashboardHeader.tsx
  src/components/v5/common/ColonyDashboardHeader/types.ts
  src/components/v5/common/NativeTokenPill/NativeTokenPill.tsx
Due: eslint --fix, prettier --write --ignore-unknown
