Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Display motion UI for edit and fund expenditure motions
  src/components/v5/common/CompletedAction/CompletedAction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Show motion URL once fund expenditure motion is created
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Fund expenditure via motion in testing UI
  src/components/v5/payments/TmpAdvancedPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: loader
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/AmountField/AmountField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/AmountField/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/RecipientField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update block ingestor docker hash to latest
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Fix: allow empty domain descriptions
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/forms/EditTeamForm/consts.ts
  src/components/v5/common/TeamCard/types.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: disable token actions if not available
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/v5/common/ActionSidebar/hooks/useActionsList.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/SearchSelect/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: completed permissions action
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/ManagePermissionsDescription.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/i18n/en-actions.ts
  src/i18n/en.json
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: remove old colony version case from fundExpenditureMotion saga
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Update auth proxy image hash
  docker/colony-cdapp-dev-env-auth-proxy
Due: none

feat: added createdAt information
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/PermissionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/utils.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: text color
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/PermissionSidebar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: activity table columns sizes
  src/components/common/ColonyActionsTable/hooks/useActionsTableProps.tsx
  src/components/common/ColonyActionsTable/hooks/useColonyActionsTableColumns.tsx
  src/components/common/ColonyActionsTable/hooks/useRenderRowLink.tsx
  src/styles/queries.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: team purpose field text alignment
  src/components/v5/common/CompletedAction/partials/ManageTeam/ManageTeam.tsx
  src/components/v5/common/CompletedAction/partials/rows/TeamPurpose.tsx
  src/components/v5/common/CompletedAction/partials/rows/index.ts
  src/i18n/en-actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: used react-intl functions
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/PermissionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/partials/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: Delete `stakeAmount` field from expenditure metadata
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Revert changes to backend-config.json
  amplify/backend/backend-config.json
Due: none

Fix: Add il8n strings for transaction group cancelStreamingPayment
  src/i18n/en.json
Due: none

Feat: Added isCancelled field to streaming payment model
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Ensure motion finalization actions are not shown in activity feed
  src/hooks/useActivityFeed/helpers.ts
  src/hooks/usePaginatedActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Added max width to external links
  src/hooks/useSocialLinksTableColumns.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added meatball menu in completed action
  src/components/v5/common/ActionSidebar/consts.ts
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/CompletedAction/partials/ManageReputation/ManageReputation.tsx
  src/components/v5/common/CompletedAction/partials/MeatballMenu/MeatballMenu.tsx
  src/components/v5/common/CompletedAction/partials/MeatballMenu/types.ts
  src/components/v5/common/CompletedAction/partials/MintTokens/MintTokens.tsx
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/components/v5/common/CompletedAction/partials/SimplePayment/SimplePayment.tsx
  src/components/v5/common/CompletedAction/partials/TransferFunds/TransferFunds.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: added widget
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/RequestBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/RequestBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/types.ts
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/graphql/generated.ts
  src/graphql/queries/motions.graphql
  src/i18n/en.json
  src/redux/sagas/motions/expenditures/fundExpenditureMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: editExpenditure sagas not assigning slot IDs correctly
  src/redux/sagas/expenditures/editExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: update `editExpenditure` saga to support updating recipients, claim delays and payouts as non-owner
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: add getMulticallDataForPayouts` util
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expendituresMulticall.ts
  src/redux/sagas/utils/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: removing payouts as part of edit expenditure
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: fetchVoterRewards lambda error logging
  amplify/backend/function/fetchVoterRewards/src/utils.js
Due: none

Feat: Changing locked expenditure owner using permissions
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expenditureMulticallData.ts
  src/redux/types/actions/expenditures.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Set values for testing edit expenditure saga
  src/components/v5/payments/TmpAdvancedPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: cancelling expenditure in testing UI
  src/components/v5/payments/TmpAdvancedPayments.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: set claim delays to infinity for newly created staged expenditures
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Merge pull request #1992 from JoinColony/feat/1975-locked-expenditure-changes-using-permissions
  src/redux/sagas/utils/expendituresMulticall.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: `cancelExpenditure` saga allowing cancelling draft and locked expenditures
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/cancelExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/utils/expendituresMulticall.ts
  src/redux/types/actions/expenditures.ts
  src/utils/solidity.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: Move all setExpenditureState helpers into separate file
  src/redux/sagas/expenditures/cancelExpenditure.ts
  src/redux/sagas/expenditures/editExpenditure.ts
  src/redux/sagas/utils/expenditureMulticallData.ts
  src/redux/sagas/utils/index.ts
  src/redux/sagas/utils/setExpenditureStateHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Merge pull request #2002 from JoinColony/feat/1997-cancel-expenditure-using-permissions
  src/redux/sagas/utils/expendituresMulticall.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
