Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

TEMP: Bump network image hash
  docker/colony-cdapp-dev-env-network
Due: none

Feat: Initial `Expenditure` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Change ExpenditureRecipient to ExpenditureSlot and add ExpenditurePayout type
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Feat: Add ExpenditureRecipient GraphQL type
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Chore: Update `colony-js` to 6.4.0
  package-lock.json
Due: none

Add `expendituresGlobalClaimDelay` field to Colony model
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Add `claimDelay` field to ExpenditureSlot type
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Add `payoutModifier` field to ExpenditureSlot type
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Feat: Add `ExpenditureStatus` enum
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

Fixed getAddedSafe and getRemovedSafes method of getting the safes
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

Implemented action page event messsage for remove safes action
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Revert "TEMP: Fix network container run script"
  docker/files/network/run.sh.base
Due: none

Revert "TEMP: Bump network image hash"
  docker/colony-cdapp-dev-env-network
Due: none

Added support for remove safe action in action page and action list
  src/components/shared/DetailsWidget/DetailItem.css
  src/components/shared/DetailsWidget/DetailItem.css.d.ts
  src/components/shared/DetailsWidget/DetailItem.tsx
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.css
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/utils/colonyActions.ts
  src/utils/lodash.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed details widget for unlock token and address book actions
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

mobile header padding
  .storybook/main.css
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.module.css
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/shared/Avatar/Avatar.module.css
  src/components/v5/common/Fields/Select/Select.module.css
  src/components/v5/common/Fields/Select/Select.tsx
  src/components/v5/common/PageTitle/PageTitle.module.css
  src/components/v5/common/PageTitle/PageTitle.tsx
  src/components/v5/shared/CardWithBios/partials/SubNavigation.tsx
  src/i18n/en.json
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: modal width, text color, select styles
  src/components/frame/v5/pages/ColonyUsersPage/ColonyUsersPage.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/v5/common/Fields/Select/Select.module.css
  src/components/v5/common/Fields/Select/Select.tsx
  src/components/v5/common/Fields/Select/types.ts
  src/components/v5/common/MembersList/MembersList.tsx
  src/components/v5/common/MembersList/hooks.ts
  src/components/v5/common/Modals/ManageMemberModal/ManageMemberModal.tsx
  src/components/v5/shared/MembersSelect/MembersSelect.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

changes styles to class
  src/components/common/Extensions/UserHub/UserHub.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/v5/common/Modals/ManageMemberModal/ManageMemberModal.tsx
  src/components/v5/shared/MembersSelect/MembersSelect.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

hide active installs on tablet
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/Extensions/pages/Pages.module.css
  src/components/frame/Extensions/pages/partials/ActionButtons.tsx
  src/components/frame/Extensions/pages/partials/ActiveInstalls.tsx
  src/components/frame/Extensions/pages/partials/HeadingIcon.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: overflow
  src/components/v5/common/Fields/Select/Select.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

css fixes in special input
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

clean code
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

handle error statuses and success, refactoring
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/AvatarUploader.module.css
  src/components/frame/v5/pages/UserProfilePage/partials/AvatarUploader.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/DefaultContent.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/ErrorContent.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/FileUpload.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/FileUploader.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/SuccessContent.tsx
  src/components/frame/v5/pages/UserProfilePage/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

update text button style
  src/components/frame/v5/pages/UserProfilePage/partials/ErrorContent.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/FileUpload.tsx
  src/components/v5/shared/Button/TextButton.module.css
  src/components/v5/shared/Button/TextButton.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added colony details page
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.module.css
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/common/ObjectiveBox/index.ts
  src/components/v5/common/ObjectiveBox/types.ts
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/plus.svg
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixes
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/common/ObjectiveBox/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: moved progressbar to separate file, added story
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
  src/components/v5/shared/ProgressBar/index.ts
  src/components/v5/shared/ProgressBar/types.ts
  src/stories/common/ProgressBar.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix remove button
  src/components/frame/v5/pages/UserProfilePage/partials/SuccessContent.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

moved uploader to components
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/types.ts
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/components/v5/common/AvatarUploader/index.ts
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
  src/components/v5/common/AvatarUploader/partials/FileUpload.tsx
  src/components/v5/common/AvatarUploader/partials/SuccessContent.tsx
  src/components/v5/common/AvatarUploader/types.ts
  src/components/v5/common/Filter/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

remove empty line
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix display name
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/components/v5/common/Filter/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Ported over multi-transaction functionality into the Control Safe dialog
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/index.ts
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/Fields/Select/HookForm/HookFormSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Updated validation of ControlSafeDialog
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed removal of tabs in ControlSafeDialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Bumped colony version to 12v
  docker/colony-cdapp-dev-env-network
Due: none

drag & drop improvement
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/LeftColumn.tsx
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/FileUpload.tsx
  src/components/v5/common/AvatarUploader/types.ts
  src/hooks/useDropzoneWithFileReader.ts
Due: eslint --fix, prettier --write --ignore-unknown

add mobile styles
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/FileUpload.tsx
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add toast success info
  src/components/v5/common/AvatarUploader/hooks.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix after CR
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix
