Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Fix: 0 showing in UI if no expenditure slots claimable
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureClaimButton/ExpenditureClaimButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed form params
  src/components/v5/common/ActionSidebar/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Claiming expenditure payouts in different tokens
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/redux/sagas/expenditures/claimExpenditure.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: action-sidepanel-description-field
  src/components/v5/shared/RichText/RichText.tsx
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

update amount title & mint token actions content
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/hooks.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

moved actions to separate hook
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionSidebar/partials/actions/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

prepare forms structure
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/MintTokenForm.tsx
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/index.ts
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/SinglePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

improvements
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/MintTokenForm.tsx
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/SinglePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: transfer funds form
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/TransferFundsForm/TransferFundsForm.tsx
  src/components/v5/common/ActionSidebar/partials/TransferFundsForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/TransferFundsForm/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Upgrade colony network and colony-js
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
  docker/colony-cdapp-dev-env-network
  docker/files/network/run.sh.base
  package-lock.json
  package.json
Due: none

Only claim payouts with non-zero amounts
  src/redux/sagas/expenditures/claimExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Only move funds for non-zero expenditure balances
  src/redux/sagas/expenditures/fundExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

handle displaying errow with no permissions
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/ErrorBanner.tsx
  src/components/v5/common/ActionSidebar/types.ts
  src/hooks/useDialogActionPermissions.ts
  src/i18n/en.json
  src/transformers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: renamed
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixed displayname
  src/components/v5/common/ActionSidebar/partials/ErrorBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix duplicate table row
  src/components/v5/common/ActionsContent/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionsContent/partials/AmountField/hooks.ts
  src/components/v5/common/ActionsContent/partials/AmountField/types.ts
  src/components/v5/common/ActionsContent/partials/TransactionItem/TransactionItem.tsx
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionsContent/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionsContent/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix type
  src/components/v5/common/ActionsContent/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

add default value
  src/components/v5/common/ActionsContent/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed submit button text
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/hooks.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

add missing loader
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/MintTokenForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added unlock token action
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/UnlockTokenForm/UnlockTokenForm.tsx
  src/components/v5/common/ActionSidebar/partials/UnlockTokenForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/UnlockTokenForm/index.ts
  src/components/v5/common/ActionsContent/hooks.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/TeamsSelect.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

prepare default input field and create action
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/CreateNewTeamForm/CreateNewTeamForm.tsx
  src/components/v5/common/ActionSidebar/partials/CreateNewTeamForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/CreateNewTeamForm/index.ts
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/hooks.ts
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/hooks.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/DecisionField.tsx
  src/components/v5/common/ActionsContent/partials/DefaultField/DefaultField.module.css
  src/components/v5/common/ActionsContent/partials/DefaultField/DefaultField.tsx
  src/components/v5/common/ActionsContent/partials/DefaultField/index.ts
  src/components/v5/common/ActionsContent/partials/DefaultField/types.ts
  src/components/v5/common/ActionsContent/partials/TeamsSelect/TeamsSelect.tsx
  src/components/v5/shared/RichText/hooks.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/paint.svg
  src/images/icons/rocket.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: removed errorbanner
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed errorbanner
  src/components/v5/common/ActionSidebar/partials/ErrorBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add `upgrade-colony-js` script
  package.json
  scripts/upgrade-colony-js.sh
Due: none

Upgrade colony-js in lambdas
  amplify/backend/function/fetchMotionState/src/package-lock.json
  amplify/backend/function/fetchMotionState/src/package.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package-lock.json
  amplify/backend/function/fetchMotionTimeoutPeriods/src/package.json
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/getMembersForColony/src/package-lock.json
  amplify/backend/function/getMembersForColony/src/package.json
  amplify/backend/function/getReputationForTopDomains/src/package-lock.json
  amplify/backend/function/getReputationForTopDomains/src/package.json
  amplify/backend/function/getUserReputation/src/package-lock.json
  amplify/backend/function/getUserReputation/src/package.json
  amplify/backend/function/getUserTokenBalance/src/package-lock.json
  amplify/backend/function/getUserTokenBalance/src/package.json
  amplify/backend/function/qaSSMtest/src/package-lock.json
  amplify/backend/function/qaSSMtest/src/package.json
Due: none

Update README
  Readme.md
  scripts/upgrade-colony-js.sh
Due: none

Upgrade colony-js in fetchColonyBalances
  amplify/backend/function/fetchColonyBalances/src/package-lock.json
  amplify/backend/function/fetchColonyBalances/src/package.json
Due: none

Add Staked expenditure to useEnabledExtensions hook
  src/hooks/useEnabledExtensions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add i18n messages for initializing Staked Expenditure
  src/i18n/en.json
Due: none

Add Staked expenditure extension config
  src/constants/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add StakedExpenditureParams type to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/constants/extensions.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Enabling Staked Expenditure extension
  src/constants/extensions.ts
  src/context/ColonyManager.ts
Due: eslint --fix, prettier --write --ignore-unknown
