Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: add lambda for voter reward range
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/fetchVoterRewards/amplify.state
  amplify/backend/function/fetchVoterRewards/custom-policies.json
  amplify/backend/function/fetchVoterRewards/fetchVoterRewards-cloudformation-template.json
  amplify/backend/function/fetchVoterRewards/function-parameters.json
  amplify/backend/function/fetchVoterRewards/src/graphql.js
  amplify/backend/function/fetchVoterRewards/src/index.js
  amplify/backend/function/fetchVoterRewards/src/package-lock.json
  amplify/backend/function/fetchVoterRewards/src/package.json
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
Due: none

feat: wire in vote motion saga
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/voteMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: refetch motion state when action data changes
  src/hooks/useGetColonyAction.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add logic for ui update post-vote
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVotingWidgetUpdate.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: use real data for voting widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingPanel.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: rep after rebase
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: spacing in json.base
  docker/files/amplify/amplify-meta.json.base
Due: none

fix: embolden claim detail label
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/ClaimMotionStakes.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/ClaimMotionStakes.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/ClaimMotionStakes/ClaimMotionStakes.tsx
  src/components/shared/DetailsWidget/DetailItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: sync isClaimed with user
  src/hooks/useClaimWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: sync hasUserVoted with user
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVotingWidgetUpdate.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add reveal button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealButton.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: add reveal reward item
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealRewardItem.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealRewardItem.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealRewardItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add Reveal Widget Heading
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidgetHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidgetHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidgetHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealedVote.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: update voter reward lamda to include reward
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchVoterRewards/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  src/graphql/queries/motions.graphql
Due: prettier --write --ignore-unknown

feat: add reveal widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add reveal components to vote details
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: lift queries out of voteRewardItem
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update fetch policy on voter rewards query
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add revealVoteMotion saga
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/revealVoteMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update schema with revealed vote
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

feat: wire in reveal btn
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: view update logic to hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/useRevealWidgetUpdate.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: sync btn disabled state with user
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/useRevealWidgetUpdate.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: reveal btn styles
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealButton.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealButton.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/RevealWidget/RevealButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: update motionData schema to track total votes
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove useAvatarDispalyCounter hook
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
  src/hooks/index.ts
  src/hooks/useAvatarDisplayCounter.ts
Due: eslint --fix, prettier --write --ignore-unknown

port: VoteOutcome and subcomponents
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResults.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResults.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResults.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResultsItem.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResultsItem.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoteResultsItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterAvatars.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterAvatars.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterAvatars.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterResultsItemHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterResultsItemHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterResultsItemHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/index.ts
  src/components/shared/ProgressBar/ProgressBar.tsx
  src/utils/avatars.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add vote outcome to finalize and claim
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: import spacing
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/VoterAvatars.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update schema with data needed for voting progress
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
  src/graphql/fragments/extension.graphql
  src/redux/sagas/utils/refreshExtension.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add progress logic to voting progress component
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/VotingProgress/VotingProgress.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: pass motion data down to VotingProgress
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update progress container styles
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: VoteButton padding
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.css
Due: prettier --write --ignore-unknown, stylelint --fix

chore: update block-ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

chore: import order
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.tsx
Due: eslint --fix, prettier --write --ignore-unknown
