Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Added makeArbitrarytransactions motion icon
  src/components/shared/DetailsWidget/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump block-ingestor commit hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Integrated motion components and logic with ControlSafeDialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add safe transaction enum to schema
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
  src/graphql/generated.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add initial safe messages
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/i18n/en-events.ts
  src/types/actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip: port safe transaction banner
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.tsx
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/SafeTransactionBanner.css
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/SafeTransactionBanner.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/SafeTransactionBanner.tsx
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/index.ts
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: Add correct fetchers for safe event values
  src/components/common/ColonyActions/helpers/itemStyles.css
  src/components/common/ColonyActions/helpers/itemStyles.css.d.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

wip: safe details widget
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/shared/DetailsWidget/ActionTypeDetail/ActionTypeDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/types.ts
  src/i18n/en-actions.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: show safe transaction detail widget
  src/components/shared/DetailsWidget/DetailsWidget.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: safe detail widget types
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/FunctionsSection.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Recipient.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Value.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: missing key error
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: contract interaction widget
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/FunctionsSection.tsx
  src/utils/safes/getContractUsefulMethods.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: mirror safe balance token closer to Token type
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add ether svg
  src/images/icons.json
  src/images/icons/ether.svg
Due: none

fix: typo
  src/components/shared/FriendlyName/FriendlyName.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: fix import order
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: get token thumbnail in widget
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Value.tsx
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: update how we handle message id's
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/SafeTransactionBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: fetch User using recipient wallet address
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use established enums
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/shared/DetailsWidget/ActionTypeDetail/ActionTypeDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/types.ts
  src/i18n/en-actions.ts
  src/i18n/en-events.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/graphql/generated.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove obsolete type hack
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: transaction banner not displaying properly
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
  src/components/common/ColonyActions/ActionDetailsPage/SafeTransactionBanner/SafeTransactionBanner.css
  src/images/icons.json
  src/images/icons/share.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: remove safe multiple transaction type
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

refactor: safe transaction msg selection
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix order of imports
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase issues
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/DetailsWidget/types.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update generated.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move address fallback to react
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/i18n/en-events.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: action page layout functions without action Data
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: clarify that the type is not optional
  src/components/common/Dialogs/ControlSafeDialog/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: fetch safe user from transaction address
  schema.graphql
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added getSafeTransactionstatus amplify function
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/getSafeTransactionStatus/amplify.state
  amplify/backend/function/getSafeTransactionStatus/custom-policies.json
  amplify/backend/function/getSafeTransactionStatus/function-parameters.json
  amplify/backend/function/getSafeTransactionStatus/getSafeTransactionStatus-cloudformation-template.json
  amplify/backend/function/getSafeTransactionStatus/src/abis.js
  amplify/backend/function/getSafeTransactionStatus/src/event.json
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/package-lock.json
  amplify/backend/function/getSafeTransactionStatus/src/package.json
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  docker/files/amplify/amplify-meta.json.base
  src/components/shared/Fields/Select/Select.tsx
  src/graphql/generated.ts
  src/graphql/queries/actions.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Integrated safe transaction motions with motion page and action list
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteOutcome.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/types.ts
  src/constants/index.ts
  src/hooks/index.ts
  src/hooks/useSafeTransactionStatus.ts
  src/i18n/en-actions.ts
  src/redux/sagas/motions/finalizeMotion.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/types/actions.ts
  src/utils/colonyActions.ts
  src/utils/safes/getTransactionStatuses.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed typo and reused TRANSACTION_STATUS enum where appropiate
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/hooks/useSafeTransactionStatus.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add mutation to create standalone token
  src/graphql/mutations/token.graphql
Due: prettier --write --ignore-unknown

feat: use Token model in safe transaction
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/safe.graphql
  src/graphql/mutations/safe.graphql
Due: prettier --write --ignore-unknown

chore: commit generated.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add safe transactions to db with new schema
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/motion.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
