Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: access motion data from provider in staking widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update userStakeMessage to use real data
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/UserStakeMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in single total stake heading
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStakeHeading.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire progress bar to real data
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in RequiredStakeMessage
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in StakingInput
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: hide annotation when there's nothing left to stake
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add canBeStaked logic to provider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: disable slider and staking btn when cant be staked
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in stake required banner display logic
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: tidy staking input imports
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add staking widget slider displayname
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: tidy required stake message imports
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: MotionStakesFragment type name
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

refactor: StakingWidgetContext as undefined by default
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove inadvertant semi colon
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: add ObjectionHeading
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionHeading.css
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionHeading.css.d.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionHeading.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add RaiseObjectionDialog
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add ObjectionSlider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.css
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.css.d.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add objection controls
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionControls.css
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionControls.css.d.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionControls.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add objection annotation
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionAnnotation.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: staking slider to be reusable in objection dialog
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: required stake message to not rely on context
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: new useStakingSlider hook to get needed data
  src/graphql/fragments/actions.graphql
  src/hooks/index.ts
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: pass data into StakingSliderAnnotation
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: pass canBeStaked through to objection dialog
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: staking threshold should use total percentage staked
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: rename "StakingSliderAnnotation" to avoid confusion with "ObjectionAnnotation"
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add RaiseObjectionDialog to Dialogs index file
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/Dialogs/TokenManagementDialog/index.ts
  src/components/common/Dialogs/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: tidy RequiredStakeMessage import
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move staking transform logic to getter
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: extract object button logic to hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/hooks/index.ts
  src/hooks/useObjectButton.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in raise objection dialog
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disabled logic
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/hooks/useObjectButton.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add GroupedTotalStake
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStake.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStake.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStake.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add GroupedTotalStakeHeading
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStakeHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStakeHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStakeHeading.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add TotalStakeRadios.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/GroupedTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/TotalStakeRadios.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/TotalStakeRadios.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/TotalStakeRadios.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: custom radio group
  src/components/shared/Fields/RadioGroup/CustomRadioGroup.css
  src/components/shared/Fields/RadioGroup/CustomRadioGroup.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add useTotalStakeRadios hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/GroupedTotalStake/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
  src/components/shared/Fields/Radio/index.ts
  src/hooks/useTotalStakeRadios.tsx
Due: eslint --fix, prettier --write --ignore-unknown
