Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: add address swap if user offramp is enabled
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/SimplePaymentDescription.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/utils.tsx
  src/graphql/generated.ts
  src/redux/sagas/actions/payment.ts
  src/redux/sagas/motions/paymentMotion.ts
  src/redux/sagas/utils/expenditures.ts
  src/redux/types/actions/colonyActions.ts
  src/utils/user.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add fetching of bridge fees handler
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZQuery/src/handlers/getFees.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  src/components/frame/FourOFour/FourOFour.tsx
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

remove unused prop KYCModel
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

hackathon: enable bank details submission
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  src/components/frame/v5/pages/UserCryptoToFiatPage/CyrptoToFiatPage.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/ContactDetailsForm/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/PersonalDetailsForm/index.tsx
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

existing kyc object is different
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

feat: fetch liquidation address from the DB
  src/utils/user.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: remove unused component
  src/components/common/Extensions/UserHub/partials/CryptoToFiatTab/partials/WithdrawCardold.tsx
Due: eslint --fix, prettier --write --ignore-unknown

hackathon: fix bank details
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Update: `useCSVFileTemplate` default user names
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: user hub crypto to fiat tab active button state
  src/components/common/Extensions/UserHub/partials/CryptoToFiatTab/partials/TransferForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Update lambda runtime
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
Due: none

Update: `useCSVFileTemplate` instructions url
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix drains
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: remove values for posthog
  .env.local
Due: none

putCustomer creating a bank account
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  src/components/frame/FourOFour/FourOFour.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/graphql/generated.ts
  src/types/offramp.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update lambda roles
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
Due: none

Add get drains handler
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/graphql.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/createExternalAccount.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/kycLinks.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/putCustomer.js
  amplify/backend/function/bridgeXYZQuery/src/graphql.js
  amplify/backend/function/bridgeXYZQuery/src/handlers/getLiquidations.js
  amplify/backend/function/bridgeXYZQuery/src/index.js
  docker/colony-cdapp-dev-env-mocking
  src/components/frame/FourOFour/FourOFour.tsx
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: update user account modals
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetails/BankDetails.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/RowItem.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/RowItem/types.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/Verification.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/Verification/consts.ts
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/common/Pills/types.ts
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: add static dev usdc network deployment
  docker/colony-cdapp-dev-env-network
Due: none

fix terms iframe size
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/KYCModal/index.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/PersonalDetailsForm/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update colonyNetwork hackathon hash
  docker/colony-cdapp-dev-env-network
Due: none

feat: add c2f transfer saga
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Extensions/UserHub/partials/CryptoToFiatTab/CryptoToFiatTab.tsx
  src/graphql/generated.ts
  src/graphql/queries/liquidationAddress.graphql
  src/redux/actionTypes.ts
  src/redux/sagas/users/index.ts
  src/redux/sagas/utils/getColonyManager.ts
  src/redux/types/actions/user.ts
  src/types/transactions.ts
  src/utils/user.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix commit hash
  docker/colony-cdapp-dev-env-mocking
Due: none

Fix check kyc handler
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  src/components/frame/FourOFour/FourOFour.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: local USDC to env
  .env.example
  .env.local
  src/constants/index.ts
  src/redux/sagas/users/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

check kyc to return bank accounts
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/bridgeXYZMutation/src/graphql.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  src/graphql/generated.ts
  src/graphql/mutations/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Chain id is int
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

Create liquidisation address if kyc is approved
  amplify/backend/function/bridgeXYZMutation/src/graphql.js
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
  docker/colony-cdapp-dev-env-mocking
Due: none

fix: use correct decimals in fiat withdrawal
  docker/colony-cdapp-dev-env-network
  src/redux/sagas/users/index.ts
  src/types/transactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: hide transaction buttons based on feature flag
  src/components/frame/FourOFour/FourOFour.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add table for crypto to fiat payments UI only
  src/components/frame/v5/pages/UserCryptoToFiatPage/CryptoToFiatPage.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/FiatTransfersTable.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/consts.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/hooks.tsx
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/index.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/mockData.ts
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FiatTransfersTable/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Updates after merge conflicts
  amplify/backend/function/bridgeXYZMutation/src/handlers/checkKyc.js
Due: none

Fix: lint error
  .env.local
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/BankDetailsModal/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix select error state
  src/components/frame/v5/pages/UserCryptoToFiatPage/partials/FormSelect.tsx
  src/components/v5/common/Fields/Select/Select.module.css
  src/components/v5/common/Fields/Select/Select.tsx
  src/components/v5/common/Fields/Select/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Lambda layers config
  amplify/backend/backend-config.json
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
Due: none

fix: add userpopover
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add lambda layers to missing lambdas
  amplify/backend/function/bridgeXYZMutation/bridgeXYZMutation-cloudformation-template.json
  amplify/backend/function/bridgeXYZMutation/function-parameters.json
  amplify/backend/function/bridgeXYZQuery/bridgeXYZQuery-cloudformation-template.json
  amplify/backend/function/bridgeXYZQuery/function-parameters.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/function/createColonyEtherealMetadata/createColonyEtherealMetadata-cloudformation-template.json
  amplify/backend/function/createColonyEtherealMetadata/function-parameters.json
Due: none

Drain types
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Finish updating drain types
  docker/colony-cdapp-dev-env-mocking
  src/graphql/generated.ts
  src/graphql/queries/bridgeXYZ.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Add missing lambda deps
  amplify/backend/function/bridgeXYZQuery/src/package-lock.json
  amplify/backend/function/bridgeXYZQuery/src/package.json
Due: none
