Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

select box hover
  src/components/common/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed eslint errors
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/Accordion.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/Accordion/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fixed type of accordion
  src/components/shared/Extensions/Accordion/partials/AccordionContentItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed styles in accordion
  src/components/common/Extensions/MainNavigation/partials/NavMobile/NavMobile.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fixed accordion
  src/components/shared/Extensions/Accordion/partials/AccordionContent.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContentItem.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/v5/common/Filter/partials/AccordionItem.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: added advanced page
  src/components/frame/v5/pages/UserAdvancedPage/UserAdvancedPage.tsx
  src/components/frame/v5/pages/UserAdvancedPage/hooks.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsRow/SettingsRow.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsRow/index.ts
  src/components/frame/v5/pages/UserAdvancedPage/partials/SettingsRow/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/types.ts
  src/components/frame/v5/pages/UserAdvancedPage/validation.ts
  src/components/v5/common/Fields/Switch/Switch.tsx
  src/components/v5/common/Fields/Switch/types.ts
  src/i18n/en.json
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: translation
  src/i18n/en.json
Due: none

prepare input component & update teaxtarea comp
  .storybook/main.css
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/consts.ts
  src/components/v5/common/Fields/Input/index.ts
  src/components/v5/common/Fields/Input/types.ts
  src/components/v5/common/Fields/Textarea/Textarea.tsx
  src/components/v5/common/Fields/Textarea/types.ts
  src/components/v5/common/Fields/hooks.ts
  src/stories/common/Input.stories.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

update type
  src/components/v5/common/Fields/Textarea/Textarea.tsx
  src/components/v5/common/Fields/Textarea/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

prepare profile page
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.module.css
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/LeftColumn.tsx
  src/components/frame/v5/pages/UserProfilePage/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

code improvements
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/consts.ts
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/v5/common/Fields/Textarea/Textarea.tsx
  src/components/v5/common/Fields/Textarea/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated manageExistingSafes to use excludeTypenameKey util func
  src/redux/sagas/actions/manageExistingSafes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes afrer CR
  .storybook/main.css
  src/components/common/CreateUserWizard/validation.ts
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/partials/LeftColumn.tsx
  src/components/frame/v5/pages/UserProfilePage/types.ts
  src/components/v5/common/Fields/Input/Input.tsx
  src/i18n/en.json
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

disable input
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/shared/Extensions/Tooltip/Tooltip.tsx
  src/components/shared/Extensions/Tooltip/types.ts
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
  src/i18n/en.json
  src/stories/common/Input.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

wip: minimal form working
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/constants.ts
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add safe integration url
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

tmp: invert disabled inputs for testing
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add ability to override safe render fn
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: incorrect prevStep string
  src/components/common/NewActionButton/wizardConfig.ts
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
  src/components/shared/SingleUserPicker/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: correct transaction type css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove duplicate helpers and types
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: tidied up types
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: dont need index to import from ~
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: show warning if version is not >= 12
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/NewActionButton/wizardConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip: minimal working version
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/index.ts
  src/components/common/Dialogs/index.ts
  src/components/common/NewActionButton/wizardConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: use CDapp displayName naming convention
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/constants.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

port: add item button
  src/components/shared/Button/AddItemButton.css
  src/components/shared/Button/AddItemButton.css.d.ts
  src/components/shared/Button/AddItemButton.tsx
  src/components/shared/Button/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add safe validation
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: match default safe to modified validation
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: safe picker avatar breaking
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

port: safe helpers and types
  src/redux/sagas/utils/index.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/types/safes.ts
  src/utils/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

port: transaction selector and error message
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

port: single safe picker
  src/components/shared/SingleUserPicker/SingleSafePicker.tsx
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
  src/components/shared/SingleUserPicker/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

tmp: add temporary types for safe transaction data
  src/components/common/Dialogs/ControlSafeDialog/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: extract recipient picker component
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added placeholder transform
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: interpolate displayName in MSG's
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

port: basic placeholder transaction type selector
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add additembutton to control safe form
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

port: transaction validation
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
