Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: remove loading state when switching user from colony grid in profile
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: profile is not required
  src/components/shared/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: make user name not required
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/common/Members/filterMembers.ts
  src/components/shared/SingleUserPicker/utils.ts
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: connectWallet in AppContext
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: user types
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/components/shared/UserInfoPopover/UserInfo.tsx
  src/components/shared/UserInfoPopover/UserInfoPopover.tsx
  src/components/shared/UserMention/UserMention.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed max button validation on token action popover
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated block explorer link getting function
  src/constants/index.ts
  src/utils/external/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated ColonyDomainDescription's color logic
  src/components/common/ColonyHome/ColonyDomainDescription/ColonyDomainDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: clean typecheck
  src/components/common/UserProfile/UserColonies.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add token to metamask
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/types/rpcMethods.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: missing border around active colony
  src/components/frame/SubscribedColoniesList/SubscribedColoniesList.css
Due: prettier --write --ignore-unknown, stylelint --fix

fix: manageFundsLink arrow hover
  src/components/common/ColonyTotalFunds/ManageFundsLink/ManageFundsLink.css
  src/images/icons/arrow-right.svg
Due: prettier --write --ignore-unknown, stylelint --fix

refactor: waitForTxResult to return result
  src/redux/sagas/colony/index.ts
  src/redux/sagas/transactions/createTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable unclaimed transfer item once claimed
  src/components/common/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: Select token balance on ColonyHome
  src/components/common/ColonyTotalFunds/SelectedToken/ColonyTotalFundsPopover.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/SelectedToken.tsx
  src/components/common/ColonyTotalFunds/SelectedToken/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add 'is production' webpack plugin
  webpack.dev.js
  webpack.prod.js
Due: none

TEMP: Debug env variables
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Dockerfile variables order
  Dockerfile
Due: none

Move dotenv-webpack plugin to dev webpack configuration
  webpack.base.js
  webpack.dev.js
Due: none

fix: type check
  src/components/common/Dialogs/ManageWhitelistDialog/WhitelistedAddresses/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove env variables logging
  src/context/apolloClient.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: UnclaimedTransfers heading present when length is 0
  src/components/common/UnclaimedTransfers/UnclaimedTransfers.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: token choice misalignment
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/TokenManagementDialogForm.css
Due: prettier --write --ignore-unknown, stylelint --fix

Fix: use Id.RootDomain instead of ROOT_DOMAIN_ID
  amplify/backend/function/getMembersForColony/src/index.js
Due: none

feat: wire in ColonyFundingMenu
  src/components/common/ColonyFunding/ColonyFunding.tsx
  src/components/common/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/components/common/Dialogs/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Change from an empty domain description not showing in action details page
  src/components/common/ColonyActions/helpers/getDomainMetadataChanges.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: poll token balance after submitting token activation form
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/RouteLayouts/UserNavigation/UserNavigation.tsx
  src/components/frame/TokenActivation/TokensTab/ChangeTokenStateForm.tsx
  src/components/frame/TokenActivation/TokensTab/TokensTab.tsx
  src/components/frame/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Disabled recovery mode menu item
  src/components/common/Dialogs/AdvancedDialog/AdvancedDialog.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add header
  src/components/frame/Extensions/Header/Header.module.css
  src/components/frame/Extensions/Header/Header.module.css.d.ts
  src/components/frame/Extensions/Header/Header.tsx
  src/components/frame/Extensions/Header/hooks.ts
  src/components/frame/Extensions/Header/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add layouts and columns
  src/components/frame/Extensions/ThreeColumns/ThreeColumns.module.css
  src/components/frame/Extensions/ThreeColumns/ThreeColumns.module.css.d.ts
  src/components/frame/Extensions/ThreeColumns/ThreeColumns.tsx
  src/components/frame/Extensions/ThreeColumns/index.ts
  src/components/frame/Extensions/ThreeColumns/types.ts
  src/components/frame/Extensions/TwoColumns/TwoColumns.tsx
  src/components/frame/Extensions/TwoColumns/index.ts
  src/components/frame/Extensions/TwoColumns/types.ts
  src/components/frame/Extensions/layouts/ExtensionsLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/stories/frame/MenuNavigation.stories.tsx
  src/stories/frame/ThreeColumns.stories.tsx
  src/stories/frame/TwoColumns.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Card, Popover, and Modal
  src/components/shared/Extensions/Card/Card.tsx
  src/components/shared/Extensions/Card/index.ts
  src/components/shared/Extensions/Card/types.ts
  src/components/shared/Extensions/Modal/Modal.module.css
  src/components/shared/Extensions/Modal/Modal.module.css.d.ts
  src/components/shared/Extensions/Modal/Modal.tsx
  src/components/shared/Extensions/Modal/ModalBase.tsx
  src/components/shared/Extensions/Modal/index.ts
  src/components/shared/Extensions/Modal/types.ts
  src/components/shared/Extensions/PopoverBase/PopoverBase.tsx
  src/components/shared/Extensions/PopoverBase/index.ts
  src/components/shared/Extensions/PopoverBase/types.ts
  src/stories/shared/Card.stories.tsx
  src/stories/shared/Modal.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Updated permissions message spacing on some dialogs
  src/components/common/Dialogs/CreateDomainDialog/CreateDomainDialogForm.tsx
  src/components/common/Dialogs/EditDomainDialog/EditDomainDialogForm.tsx
  src/components/common/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
  src/components/common/Dialogs/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/TokenManagementDialogForm.tsx
  src/components/common/Dialogs/TransferFundsDialog/TransferFundsDialogForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add ImageCarousel
  src/components/common/Extensions/ImageCarousel/ImageCarousel.module.css
  src/components/common/Extensions/ImageCarousel/ImageCarousel.module.css.d.ts
  src/components/common/Extensions/ImageCarousel/ImageCarousel.tsx
  src/components/common/Extensions/ImageCarousel/consts.ts
  src/components/common/Extensions/ImageCarousel/index.ts
  src/components/common/Extensions/ImageCarousel/types.ts
  src/stories/common/ImageCarousel.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Storybook setup and Chromatic yaml
  .github/workflows/chromatic.yml
  .storybook/main.css
  .storybook/main.js
  .storybook/preview.tsx
  .storybook/reactIntl.js
Due: none

Add fields, inputs and form errors
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css.d.ts
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
  src/components/common/Extensions/SpecialInput/index.ts
  src/components/common/Extensions/SpecialInput/types.ts
  src/components/shared/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/shared/Extensions/Fields/RadioList/RadioList.module.css
  src/components/shared/Extensions/Fields/RadioList/RadioList.module.css.d.ts
  src/components/shared/Extensions/Fields/RadioList/RadioList.tsx
  src/components/shared/Extensions/Fields/RadioList/consts.ts
  src/components/shared/Extensions/Fields/RadioList/index.ts
  src/components/shared/Extensions/Fields/RadioList/types.ts
  src/components/shared/Extensions/FormError/FormError.tsx
  src/components/shared/Extensions/FormError/index.ts
  src/components/shared/Extensions/FormError/types.ts
  src/stories/common/SpecialHourInput.stories.tsx
  src/stories/common/SpecialPercentageInput.stories.tsx
  src/stories/shared/FormError.stories.tsx
  src/stories/shared/RadioList.stories.tsx
  src/stories/shared/Select.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add UserHub
  src/components/common/Extensions/UserHub/UserHub.module.css
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/UserHubMobile.tsx
  src/components/common/Extensions/UserHub/consts.ts
  src/components/common/Extensions/UserHub/index.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/index.ts
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/StakesTab.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/consts.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/index.ts
  src/components/common/Extensions/UserHub/partials/StakesTab/partials/StakesTabItem.tsx
  src/components/common/Extensions/UserHub/partials/StakesTab/types.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/consts.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/index.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsHeader.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.module.css
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/index.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/common/Extensions/UserHub/types.ts
  src/stories/common/UserHub.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add MainNavigation
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/MainNavigation/index.ts
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css
  src/components/common/Extensions/MainNavigation/partials/Nav.module.css.d.ts
  src/components/common/Extensions/MainNavigation/partials/Nav/Nav.module.css
  src/components/common/Extensions/MainNavigation/partials/Nav/Nav.tsx
  src/components/common/Extensions/MainNavigation/partials/Nav/consts.ts
  src/components/common/Extensions/MainNavigation/partials/Nav/index.ts
  src/components/common/Extensions/MainNavigation/partials/Nav/types.ts
  src/components/common/Extensions/MainNavigation/partials/NavMobile/NavMobile.tsx
  src/components/common/Extensions/MainNavigation/partials/NavMobile/index.ts
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.module.css
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.module.css.d.ts
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/MainNavigation/partials/SubMenu/index.ts
  src/components/common/Extensions/MainNavigation/partials/SubMenu/types.ts
  src/components/common/Extensions/MainNavigation/partials/consts.ts
  src/components/common/Extensions/MainNavigation/partials/types.ts
  src/components/frame/Extensions/MenuNavigation/MenuNavigation.tsx
  src/components/frame/Extensions/MenuNavigation/index.ts
  src/stories/common/MainNavigation.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Select, Spinner, Toast & Tooltip components
  src/components/shared/Extensions/Select/Select.module.css
  src/components/shared/Extensions/Select/Select.module.css.d.ts
  src/components/shared/Extensions/Select/Select.tsx
  src/components/shared/Extensions/Select/index.ts
  src/components/shared/Extensions/Select/types.ts
  src/components/shared/Extensions/Spinner/Spinner.tsx
  src/components/shared/Extensions/Spinner/index.ts
  src/components/shared/Extensions/Spinner/types.ts
  src/components/shared/Extensions/Toast/Toast.module.css
  src/components/shared/Extensions/Toast/Toast.module.css.d.ts
  src/components/shared/Extensions/Toast/Toast.tsx
  src/components/shared/Extensions/Toast/index.ts
  src/components/shared/Extensions/Toast/partials/CloseButton.tsx
  src/components/shared/Extensions/Toast/types.ts
  src/components/shared/Extensions/Tooltip/Tooltip.module.css
  src/components/shared/Extensions/Tooltip/Tooltip.module.css.d.ts
  src/components/shared/Extensions/Tooltip/Tooltip.tsx
  src/components/shared/Extensions/Tooltip/index.ts
  src/components/shared/Extensions/Tooltip/types.ts
  src/stories/shared/Toast.stories.tsx
  src/stories/shared/Tooltip.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add SidePanel component
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.module.css.d.ts
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/consts.tsx
  src/components/common/Extensions/SpecificSidePanel/hooks.tsx
  src/components/common/Extensions/SpecificSidePanel/index.ts
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/DateInstalled.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Developer.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/InstalledBy.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Permissions.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Version.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/stories/common/SpecificSidePanel.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
