Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Add: motion event text
  src/components/shared/Tag/AmountTag.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: motion event text
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/ColonyActions/helpers/getActionTitleValues.ts
  src/components/common/ColonyActions/helpers/getEventTitleValues.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyActions/mockData.ts
  src/components/shared/DetailsWidget/ActionTypeDetail/ActionTypeDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/components/shared/DetailsWidget/types.ts
  src/components/shared/Tag/AmountTag.css
  src/components/shared/Tag/AmountTag.tsx
  src/graphql/generated.ts
  src/i18n/en-actions.ts
  src/types/actions.ts
  src/types/index.ts
  src/types/motions.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: mobile styles
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/ShareUrlButton/ShareUrlButton.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/ShareUrlButton/ShareUrlButton.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/ShareUrlButton/ShareUrlButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/ShareUrlButton/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/StakeRequiredBanner.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/StakeRequiredBanner.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/StakeRequiredBanner.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css
  src/components/shared/Alert/Alert.tsx
  src/components/shared/Alert/index.ts
  src/styles/shared/queries.css
  src/styles/shared/queries.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fix: display names
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/EscalateButton/EscalateButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionHeading/MotionHeading.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/StakeRequiredBanner/StakeRequiredBanner.css
  src/components/common/ColonyActions/ActionDetailsPage/TransactionMeta/TransactionMeta.tsx
  src/components/common/ColonyActions/ActionDetailsPage/TransactionNotFound/TransactionHash/Hash.tsx
  src/components/common/ColonyActions/ActionDetailsPage/TransactionNotFound/TransactionHash/TransactionHash.tsx
  src/components/common/ColonyActions/ActionDetailsPage/TransactionNotFound/TransactionNotFound.tsx
  src/components/common/ColonyActions/ActionDetailsPage/TransactionStatus/TransactionStatus.tsx
  src/components/shared/DetailsWidget/types.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: root motion saga
  src/redux/sagas/motions/index.ts
  src/redux/sagas/motions/rootMotion.ts
  src/redux/sagas/setupUserContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: ActionButton
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/EscalateButton/EscalateButton.tsx
  src/components/common/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/components/common/Extensions/ExtensionActionButton/ExtensionActionButton.tsx
  src/components/common/Extensions/ExtensionDetails/ExtensionDetailsAside.tsx
  src/components/common/Extensions/ExtensionUpgradeButton/ExtensionUpgradeButton.tsx
  src/components/shared/Button/ActionButton.tsx
  src/components/shared/Button/DialogActionButton.tsx
  src/components/shared/PopoverSection/MetaSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: useGetColonyAction hook
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/TransactionNotFound/TransactionNotFound.tsx
  src/components/common/ColonyActions/ColonyActions.tsx
  src/components/shared/ActionsList/ActionsList.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/queries/actions.graphql
  src/hooks/index.ts
  src/hooks/useGetColonyAction.ts
  src/redux/sagas/motions/rootMotion.ts
  src/redux/sagas/utils/effects.ts
  src/redux/sagas/utils/getNetworkClient.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: improve polling behaviour
  src/components/common/ColonyActions/ActionDetailsPage/index.ts
  src/components/frame/LoadingTemplate/LoadingTemplate.tsx
  src/components/frame/LoadingTemplate/index.ts
  src/hooks/useGetColonyAction.ts
  src/redux/sagas/motions/rootMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: tweak action btn
  src/components/shared/Button/ActionButton.tsx
  src/redux/sagas/motions/rootMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: update block-ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Tidy: useGetColonyAction
  src/graphql/fragments/actions.graphql
  src/hooks/useGetColonyAction.ts
  src/redux/sagas/motions/rootMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: action button and components to use new api
  src/components/common/UnclaimedTransfers/UnclaimedTransfersItem.tsx
  src/components/shared/Button/ActionButton.tsx
  src/utils/actions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: cleanup rebase
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ColonyActions.tsx
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/shared/DetailsWidget/AmountDetail/AmountDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: StakingWidget wrapper
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/index.ts
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: StakingInput wrapper
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: Staking slider heading/description
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderDescription.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderDescription.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderDescription.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Convert: slider to use hook form
  src/components/shared/Slider/Slider.css.d.ts
  src/components/shared/Slider/Slider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: Staking slider annotation wrapper
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: Staking widget slider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Update: NumeralValue type to include Decimal
  src/components/shared/Numeral/Numeral.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: Required Stake Message
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderAnnotation.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: Stake Button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Add: Object Button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Add: single total stake wrapper
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: Single Total Stake Heading
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStakeHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStakeHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStakeHeading.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: Heading5 component
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStakeHeading.tsx
  src/components/shared/Heading/Heading5.tsx
  src/components/shared/Heading/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: progress bar component
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/shared/ProgressBar/ProgressBar.css
  src/components/shared/ProgressBar/ProgressBar.css.d.ts
  src/components/shared/ProgressBar/ProgressBar.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add: UserStakeMessage
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/SingleTotalStake.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/UserStakeMessage.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/UserStakeMessage.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/SingleTotalStake/UserStakeMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: remove references to annotation message
  src/redux/sagas/motions/stakeMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: extract createGroupTransaction function (#334)
  src/redux/sagas/transactions/createTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update saga to use latest colonyjs api
  src/redux/sagas/motions/stakeMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add react-saga call functions
  src/redux/sagas/motions/stakeMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add stakeMotionSaga to setupUserContext
  src/redux/sagas/motions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: update MOTION_STAKE type
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add motionId to ColonyAction schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: pass motion id to staking input
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update motion data schema with staking data
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
Due: prettier --write --ignore-unknown

feat: add staking widget provider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown
