Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

add: console logs
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
Due: none

Fix: staking input label message id
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/StakingForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: staking input remove token symbol prefix
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/StakingForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: staking radio buttons order
  src/components/v5/common/ActionSidebar/partials/Motions/consts.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: staking input placeholder value
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/StakingForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `useUserAvatars` hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VoteOutcome/VoteResults/helpers.ts
  src/hooks/index.ts
  src/hooks/useUserAvatars/index.ts
  src/hooks/useUserAvatars/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `useOutcomeStep` use correct voter data
  src/components/v5/common/ActionSidebar/partials/Motions/steps/OutcomeStep/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `Motions` component correct step on voting finalized
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `UserInfoList` display proper user
  src/components/v5/shared/UserInfoSectionList/partials/UserInfoList/UserInfoList.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `Stepper` prevent content rendering if item disabled
  src/components/v5/shared/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `useStakingInformation` return sorting syntax
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `useStakingInformation` get full user information
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `FinalizeStep` logic and some UI
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/types.ts
  src/components/v5/common/Pills/index.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `FinalizeStep` controls display logic
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: staked, passed motion, outcome step
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Fix: finalize motion when staked failed
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/FinalizeStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/FinalizeStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: `StakingStep` controls display logic
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/StakingStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/StakingForm/StakingForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `VotingStep` controls rendering logic
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/VotingStep.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/hooks.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `RevealStep` if wallet disconnected
  src/components/v5/common/ActionSidebar/partials/Motions/steps/RevealStep/RevealStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: `VotingStep` disable items once vote phase passed
  src/components/v5/common/ActionSidebar/partials/Motions/steps/VotingStep/VotingStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: voting `OutcomeStep` display correct side winnings
  src/components/v5/common/ActionSidebar/partials/Motions/steps/OutcomeStep/OutcomeStep.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Disable: force `VotingRep` escalation period to 0
  src/components/frame/Extensions/pages/ExtensionDetailsPage/consts.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/constants/extensions.ts
  src/utils/extensions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update: reputation monitor docker image use latest commit
  docker/colony-cdapp-dev-env-reputation-monitor
Due: none

fix: add https to rpc url
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: fix amplify deploy branch, remove some amplify console logs
  .github/workflows/amplify.yaml
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
Due: none

Amend schema for user invites
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add extra render option for UserNavigation
  src/components/common/Extensions/UserNavigation/UserNavigation.tsx
  src/components/common/Extensions/UserNavigation/types.ts
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/UserNavigationWrapper.tsx
  src/components/frame/Extensions/layouts/partials/UserNavigationWrapper/types.ts
  src/components/frame/Extensions/layouts/types.ts
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add preliminary user invite route
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/common/Onboarding/wizardSteps/CreateColony/StepTokenChoice.tsx
  src/components/frame/v5/pages/UserInvitePage/UserInvitePage.tsx
  src/components/frame/v5/pages/UserInvitePage/index.ts
  src/components/v5/shared/Button/IconButton.tsx
  src/components/v5/shared/Card/Card.tsx
  src/components/v5/shared/Card/types.ts
  src/components/v5/shared/CardWithCallout/CardWithCallout.tsx
  src/components/v5/shared/CardWithCallout/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/images/icons.json
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: create user validation lambda
  amplify/backend/backend-config.json
  amplify/backend/function/validateUserInvite/amplify.state
  amplify/backend/function/validateUserInvite/custom-policies.json
  amplify/backend/function/validateUserInvite/function-parameters.json
  amplify/backend/function/validateUserInvite/src/event.json
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package.json
  amplify/backend/function/validateUserInvite/validateUserInvite-cloudformation-template.json
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
Due: none

chore: add necessary lambda functions
  amplify/backend/function/validateUserInvite/src/graphql.js
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package.json
  amplify/backend/function/validateUserInvite/src/utils.js
Due: none

feat: add react hook for user invite validation
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add validate user lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/validateUserInvite/src/event.json
  amplify/backend/function/validateUserInvite/src/graphql.js
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package-lock.json
  amplify/backend/function/validateUserInvite/src/utils.js
Due: none

feat: add react hook for user invite validation
  src/graphql/generated.ts
  src/graphql/mutations/colony.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: add member invite fields to colony query
  src/graphql/fragments/colony.graphql
Due: prettier --write --ignore-unknown

Added extra buttons to colony header
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/images/icons.json
  src/images/icons/paper-plane-tilt.svg
Due: eslint --fix, prettier --write --ignore-unknown

Added basic InviteMembersModal logic to ColonyHeader
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/v5/common/Modals/InviteMembersModal/index.ts
  src/components/v5/common/Modals/InviteMembersModal/inviteMembersModal.tsx
  src/components/v5/common/Modals/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added header to InviteMembersModal
  src/components/v5/common/Modals/InviteMembersModal/index.ts
  src/components/v5/common/Modals/InviteMembersModal/inviteMembersModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added invite link section to InviteMembers modal
  src/components/v5/common/Modals/InviteMembersModal/inviteMembersModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added copied state to copy link button in InviteMembersModal
  src/components/v5/common/Modals/InviteMembersModal/inviteMembersModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Connected new join button to colony subscription logic
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/v5/common/Modals/InviteMembersModal/inviteMembersModal.tsx
  src/hooks/index.ts
Due: eslint --fix, prettier --write --ignore-unknown
