Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add CopyableAddressV2 component, use it in user popup
  src/components/shared/CopyableAddressV2/CopyableAddressV2.css
  src/components/shared/CopyableAddressV2/CopyableAddressV2.tsx
  src/components/shared/CopyableAddressV2/index.ts
  src/components/shared/MaskedAddress/MaskedAddress.tsx
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: code review align, add techie font to tailwind config
  src/components/common/TokenCard/TokenCard.tsx
  src/components/shared/CopyableAddressV2/CopyableAddressV2.css
  src/components/shared/CopyableAddressV2/CopyableAddressV2.tsx
  src/components/shared/CopyableAddressV2/index.ts
  src/components/shared/MaskedAddress/MaskedAddress.css
  src/components/shared/MaskedAddress/MaskedAddress.css.d.ts
  src/components/shared/MaskedAddress/MaskedAddress.tsx
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/v5/shared/CopyableAddress/CopyableAddress.tsx
  src/components/v5/shared/CopyableAddress/index.ts
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/styles/main.global.css
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: use CopyableAddressV2 for token card
  src/components/common/TokenCard/TokenCard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: align copy address styles
  src/components/shared/MaskedAddress/MaskedAddress.tsx
  src/components/v5/shared/CopyableAddress/CopyableAddress.tsx
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/styles/main.global.css
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add TokenInfoPopover storybook
  src/components/shared/TokenInfoPopover/TokenInfoPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: parent CSS overriding token popover, old user info uses new copy address
  src/components/common/ColonyHome/ColonyFundingWidget/ColonyFundingWidget.css
  src/components/common/ColonyHome/ColonyFundingWidget/ColonyFundingWidget.css.d.ts
  src/components/common/ColonyHome/ColonyFundingWidget/ColonyFundingWidget.tsx
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/shared/UserInfoPopover/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: rework token info popover
  src/components/shared/CopyableAddressV2/CopyableAddressV2.tsx
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/shared/TokenInfoPopover/TokenInfoPopover.css
  src/components/shared/TokenInfoPopover/TokenInfoPopover.css.d.ts
  src/components/shared/TokenLink/TokenLink.tsx
  src/components/shared/TokenLink/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: design of token popover
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/v5/shared/CopyableAddress/CopyableAddress.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: border radius for default popover
  src/components/shared/Popover/PopoverWrapper.css
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: hover on blockexplorer link
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: center the copy icon more
  src/components/v5/shared/CopyableAddress/CopyableAddress.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove testing for long token name...
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: align token popover and address styles
  src/components/shared/MaskedAddress/MaskedAddress.tsx
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/v5/shared/CopyableAddress/CopyableAddress.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: locally define token info i18n messages
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add title to overflowing token title, fix popover stories
  src/components/shared/TokenInfoPopover/TokenInfo.tsx
  src/components/shared/TokenInfoPopover/TokenInfoPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use amplify environment to add layer
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/function-parameters.json
  amplify/backend/function/createPrivateBetaInvite/parameters.json
Due: none

fix: add complementary external layer
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/function-parameters.json
Due: none

fix: UserAvatar showing alternating blockies
  src/components/common/Extensions/SpecificSidePanel/hooks.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/components/common/Extensions/UserHubButton/UserHubButton.tsx
  src/components/common/Extensions/UserNavigation/partials/HeaderAvatar/HeaderAvatar.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
  src/components/v5/shared/UserAvatar/types.ts
  src/components/v5/shared/UserAvatarDetails/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/stories/common/UserNavigation.stories.tsx
  src/stories/shared/UserAvatar.stories.tsx
  src/stories/shared/UserAvatarPopover.stories.tsx
  src/stories/shared/UserInfoList.stories.tsx
  src/stories/shared/UserInfoSectionList.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix (other) User Avatar blockies
  src/components/frame/v5/pages/UserProfilePage/partials/UserProfilePageForm.tsx
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown

parent 46b5167dd302160a1fee638a1ae37b8bde8c9e93 author krawczykkatarzyna <katarzyna.krawczyk@pagepro.pl> 1697443180 +0200 committer krawczykkatarzyna <katarzyna.krawczyk@pagepro.pl> 1700514420 +0100
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/v5/common/Table/Table.tsx
  src/components/v5/shared/CopyWallet/CopyWallet.tsx
  src/components/v5/shared/CopyWallet/index.ts
  src/components/v5/shared/CopyWallet/types.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/piggy-bank.svg
  src/routes/Routes.tsx
  src/stories/shared/CopyWallet.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix styles add max input
  src/components/frame/v5/pages/BalancePage/partials/BalanceModal/BalanceModal.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceModal/index.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceModal/types.ts
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
  src/components/v5/common/Table/Table.tsx
  src/components/v5/shared/CopyWallet/CopyWallet.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

todos
  src/components/frame/v5/pages/BalancePage/partials/BalanceModal/BalanceModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: calamity banner upgrade colony version action in new ui
  src/components/frame/Extensions/layouts/hooks.tsx
  src/components/v5/shared/CalamityBanner/CalamityBanner.tsx
  src/components/v5/shared/CalamityBanner/partials/CalamityBannerContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: user popover style issues
  src/components/v5/common/Pills/PillsBase.tsx
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/UserAvatarDetails/UserAvatarDetails.tsx
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: cr feedback
  src/components/v5/shared/UserPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

hide section with adding token
  src/components/frame/v5/pages/BalancePage/partials/BalanceModal/BalanceModal.tsx
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: showing verified members on mobile
  src/context/MemberContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix font size
  src/components/v5/shared/CopyWallet/CopyWallet.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add back lost param store permissions
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
Due: none

feat: change order of amplify layers
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/function-parameters.json
  amplify/backend/function/createPrivateBetaInvite/parameters.json
Due: none

remove title
  src/components/frame/v5/pages/BalancePage/partials/BalanceTable/BalanceTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test: update backend-config
  amplify/backend/backend-config.json
Due: none

fix: align modal background colour
  src/components/v5/shared/Modal/ModalBase.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: codeowners file
  .github/CODEOWNERS
Due: none

Test: codeowners files, reviews and merging
  testfile
Due: none

fix: basic/full wallet initialization
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/setupWalletContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Aling motion states with new UI
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionCountdown/MotionCountdown.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ColonyActions.tsx
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.tsx
  src/components/shared/Tag/MotionTags.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/helpers.ts
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/hooks.ts
  src/components/v5/common/CountDownTimer/helpers.ts
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update the logic for motion finalizable and finalized states
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.tsx
  src/components/shared/Tag/MotionTags.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/helpers.ts
  src/components/v5/common/ActionSidebar/partials/Motions/partials/MotionCountDownTimer/hooks.ts
  src/components/v5/common/CountDownTimer/helpers.ts
  src/utils/colonyMotions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Wire activate tokens modal with motion not enough tokens info
  src/components/v5/common/ActionSidebar/partials/Motions/steps/StakingStep/partials/NotEnoughTokensInfo/NotEnoughTokensInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Remove auto start of codegen
  codegen.js
  scripts/dev.sh
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
