Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fixes
  src/components/common/Extensions/MainNavigation/partials/hooks.ts
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/v5/common/ObjectiveBox/ObjectiveBox.tsx
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
  src/components/v5/shared/Button/TextButton.module.css
  src/components/v5/shared/Button/TextButton.tsx
  src/components/v5/shared/Button/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

moved colony switcher to separate componentn and add category to colony dropdown
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css.d.ts
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/frame/Extensions/Header/Header.module.css
  src/components/frame/Extensions/Header/Header.module.css.d.ts
  src/components/frame/Extensions/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix styles
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
  src/components/v5/common/AvatarUploader/partials/ErrorContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix icon style
  src/components/v5/common/AvatarUploader/partials/DefaultContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix padding
  src/components/v5/common/AvatarUploader/partials/AvatarUploader.module.css
Due: prettier --write --ignore-unknown, stylelint --fix

Fix: Wallet switching to Metamask when page refreshed
  src/redux/sagas/setupWalletContext.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add temp grey blue variable
  src/styles/variables.css
Due: prettier --write --ignore-unknown, stylelint --fix

Expand AnyMessageValues type
  src/types/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix HookInput component
  src/components/shared/Fields/Input/HookForm/Input.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add Inputs to RawTransactionSection
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: ExpendituresPage route
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Expenditures UI skeleton
  src/components/common/Expenditures/ExpendituresPage.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/types/actions/expenditures.ts
  src/redux/types/actions/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Set recipient and payout in createExpenditure saga
  src/i18n/en.json
  src/redux/sagas/expenditures/createExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated raw transaction section with multi-transaction functionality
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Removed unneeded css variable
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.css
  src/styles/variables.css
Due: prettier --write --ignore-unknown, stylelint --fix

Feat: Basic expenditure creation form
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpendituresList.tsx
  src/components/common/Expenditures/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage.tsx
  src/components/common/Expenditures/index.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add temp codegen schema file to gitignore
  .gitignore
  codegen.js
Due: none

Feat: `GetColonyExpenditures` query
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Colony <> Expenditures models relation
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Apollo cache warnings due to missing id field on `getColony` queries
  src/graphql/queries/colony.graphql
  src/graphql/queries/expenditures.graphql
Due: prettier --write --ignore-unknown

Feat: Redirect to expenditure details page from createExpenditure saga
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/index.ts
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/Expenditures.tsx
  src/components/common/Expenditures/ExpendituresList.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
  src/components/common/Expenditures/ExpendituresPage/index.ts
  src/components/common/Expenditures/index.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added preferences page
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.module.css
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/UserPreferencesPage/hooks.tsx
  src/components/frame/v5/pages/UserPreferencesPage/types.ts
  src/components/frame/v5/pages/UserProfilePage/hooks.tsx
  src/components/frame/v5/pages/UserProfilePage/types.ts
  src/i18n/en.json
  src/images/icons.json
  src/images/icons/user-switch.svg
  src/routes/Routes.tsx
  src/styles/main.global.css
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: mobile
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.module.css
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add database ID related utils
  src/redux/sagas/motions/createEditDomainMotion.ts
  src/redux/sagas/motions/editColonyMotion.ts
  src/utils/databaseId.ts
  src/utils/domains.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: updateColonyTokens saga
  src/redux/sagas/utils/updateColonyTokens.ts
Due: eslint --fix, prettier --write --ignore-unknown

Extract Expenditure GraphQL fragment
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/graphql/queries/expenditures.graphql
Due: eslint --fix, prettier --write --ignore-unknown

Get expenditure data in expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/Expenditures.tsx
  src/redux/sagas/actions/createDomain.ts
  src/redux/sagas/actions/editDomain.ts
  src/redux/sagas/colony/colonyCreate.ts
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/common/CreateUserWizard/validation.ts
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/UserPreferencesPage/hooks.tsx
  src/components/frame/v5/pages/UserPreferencesPage/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: translation
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

default content in select fields accordion
  src/components/common/Extensions/ImageCarousel/ImageCarousel.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/ReputationTab.module.css
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionNested/AccordionNestedItem.tsx
  src/components/shared/Extensions/Accordion/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed css
  src/components/common/Extensions/SpecialInput/SpecialInput.module.css
  src/components/common/Extensions/SpecialInput/SpecialInput.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Removed inverting of disabledInputs in ControlSafeForm
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add `nativeId` field to Expenditure model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Expenditures link to colony navigation
  src/components/common/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
  src/components/common/Expenditures/ExpendituresPage.module.css.d.ts
  src/components/common/Expenditures/ExpendituresPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Locking expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.tsx
  src/i18n/en.json
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/sagas/expenditures/lockExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix auto zooming
  src/templates/index.html
Due: none

ix/15529390-add-mocked-teams
  src/components/v5/shared/UserAvatarPopover/partials/UserInfo.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/common/Extensions/Fields/RadioList/consts.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/redux/constants.ts
Due: eslint --fix, prettier --write --ignore-unknown

moved logic to hook
  src/components/common/Extensions/ColonySwitcher/hooks.ts
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix/15496502-added-versions-in-storybook
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
  src/stories/shared/CardWithBios.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown
