Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

feat: update wizard template colony
  src/components/frame/WizardTemplateColony/WizardTemplateColony.css
  src/components/frame/WizardTemplateColony/WizardTemplateColony.css.d.ts
  src/components/frame/WizardTemplateColony/WizardTemplateColony.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: update step colony name
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: set correct max width of wizard
  src/components/frame/WizardTemplateColony/WizardTemplateColony.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update token choice step
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: use css class for input label
  src/components/v5/common/Fields/Input/Input.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: get token choice inputs working
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
  src/components/v5/common/CreateColonyWizard/StepCreateToken.css
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenComponents.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepExistingTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/components/v5/common/CreateColonyWizard/shared.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add header row to shared
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use defineMessages for text
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
  src/components/v5/common/CreateColonyWizard/ExistingTokenInput.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenComponents.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: temp create data script
  scripts/temp-create-data.js
Due: none

refactor: better solution to error layout shift
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/partials/InputPills.tsx
  src/components/v5/shared/FormError/FormError.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: only show success message when dirty
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add token logo uploader
  src/components/v5/common/AvatarUploader/AvatarUploader.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: wizard step props type
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: correctly get existing token data
  src/components/v5/common/CreateColonyWizard/StepExistingTokenInputs.tsx
  src/utils/web3/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move token selector to wizard
  src/components/v5/common/CreateColonyWizard/ExistingTokenInput.tsx
  src/components/v5/common/CreateColonyWizard/TokenSelector.tsx
  src/components/v5/shared/TokenSelector/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: colony url success/error msg placement
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove obsolete css files
  src/components/v5/common/CreateColonyWizard/shared.css
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: style token options
  src/components/v5/common/CreateColonyWizard/StepCreateTokenComponents.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use best existing version of button
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: update form values on previous steps
  src/components/shared/Wizard/types.ts
  src/components/shared/Wizard/withWizard.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: connect beta invite with user
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueColony/src/graphql.js
  amplify/backend/function/createUniqueColony/src/index.js
  scripts/temp-create-data.js
  src/components/frame/v5/pages/CreateColonyPage/CreateColonyPage.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/graphql/generated.ts
  src/graphql/queries/colony.graphql
  src/redux/types/actions/colony.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: better naming for existing token component
  src/components/v5/common/CreateColonyWizard/ExistingTokenInput.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add decorators for colonyName
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: add wizard props to wizard steps
  src/components/shared/Wizard/types.ts
  src/components/shared/Wizard/withWizard.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: validation errors
  src/components/v5/common/CreateColonyWizard/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add token logo language strings
  src/i18n/en.json
Due: none

feat: colony url input
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix redirection after Colony creation
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: error layout shift for pills
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/partials/InputPills.tsx
  src/components/v5/shared/FormError/FormError.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: fix formatting in en.json
  src/i18n/en.json
Due: none

fix: header spacing
  src/components/v5/common/CreateColonyWizard/shared.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: use token selector for existing token step
  src/components/v5/common/CreateColonyWizard/ExistingTokenInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: check and update invite code on colony creation
  amplify/backend/function/createUniqueColony/src/graphql.js
  amplify/backend/function/createUniqueColony/src/index.js
Due: none

fix: updated colony wizard value bug
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: reskin confirmation step
  src/components/shared/Wizard/types.ts
  src/components/shared/Wizard/withWizard.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.css
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.css
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: update create colony transaction group
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransaction.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/types.ts
  src/components/v5/common/CreateColonyWizard/ConfirmTransactions.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: remove obsolete select token component
  src/components/v5/common/CreateColonyWizard/StepSelectToken.css
  src/components/v5/common/CreateColonyWizard/StepSelectToken.tsx
  src/components/v5/common/CreateColonyWizard/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: fix validation
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepExistingTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/index.ts
  src/components/v5/common/CreateColonyWizard/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Batch Colony creation transactions
  src/i18n/en.json
Due: none

fix: step values being out of sync
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenComponents.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/components/v5/common/CreateColonyWizard/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown
