Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: how draft decisions are stored locally / in redux
  src/components/common/ColonyDecisions/NewDecisionButton/NewDecisionButton.tsx
  src/components/common/ColonyDecisions/RemoveExistingDecisionDialog/RemoveExistingDecisionDialog.tsx
  src/context/ColonyContext.tsx
  src/context/ColonyDecisionContext.tsx
  src/redux/actionCreators/decisions.ts
  src/redux/immutable/Decision.ts
  src/redux/reducers/decisions.ts
  src/redux/sagas/decisions/createDecision.ts
  src/redux/sagas/decisions/deleteDecision.ts
  src/redux/sagas/setupUserContext.ts
  src/redux/sagas/utils/decisionMotion.ts
  src/redux/state/decisions.ts
  src/redux/types/actions/decisions.ts
  src/utils/decisions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: typecheck
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.css.d.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionPreviewControls/DecisionPreviewControls.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
  src/components/shared/Fields/Select/SelectListBox.tsx
  src/components/shared/Fields/Select/types.ts
  src/components/shared/Fields/SelectOption/SelectOption.tsx
  src/constants/index.ts
  src/redux/sagas/motions/createDecisionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

delete: duplicate component
  src/components/common/ColonyActions/ActionDetailsPage/Decision/Decision.css
  src/components/common/ColonyActions/ActionDetailsPage/Decision/Decision.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/Decision/Decision.tsx
  src/components/common/ColonyActions/ActionDetailsPage/Decision/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.tsx
  src/components/common/ColonyDecisions/ColonyDecisions.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.css
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.css.d.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionData.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add: motion tag and countdown timer to decision item
  src/components/common/ColonyDecisions/DecisionItem.tsx
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

add: objection rich text
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useObjectButton.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionPreviewControls/DecisionPreviewControls.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionAnnotation.css
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionAnnotation.css.d.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionAnnotation.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.css
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/components/shared/RichTextEditor/RichTextEditor.css
  src/components/shared/RichTextEditor/RichTextEditor.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: back route from decision page
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes: minor style fixes
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.css
  src/components/shared/RichTextEditor/Toolbar/Toolbar.tsx
  src/components/shared/RichTextEditor/Toolbar/ToolbarItem.tsx
  src/components/shared/RichTextEditor/Toolbar/toolbarConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add: decision objection
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.css
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.css.d.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionContent.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionData.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

add: update preview message is governance uninstalled
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultAction.css.d.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionNotFound.css
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionNotFound.css.d.ts
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionNotFound.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add: update colony nav when governance enabled
  src/components/common/ColonyHome/ColonyHome.tsx
  src/components/common/ColonyHome/ColonyHomeLayout/ColonyHomeLayout.tsx
  src/components/common/ColonyHome/ColonyNavigation/colonyNavigationConfig.ts
  src/components/common/Extensions/ExtensionDetails/ExtensionDetailsAside.tsx
  src/components/common/Extensions/ExtensionSetup/ExtensionSetup.tsx
  src/components/shared/Button/ActionButton.tsx
  src/components/shared/Button/DialogActionButton.tsx
  src/context/ColonyHomeContext.tsx
  src/context/index.ts
  src/hooks/useEnabledExtensions.tsx
  src/hooks/useExtensionsData.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: decisions list domain filter
  src/components/common/ColonyDecisions/ColonyDecisions.tsx
  src/graphql/generated.ts
  src/graphql/queries/decisions.graphql
  src/hooks/usePaginatedActions.ts
  src/redux/sagas/motions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: misc fixes
  amplify/backend/function/fetchMotionState/src/utils.js
  src/components/common/ColonyActions/ActionDetailsPage/DefaultAction/DefaultActionContent.tsx
  src/components/common/ColonyDecisions/DecisionPreview/DecisionData/DecisionNotFound.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: i18n expenditure messages
  src/i18n/en.json
Due: none

Convert expenditure amount to wei before passing to saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/components/common/Expenditures/ExpenditureForm.tsx
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css
  src/components/common/Expenditures/ExpendituresPage/ExpendituresPage.module.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Add `ExpenditureMetadata` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Create expenditure metadata in createExpenditure saga
  src/components/common/Expenditures/ExpenditureActionButton.tsx
  src/graphql/generated.ts
  src/graphql/mutations/expenditures.graphql
  src/redux/sagas/expenditures/createExpenditure.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Display expenditure domain on expenditure details page
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add `fundExpenditure` saga
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/fundExpenditure.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add action button to fund expenditure
  src/components/common/Expenditures/ExpenditureDetailsPage/ExpenditureDetailsPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Add `fetchExpenditureBalances` lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/backend-config.json
  amplify/backend/function/fetchExpenditureBalances/amplify.state
  amplify/backend/function/fetchExpenditureBalances/custom-policies.json
  amplify/backend/function/fetchExpenditureBalances/fetchExpenditureBalances-cloudformation-template.json
  amplify/backend/function/fetchExpenditureBalances/function-parameters.json
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

tidy: ipfsUploadWithFallback
  src/redux/sagas/utils/ipfs.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added select
  src/components/common/Extensions/UserHub/partials/TransactionsTab/TransactionsTab.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionSidebar/utils.ts
  src/components/v5/common/ActionSidebarRow/ActionSidebarRow.tsx
  src/components/v5/common/Fields/Input/Input.tsx
  src/components/v5/common/Fields/Input/types.ts
  src/components/v5/shared/CustomScrollbar/CustomScrollbar.tsx
  src/components/v5/shared/CustomScrollbar/index.ts
  src/components/v5/shared/CustomScrollbar/types.ts
  src/components/v5/shared/SearchSelect/SearchSelect.module.css
  src/components/v5/shared/SearchSelect/SearchSelect.tsx
  src/components/v5/shared/SearchSelect/hooks.ts
  src/components/v5/shared/SearchSelect/index.ts
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.module.css
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.tsx
  src/components/v5/shared/SearchSelect/partials/SearchInput/index.ts
  src/components/v5/shared/SearchSelect/partials/SearchInput/types.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/SearchItem.tsx
  src/components/v5/shared/SearchSelect/partials/SearchItem/index.ts
  src/components/v5/shared/SearchSelect/partials/SearchItem/types.ts
  src/components/v5/shared/SearchSelect/types.ts
  src/components/v5/shared/SearchSelect/utils.ts
  src/constants/actions.ts
  src/context/ActionSidebarContext.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Disable eslint for lambdas
  amplify/backend/.eslintrc.js
Due: none

Fix: Converting expenditure amount to wei
  src/components/common/Expenditures/ExpenditureActionButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Return balance for each token used in an expenditure
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  amplify/backend/function/fetchExpenditureBalances/src/package-lock.json
  amplify/backend/function/fetchExpenditureBalances/src/package.json
Due: none

Feat: Return required amount as part of expenditure balance
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/fetchExpenditureBalances/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bump ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: added missing actions
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/constants/actions.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: correct naming of components
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractName.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: import ordering
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/DetailsItem/DetailsItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: extract component into shared
  src/components/common/Dialogs/ControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.tsx
  src/components/shared/DetailsWidget/SafeDetail/SafeDetail.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/ContractSection.tsx
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/FunctionsSection.tsx
  src/components/shared/InvisibleCopyableAddress/InvisibleCopyableMaskedAddress.tsx
  src/components/shared/InvisibleCopyableAddress/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use dialog heading component
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move default safe transaction to utils
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/FunctionsSection.tsx
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove duplicate types
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/types/safes.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: load token avatar image from thumbnail
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Value.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: keep selected token data
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add types
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unused type
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add: index to nativeFundingPotId
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
