Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: import order
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/redux/sagas/motions/claimMotionRewards.ts
  src/redux/sagas/motions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

feat: port minimum stake message
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/MinimumStakeMessage.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/MinimumStakeMessage.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/MinimumStakeMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: port token error message
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/TokenErrorMessage.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/TokenErrorMessage.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/TokenErrorMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: port StakingValidationMessage
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: update text values type on Button
  src/components/shared/Button/Button.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove canBeStaked prop from RaiseObjectionDialog
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/hooks/useObjectButton.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove canBeStaked logic from StakingWidgetProvider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: move useEnoughTokensForStaking to own file
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/useEnoughTokensForStaking.ts
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/graphql/fragments/actions.graphql
  src/hooks/useStakingInput.ts
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in minimum stake message
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderLabel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: use remainingToStake from provider in hooks
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingWidgetProvider.tsx
  src/hooks/useStakingInput.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: send userBalance query further down component tree
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/hooks/useStakingInput.ts
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: don't show message if user signed out
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: tweak display names
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/RequiredStakeMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: port activate button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ActivateButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.css
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: staking control logic to hook
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add limit exceeded msg
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingInput.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
  src/components/common/Dialogs/RaiseObjectionDialog/ObjectionSlider.tsx
  src/hooks/helpers/motionHookHelpers.ts
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: wire in activate button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: take remainingToStake from provider
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: getStakeFromSlider to use Decimal
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: export useStakingControls in index
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add limit exceeded msg
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add error messages
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSlider.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/NotEnoughReputationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingWidgetSlider.tsx
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable object button if not enough rep
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/ObjectButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: disable stake button if user hit their rep limit
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/hooks/helpers/motionHookHelpers.ts
  src/hooks/useStakingSlider.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: couple of helpers of staking validation
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/helpers.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/index.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/index.ts
  src/hooks/helpers/motionHookHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: cantStakeMore to canStakeMore for readability
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakeButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/StakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingControls/useStakingControls.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/StakingValidationMessage.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/StakingWidget/StakingInput/StakingSliderMessages/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: port voting widget
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/DefaultMotion.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/MotionPhaseWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: port voting widget heading
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidgetHeading.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: port vote reward detail item
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: port voting widget details
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
  src/components/shared/DetailsWidget/DetailItem.tsx
  src/components/shared/DetailsWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: port voting panel
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingPanel.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/getVotingPanelConfig.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: port vote button
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

feat: add size small to Numeral
  src/components/shared/Numeral/Numeral.css
  src/components/shared/Numeral/Numeral.css.d.ts
  src/components/shared/Numeral/Numeral.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore: tidy voting widget imports
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VotingWidget.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: refactor messages in useVoteDetailsConfig
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: add fragment to vote details
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: update voteReward import
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteRewardItem.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/useVoteDetailsConfig.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: vote widget styles
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteButton.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.css
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.css.d.ts
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/VoteDetails.tsx
  src/components/common/ColonyActions/ActionDetailsPage/DefaultMotion/MotionPhaseWidget/VotingWidget/getVotingPanelConfig.ts
  src/components/shared/Fields/RadioGroup/CustomRadioGroup.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: update motion data schema with voter reward
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/actions.graphql
  src/graphql/queries/actions.graphql
  src/graphql/queries/motions.graphql
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
