Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fixes after CR
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/AmountField/types.ts
  src/components/v5/common/ActionSidebar/partials/TransactionTable/TransactionTable.tsx
  src/components/v5/common/ActionSidebar/partials/TransactionTable/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/TransactionTable/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: install node fetch
  amplify/backend/function/createPrivateBetaInvite/src/package-lock.json
  amplify/backend/function/createPrivateBetaInvite/src/package.json
Due: none

feat: add getPrivateBetaInviteCode
  src/graphql/generated.ts
  src/graphql/queries/colony.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat: add createPrivateBetaInvite lambda
  amplify/backend/backend-config.json
  amplify/backend/function/createPrivateBetaInvite/amplify.state
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
  amplify/backend/function/createPrivateBetaInvite/custom-policies.json
  amplify/backend/function/createPrivateBetaInvite/function-parameters.json
  amplify/backend/function/createPrivateBetaInvite/src/event.json
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
Due: none

feat: add createPrivateBetaInviteCode mutation
  amplify/backend/function/createPrivateBetaInvite/src/graphql.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/utils.js
Due: none

feat: add PrivateBeta model to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add private flag to colony model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/colony.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: make the ID a required field
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: generate colony invite code on creation
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add ColonyMemberInvite to schema
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove NavigationTools references (for now)
  src/components/common/Extensions/ColonyNavigation/ColonyNavigation.tsx
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/UserNavigation/partials/UserMenu/UserMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix extension setup route title
  src/hooks/useTitle.ts
Due: eslint --fix, prettier --write --ignore-unknown

Re-structure Routes to use nested routes everywhere
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/types.ts
  src/context/ColonyContext/ColonyContext.tsx
  src/context/ColonyDecisionContext.tsx
  src/hooks/useTitle.ts
  src/routes/ColonyMembersRoute.tsx
  src/routes/ColonyRoute.tsx
  src/routes/MainRoute.tsx
  src/routes/RootRoute.tsx
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add lambda url to cloudformation
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
Due: none

Add nested routes for sub navigation pages
  src/components/common/Extensions/UserNavigation/partials/WalletConnectedTopMenu/WalletConnectedTopMenu.tsx
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/IncorporationPage/IncorporationPage.tsx
  src/components/frame/Extensions/pages/IntegrationsPage/IntegrationsPage.tsx
  src/components/frame/Extensions/pages/PermissionsPage/PermissionsPage.tsx
  src/components/frame/Extensions/pages/ReputationPage/ReputationPage.tsx
  src/components/frame/v5/pages/ColonyUsersPage/ColonyUsersPage.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/FeesForm/FeesForm.tsx
  src/components/frame/v5/pages/UserAdvancedPage/partials/UserAdvancedSettings/UserAdvancedSettings.tsx
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/UserProfilePage/UserProfilePage.tsx
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/shared/PopoverSection/UserSection.tsx
  src/components/v5/common/Navigation/Navigation.tsx
  src/components/v5/common/Navigation/types.ts
  src/hooks/index.ts
  src/hooks/useSideNavigation.ts
  src/hooks/useTitle.ts
  src/routes/ColonyMembersRoute.tsx
  src/routes/ColonySettingsRoute.tsx
  src/routes/Routes.tsx
  src/routes/UserRoute.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

Move Headers into layouts
  src/components/frame/Extensions/Header/index.ts
  src/components/frame/Extensions/Header/types.ts
  src/components/frame/Extensions/layouts/ColonyHeader.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/components/frame/WizardTemplateColony/WizardTemplateColony.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Introduce very simple new layout with sidebar
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/frame/Extensions/layouts/ColonyHeader.tsx
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/layouts/MainLayout.tsx
  src/components/frame/Extensions/layouts/MainSidebar.tsx
  src/components/frame/Extensions/layouts/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Colony creation wizard to new design
  src/components/common/CreateColonyWizard/ConfirmTransactions.css.d.ts
  src/components/common/CreateColonyWizard/CreateColonyCardRow.css.d.ts
  src/components/common/CreateColonyWizard/StepColonyName.css.d.ts
  src/components/common/CreateColonyWizard/StepConfirmAllInput.css.d.ts
  src/components/common/CreateColonyWizard/StepConfirmTransactions.css.d.ts
  src/components/common/CreateColonyWizard/StepCreateToken.css.d.ts
  src/components/common/CreateColonyWizard/StepSelectToken.css.d.ts
  src/components/common/CreateColonyWizard/StepTokenChoice.css.d.ts
  src/components/common/CreateColonyWizard/shared.css.d.ts
  src/components/frame/v5/pages/CreateColonyPage/CreateColonyPage.tsx
  src/components/frame/v5/pages/CreateColonyPage/index.ts
  src/components/shared/Wizard/withWizard.tsx
  src/components/v5/common/CreateColonyWizard/ConfirmTransactions.css
  src/components/v5/common/CreateColonyWizard/ConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.css
  src/components/v5/common/CreateColonyWizard/CreateColonyCardRow.tsx
  src/components/v5/common/CreateColonyWizard/CreateColonyWizard.ts
  src/components/v5/common/CreateColonyWizard/StepColonyName.css
  src/components/v5/common/CreateColonyWizard/StepColonyName.tsx
  src/components/v5/common/CreateColonyWizard/StepColonyNameInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.css
  src/components/v5/common/CreateColonyWizard/StepConfirmAllInput.tsx
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.css
  src/components/v5/common/CreateColonyWizard/StepConfirmTransactions.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateToken.css
  src/components/v5/common/CreateColonyWizard/StepCreateToken.tsx
  src/components/v5/common/CreateColonyWizard/StepCreateTokenInputs.tsx
  src/components/v5/common/CreateColonyWizard/StepSelectToken.css
  src/components/v5/common/CreateColonyWizard/StepSelectToken.tsx
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.css
  src/components/v5/common/CreateColonyWizard/StepTokenChoice.tsx
  src/components/v5/common/CreateColonyWizard/index.ts
  src/components/v5/common/CreateColonyWizard/shared.css
  src/components/v5/common/CreateColonyWizard/shared.tsx
  src/components/v5/common/CreateColonyWizard/validation.ts
  src/components/v5/common/Navigation/types.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Remove loading spinners (for now)
  src/components/v5/shared/Spinner/Spinner.tsx
  src/routes/ColonyMembersRoute.tsx
  src/routes/ColonySettingsRoute.tsx
  src/routes/UserRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Simplify extension details layout
  src/components/common/Extensions/ExtensionDetails/ExtensionDetails.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/v5/frame/ThreeColumns/ThreeColumns.module.css
  src/components/v5/frame/ThreeColumns/ThreeColumns.tsx
  src/components/v5/frame/ThreeColumns/index.ts
  src/components/v5/frame/ThreeColumns/types.ts
  src/routes/routeConstants.ts
  src/stories/frame/ThreeColumns.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add shareable to colony invite model
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createPrivateBetaInvite/src/graphql.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
Due: none

A little bit of JSX cleanup
  src/components/frame/AvatarDropdown/AvatarDropdown.tsx
  src/components/frame/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/components/frame/Extensions/layouts/Header.tsx
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/v5/Header/Header.tsx
  src/components/frame/v5/pages/UserPreferencesPage/UserPreferencesPage.tsx
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

update selected token
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix toggleUnderline styling
  src/components/v5/shared/RichText/hooks.ts
  src/components/v5/shared/RichText/partials/Menu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: create user validation lambda
  amplify/backend/backend-config.json
  amplify/backend/function/validateUserInvite/amplify.state
  amplify/backend/function/validateUserInvite/custom-policies.json
  amplify/backend/function/validateUserInvite/function-parameters.json
  amplify/backend/function/validateUserInvite/src/event.json
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package.json
  amplify/backend/function/validateUserInvite/validateUserInvite-cloudformation-template.json
  amplify/team-provider-info.json
  docker/files/amplify/amplify-meta.json.base
Due: none

feat: add validate user lambda
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/validateUserInvite/src/event.json
  amplify/backend/function/validateUserInvite/src/graphql.js
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package-lock.json
  amplify/backend/function/validateUserInvite/src/utils.js
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add necessary lambda functions
  amplify/backend/function/validateUserInvite/src/graphql.js
  amplify/backend/function/validateUserInvite/src/index.js
  amplify/backend/function/validateUserInvite/src/package.json
  amplify/backend/function/validateUserInvite/src/utils.js
Due: none

Revert "feat: add lambda url to cloudformation"
  amplify/backend/function/createPrivateBetaInvite/createPrivateBetaInvite-cloudformation-template.json
Due: none

feat: add react hook for user invite validation
  src/graphql/generated.ts
  src/graphql/mutations/colony.graphql
Due: eslint --fix, prettier --write --ignore-unknown

refactor: extract aws params endpoint into env var
  amplify/backend/function/getParams.ts
Due: none

refactor: clearer naming of email lib
  amplify/backend/function/sendNotification/lib/index.ts
  amplify/backend/function/sendNotification/lib/sendEmailNotifications.ts
Due: none

feat: remove compiled sendNotification js
  amplify/backend/function/sendNotification/src/index.js
Due: none

refactor: add setEnvVariables to getParams util
  amplify/backend/function/getParams.ts
Due: none

fix issue with placeholder
  src/components/v5/shared/RichText/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

Removed type assertions
  src/components/frame/LoadingTemplate/LoadingTemplate.tsx
  src/components/v5/common/ActionSidebar/hooks/useUserHasPermissions.ts
  src/hooks/useColonyHasReputation.ts
  src/hooks/useDialogActionPermissions.ts
  src/transformers/index.ts
  src/utils/checks/userHasRoles.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: tidy lambda so params are more targeted
  amplify/backend/function/getParams.ts
  amplify/backend/function/sendNotification/lib/index.ts
  amplify/backend/function/sendNotification/lib/message.ts
  amplify/backend/function/sendNotification/lib/sendEmailNotifications.ts
  amplify/backend/function/sendNotification/lib/types.ts
  amplify/backend/function/utils.ts
Due: none

fixes after CR
  src/components/v5/common/ActionSidebar/partials/AmountField/AmountField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/SimplePaymentForm.tsx
  src/components/v5/common/ActionSidebar/partials/forms/SimplePaymentForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown
