Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Link components
  src/components/shared/Extensions/ExternalLink/ExternalLink.module.css
  src/components/shared/Extensions/ExternalLink/ExternalLink.module.css.d.ts
  src/components/shared/Extensions/ExternalLink/ExternalLink.tsx
  src/components/shared/Extensions/ExternalLink/index.ts
  src/components/shared/Extensions/ExternalLink/types.ts
  src/components/shared/Extensions/Link/Link.tsx
  src/components/shared/Extensions/Link/index.ts
  src/components/shared/Extensions/Link/types.ts
  src/components/shared/Extensions/NavLink/NavLink.tsx
  src/components/shared/Extensions/NavLink/index.ts
  src/components/shared/Extensions/NavLink/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add NotificationBanner
  src/components/common/Extensions/NotificationBanner/CopyUrl.tsx
  src/components/common/Extensions/NotificationBanner/NotificationBanner.module.css
  src/components/common/Extensions/NotificationBanner/NotificationBanner.module.css.d.ts
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/index.ts
  src/components/common/Extensions/NotificationBanner/types.ts
  src/stories/common/NotificationBanner.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Button components
  src/components/shared/Extensions/Button/Button.module.css
  src/components/shared/Extensions/Button/Button.module.css.d.ts
  src/components/shared/Extensions/Button/Button.tsx
  src/components/shared/Extensions/Button/index.ts
  src/components/shared/Extensions/Button/types.ts
  src/components/shared/Extensions/ConnectingWalletButton/ConnectingWalletButton.tsx
  src/components/shared/Extensions/ConnectingWalletButton/index.ts
  src/components/shared/Extensions/PopoverButton/PopoverButton.tsx
  src/components/shared/Extensions/PopoverButton/index.ts
  src/components/shared/Extensions/PopoverButton/types.ts
  src/stories/shared/Button.stories.tsx
  src/stories/shared/PopoverButton.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add extension item
  src/components/common/Extensions/ExtensionItem/ExtensionItem.module.css
  src/components/common/Extensions/ExtensionItem/ExtensionItem.module.css.d.ts
  src/components/common/Extensions/ExtensionItem/ExtensionItem.tsx
  src/components/common/Extensions/ExtensionItem/hooks.ts
  src/components/common/Extensions/ExtensionItem/index.ts
  src/components/common/Extensions/ExtensionItem/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add themes configs
  src/components/frame/Extensions/themes/consts.ts
  src/components/frame/Extensions/themes/enum.ts
  src/components/frame/Extensions/themes/index.ts
  src/components/frame/Extensions/themes/types.ts
  src/components/frame/Extensions/themes/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Extension Content components
  src/components/common/Extensions/SupportingDocuments/LinkWrapper.tsx
  src/components/common/Extensions/SupportingDocuments/SupportingDocuments.tsx
  src/components/common/Extensions/SupportingDocuments/const.ts
  src/components/common/Extensions/SupportingDocuments/consts.ts
  src/components/common/Extensions/SupportingDocuments/index.ts
  src/components/common/Extensions/SupportingDocuments/types.ts
  src/components/common/Extensions/TitledContent/TitledContent.tsx
  src/components/common/Extensions/TitledContent/index.ts
  src/components/common/Extensions/TitledContent/types.ts
  src/components/shared/Extensions/LearnMore/LearnMore.tsx
  src/components/shared/Extensions/LearnMore/index.ts
  src/components/shared/Extensions/LearnMore/types.ts
  src/stories/common/SupportingDocuments.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown

Initial config and setup
  .babelrc.json
  prettierignore
  prettierrc
  tailwind.config.js
Due: none

Add ThemeSwitcher
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.module.css
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.module.css.d.ts
  src/components/common/Extensions/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/common/Extensions/ThemeSwitcher/index.ts
  src/context/PageThemeContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add utils
  src/utils/isUrlExternal.ts
  src/utils/noop.ts
  src/utils/splitWalletAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add Tab components
  src/components/shared/Extensions/Tabs/Tabs.module.css
  src/components/shared/Extensions/Tabs/Tabs.tsx
  src/components/shared/Extensions/Tabs/consts.tsx
  src/components/shared/Extensions/Tabs/index.ts
  src/components/shared/Extensions/Tabs/types.ts
  src/stories/common/ReputationTab.stories.tsx
  src/stories/common/StakesTab.stories.tsx
  src/stories/common/TransactionsTab.stories.tsx
  src/stories/shared/Tabs.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add SubNavigation
  src/components/common/Extensions/SubNavigation/SubNavigation.tsx
  src/components/common/Extensions/SubNavigation/SubNavigationMobile.module.css
  src/components/common/Extensions/SubNavigation/SubNavigationMobile.module.css.d.ts
  src/components/common/Extensions/SubNavigation/SubNavigationMobile.tsx
  src/components/common/Extensions/SubNavigation/consts.tsx
  src/components/common/Extensions/SubNavigation/index.ts
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DecideDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DropdownContent.module.css
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DropdownContent.module.css.d.ts
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/ManageDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/consts.ts
  src/components/common/Extensions/SubNavigation/partials/LearnMore.tsx
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.module.css
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.module.css.d.ts
  src/components/common/Extensions/SubNavigation/partials/LinkItem/LinkItem.tsx
  src/components/common/Extensions/SubNavigation/partials/LinkItem/index.ts
  src/components/common/Extensions/SubNavigation/partials/LinkItem/types.ts
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.module.css.d.ts
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItem.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.module.css.d.ts
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/SubNavigationItemMobile.tsx
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/index.ts
  src/components/common/Extensions/SubNavigation/partials/SubNavigationItem/types.ts
  src/components/common/Extensions/SubNavigation/partials/types.ts
  src/stories/common/SubNavigation/SubNavigation.stories.tsx
  src/stories/common/SubNavigation/SubNavigation.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Checkbox
  src/components/common/Extensions/Checkbox/Checkbox.module.css
  src/components/common/Extensions/Checkbox/Checkbox.module.css.d.ts
  src/components/common/Extensions/Checkbox/Checkbox.tsx
  src/components/common/Extensions/Checkbox/index.ts
  src/components/common/Extensions/Checkbox/types.ts
  src/stories/common/Checkbox.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add ColonySwitcher
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.module.css.d.ts
  src/components/common/Extensions/ColonySwitcher/ColonySwitcher.tsx
  src/components/common/Extensions/ColonySwitcher/consts.ts
  src/components/common/Extensions/ColonySwitcher/hooks.ts
  src/components/common/Extensions/ColonySwitcher/index.ts
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyDropdownMobile.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyItem.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/stories/common/ColonySwitcher.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Avatar and AvatarPopover
  src/components/shared/Avatar/Avatar.module.css
  src/components/shared/Avatar/Avatar.module.css.d.ts
  src/components/shared/Extensions/Avatar/Avatar.module.css
  src/components/shared/Extensions/Avatar/Avatar.module.css.d.ts
  src/components/shared/Extensions/Avatar/Avatar.tsx
  src/components/shared/Extensions/Avatar/blockies.ts
  src/components/shared/Extensions/Avatar/identicon.ts
  src/components/shared/Extensions/Avatar/index.ts
  src/components/shared/Extensions/Avatar/types.ts
  src/components/shared/Extensions/UserAvatar/UserAvatar.module.css
  src/components/shared/Extensions/UserAvatar/UserAvatar.module.css.d.ts
  src/components/shared/Extensions/UserAvatar/UserAvatar.tsx
  src/components/shared/Extensions/UserAvatar/index.ts
  src/components/shared/Extensions/UserAvatar/types.ts
  src/components/shared/Extensions/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/shared/Extensions/UserAvatarPopover/index.ts
  src/components/shared/Extensions/UserAvatarPopover/partials/UserInfo.tsx
  src/components/shared/Extensions/UserAvatarPopover/partials/consts.ts
  src/components/shared/Extensions/UserAvatarPopover/types.ts
  src/stories/shared/Avatar.stories.tsx
  src/stories/shared/UserAvatar.stories.tsx
  src/stories/shared/UserAvatarPopover.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Hooks
  src/hooks/useCopyToClipboard.ts
  src/hooks/useCurrentPage.tsx
  src/hooks/useDetectClickOutside.ts
  src/hooks/useExtensionsBadgeStatus.ts
  src/hooks/useHover.ts
  src/hooks/useSideNavigation.ts
  src/hooks/useTablet.ts
  src/hooks/useUserByNameOrAddress.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add admin pages
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/AdvancedPage/index.ts
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/Extensions/pages/ColonyDetailsPage/index.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/index.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/ExtensionDetails.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/hooks.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/index.ts
  src/components/frame/Extensions/pages/ExtensionDetailsPage/partials/ExtensionDetails/types.ts
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/index.ts
  src/components/frame/Extensions/pages/ExtensionsPage/types.ts
  src/components/frame/Extensions/pages/IncorporationPage/IncorporationPage.tsx
  src/components/frame/Extensions/pages/IncorporationPage/index.ts
  src/components/frame/Extensions/pages/IntegrationsPage/IntegrationsPage.tsx
  src/components/frame/Extensions/pages/IntegrationsPage/index.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/hooks.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/index.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/types.ts
  src/components/frame/Extensions/pages/PermissionsPage/PermissionsPage.tsx
  src/components/frame/Extensions/pages/PermissionsPage/index.ts
  src/components/frame/Extensions/pages/ReputationPage/ReputationPage.tsx
  src/components/frame/Extensions/pages/ReputationPage/index.ts
  src/components/frame/Extensions/pages/partials/ActionButtons.tsx
  src/components/frame/Extensions/pages/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add global styling
  src/styles/main.global.css
Due: prettier --write --ignore-unknown, stylelint --fix

Add CalamityBanner
  src/components/common/Extensions/CalamityBanner/CalamityBanner.module.css
  src/components/common/Extensions/CalamityBanner/CalamityBanner.module.css.d.ts
  src/components/common/Extensions/CalamityBanner/CalamityBanner.tsx
  src/components/common/Extensions/CalamityBanner/hooks.ts
  src/components/common/Extensions/CalamityBanner/index.ts
  src/components/common/Extensions/CalamityBanner/types.ts
  src/stories/common/CalamityBanner.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add title components
  src/components/common/Extensions/PageTitle/PageTitle.module.css
  src/components/common/Extensions/PageTitle/PageTitle.module.css.d.ts
  src/components/common/Extensions/PageTitle/PageTitle.tsx
  src/components/common/Extensions/PageTitle/index.ts
  src/components/common/Extensions/PageTitle/types.ts
  src/stories/common/PageTitle.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Accordion
  src/components/shared/Extensions/Accordion/Accordion.tsx
  src/components/shared/Extensions/Accordion/consts.tsx
  src/components/shared/Extensions/Accordion/hooks.ts
  src/components/shared/Extensions/Accordion/index.ts
  src/components/shared/Extensions/Accordion/partials/AccordionContent.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionContentItem.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/AccordionItem.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeAccordionContent.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeAccordionHeader.tsx
  src/components/shared/Extensions/Accordion/partials/ContentTypeText.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialHourInput.tsx
  src/components/shared/Extensions/Accordion/partials/SpecialPercentageInput.tsx
  src/components/shared/Extensions/Accordion/partials/index.ts
  src/components/shared/Extensions/Accordion/types.ts
  src/constants/accordionAnimation.ts
  src/stories/shared/Accordion.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add Badges and Pills
  src/components/common/ExtensionStatusBadge/ExtensionStatusBadge.css
  src/components/common/ExtensionStatusBadge/ExtensionStatusBadge.css.d.ts
  src/components/common/ExtensionStatusBadge/ExtensionStatusBadge.tsx
  src/components/common/ExtensionStatusBadge/index.ts
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.module.css
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.module.css.d.ts
  src/components/common/Extensions/ExtensionStatusBadge/types.ts
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.module.css
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.module.css.d.ts
  src/components/common/Extensions/UserPermissionsBadge/UserPermissionsBadge.tsx
  src/components/common/Extensions/UserPermissionsBadge/index.ts
  src/components/common/Extensions/UserPermissionsBadge/types.ts
  src/stories/common/ExtensionStatusBadge.stories.ts
  src/stories/common/UserPermissionsBadge.stories.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Add Extension Upgrade Button, and Icons styling
  src/components/common/Extensions/ExtensionUpgradeButton/types.ts
  src/components/shared/Icon/Icon.module.css
  src/components/shared/Icon/Icon.module.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Refactor: add address to contributor and watcher
  amplify/backend/api/colonycdapp/schema.graphql
  amplify/backend/function/getMembersForColony/src/index.js
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
  src/components/common/Members/MembersList/MemberInfo/MemberInfo.tsx
  src/components/common/Members/MembersList/MembersList.tsx
  src/components/common/Members/MembersList/MembersListItem.tsx
  src/components/common/Members/filterMembers.ts
  src/components/shared/SingleUserPicker/utils.ts
  src/components/shared/UserAvatar/UserAvatar.tsx
  src/components/shared/UserInfoPopover/UserInfoPopover.tsx
  src/graphql/fragments/user.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: pass address to useravatar
  src/components/common/ColonyHome/ColonyMembersWidget/MembersSubsection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

added missing fields to specific side panel
  src/components/common/Extensions/SpecificSidePanel/SpecificSidePanel.tsx
  src/components/common/Extensions/SpecificSidePanel/consts.tsx
  src/components/common/Extensions/SpecificSidePanel/hooks.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/ContractAddress.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/DateInstalled.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Developer.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/SpecificSidePanelRow.tsx
  src/components/common/Extensions/SpecificSidePanel/partials/Version.tsx
  src/components/common/Extensions/SpecificSidePanel/types.ts
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fixed colors to new badge in extension status page
  src/components/common/Extensions/ExtensionStatusBadge/ExtensionStatusBadge.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add `IngestorStats` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Typecheck errors
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.css.d.ts
  src/components/common/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/components/common/Dialogs/RecoveryModeDialog/RecoveryModeDialog.tsx
  src/components/common/Dialogs/RecoveryModeDialog/RecoveryModeDialogForm.tsx
  src/transformers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

cicd: add cdapp workflows
  .github/workflows/amplify-push-backend.yaml
  .github/workflows/build-deploy-dev.yaml
  .github/workflows/build-deploy.yaml
Due: none

Fix webpack
  src/graphql/generated.ts
  src/styles/main.css
  webpack.base.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixes to webpack
  webpack.base.js
Due: none

Deployment workflow
  .github/workflows/build-deploy-dev.yaml
Due: none

ci: update cdapp workflow deployment
  .github/workflows/build-deploy-dev.yaml
  .github/workflows/build-deploy.yaml
Due: none

Update to workflows
  .github/workflows/build-deploy-dev.yaml
Due: none

Updates to workflows
  .github/workflows/build-deploy-dev.yaml
Due: none

Fix: replace link history if traveling between transactions
  src/components/frame/TokenActivation/StakesTab/StakesListItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixes to layout and background
  src/Entry.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColoniesDropdown.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyAvatarWrapper.tsx
  src/components/common/Extensions/ColonySwitcher/partials/ColonyItem.tsx
  src/components/common/Extensions/ColonySwitcher/types.ts
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/DecideDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/ManageDropdown.tsx
  src/components/common/Extensions/SubNavigation/partials/DropdownContent/PayDropdown.tsx
  src/components/shared/Avatar/Avatar.module.css
  src/components/shared/Avatar/Avatar.module.css.d.ts
  src/components/shared/Avatar/Avatar.tsx
  src/components/shared/Extensions/Spinner/Spinner.tsx
  src/context/ColonyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
