Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed contract interaction number input not updating on tab removal
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/MethodParamInput.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Expanded raw amount validation in control safe dialog
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed removal of tab in Control Safe dialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated raw amount validation in ControlSafe dialog
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Improve contract interaction section performance
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added safe transaction events to ACTIONS_EVENTS
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: rebase errors
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/DetailsWidget/SafeTransactionDetail/SafeTransactionDetail.tsx
  src/components/shared/DetailsWidget/detailsWidgetConfig.tsx
  src/graphql/generated.ts
  src/utils/colonyActions.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added permission icons to safe transaction events
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed safe balance validation
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed typescript and lint errors after rebase
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyDecisions/DecisionListHeader.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/ConfirmSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/MethodParamInput.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/shared/FileUpload/UploadItem.tsx
  src/components/shared/FileUpload/types.ts
  src/components/shared/FriendlyName/FriendlyName.tsx
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bumped block-ingestor commit hash and fixed safe transaction's action page
  docker/colony-cdapp-dev-env-block-ingestor
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/FriendlyName/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added missing button text for moiton voting button
  src/i18n/en.json
Due: none

Feat: Form variant for staged payments
  src/components/common/Expenditures/ExpenditureForm/CreateExpenditureForm.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureDomainSelector/ExpenditureDomainSelector.tsx
  src/components/common/Expenditures/ExpenditureForm/ExpenditureDomainSelector/index.ts
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css
  src/components/common/Expenditures/ExpenditureForm/ExpenditureForm.module.css.d.ts
  src/components/common/Expenditures/ExpenditureForm/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: added manage tokens table
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/getTokenList.ts
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/tokens/tokenList.mainnet.json
  src/components/common/Dialogs/TokenManagementDialog/TokenManagementDialogForm/tokens/tokenList.xdai.json
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebar/hooks.ts
  src/components/v5/common/ActionSidebar/partials/ManageTokensForm/ManageTokensForm.tsx
  src/components/v5/common/ActionSidebar/partials/ManageTokensForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/ManageTokensForm/index.ts
  src/components/v5/common/ActionsContent/partials/TokensItem/TokensItem.module.css
  src/components/v5/common/ActionsContent/partials/TokensItem/TokensItem.tsx
  src/components/v5/common/ActionsContent/partials/TokensItem/index.ts
  src/components/v5/common/ActionsContent/partials/TokensItem/types.ts
  src/components/v5/common/ActionsContent/partials/TokensTable/TokensTable.module.css
  src/components/v5/common/ActionsContent/partials/TokensTable/TokensTable.tsx
  src/components/v5/common/ActionsContent/partials/TokensTable/hooks.ts
  src/components/v5/common/ActionsContent/partials/TokensTable/index.ts
  src/components/v5/common/ActionsContent/partials/TokensTable/types.ts
  src/components/v5/shared/SearchSelect/partials/SearchInput/SearchInput.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed and added control safe functionality to SafeInfoPopover
  amplify/backend/function/fetchTokenFromChain/src/utils.js
  src/components/common/ColonyHome/ColonySafes/ColonySafes.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/shared/Fields/Checkbox/Checkbox.css
  src/components/shared/SafeInfoPopover/SafeInfoPopover.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Bump ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Extracted transaction type sections into it's own component
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/index.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Changed decision method to generic component, added container ref to useToggle
  .vscode/settings.json
  package.json
  src/components/v5/common/ActionSidebar/partials/SinglePaymentForm/hooks.ts
  src/components/v5/common/ActionsContent/ActionsContent.tsx
  src/components/v5/common/ActionsContent/consts.tsx
  src/components/v5/common/ActionsContent/partials/DecisionField/DecisionField.tsx
  src/components/v5/common/ActionsContent/partials/DecisionField/consts.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/index.ts
  src/components/v5/common/ActionsContent/partials/DecisionField/types.ts
  src/components/v5/common/Fields/CardSelect/CardSelect.tsx
  src/components/v5/common/Fields/CardSelect/FormCardSelect.tsx
  src/components/v5/common/Fields/CardSelect/index.ts
  src/components/v5/common/Fields/CardSelect/types.ts
  src/components/v5/common/Fields/consts.ts
  src/components/v5/common/Fields/types.ts
  src/hooks/useToggle/index.ts
  src/hooks/useToggle/types.ts
  src/i18n/en.json
  tailwind.config.js
  webpack.dev.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: separated text with icon from notification banner, simplify banner props
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/PermissionsNeededBanner.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/shared/IconedText/IconedText.tsx
  src/components/v5/shared/IconedText/index.ts
  src/components/v5/shared/IconedText/types.ts
  src/stories/common/NotificationBanner.stories.tsx
  src/stories/shared/IconedText.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Renamed props to rest, added type to DECISION_METHOD_OPTIONS
  src/components/v5/common/ActionsContent/consts.tsx
  src/components/v5/common/Fields/CardSelect/FormCardSelect.tsx
  src/components/v5/common/Fields/CardSelect/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed component name
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/v5/shared/IconedText/index.ts
  src/components/v5/shared/StatusText/StatusText.tsx
  src/components/v5/shared/StatusText/index.ts
  src/components/v5/shared/StatusText/types.ts
  src/stories/shared/StatusText.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Changed deisplay name of FormCardSelect
  src/components/v5/common/Fields/CardSelect/FormCardSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Reverted BundleAnalyzerPlugin removal
  webpack.dev.js
Due: none

feat: stepper component without mobile navigation
  src/components/shared/Extensions/Tooltip/Tooltip.tsx
  src/components/shared/Extensions/Tooltip/types.ts
  src/components/v5/common/ActionSidebar/ActionSidebar.module.css
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/common/ActionSidebarRow/ActionSidebarRow.tsx
  src/components/v5/common/ActionSidebarRow/types.ts
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/index.ts
  src/components/v5/shared/Stepper/partials/StepperButton/StepperButton.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/index.ts
  src/components/v5/shared/Stepper/partials/StepperButton/types.ts
  src/components/v5/shared/Stepper/types.ts
  src/stories/shared/Stepper.stories.tsx
  src/stories/shared/StepperButton.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Added buffer to ProvidePlugin in storybook
  .storybook/main.js
Due: none

feat: added tall version and additional message
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
  src/components/v5/shared/ProgressBar/types.ts
  src/stories/common/ProgressBar.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: renamed prop, variable
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/v5/shared/StatusText/StatusText.tsx
  src/components/v5/shared/StatusText/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

update cell
  src/components/v5/common/ActionsContent/partials/TransactionTable/TransactionTable.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed var
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
Due: eslint --fix, prettier --write --ignore-unknown

remove console.log
  src/components/v5/common/Table/Table.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: radius
  src/components/v5/shared/ProgressBar/ProgressBar.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: switch, types, moved to const
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/GroupedTransactionContent.tsx
  src/components/common/Extensions/UserHub/partials/TransactionsTab/partials/TransactionsItem/TransactionsItem.tsx
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/PermissionsNeededBanner.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/shared/StatusText/StatusText.tsx
  src/components/v5/shared/StatusText/consts.ts
  src/components/v5/shared/StatusText/types.ts
  src/stories/common/NotificationBanner.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Integrated annotations with initiateSafeTransaction saga
  src/redux/sagas/actions/initiateSafeTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated annotations with manageExistingSafes saga
  src/redux/sagas/actions/manageExistingSafes.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated annotations with initiateSafeTransactionMotion saga
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added member item
  src/components/v5/common/MemberWithPermission/MemberWithPermission.tsx
  src/components/v5/common/MemberWithPermission/index.ts
  src/components/v5/common/MemberWithPermission/types.ts
  src/i18n/en.json
  src/stories/common/MemberWithPermission.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: title as react node
  src/components/common/Extensions/NotificationBanner/NotificationBanner.tsx
  src/components/common/Extensions/NotificationBanner/types.ts
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/PermissionsNeededBanner.tsx
  src/components/v5/common/ActionSidebar/ActionSidebar.tsx
  src/components/v5/shared/StatusText/StatusText.tsx
  src/components/v5/shared/StatusText/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: story
  src/stories/shared/StatusText.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: card with sections and status text
  src/components/v5/shared/Card/Card.tsx
  src/components/v5/shared/Card/types.ts
  src/components/v5/shared/CardWithSections/CardWithSections.tsx
  src/components/v5/shared/CardWithSections/index.ts
  src/components/v5/shared/CardWithSections/types.ts
  src/components/v5/shared/CardWithStatusText/CardWithStatusText.tsx
  src/components/v5/shared/CardWithStatusText/index.ts
  src/components/v5/shared/CardWithStatusText/types.ts
  src/components/v5/shared/PopoverBase/PopoverBase.tsx
  src/components/v5/shared/StatusText/StatusText.tsx
  src/stories/shared/CardWithSections.stories.tsx
  src/stories/shared/CardWithStatusText.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
