Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: close the approve and deposit channels
  src/redux/sagas/expenditures/createStakedExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update order of tx initiations
  src/redux/sagas/expenditures/createStakedExpenditure.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: pending button ui, release modal box
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/shared/Button/ActionButton.tsx
  src/components/v5/shared/Button/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added funding motion
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/RequestBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/RequestBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: removed header on tablet, from other modals
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder ui fixes
  src/components/v5/common/ActionSidebar/partials/UserSelect/UserSelect.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/FileUploadModal.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed funding from enum
  amplify/backend/api/colonycdapp/schema.graphql
Due: none

fix: payment button loading
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: recipient loading
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/RecipientField.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed modal copy
  src/i18n/en.json
Due: none

fix: disable loading state
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: card width, description
  src/components/v5/common/MemberCard/MemberCard.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: header visibility when modal is open
  src/components/frame/Extensions/layouts/ColonyLayout.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/TokensModal/TokensModal.tsx
  src/components/v5/shared/Modal/Modal.tsx
  src/components/v5/shared/Modal/types.ts
  src/context/PaymentBuilderContext/PaymentBuilderContext.ts
  src/context/PaymentBuilderContext/PaymentBuilderContextProvider.tsx
  src/routes/ColonyRoute.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: sort funding motions
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: removed unused types, renamed translation
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: payment builder ui fixes
  src/components/v5/common/ActionSidebar/partials/ActionSidebarDescription/partials/PaymentBuilderDescription.tsx
  src/components/v5/common/ActionSidebar/partials/Motions/Motions.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/PaymentBuilderTable.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/ClaimStatusBadge/ClaimStatusBadge.tsx
  src/components/v5/shared/Stepper/Stepper.tsx
  src/components/v5/shared/Stepper/partials/StepperButton/StepperButton.tsx
  src/components/v5/shared/UserInfoPopover/UserInfoPopover.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: changed batch error logic
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/FileUploadModal.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/FileUploadModal/types.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/PaymentBuilderRecipientsField.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

fix: delay validation
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/partials/PaymentBuilderRecipientsField/hooks.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown

Chore: fix post-rebase conflicts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/MotionBox/MotionBox.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove hover when one item
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/RequestBox.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/RequestBoxItem.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/RequestBox/partials/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: create staked expenditure
  src/components/v5/common/ActionSidebar/partials/ActionButtons.tsx
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/CreateStakedExpenditureModal.tsx
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/types.ts
  src/components/v5/common/ActionSidebar/partials/CreateStakedExpenditureModal/utils.ts
  src/components/v5/common/ActionSidebar/partials/DecisionMethodField/DecisionMethodField.tsx
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/hooks.ts
  src/components/v5/common/ActionSidebar/partials/forms/PaymentBuilderForm/utils.tsx
  src/components/v5/common/ActionSidebar/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/PaymentBuilder.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/ActionWithPermissionsInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithPermissionsInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithStakingInfo/ActionWithStakingInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ActionWithStakingInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.module.css
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/DecisionMethodSelect/DecisionMethodSelect.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizeByPaymentCreatorInfo/FinalizeByPaymentCreatorInfo.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FinalizeByPaymentCreatorInfo/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/FundingModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/FundingModal/types.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderTable/partials/RecipientField/RecipientField.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentBuilderWidget/PaymentBuilderWidget.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/PaymentStepDetailsBlock/PaymentStepDetailsBlock.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/ReleasePaymentModal.tsx
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/consts.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/hooks.ts
  src/components/v5/common/CompletedAction/partials/PaymentBuilder/partials/ReleasePaymentModal/types.ts
  src/components/v5/common/CompletedAction/partials/rows/DecisionMethod.tsx
  src/components/v5/shared/Button/Button.tsx
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
  src/hooks/useEnoughTokensForStaking.ts
  src/hooks/useExpenditureStaking.ts
  src/i18n/en.json
  src/redux/sagas/expenditures/createStakedExpenditure.ts
  src/types/actions.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Feat: Make `getUserTokenBalance` lambda include expenditure stakes
  amplify/backend/function/getUserTokenBalance/src/graphql.js
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

Update ingestor image hash
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

Schema update: Remove now obsolete `ColonyStake` model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Cleanup: Rename UserHub components
  src/components/common/Extensions/UserHub/UserHub.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.styles.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/index.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/utils.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/TotalReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

Cleanup: finalize BalanceTab renaming
  src/components/common/Extensions/UserHub/partials/BalanceTab/BalanceTab.styles.ts
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/PendingReputation/PendingReputation.tsx
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/TotalReputation.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Set user balance query fetch policy to cache-and-network
  src/components/common/Extensions/UserHub/partials/BalanceTab/partials/Balance.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix: getUserTokenBalance lambda to return correct staked balance for motions and expenditures
  amplify/backend/function/getUserTokenBalance/src/graphql.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/getUserTokenBalance/src/utils.js
Due: none

Schema update: Add UserStakeType enum and field to UserStake model
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: Cancel streams using permissions
  amplify/backend/api/colonycdapp/schema.graphql
  docker/colony-cdapp-dev-env-block-ingestor
  package-lock.json
  package.json
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/graphql/fragments/streamingPayment.graphql
  src/graphql/generated.ts
  src/graphql/queries/streamingPayments.graphql
  src/redux/actionTypes.ts
  src/redux/sagas/expenditures/cancelStreamingPayment.ts
  src/redux/sagas/expenditures/index.ts
  src/redux/types/actions/expenditures.ts
  src/types/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: Revert changes to backend-config.json
  amplify/backend/backend-config.json
Due: none

Fix: Add il8n strings for transaction group cancelStreamingPayment
  src/i18n/en.json
Due: none

Correct min claim value error
  src/hooks/useStreamingPaymentAmountsLeft.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add useStreamingPaymentAmountsLeft hook
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/hooks/useStreamingPaymentAmountsLeft.ts
Due: eslint --fix, prettier --write --ignore-unknown

Remove unnecessary BigNumber call
  src/hooks/useStreamingPaymentAmountsLeft.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: Add action type for creating streaming payment
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add timestamp to streaming payment claims and code cleanup
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/graphql/fragments/streamingPayment.graphql
  src/graphql/generated.ts
  src/hooks/useEnabledExtensions.ts
  src/hooks/useStreamingPaymentAmountsLeft.ts
  src/hooks/useStreamingPayments.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix claim streaming payment saga
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/sagas/expenditures/claimStreamingPayment.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
