Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

Feat: Release expenditure stages as non-owner
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/sagas/expenditures/releaseExpenditureStages.ts
  src/redux/types/actions/expenditures.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: change motion's expenditure slot ids to array
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Feat: releasing multiple payment stages via motion
  src/components/v5/payments/TmpAdvancedPayments.tsx
  src/redux/actionTypes.ts
  src/redux/sagas/motions/expenditures/index.ts
  src/redux/sagas/motions/expenditures/releaseExpenditureStagesMotion.ts
  src/redux/sagas/motions/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: update npm version inside dev env base docker file
  docker/colony-cdapp-dev-env-base
Due: none

Feat: Add `forward-time` script to advance evm time
  package.json
  scripts/forward-time.js
Due: none

Cleanup: releaseExpenditureStagesMotion calls order, removed unused params
  src/redux/sagas/motions/expenditures/releaseExpenditureStagesMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: Remove isReleased field from ExpenditureStage
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/fragments/expenditures.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: add action type for releasing staged payment
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/v5/common/CompletedAction/CompletedAction.tsx
  src/graphql/generated.ts
  src/hooks/useActivityFeed/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Schema update: add `expenditureSlotIds` field to colony action
  amplify/backend/api/colonycdapp/schema.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore: add missing i18n messages
  src/i18n/en.json
Due: none

Update ingestor image hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: disable form submit button when errors are present
  src/components/v5/common/ActionSidebar/partials/ActionSidebarContent/ActionSidebarContent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: get rid of redundant historic role comparison
  src/components/v5/common/CompletedAction/partials/SetUserRoles/SetUserRoles.tsx
  src/utils/databaseId.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: update permission and role validation logic
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/consts.ts
  src/components/v5/common/ActionSidebar/partials/forms/ManagePermissionsForm/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: show correct team member count on dashboard
  src/components/v5/frame/ColonyHome/partials/Members/Members.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: Update members pages tabbed menu padding
  src/components/frame/v5/pages/MembersPage/partials/MembersTabContent/MembersTabContentWrapper.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: update lambda ssm arbitrum sepolia rpc variable
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: update amplify cicd to trigger relevant amplify env based on network
  .github/workflows/amplify.yaml
Due: none

cicd: fix concurrency config to allow for concurrent deployments if on different networks
  .github/workflows/amplify.yaml
Due: none

cicd: add dynamic image tagging based on network and update amplify ssm params
  .github/workflows/build-deploy.yaml
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Update: appsync url ssm param for arbitrum sepolia qa
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

Update: arbitrum sepolia aws qa envrionment name
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

Update: lambda params network name
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

feat: update amplify stack with qapolytest env
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

cicd: fix image tag for prod arbitrum
  .github/workflows/build-deploy.yaml
Due: none

Update: arbitrum one production deployment amplify name
  amplify/backend/function/createColonyEtherealMetadata/src/index.js
  amplify/backend/function/createPrivateBetaInvite/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/updateContributorsWithReputation/src/index.js
  amplify/backend/function/validateUserInvite/src/index.js
Due: none

fix: add pttr for dynamodb and extra clone env for custom ssm condition
  amplify/backend/api/colonycdapp/parameters.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

fix: update ssm param for new arbitrum domain
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

fix: update ssm params for arbitrum one prod deployment
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

cicd: fix concurrency group name to allow different branches at the same time
  .github/workflows/build-deploy.yaml
Due: none

Add: web3 onboard extra wallet modules
  package-lock.json
  package.json
Due: none

Fix: `connectWallet` app context provider logic
  src/context/AppContext/AppContextProvider.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Add: introduce WALLETCONNECT_PROJECT_ID env var
  .env.example
  .env.local
Due: none

Add: initial loading of web3-onboard extra wallet modules
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fix: web3-onboard trezor module metadata
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add: basic restyle of some web3-onboard wallet modules
  src/styles/main.css
Due: prettier --write --ignore-unknown, stylelint --fix

Refactor: web3-onboard wallet module init logic
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Refactor: ledger live web3-onboard module
  package-lock.json
  package.json
  src/redux/sagas/wallet/ledgerLiveModule.ts
  src/redux/sagas/wallet/onboard.ts
Due: eslint --fix, prettier --write --ignore-unknown

Rename: web3-onboard ledger live module
  src/redux/sagas/wallet/ledgerLiveModule.ts
Due: eslint --fix, prettier --write --ignore-unknown
