Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed contract interaction number input not updating on tab removal
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/MethodParamInput.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Added safe transaction events to ACTIONS_EVENTS
  src/components/common/ColonyActions/ActionDetailsPage/ActionDetailsPageFeed/ActionDetailsPageFeed.tsx
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed nft picker crashing on unfiltered wallet address being selected
  src/components/shared/SingleUserPicker/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed removal of tab in Control Safe dialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionHeader/TransactionHeader.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added filter value filtering to single safe picker in control safe dialog
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Updated raw amount validation in ControlSafe dialog
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added permission icons to safe transaction events
  src/components/common/ColonyActions/ActionDetailsPage/staticMaps.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed errors persisting when changing the transaction type
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Expanded raw amount validation in control safe dialog
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: simplify and fix add safe validation
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/types.ts
  src/components/common/Dialogs/AddExistingSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added exclusion of filter value in the single user picker
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection/TransferNFTSection.tsx
  src/components/shared/OmniPicker/withOmniPicker.ts
  src/components/shared/SingleUserPicker/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed safe balance validation
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Improve contract interaction section performance
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Extracted transaction type sections into it's own component
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/TransactionHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionHeader/index.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
  src/components/common/Dialogs/ControlSafeDialog/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Fixed typescript and lint errors after rebase
  amplify/backend/api/colonycdapp/schema.graphql
  schema.graphql
  src/components/common/ColonyActions/helpers/mapItemToMessageFormat.tsx
  src/components/common/ColonyDecisions/DecisionListHeader.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/CheckSafe/CheckSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConfirmSafe/ConfirmSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/ConnectSafe/ConnectSafe.tsx
  src/components/common/Dialogs/AddExistingSafeDialog/SafeContractAddressInput/SafeContractAddressInput.tsx
  src/components/common/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/ContractInteractionSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection/MethodParamInput.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/components/common/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/components/common/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/components/shared/FileUpload/UploadItem.tsx
  src/components/shared/FileUpload/types.ts
  src/components/shared/FriendlyName/FriendlyName.tsx
  src/graphql/fragments/safe.graphql
  src/graphql/generated.ts
  src/utils/colonyActions.ts
Due: eslint --fix, prettier --write --ignore-unknown

Extracted and moved around components related to SafeTransactionPreview
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/AddressDetailsView/AddressDetailsView.css
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/AddressDetailsView/AddressDetailsView.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/AddressDetailsView/AddressDetailsView.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/AddressDetailsView/index.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/DetailsItem/DetailsItem.css
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/DetailsItem/DetailsItem.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/DetailsItem/DetailsItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/DetailsItem/index.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/SafeTransactionPreview.css
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/SafeTransactionPreview.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/SafeTransactionPreview.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/TransactionPreviewHeader/TransactionPreviewHeader.css
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/TransactionPreviewHeader/TransactionPreviewHeader.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/TransactionPreviewHeader/TransactionPreviewHeader.tsx
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/TransactionPreviewHeader/index.ts
  src/components/common/Dialogs/ControlSafeDialog/SafeTransactionPreview/index.ts
  src/components/common/Dialogs/ControlSafeDialog/types.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Added missing button text for moiton voting button
  src/i18n/en.json
Due: none

Fixed and added control safe functionality to SafeInfoPopover
  amplify/backend/function/fetchTokenFromChain/src/utils.js
  src/components/common/ColonyHome/ColonySafes/ColonySafes.tsx
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/components/common/Dialogs/ControlSafeDialog/types.ts
  src/components/shared/Fields/Checkbox/Checkbox.css
  src/components/shared/SafeInfoPopover/SafeInfoPopover.tsx
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Integrated annotations with initiateSafeTransaction saga
  src/redux/sagas/actions/initiateSafeTransaction.ts
Due: eslint --fix, prettier --write --ignore-unknown

Bumped block-ingestor commit hash and fixed safe transaction's action page
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/Dialogs/ControlSafeDialog/helpers.ts
  src/components/shared/FriendlyName/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated annotations with initiateSafeTransactionMotion saga
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
Due: eslint --fix, prettier --write --ignore-unknown

Integrated annotations with manageExistingSafes saga
  src/redux/sagas/actions/manageExistingSafes.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added safe control QA env check to amplify function
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getReputationForTopDomains/src/index.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/setCurrentVersion/src/index.js
Due: none

Updated local safe transactions variables
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated name of safe control qa env on checks
  amplify/backend/function/createUniqueColony/src/index.js
  amplify/backend/function/createUniqueUser/src/index.js
  amplify/backend/function/fetchColonyBalances/src/index.js
  amplify/backend/function/fetchColonyNativeFundsClaim/src/index.js
  amplify/backend/function/fetchMotionState/src/utils.js
  amplify/backend/function/fetchMotionTimeoutPeriods/src/index.js
  amplify/backend/function/fetchTokenFromChain/src/index.js
  amplify/backend/function/fetchVoterRewards/src/utils.js
  amplify/backend/function/getMembersForColony/src/index.js
  amplify/backend/function/getReputationForTopDomains/src/index.js
  amplify/backend/function/getUserReputation/src/index.js
  amplify/backend/function/getUserTokenBalance/src/index.js
  amplify/backend/function/qaSSMtest/src/index.js
  amplify/backend/function/setCurrentVersion/src/index.js
Due: none

Updated AmountBalances component
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.css
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.css.d.ts
  src/components/common/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

Improved validation of transfer funds amount
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/components/common/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated blockscout gas station endpoint
  src/constants/externalUrls.ts
Due: eslint --fix, prettier --write --ignore-unknown

Improved transfer nft's availability of NFTs
  src/components/common/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection/TransferNFTSection.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added getTransactionEncodedData util function
  src/redux/sagas/actions/initiateSafeTransaction.ts
  src/redux/sagas/motions/initiateSafeTransactionMotion.ts
  src/redux/sagas/utils/safeHelpers.ts
  src/utils/safes/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Fixed local safe transaction env var
  .env.example
  src/redux/sagas/utils/safeHelpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated blockscout links
  src/constants/externalUrls.ts
  src/constants/index.ts
  src/utils/external/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Added conditional to back button in ControlSafeDialoh
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed ALM banner overflowing due to no padding on motion page
  src/components/common/ColonyActions/ActionDetailsPage/Layout/ActionDetailsPageLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Added QA rpc endpoint setting to getSafeTransactionStatus
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
Due: none

Added RPC endpoint for ethereum network const
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  src/constants/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Updated getHomeProvider to use the correct rpc url for QA
  amplify/backend/function/colonycdappSSMAccess/lib/nodejs/getParams.js
  amplify/backend/function/getSafeTransactionStatus/src/index.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
Due: none

Added ethRpcEndpoint lambda function parameter
  amplify/backend/function/colonycdappSSMAccess/lib/nodejs/getParams.js
  amplify/backend/function/fetchTokenFromChain/src/utils.js
  amplify/backend/function/qaSSMtest/src/index.js
Due: none

Added api keys to lambda functions in QA
  amplify/backend/function/colonycdappSSMAccess/lib/nodejs/getParams.js
  amplify/backend/function/getSafeTransactionStatus/src/utils.js
  src/components/common/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fixed Title component on Safe Control using wrong status const
  src/components/shared/DetailsWidget/SafeTransactionDetail/components/Title.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.css)) or (any of: src/**/*.graphql)
  stylelint --fix: any of: src/**/*.css
