Repository JoinColony/colonyCDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.css": [
    "stylelint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.graphql": "prettier --write --ignore-unknown"
}

fix: agent display names
  src/components/shared/FriendlyName/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: use motion domain for actions list meta
  amplify/backend/api/colonycdapp/schema.graphql
  src/components/common/ColonyActions/ActionsListItem/ActionsListItem.tsx
  src/components/common/ColonyActions/ActionsListItem/ActionsListItemMeta.tsx
  src/graphql/fragments/actions.graphql
  src/graphql/generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

remove: unnecessary dispatch
  src/components/common/ColonyActions/CountDownTimer/helpers.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: transfer action text
  src/i18n/en-events.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update block ingestor hash
  docker/colony-cdapp-dev-env-block-ingestor
Due: none

fix: colony polling on switching colonies
  src/context/ColonyContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added members page, routing, subnavigation
  src/components/common/Extensions/MainNavigation/MainNavigation.tsx
  src/components/common/Extensions/MainNavigation/partials/consts.ts
  src/components/common/Extensions/MainNavigation/partials/hooks.ts
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/Extensions/layouts/index.ts
  src/components/frame/Extensions/layouts/types.ts
  src/components/frame/Extensions/pages/AdvancedPage/AdvancedPage.tsx
  src/components/frame/Extensions/pages/ColonyDetailsPage/ColonyDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionDetailsPage/ExtensionDetailsPage.tsx
  src/components/frame/Extensions/pages/ExtensionsPage/ExtensionsPage.tsx
  src/components/frame/Extensions/pages/IncorporationPage/IncorporationPage.tsx
  src/components/frame/Extensions/pages/IntegrationsPage/IntegrationsPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/PermissionsPage/PermissionsPage.tsx
  src/components/frame/Extensions/pages/ReputationPage/ReputationPage.tsx
  src/components/frame/v5/pages/ContributorsPage/ContributorsPage.tsx
  src/components/frame/v5/pages/ContributorsPage/index.ts
  src/components/frame/v5/pages/FollowersPage/FollowersPage.tsx
  src/components/frame/v5/pages/FollowersPage/index.ts
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/index.ts
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/TeamsPage/index.ts
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/frame/v5/pages/VerifiedPage/index.ts
  src/components/v5/common/Navigation/Navigation.tsx
  src/components/v5/common/Navigation/types.ts
  src/hooks/useSideNavigation.ts
  src/i18n/en.json
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: types
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

team reputation summary
  src/components/shared/Icon/Icon.module.css
  src/components/shared/Icon/Icon.module.css.d.ts
  src/components/shared/Icon/Icon.tsx
  src/components/v5/common/TeamReputationSummary/TeamReputationSummary.tsx
  src/components/v5/common/TeamReputationSummary/consts.ts
  src/components/v5/common/TeamReputationSummary/index.ts
  src/components/v5/common/TeamReputationSummary/types.ts
  src/components/v5/common/TeamReputationSummary/utils.ts
  src/components/v5/shared/Button/TextButton.module.css
  src/i18n/en.json
  src/stories/common/TeamReputationSummary.stories.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed wallet prop type
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

clean import
  src/components/v5/common/TeamReputationSummary/TeamReputationSummary.tsx
Due: eslint --fix, prettier --write --ignore-unknown

docs: Readme typos
  Readme.md
Due: none

feat: poll colony object after claiming
  src/components/common/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/components/common/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, prettier --write --ignore-unknown

add: comment to userTokenBalance polling fns
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: imports, moved translation to page title component
  src/components/common/Extensions/MainNavigation/partials/hooks.ts
  src/components/frame/Extensions/layouts/PageLayout.tsx
  src/components/frame/v5/pages/ContributorsPage/ContributorsPage.tsx
  src/components/frame/v5/pages/FollowersPage/FollowersPage.tsx
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/TeamsPage/TeamsPage.tsx
  src/components/frame/v5/pages/VerifiedPage/VerifiedPage.tsx
  src/components/v5/common/PageTitle/PageTitle.tsx
  src/components/v5/common/PageTitle/types.ts
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: storybook
  src/stories/common/PageTitle.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: import
  src/routes/Routes.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: refetch user balances after payment
  src/components/common/ColonyActions/ActionDetailsPage/useGetColonyAction.ts
  src/context/UserTokenBalanceContext.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed css issues mobile sub nav
  src/components/common/Extensions/Fields/RadioList/RadioBase.tsx
  src/components/common/Extensions/Fields/RadioList/RadioList.module.css
  src/components/common/Extensions/Fields/RadioList/RadioList.tsx
  src/components/common/Extensions/Fields/RadioList/consts.ts
  src/components/common/Extensions/Fields/RadioList/index.ts
  src/components/common/Extensions/Fields/RadioList/types.ts
  src/components/frame/Extensions/pages/LazyConsensusPage/LazyConsensusPage.tsx
  src/components/frame/Extensions/pages/LazyConsensusPage/consts.tsx
  src/components/shared/Extensions/Accordion/types.ts
  src/components/shared/Extensions/Fields/RadioList/RadioList.module.css.d.ts
  src/components/v5/common/Fields/Select/Select.module.css
  src/components/v5/common/Fields/Select/Select.tsx
  src/components/v5/common/Navigation/partials/NavItem/NavItem.module.css
  src/i18n/en.json
  src/images/icons/caret-down.svg
  src/stories/shared/RadioList.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fixed css issues mobile sub nav
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove ability to deprecate one tx payment
  src/components/common/Extensions/ExtensionDetails/ExtensionDetails.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixed the horizontal rule
  src/components/common/Extensions/MainNavigation/partials/SubMenu/SubMenu.tsx
  src/components/common/Extensions/UserHub/partials/ReputationTab/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add permission check to can upgrade extn
  src/components/common/Extensions/ExtensionUpgradeButton/ExtensionUpgradeButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

ui/15496502 card with bios
  src/components/v5/common/Pills/UserStatus/UserStatus.tsx
  src/components/v5/shared/Avatar/Avatar.module.css
  src/components/v5/shared/Avatar/types.ts
  src/components/v5/shared/BurgerMenu/BurgerMenu.tsx
  src/components/v5/shared/BurgerMenu/index.ts
  src/components/v5/shared/BurgerMenu/types.ts
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/CardWithBios/index.ts
  src/components/v5/shared/CardWithBios/partials/CardPermissions/CardPermission.tsx
  src/components/v5/shared/CardWithBios/partials/CardPermissions/CardPermissions.tsx
  src/components/v5/shared/CardWithBios/partials/CardPermissions/consts.ts
  src/components/v5/shared/CardWithBios/partials/UserStatus.tsx
  src/components/v5/shared/CardWithBios/partials/index.ts
  src/components/v5/shared/CardWithBios/types.ts
  src/components/v5/shared/UserAvatar/UserAvatar.tsx
  src/components/v5/shared/UserAvatar/types.ts
  src/components/v5/shared/UserAvatarPopover/UserAvatarPopover.tsx
  src/components/v5/shared/UserAvatarPopover/types.ts
  src/images/icons.json
  src/images/icons/star-not-filled.svg
  src/stories/shared/CardWithBios.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

improvements
  src/components/v5/shared/BurgerMenu/BurgerMenu.tsx
  src/stories/shared/CardWithBios.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes after CR
  src/components/v5/shared/BurgerMenu/BurgerMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown

filter button
  src/components/v5/shared/CardWithBios/CardWithBios.tsx
  src/components/v5/shared/Filter/FilterButton.module.css
  src/components/v5/shared/Filter/FilterButton.tsx
  src/components/v5/shared/Filter/index.ts
  src/i18n/en.json
  src/stories/shared/FilterButton.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

add base filter component
  src/components/v5/common/Filter/Filter.tsx
  src/components/v5/common/Filter/index.ts
  src/components/v5/common/Filter/partials/FilterOptions.module.css
  src/components/v5/common/Filter/partials/FilterOptions.tsx
  src/components/v5/common/Filter/partials/index.ts
  src/components/v5/common/Filter/types.ts
  src/components/v5/shared/Filter/FilterButton.module.css
  src/components/v5/shared/Filter/FilterButton.tsx
  src/components/v5/shared/Filter/types.ts
  src/i18n/en.json
  src/stories/common/Filter.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

update functions and ssm
  amplify/backend/backend-config.json
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/colonycdappSSMAccess-awscloudformation-template.json
  amplify/backend/function/colonycdappSSMAccess/parameters.json
  amplify/backend/function/createUniqueColony/createUniqueColony-cloudformation-template.json
  amplify/backend/function/createUniqueUser/createUniqueUser-cloudformation-template.json
  amplify/backend/function/fetchColonyBalances/fetchColonyBalances-cloudformation-template.json
  amplify/backend/function/fetchColonyNativeFundsClaim/fetchColonyNativeFundsClaim-cloudformation-template.json
  amplify/backend/function/fetchMotionState/fetchMotionState-cloudformation-template.json
  amplify/backend/function/fetchMotionTimeoutPeriods/fetchMotionTimeoutPeriods-cloudformation-template.json
  amplify/backend/function/fetchTokenFromChain/fetchTokenFromChain-cloudformation-template.json
  amplify/backend/function/fetchVoterRewards/fetchVoterRewards-cloudformation-template.json
  amplify/backend/function/getMembersForColony/getMembersForColony-cloudformation-template.json
  amplify/backend/function/getReputationForTopDomains/getReputationForTopDomains-cloudformation-template.json
  amplify/backend/function/getUserReputation/getUserReputation-cloudformation-template.json
  amplify/backend/function/getUserTokenBalance/getUserTokenBalance-cloudformation-template.json
  amplify/backend/function/qaSSMtest/qaSSMtest-cloudformation-template.json
  amplify/backend/function/setCurrentVersion/setCurrentVersion-cloudformation-template.json
  amplify/backend/function/updateExtensionByColonyAndHash/updateExtensionByColonyAndHash-cloudformation-template.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: none

update appsync url for prod
  amplify/backend/custom/lambdaParams/lambdaParams-cloudformation-template.json
Due: none

used useMemo and move logic to a separate component
  src/components/v5/common/TeamReputationSummary/TeamReputationSummary.tsx
  src/components/v5/common/TeamReputationSummary/partials/TeamReputationSummaryRow.tsx
  src/components/v5/common/TeamReputationSummary/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added members page subnav popover
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
  src/components/frame/v5/pages/MembersPage/hooks.ts
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/SubNavigation.module.css
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/SubNavigation.tsx
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/hooks.ts
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/index.ts
  src/components/v5/shared/BurgerMenu/BurgerMenu.tsx
  src/components/v5/shared/BurgerMenu/types.ts
  src/i18n/en.json
  src/images/icons/pencil.svg
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix: mobile fix
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: empty space
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/hooks.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: empty space
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: import
  src/components/frame/v5/pages/MembersPage/MembersPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fixes
  src/components/frame/v5/pages/MembersPage/partials/SubNavigation/SubNavigation.tsx
  src/components/v5/shared/BurgerMenu/BurgerMenu.tsx
  src/i18n/en.json
Due: eslint --fix, prettier --write --ignore-unknown
